/*-----------------------------------------------------------------------------------*/
/* Breadcrumb
/*-----------------------------------------------------------------------------------*/



.breadcrumbs {
	color: #fff;
	padding: 10px 0;
	position: relative;
	z-index: 10;
	span {
		padding: 0 5px;
	}
}
