/*-----------------------------------------------------------------------------------*/
/* Breadcrumb
/*-----------------------------------------------------------------------------------*/



.breadcrumbs {
	color: #fff;
	padding: 10px 0;
	position: relative;
	z-index: 10;
	
	@include px2rem($font-size-breadcrumb);
	
	span {
		padding: 0 5px;
	}
	
}
