/*-----------------------------------------------------------------------------------*/
/* New Grid Definitions.
/* Since 1.7.6 - not yet active
/*-----------------------------------------------------------------------------------*/




@media (min-width: $break-1360) and (max-width: $break-1700) {
    .container {
	    width: 1360px;
    }
    #hero-slides {
	max-width: 1360px;
	.hero-slide img {
	    width: 1360px;
	    max-width: 1360px;
	}
    }
    
    .span12 {
	    width: 1320px;
    }

    .span11 {
	    width: 1210px;
    }

    .span10 {
	    width: 1100px;
    }

    .span9 {
	    width: 990px;
    }

    .span8 {
	    width: 880px;
    }

    .span7 {
	    width: 770px;
    }

    .span6 {
	    width: 660px;
    }

    .span5 {
	    width: 550px;
    }

    .span4 {
	    width: 440px;
    }

    .span3 {
	    width: 300px;
    }

    .span2 {
	    width: 220px;
    }

    .span1 {
	    width: 110px;
    }

    .offset12 {
	    margin-left: 1320px;
    }

    .offset11 {
	    margin-left: 1210px;
    }

    .offset10 {
	    margin-left: 1100px;
    }

    .offset9 {
	    margin-left: 990px;
    }

    .offset8 {
	    margin-left: 880px;
    }

    .offset7 {
	    margin-left: 770px;
    }

    .offset6 {
	    margin-left: 660px;
    }

    .offset5 {
	    margin-left: 530px;
    }

    .offset4 {
	    margin-left: 420px;
    }

    .offset3 {
	    margin-left: 260px;
    }

    .offset2 {
	    margin-left: 220px;
    }

    .offset1 {
	    margin-left: 110px;
    }
 
}
@media (min-width: $break-1700) {
      .container {
	    width: 1700px;
    }
    #hero-slides {
	max-width: 1700px;
	.hero-slide img {
	    width: 1700px;
	    max-width: 1700px;
	}
    }
    
    .span12 {
	    width: 1640px;
    }

    .span11 {
	    width: 1430px;
    }

    .span10 {
	    width: 1300px;
    }

    .span9 {
	    width: 1170px;
    }

    .span8 {
	    width: 1040px;
    }

    .span7 {
	    width: 910px;
    }

    .span6 {
	    width: 780px;
    }

    .span5 {
	    width: 630px;
    }

    .span4 {
	    width: 500px;
    }

    .span3 {
	    width: 260px;
    }

    .span2 {
	    width: 240px;
    }

    .span1 {
	    width: 130px;
    }

    .offset12 {
	    margin-left: 1320px;
    }

    .offset11 {
	    margin-left: 1210px;
    }

    .offset10 {
	    margin-left: 1100px;
    }

    .offset9 {
	    margin-left: 990px;
    }

    .offset8 {
	    margin-left: 880px;
    }

    .offset7 {
	    margin-left: 770px;
    }

    .offset6 {
	    margin-left: 660px;
    }

    .offset5 {
	    margin-left: 550px;
    }

    .offset4 {
	    margin-left: 440px;
    }

    .offset3 {
	    margin-left: 330px;
    }

    .offset2 {
	    margin-left: 220px;
    }

    .offset1 {
	    margin-left: 110px;
    }
    

}
