/*-----------------------------------------------------------------------------------*/
/* Header
/*-----------------------------------------------------------------------------------*/
 
 #header {
    padding-top: 10px;
    padding-bottom: 10px;
    .row {    
	height: 65px;
	 .branding {
	     text-align: right;
	     display: table-cell;
	     float: none;
	 }
	 .header-menu {
	    float: none;
	    display: table-cell;
	    vertical-align: bottom;
	}
     }
 }
#logo {	
	h1 {
	    @include px2rem($font-size-header-branding);
	    font-weight: bold;
	    color: $colorPrimary;
	    overflow: hidden;
	    margin: 0;
	    
	    a, span {
		display: table-cell;
		vertical-align: bottom;
	    }
	    a {
		color: $colorPrimary;
		
		 &:hover,
		 &:focus {
		    @include border-radius(4px);
		    background-color: lighten($colorHover, 5%);
		    color: white;
		}	
		
	    } 		
	}
	img {
	   max-height: 85px;
	   width: 240px;
		
	    &:hover,
	    &:focus {
		 background-color: white;
		 color:  $colorPrimary;
	    }
		
	}
}



@media (max-width: $breakSM) {
    #header {
	position: fixed;
	top: 0;

	.admin-bar  & {
	    position: fixed;
	    top: 46px;
	}

	.no-js & {
	    display: block;
	    position: relative;
	    float: none;
	    width: 100%;
	    top: inherit;
	    margin: 5px 0px;
	    padding: 3px;
	}
    }
}
@media (max-width: $breakMD) {
    #header {
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 100;
        padding: 0;
        height: 70px;
        position: fixed;

	.no-js & {
	    position: relative;
	}
    }
}


@media (min-width: $breakMD) and (max-width: $breakLG) {
    #header {
	position: fixed;
	top: 42px;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 100;
	
	.admin-bar & {
		top: 74px;
	}
	.nav-scrolled & {
	     @include box-shadow(0 1px 3px rgba(0,0,0,0.3));	
	}

    }
}
@media (min-width: $breakLG) {
    #header {
	position: fixed;
	top: 42px;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 100;

	.admin-bar & {
	    top: 74px;
	}     
	.nav-scrolled & {
	     @include box-shadow(0 1px 3px rgba(0,0,0,0.3));	
	}
    }
}	

