/*-----------------------------------------------------------------------------------*/
/* Header
/*-----------------------------------------------------------------------------------*/
@media (max-width: $breakSM) {
    #header {
	position: fixed;
	top: 0;

	.admin-bar  & {
	    position: fixed;
	    top: 46px;
	}

	.no-js & {
	    display: block;
	    position: relative;
	    float: none;
	    width: 100%;
	    top: inherit;
	    margin: 5px 0px;
	    padding: 3px;
	}
    }
}
@media (max-width: $breakMD) {
    #header {
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 100;
        padding: 0;
        height: 70px;
        position: fixed;

	.no-js & {
	    position: relative;
	}
    }
}


@media (max-width: $breakLG) {
    #header {
	position: fixed;
	top: 42px;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 100;
	
	.admin-bar & {
		top: 74px;
	}
	.nav-scrolled & {
	     @include box-shadow(0 1px 3px rgba(0,0,0,0.3));	
	}

    }
}
@media (min-width: $breakLG) {
    #header {
	position: fixed;
	top: 42px;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 100;

	.admin-bar & {
	    top: 74px;
	}     
	.nav-scrolled & {
	     @include box-shadow(0 1px 3px rgba(0,0,0,0.3));	
	}
    }
}	

