/*-----------------------------------------------------------------------------------*/
/* Hero: Design header for slider  
/*-----------------------------------------------------------------------------------*/

#hero {
	@include placeholder(#fff);
	margin-top: 20px;
	padding-bottom: 10px;
	position: relative; 
	@include radial-gradient-image($colorPrimaryHero, $colorPrimaryHeroLight, url($siegelurl) no-repeat 95% 280px);
	@include transition(1.0s, all);
	
	h1, h2, h3, h4, p {
		font-weight: normal;
		color: #fff;
		margin: 10px 0;
		padding: 0;
	}
	h1 {
	    position: relative;
	    z-index: 10;
	    padding-top: 0px;
	}
		
	h3.breadcrumb_sitetitle {
	    font-size: 14px;
	    font-weight: normal;
	    line-height: 18px;
	    margin-bottom: -5px;
	    color: #fff;
	}
	.infobar {
	    padding-top: 5px;
	}
	p.description {
	    font-weight: normal;
	    color: #fff;
	    font-size: 18px;
	    line-height: 26px;
	}
	
	a {
		color: #fff;
	}
	
	ul {
		@include no-list;
	}
	
	li {
    		@include no-list;
		font-size: 13px;
		padding-left: 20px;
		padding-bottom: 5px;		
	}
	
	
	&.hero-small {
		@include radial-gradient-image($colorPrimaryHero, $colorPrimaryHeroLight, url($siegelurl) no-repeat 95% 20%);
		
		h1 {
			padding: 30px 0 10px 0;
		}
	}
	&.hero-banner {
	    @include radial-gradient-image($colorPrimaryHero, $colorPrimaryHeroLight, url($siegelurl) no-repeat 95% 20%);
	    height: 142px;
	    margin-bottom: 30px;
	    padding: 0;
	    
	    
	}
	.container {
		position: relative;
	}
	
	.hero-meta-portal {
		position: absolute;
		bottom: 23px;
		right: 100px;
		text-align: right;
		color: $colorPrimaryHeroLight; 
		font-size: 60px;
		line-height: 50px;
	}
	
	.flyout-toggled & {
		opacity: 0.3;
	}
	

	.search-input {
		@include px2rem($font-size-herosearch);
		
		form {
		    border: none;
		}
		.search-text {
		     margin: 0 20px;
		     @include placeholder(#fff);
		     
		    label {
			@extend .screen-reader-text;
		    }
		    input {
			@include border-radius(20px);
			padding: 0 15px;
		    }
		    input[type="text"] {
			@include px2rem($font-size-herosearch);
			border: 1px solid $colorMeta;
			width: 50%;
			padding: 5px 10px 5px 30px;
			height: inherit;
			margin: 0;
			background: $colorMeta; // $colorSearchInputBackground;
			color: #fff; // $colorSearchInput;
			
			&:focus, &:hover {
				background-color: $colorMetaHover; // $colorSearchInputBackgroundFocus;
				border: 1px solid $colorMetaHover;
			}
		    }

		    input[type="submit"] {
			@include px2rem($font-size-herosearch);
			    background: $colorSearchInputBackgroundFocus;
			    color: $colorSearchInput;
			    padding: 5px 10px;
			    height: inherit;
			    margin-left: -30px;
			    &:focus, &:hover {
				    background-color: $colorSearchInputBackground;
			    }
		    }
		    .searchicon {
			@extend .fa;
			@extend .fa-search;
			position: relative;
			margin-right: -30px;
			color: #fff;
		    }
		}
		
		.search-radio-label {
			float: left;
			margin-right: 20px;
			
			input {
				margin-top: -4px;
				margin-right: 3px;
			}
		}
		.filter {
		   display: block;
		    margin: 10px 20px;
		    label {
			@include inline-block();
			width: auto;
			float: none;
			margin: 0 10px 0 5px;
			padding: 0;
			color: $colorSearchInputBackground;
		    }
		    input[type="checkbox"] {
		        margin: 0;
			width: 17px;
		        height:17px;
			border: 1px solid #bbb;
			box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.1);
		    }
		    .nowrap {
			@include inline-block();
			white-space: nowrap;
		    }
		}
		
	}
	
	.hero-jumplink-content {
		position: absolute;
		left: 300px;
		right: 300px;
		bottom: -30;
		display: none;
		height: 30px;
		text-align: center;
		text-decoration: none;
		
		background: $colorPrimary;
		color: #fff;
		@include border-radius(4px);
		
		@extend .fa;
		@extend .fa-2x;
		@extend .fa-angle-down;
		
		&:hover, &:focus {
			text-decoration: none;
			color: #fff;
			background: $colorHover;
		}		
	}
	
	.banner {
	    position: relative;
	    top: -20px;
	    bottom: -20px;
	    margin: 0 auto;
	    height: 182px;
	    background: $colorPrimary;
	    max-width: 1260px;
	    overflow: hidden;
	    @include box-shadow(0 10px 20px rgba(0,0,0,0.5));
	    
	    .introimg {
		position: relative;
		height: 182px;
		
		img {
			height: auto;
			min-height: 182px;
			max-width: 1260px;
			width: 1260px;
			left: 50%;
			margin-left: -630px;
			position: relative;
			z-index: 5;
			top: 0;
		}
		p.credits {
		    background: $colorCopyrightBackground;
		    color: $colorCopyright;
		    font-size: 14px;
		    line-height: 18px;
		    position: absolute;
		    bottom: 0;
		    right: 0;
		    z-index: 6;
		    margin: 0;
		    padding: 1px 4px;
		}
	    }
	    .banner-text {
		position: absolute;
		top: 0px;
		left: 0;
		right: 0;
		z-index: 10;
		width: 100%;
		padding-top: 10px;
		
		h1, h2 {
			@include inline-block;
			color: #fff;
			background: $colorPrimary;
			margin: 0;
			padding: 5px 7px;
			position: relative;
			z-index: 10;
			max-width: 600px;
			
		}
		
		p {
			@include inline-block;
			color: #fff;
			background: $colorPrimary;
			padding: 5px 7px;
			margin: 0;
			font-size: 18px;
			max-width: 600px;
		}

		
		
		
	    }
	    
	}
	
	.hero-navigation {
	    li {
		display: table;
		padding-left: 0;
	    }
	    li:before {
		    @extend .fa;
		    @extend .fa-angle-right;	
		    font-weight: bold;
		    display: table-cell;
		    color: #fff;
		    width: 20px;
		}
	}
    /* Faculties Menu */
    .menu-faculties {
	@include no-list;
	
	li {
		@include no-list;
		font-size: 13px;
		min-height: 34px;
		line-height: 34px;
		border-left: 8px solid #fff;
		vertical-align: center;
		@include hyphens(auto);
		
		a {
			@include inline-block;
			padding: 2px 0 2px 10px;
			line-height: 16px;
			vertical-align: center;
		}
		&.phil,
		&.philfak {
			border-color: $colorPhilFak;
		}
		&.rw,
		&.rwfak {
			border-color: $colorRwFak;
		}
		&.med,
		&.medfak {
			border-color: $colorMedFak;
		}
		&.nat,
		&.natfak  {
			border-color: $colorNatFak;
		}
		&.tf,
		&.techfak {
			border-color: $colorTechFak;
		}
	}
    }
}


/* Hero Slider */
#hero-slides {
	position: relative;
	
	margin: 0 auto -15px auto;
	height: 350px;
	background: $colorPrimary;
	max-width: 1260px;
	overflow: hidden;
	@include box-shadow(0 10px 20px rgba(0,0,0,0.5));
	
	.hero-slide {
		position: relative;
		height: inherit;
		
		img {
		    height: 100%;
		    width: auto;
		    max-width: inherit;
		    vertical-align: middle;
		    z-index: 5;
		}
		
		h2 {
			color: #fff;
			background: rgba($colorPrimary,0.8);
			display: inline;
			padding: 0 3px;
			margin: 10px 0 5px 0;
			@include inline-block();
			@include px2rem($font-size-hero-slider-title);
		}
		
		p {
			@include px2rem($font-size-hero-slider-text);
			color: #fff;
			background: rgba($colorPrimary,0.8);
			padding: 0 3px;
			margin: 0;
		}
		p.credits {
		    background: $colorCopyrightBackground;
		    color: $colorCopyright;
		    @include px2rem($font-size-hero-slider-copyright);

		    position: absolute;
		    bottom: 0;
		    right: 0;
		    z-index: 6;
		    margin: 0;
		    padding: 1px 4px;
		}
		
	}
	
	.hero-slide-text {
		z-index: 10;
		position: absolute;
		bottom: 30px;
		top: inherit;
		margin: 0;
		padding: 0;
		width: 100%;

		p {		    
		    display: none;
		    
		    @media (min-width: $screen-sm) {
			@include inline-block;
		    }
		}	
	}
}


.slider-titel, .slider-text {
    @extend .col-xs-9;
}


@media (min-width: $screen-sm) {
    #hero-slides {
	top: -20px;
    }
}
@media (max-width: $breakSM) {
    #hero {
	.infobar p.description {
	    display: none;
	}
	.admin-bar & {
	    .banner-text {
		top: 0;
	    }
	}
	.no-js & {
	    display: none;
	    top: 0;
	    position: relative;
	}

    }

    #hero-slides {
	.page-template-page-start & {
	    top: 0;
	    height: 150px;
	    .hero-slide {
		img {
		    min-height: 150px;
		    min-width: $breakMD;
		    width: auto;
		    height: 100%;
		    left: inherit;
		    margin-left: 0;
		    left: 0;
		    vertical-align: middle;
		}
		p.credits {
		    top: 2px;
		    bottom: inherit;
		    display: inline;
		}
	    }
	 
	}	
    }
}


@media (max-width: $breakLG) {
    #hero {
	margin-top: 171px; 
	transition: none;
	
	.hero-meta-portal {
		right: 15px;
		
	}
    }
 
    #hero-slides {
//	height: 250px;
	.hero-slide {
	    img {
	//	min-height: 250px;
	//	min-width: $breakLG;
	//	width: auto;
	//	height: auto;
	//	left: inherit;
	//	margin-left: 0;
	//	left: 0;
		vertical-align: middle;
	    }

	    p {
		.credits {
		    top: 10px;
		    bottom: inherit;
		}
	    }
	     
	}
	

    }
}

@media (min-width: $breakLG) {
	#hero {
	    margin-top: 159px;
	    transition: none;
	}

}	
@media (max-width: $breakMD) {
    .hero-meta-portal {
		display: none;
    }

    
    #hero {
	margin-top: 0;
	padding-top: 0px; // 110
	transition: none;

	&.hero-small {
	    margin-top: 0;
	    h1 {
		    padding: 0 0 0 15px;
	    }
	}
	.admin-bar & {
	    margin-top: 32px;

	    .banner-text {
		top: 40px;
	    }

	}
	.searchform {
	    margin: 0 auto;
	    padding: 10px;

	    input[type="text"] {
		width: 150px;
		margin: 0 10px;
		float: none;
		display: inline-block;
	    }
	    .filter {
		margin-top: 5px;
	    }
	}
	.no-js & {
	    margin-top: 0;
	    transition: none;
	    padding-top: 10px;
	    position: relative;
	    .container {
		display: table;
	    }
	    .span6 {
		display: table-cell;
		width: 90%;
	    }
	    .span3 {
		display: table-cell;
		width: 45%;
	    }
	}
	.no-js.admin-bar & {
	    margin-top: 171px;
	}
    }
    .hero-meta-portal {
	    display: none;
    }


    #hero-slides {
	top: 0;
	height: 200px;
	.hero-slide {
	    img {
//		height: 100%;
//		min-width: $breakMD;
//		width: auto;
		left: inherit;
		margin-left: 0;
		left: 0;
		vertical-align: middle;
	    }
	    p.credits {
		top: 2px;
		bottom: inherit;
		display: inline;
	    }
	}
	
	.no-js & {
	    display: none;
	}
    }

}

@media (min-width: $breakMD +1) and (min-height: 700px) and (max-height: 900px) {
	#hero .hero-jumplink-content {
		display: block;
	}
}
