/*-----------------------------------------------------------------------------------*/
/* Layout: Base Structure
/*-----------------------------------------------------------------------------------*/


body, html {
	overflow-x: hidden;
}

body {
	margin: 0;
	color: $colorText;	
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.35;
}

/* Wrap content in white */
#wrap {
	min-height: 100%;
	margin: 0 auto;	
	background: #fff;
}

html, body, button {
	font-family: $fontStack;
	font-kerning:  none;
}

 @if $debugmode == 'true' {
    .container {
	border: 1px solid #ff8800;
    }
    .entry-content {
       border: 1px solid red;
    }


 }
 


 
 
.sidebar-single,
.sidebar-subnav {
    @extend .col-xs-12;
    @extend .col-sm-4;
    @extend .col-xxl-3;
    
}
.entry-content {
    @extend .col-xs-12;
    @extend .col-sm-8;
    @extend .col-xxl-9;

}
#hero {
    .search-title {
	@extend .col-sm-4;
    }
    .search-input {
	@extend .col-sm-8;
    }
    
    
}




.error-notice {
    @extend .col-sm-3;
    @extend .col-sm-offset-1;
}
.error-image {
    @extend .col-sm-3;
}
.error-search {
    @extend .col-sm-5;
}

.search-sidebar {
    @extend .col-sm-4;
}
.search-resultnested {
     @extend .col-sm-8;
} 
.search-error-notice {
    @extend .col-sm-6;
    @extend .col-sm-offset-1;
}
.search-error-image {
    @extend .col-sm-5;
}
.search-results {
    article {
	@extend .col-sm-12;
    }
    .searchresult-image {
	@extend .col-xs-4;
	@extend .col-sm-3;
	text-align: right;
    } 
    .searchresult-imagetext {
	@extend .col-xs-8;
	@extend .col-sm-9
    }
}

.portalpage-content,
.startpage-blogroll {
    @extend .col-xs-12;
    @extend .col-sm-8;
    @extend .col-xxl-9;
}
.portalpage-sidebar,
.startpage-sidebar {
    @extend .col-xs-12;
    @extend .col-sm-4;
    @extend .col-xxl-3;
}




.flyout-entries,
.introthumb,
.introtext {
    @extend .col-xs-12;
    @extend .col-sm-4;
}
.introtext-full {
    @extend .col-xs-12;
    @extend .col-sm-8;
}
.flyout-entries-full {
     @extend .col-xs-12;
}


.inline-box {
    display: flex;   
    flex-wrap: wrap;

    .sidebar-inline {
	order: 2;
    }
    .content-inline {
	order: 1;
	width: 100%;
    }
     @media (min-width: $screen-sm) {
	 display: block; 
	 .sidebar-inline,
	 .content-inline {
	     display: inline;
	     
	 }
	 
    }
    
    * {
	-moz-backface-visibility: inherit;
	-ms-backface-visibility: inherit;
	-o-backface-visibility: inherit;
	backface-visibility: inherit;
    }
}




[class*="span"] {
	float: left;
	min-height: 1px;
	margin-left: 20px;
}

.span12 {
	width: 940px;
}

.span11 {
	width: 860px;
}

.span10 {
	width: 780px;
}

.span9 {
	width: 700px;
}

.span8 {
	width: 620px;
}

.span7 {
	width: 540px;
}

.span6 {
	width: 460px;
}

.span5 {
	width: 380px;
}

.span4 {
	width: 300px;
}

.span3 {
	width: 220px;
}

.span2 {
	width: 140px;
}

.span1 {
	width: 60px;
}

.offset12 {
	margin-left: 980px;
}

.offset11 {
	margin-left: 900px;
}

.offset10 {
	margin-left: 820px;
}

.offset9 {
	margin-left: 740px;
}

.offset8 {
	margin-left: 660px;
}

.offset7 {
	margin-left: 580px;
}

.offset6 {
	margin-left: 500px;
}

.offset5 {
	margin-left: 420px;
}

.offset4 {
	margin-left: 340px;
}

.offset3 {
	margin-left: 260px;
}

.offset2 {
	margin-left: 180px;
}

.offset1 {
	margin-left: 100px;
}




@media (min-width: $breakMD) and (max-width: $breakLG) {

	[class*="span"] {
		float: left;
		min-height: 1px;
		margin-left: 20px;
	}

	.span12 {
		width: 724px;
	}
	.span11 {
		width: 662px;
	}
	.span10 {
		width: 600px;
	}
	.span9 {
		width: 538px;
	}
	.span8 {
		width: 476px;
	}
	.span7 {
		width: 414px;
	}
	.span6 {
		width: 352px;
	}
	.span5 {
		width: 290px;
	}
	.span4 {
		width: 228px;
	}
	.span3 {
		width: 166px;
	}
	.span2 {
		width: 104px;
	}
	.span1 {
		width: 42px;
	}
	.span-sm-4 {
		width: 220px;
	}
	.span-sm-8, 
	.span-sm-8 .span9 {
		width: 484px;
	}
	.offset12 {
		margin-left: 764px;
	}
	.offset11 {
		margin-left: 702px;
	}
	.offset10 {
		margin-left: 640px;
	}
	.offset9 {
		margin-left: 578px;
	}
	.offset8 {
		margin-left: 516px;
	}
	.offset7 {
		margin-left: 454px;
	}
	.offset6 {
		margin-left: 392px;
	}
	.offset5 {
		margin-left: 330px;
	}
	.offset4 {
		margin-left: 268px;
	}
	.offset3 {
		margin-left: 206px;
	}
	.offset2 {
		margin-left: 144px;
	}
	.offset1 {
		margin-left: 82px;
	}
	input,
	textarea {
		margin-left: 0;
	}

}

@media (max-width: $breakMD) {
	body {
		padding-right: 20px;
		padding-left: 20px;
	}
	

	[class*="span"],
	.span-sm-4,
	.span-sm-8, 
	.span-sm-8 .span9 {
		margin-left: 0;
		float: none;
		width: auto;
	}
	
}







@media (min-height: 480px) {
	#wrap { min-height: 480px;}
}

@media (min-height: 900px) {
	#wrap { min-height: 700px;}
}

@media (min-height: 1000px) {
	#wrap { min-height: 800px;}
}

@media (min-height: 1100px) {
	#wrap { min-height: 870px;}
}

@media (min-height: 1200px) {
	#wrap { min-height: 970px;}
}


@media (max-width: $screen-xs - 1) {
    
    .js-enabled {
	body.admin-bar #wpadminbar {
	    position: fixed;
	    top: 0;
	}

    }
}


@media (max-width: $screen-sm - 1) {
	body {
	    overflow: hidden;
		padding: 0;
	}
}
@media (max-width: $breakLG) {
	body {
		padding-top: 0;
	}

}
