/*-----------------------------------------------------------------------------------*/
/* Site Logo
/*-----------------------------------------------------------------------------------*/
#logo {	
	
	h1 {
	    @include px2rem($font-size-header-branding);
	    font-weight: bold;
	    color: $colorPrimary;
	    overflow: hidden;
	    margin: 0;
	    
	    a, span {
		display: table-cell;
		vertical-align: bottom;
	    }
	    a {
		color: $colorPrimary;
		
		 &:hover,
		 &:focus {
		    @include border-radius(4px);
		    background-color: lighten($colorHover, 5%);
		    color: white;
		}	
		
	    } 		
	}
	img {
	   max-height: 85px;
	   width: 240px;
		
	    &:hover,
	    &:focus {
		 background-color: white;
		 color:  $colorPrimary;
	    }
		
	}
}


/*

@media (max-width: $breakSM) {
    .no-js {
	#logo {
	    display: block;
	    position: relative;
	    float: none;
	    width: 100%;
	    top: inherit;
	    margin: 5px 0px;
	    padding: 3px;
	}
    }
}
@media (min-width: $breakSM) and (max-width: $breakMD) {
    #logo {
	h1 {
	    padding-right: 80px;
	    margin-top: 5px;
	}  
    }
}

@media (min-width: $breakMD) and (max-width: $breakLG) {
    #logo  {
	float: none;
	width: 100%;
	display: block;
	margin: 5px 0 0 10px;
	padding-right: 100px;

	h1 {
	    height: 65px;
	    span {
		display: table-cell;
		vertical-align: middle;
	    }
	} 
    }
}
*/