/*-----------------------------------------------------------------------------------*/
/* Meta region in top
/*-----------------------------------------------------------------------------------*/


#meta {
	@include placeholder(#fff);
	background: $colorMetaBackground;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 200;

	.admin-bar & {
	    top: 32px;
	}
	input,
	li {
	    @include px2rem($font-size-meta);
	}
}


.meta-links {
    @extend .col-sm-8;
    .active-meta-widget & {
	@extend .col-sm-7;
    }
} 
.meta-tools {
    @extend .col-sm-4;    
    .active-meta-widget & {
	@extend .col-sm-5;
    }
}

.meta-tools {
    text-align: right;
} 




.meta-links {
    padding: 1px 0;
    
    .ext-link  {
	    padding-right: 0 !important;
	    background-image: none !important;
    }   
    
    &:hover {
	overflow: visible;
	height: auto;
    }
    
    @media (min-width: $screen-sm + 1) {
	height: 40px;
	overflow: hidden;
    }
}


.meta-search {
    display: inline-block;
    
    .searchform {
	    border: none;
	    margin: 0;
	    padding: 5px 0;

	    input[type="text"] {
		    @include border-radius(20px);
		    padding: 5px 35px 5px 10px;
		    width: 160px;
		    background: $colorMeta;
		    border: none;
		    outline: none;
		    color: #fff;
		    height: 30px;
		    display: inline-block;
		    margin-right: -25px;
		    margin-bottom: 0px;
		    &:focus {
			    background-color: $colorMetaHover;
		    }

		    @media (min-width: $screen-md +1) {
			padding: 5px 35px 5px 35px;
		    }
		    @media (min-width: $screen-lg) {
			width: 160px;
		    }

	    }

	    input[type="submit"] {
		    @include border-radius(20px);
		    position: relative;
		    z-index: 100;
		    height: 30px;
		    padding: 0 12px;
		    font-weight: bold;
		    border: none;
		    outline: none;
		    color: $colorMeta;
		    background: #fff;
		    display: inline-block;

		    &:hover, &:focus {
			    background: $colorMetaLightest;
			    @include box-shadow(0 0 5px rgba(0,0,0,0.2));
		    }
	    }

	    label {
		    @extend .screen-reader-text;		
	    }
	    .searchicon {
		@extend .fa;
		@extend .fa-search;
		position: relative;
		margin-right: -30px;
		color: #fff;

		@media (max-width: $screen-md) {
		      display: none;
		}
	    }
    }

    @media (max-width: $screen-sm) {
	position: absolute;
	top: 10px;
	right: 15px;
	.admin-bar & {
	    top: 56px;
	}
	
	z-index: 101;
	
	
    }
}
.meta-widget {
    display: inline-block;
    float: right;
    @include border-radius(20px);
    background: #fff;
    margin: 5px 0 5px 15px;
    height: 30px;
}

