/*-----------------------------------------------------------------------------------*/
/* Sidebar 
/*-----------------------------------------------------------------------------------*/


/* Sidebar: Inline */
.sidebar-inline {
	float: right;
	min-width: 220px;
	margin-left: 30px;
	padding-left: 18px;
	margin-bottom: 11px;
	border-left: 2px solid $colorLightest;
	
	.widget {
		margin-bottom: 22px;
		margin-top: 22px;

		li {
		    font-size: 13px;
		    line-height: 22px;		   
		}
		
	}
	
	.widget:last-child {
		margin-bottom: 0 !important;
	}
	
	.widget:first-child {
		margin-top: 0 !important;
	}
	
	.content-portal & {
		margin-top: 22px;
	}

   
}
