/*-----------------------------------------------------------------------------------*/
/* Social Media Display
/*-----------------------------------------------------------------------------------*/

#social {
	background: $colorSocialBackground;	
	margin: 0 -15px;
	padding: 20px 15px;
	    
	    
	.textwidget, 
	p, 
	h2.small,
	h2  {
		color: $colorSocial;
		padding-top: 0;
	}
	
	h2.small,
	h2 {
	    @include px2rem($font-size-h2-socialmedia);
	    padding: 0;
	    min-height: 50px;
	    display: block;
	}
	a {
	    color: $colorSocial;	    
	    &:hover, &:focus {
		    text-decoration: underline;
		    color: $colorPrimary;
	    }
	    
	}
	.link-all-videos {
	    @include px2rem($font-size-socialmedia-morelink); 
	}
	
	
     @media (min-width: $screen-sm) {
	padding: 20px 0;
	margin-top: 30px;

    }
}

.social-media-widget {
    @extend .col-xs-12;
    @extend .col-sm-4;
}

