/* Logo */
#logo {
	@include inline-block();
	float: left;
	width: 240px;
	max-height: 85px;
	height: 65px;
	
	
	margin: 20px 0 0 0;
	padding: 0;
	
	h1 {
	    display: table;
	    font-size: 19px;
	    line-height: 24px;
	    font-weight: bold;
	    color: $colorPrimary;
	    overflow: hidden;
	    height: 65px;
	    max-height: 85px;
	    padding: 0;
	    margin: 0;
	    
	    a, span {
		display: table-cell;
		vertical-align: bottom;
	    }
	    a {
		color: $colorPrimary;
		
		 &:hover,
		 &:focus {
		    @include border-radius(4px);
		    background-color: lighten($colorHover, 5%);
		    color: white;
		}	
		
	    } 		
	}
	img {
	    max-height: 85px;
	    max-width: 300px;
	    height: 65px;
	    width: auto;
	    padding: 0;
	    display: table-cell;
	    vertical-align: bottom;
		
	    &:hover,
	    &:focus {
		 background-color: white;
		 color:  $colorPrimary;
	    }
		
	}
}

.header-menu {
    width: 700px;
    float: left;
    margin-left: 0;
}

/* Primary Navigation */
#nav {
	@include no-list;
	margin: 50px 0 0 0;
	
	.nav-flyout {
		display: none;
		position: absolute;
		z-index: 30;
		top: 85px; // 129px;
		left: 0;
		right: 0;
		background: $colorPrimary;
		padding: 20px 0;
		@include box-shadow(0 10px 10px rgba(0,0,0,0.3));
	}
	
	li {
		@include no-list;
		display: block;
		float: left;
		
		a {
			display: block;
			float: left;
			font-weight: bold;
			color: $colorPrimary;
			text-decoration: none;
			padding: 10px;
			font-size: 17px;
			line-height: 17px;
			@include border-radius(4px);
			margin: 0 0 10px 0;
		}
		
		ul {
			@include no-list;
			margin: 0 0 15px 0;
			
			li {
				@include no-list;
				float: none;
				background: none; 

				a {
					float: none;
					margin: 0 !important;
					padding: 0;
					font-weight: normal;
					font-size: 15px;
					background: transparent url('../img/list-arrow.png') no-repeat left center;
					display: block;
					padding: 7px 20px 7px 20px;
					// color: $colorMainMenu;
					@include border-radius(0);
					border-bottom: 1px solid $colorHover;
				}

				a:hover, 
				a:focus {
					text-decoration: none;
					background-color: $colorHover !important;;
				}
			}
		}
		
		.nav-flyout {
		   	a.button-portal {
				@include inline-block;
				background: $colorHover !important;
				padding: 13px 20px;
				font-size: 18px;
				line-height: 18px;

				&:hover, 
				&:focus {
					background: lighten($colorHover, 5%) !important;;
				}
			}
			a:hover, 
			a:focus {
					text-decoration: none;
					background-color: $colorHover;
			}
		}
	}
		
	li.has-sub {
		> a {
			padding-bottom: 10px;
			padding-right: 30px;
			margin-bottom: 10px;
			position: relative;
		}
		
		> a:before {
			@extend .fa;
			@extend .fa-caret-down;
			position: absolute;
			top: 11px; 
			right: 11px;
		}
	}
	
	
	.introtext {
	    p {
			color: #fff;
			line-height: 24px;	
			padding: 0;
			margin: 0;
			opacity: 0.7;
			
			font-style: normal;
			font-size: 15px;
			font-weight: bold;
	    }
	    blockquote {
		padding: 20px; 
		// opacity: 0.7; 
		min-height: 40px;
		font-style: italic;
		p.quote:before {
			content: '';
			width: 42px;
			height: 37px;
			background: url('../img/quote.png') no-repeat center center;
			display: block;
			float: left;
			margin-right: 20px;
		}
	    }
	    p.author {
			padding: 10px 0;
			text-align: right;
	    }
	}
	p.nav-excerpt {
		color: $colorLightest;
		font-size: 15px;
		line-height: 24px;
		font-style: normal;
		padding: 0;
		margin: 0;
	}
}

#nav li.level1.focus.has-sub > a,
.no-js #nav li.has-sub > a {
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
    	color: $colorPrimary; // $colorMainMenu;
	
}
#nav li.level1 a.clicked-once,
#nav li.level1.focus.has-sub a,
.no-js #nav li.level1:hover a, 
.no-js #nav li.active a, 
.no-js #nav li.level1:focus a, 
#nav li.level1:hover a, 
#nav li.active a, 
#nav li.level1:focus a, 
#nav li.focus a {
	background-color: $colorPrimary; 
	color: #fff; // $colorMainMenu;
	
}

.no-js #nav li.level1 a.clicked-once,
.no-js #nav li.level1 a:hover, 
.no-js #nav li.level1 a:focus {
	background-color: $colorPrimary; 
	color: $colorMainMenu;
}

#nav li.has-sub a.clicked-once, 
#nav li.has-sub a:hover, 
#nav li.has-sub a:focus, 
#nav li.has-sub.active, 
#nav li.has-sub:hover a, 
#nav li.has-sub:focus a, 
#nav li.has-sub.focus a {
	// background-position: right -28px;
	color: $colorMainMenu;

}

#nav li.level1:hover .nav-flyout, 
#nav li.level1:focus .nav-flyout, 
#nav li.focus .nav-flyout {
	display: block;
}

.nav-fixed {	
	#header {
	 	position: fixed;
		left: 0;
		right: 0;
		background: #fff;
		z-index: 100;
		
	}

}
.nav-scrolled {
    #header {
	@include box-shadow(0 1px 3px rgba(0,0,0,0.3));
    }
}


/* Mobile Navigation Toggle Button */
#nav-toggle {
	position: absolute;
	top: 45px;
	right: 15px;
	width: 25px;
	
	div {
		height: 3px;
		background: $colorPrimary;
		margin-bottom: 3px;
	}
}


/* Meta */
#meta {
	@include placeholder(#fff);
	background: $colorMetaBackground;
	
	.searchform {
		border: none;
		margin: 0;
		padding: 5px 0;
		float: right;
		
		
		input[type="text"] {
			@include border-radius(20px);
			padding: 5px 35px 5px 35px;
			width: 150px;
			font-size: 13px;
			line-height: 15px;
			float: left;
			background: $colorMeta url('../img/icon-search.png') no-repeat 10px center;
			border: none;
			outline: none;
			color: #fff;
			height: 20px;
			display: inline-block;
			margin-right: -25px;
			margin-bottom: 0px;
			&:focus {
				background-color: $colorMetaHover;
			}
		}
		
		input[type="submit"] {
			@include border-radius(20px);
			position: relative;
			z-index: 100;
			margin-right: 20px;
			height: 30px;
			padding: 0 12px;
			font-weight: bold;
			border: none;
			outline: none;
			color: $colorMeta;
			background: #fff;
			font-size: 13px;
			line-height: 15px;
			display: inline-block;
			
			&:hover, &:focus {
				background: $colorMetaLightest;
				@include box-shadow(0 0 5px rgba(0,0,0,0.2));
			}
		}
		
		label {
			@extend .unsichtbar;
		}
	}
}
	
	
/* Meta-Navigation */
#meta-nav {
	@include no-list;
	padding: 0;
	max-width: 650px;
	overflow: hidden;
	
	li {
		@include no-list;
		@include inline-block;
		margin-right: 8px;
		background: none;
		position: relative;
		
		img {
		    vertical-align: sub;		  
		    padding: 0;
		    margin: 0 2px;
		}    
		a {
			@include inline-block;
			padding: 10px 0;
			color: $colorMeta;
			font-size: 13px;
			text-decoration: none;
		}
		
		a:hover {
		    text-decoration: underline;
		}
		&:hover a, &:focus a {
			text-decoration: underline;
		} 
	}
	
	li.has-sub {
		margin-right: 0;
		
		> a {
			padding-right: 25px;
			position: relative;
		}
		
		> a:before {
			@extend .fa;
			@extend .fa-caret-down;
			position: absolute;
			top: 15px; 
			right: 11px;
		}
	}
	li.fauhome {
	    padding-right: 5px;
	    margin-right: 10px;	    
	}
	li.fauhome:before {
	    @extend .fa;
	    @extend .fa-long-arrow-up;
	    margin-left: 5px;
	    margin-right: 5px;
	}
	li.facultyhome {
	    padding-right: 5px;
	    padding-left: 5px;
	    margin-right: 10px;
	    margin-left: -15px;
	   
	}

	
	
	li.fauhome, li.facultyhome {
	    @include transition(background, 0.2s ease-out);
	}
	li.fauhome:hover, li.fauhome:focus, 
	li.facultyhome:hover, li.facultyhome:focus {
	    background: $colorMetaFAUHomeBackground;
	    @include transition(background, 0.1s);
	}
	   
	
	
	ul.sub-menu {
		@include no-list;
		display: none;
		position: absolute;
		top: 35px;
		left: -10px;
		background: $colorMetaLightest;
		width: 180px;
		@include box-shadow(0 3px 3px rgba(0,0,0,0.2));
		
		li {
			@include no-list;
			display: block;
			
			a {
				padding: 4px 10px;
				margin: 0;
				display: block;
				text-decoration: none;
				background: none;
				
				&:hover, &:focus {
					background: #fff;
					text-decoration: none;
				}
			}
		}
	}
	
	li:hover ul.sub-menu, 
	li.focus ul.sub-menu {
		display: block;
	}
}

/* Hero */
#hero {
	@include placeholder(#fff);
	margin-top: 20px;
	padding-bottom: 10px;
	position: relative; 
	@include radial-gradient-image($colorPrimaryHero, $colorPrimaryHeroLight, url($siegelurl) no-repeat 95% 280px);
	@include transition(1.0s, all);
	
	h1, h2, h3, h4, p {
		font-weight: normal;
		color: #fff;
		margin: 10px 0;
		padding: 0;
	}
	h1 {
	    position: relative;
	    z-index: 10;
	    padding-top: 0px;
	}
		
	h3.breadcrumb_sitetitle {
	    font-size: 14px;
	    font-weight: normal;
	    line-height: 18px;
	    margin-bottom: -5px;
	    color: #fff;
	}
	.infobar {
	    padding-top: 5px;
	}
	p.description {
	    font-weight: normal;
	    color: #fff;
	    font-size: 18px;
	    line-height: 26px;
	}
	
	a {
		color: #fff;
	}
	
	ul {
		@include no-list;
	}
	
	li {
    		@include no-list;
		font-size: 13px;
		padding-left: 20px;
		padding-bottom: 5px;
		background: url("../img/list-arrow.png") no-repeat left 4px;
	}
	
	&.hero-small {
		@include radial-gradient-image($colorPrimaryHero, $colorPrimaryHeroLight, url($siegelurl) no-repeat 95% 20%);
		
		h1 {
			padding: 30px 0 10px 0;
		}
	}
	&.hero-banner {
	    @include radial-gradient-image($colorPrimaryHero, $colorPrimaryHeroLight, url($siegelurl) no-repeat 95% 20%);
	    height: 142px;
	    margin-bottom: 30px;
	    padding: 0;
	    
	    
	}
	.container {
		position: relative;
	}
	
	.hero-meta-portal {
		position: absolute;
		bottom: 23px;
		right: 100px;
		text-align: right;
		color: $colorPrimaryHeroLight; 
		font-size: 60px;
		line-height: 50px;
	}
	
	.flyout-toggled & {
		opacity: 0.3;
	}
	
	.searchform {
		padding: 35px 0 0 0;
		border: none;
		@include placeholder($colorSearchPlaceholder);
		label {
			color: #fff;
		}
		
		input[type="text"] {
			@include border-radius(20px);
			padding: 10px 10px 10px 40px;
			width: 300px;
			font-size: 15px;
			line-height: 15px;
			float: left;
			margin-right: 10px;
			background: $colorSearchInputBackground url('../img/icon-search.png') no-repeat 15px center;
			border: none;
			outline: none;
			color: $colorSearchInput;
			
			&:focus {
				background-color: $colorSearchInputBackgroundFocus;
			}
		}
		
		input[type="submit"] {
			@include border-radius(20px);
			border: none;
			background: $colorSearchInputBackground;
			color: #444;
			font-size: 15px;
			line-height: 15px;
			padding: 0 15px;
			display: inline-block;
			box-sizing: padding-box;
			height: 40px;
			color: $colorSearchInput;
		}

		.search-radio-label {
			float: left;
			margin-right: 20px;
			
			input {
				margin-top: -4px;
				margin-right: 3px;
			}
		}
		.filter {
		   display: block;
		    margin: 10px 20px;
		    label {
			@include inline-block();
			width: auto;
			float: none;
			margin: 0 10px 0 5px;
			padding: 0;
			color: $colorSearchInputBackground;
		    }
		    input[type="checkbox"] {
		        margin: 0;
			width: 17px;
		        height:17px;
			border: 1px solid #bbb;
			box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.1);
		    }
		    .nowrap {
			@include inline-block();
			white-space: nowrap;
		    }
		}
		
	}
	
	.hero-jumplink-content {
		position: absolute;
		left: 300px;
		right: 300px;
		bottom: -30;
		display: none;
		height: 30px;
		text-align: center;
		text-decoration: none;
		
		background: $colorPrimary;
		color: #fff;
		@include border-radius(4px);
		
		@extend .fa;
		@extend .fa-2x;
		@extend .fa-angle-down;
		
		&:hover, &:focus {
			text-decoration: none;
			color: #fff;
			background: $colorHover;
		}		
	}
	
	.banner {
	    position: relative;
	    top: -20px;
	    bottom: -20px;
	    margin: 0 auto;
	    height: 182px;
	    background: $colorPrimary;
	    max-width: 1260px;
	    overflow: hidden;
	    @include box-shadow(0 10px 20px rgba(0,0,0,0.5));
	    
	    .introimg {
		position: relative;
		height: 182px;
		
		img {
			height: auto;
			min-height: 182px;
			max-width: 1260px;
			width: 1260px;
			left: 50%;
			margin-left: -630px;
			position: relative;
			z-index: 5;
			top: 0;
		}
		p.credits {
		    background: $colorCopyrightBackground;
		    color: $colorCopyright;
		    font-size: 14px;
		    line-height: 18px;
		    position: absolute;
		    bottom: 0;
		    right: 0;
		    z-index: 6;
		    margin: 0;
		    padding: 1px 4px;
		}
	    }
	    .banner-text {
		position: absolute;
		top: 0px;
		left: 0;
		right: 0;
		z-index: 10;
		width: 100%;
		padding-top: 10px;
		
		.infobar {
		//   padding-top: 20px;
		}
		
		h1, h2 {
			@include inline-block;
			color: #fff;
			background: $colorPrimary;
			margin: 0;
			padding: 5px 7px;
			position: relative;
			z-index: 10;
			max-width: 600px;
			
		}
		
		p {
			@include inline-block;
			color: #fff;
			background: $colorPrimary;
			padding: 5px 7px;
			margin: 0;
			font-size: 18px;
			max-width: 600px;
		}

		
		
		
	    }
	    
	}
	
}


/* Hero Slider */
#hero-slides {
	position: relative;
	
	margin: 0 auto -15px auto;
	height: 350px;
	background: $colorPrimary;
	max-width: 1260px;
	overflow: hidden;
	@include box-shadow(0 10px 20px rgba(0,0,0,0.5));
	
	.hero-slide {
		position: relative;
		
		img {
			height: 350px;
			max-width: 1260px;
			width: 1260px;
			left: 50%;
			margin-left: -630px;
			position: relative;
			z-index: 5;
			top: 0;
		}
		
		h2 {
			color: #fff;
			background: $colorPrimary;
			display: inline;
			padding: 0 3px;
			margin: 0;
		}
		
		p {
			@include inline-block;
			color: #fff;
			background: $colorPrimary;
			padding: 0 3px;
			margin: 4px 0;
			font-size: 18px;
			max-width: 600px;
		}
		p.credits {
		    background: $colorCopyrightBackground;
		    color: $colorCopyright;
		    font-size: 14px;
		    line-height: 18px;
		    position: absolute;
		    bottom: 0;
		    right: 0;
		    z-index: 6;
		    margin: 0;
		    padding: 1px 4px;
		}
		
	}
	
	.hero-slide-text {
		position: absolute;
		bottom: 30px;
		left: 0;
		right: 0;
		z-index: 10;
		width: 100%;
	}
}

/* Content Area */
#content {
	padding: 20px 0 20px 0;
	
	.wp-caption {
		max-width: 100%;
	}
	
	img {
		@include box-shadow(0 1px 2px rgba(0,0,0,0.3));
		max-width: 100%;
				
		&.shadow {
		    @include box-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
		}
		&.thickborder {
		    border: 1px solid black;
		    @include border-radius(2px);
		}
	}
	
	.logos-menu .logo-item img {
		@include box-shadow(none);
	}
	
	img.error-404-persons {
		@include box-shadow(none);
		margin: 0 auto;
		display: block;
	}
	
	blockquote {
		font-style: italic;
		background: url('../img/quote-blue.png') no-repeat left top;
		margin: 10px 50px;
		padding-left: 60px;
		min-height: 50px;

		p {
			color: $colorPrimary;
		}
	}
	main {
	    font-size: 15px;
	    line-height: 22px;
	    color: $colorText;
	    font-family: $fontStack;
	    
	    .sidebar-inline {
		font-size: 13px;
		line-height: 18px;
	    }
	}
}

#comments {
    clear: both;
    code {
	white-space: normal;
	color: $colorLightestContrast;
	background-color: $colorLightest;

    }
    label {
	float: none;
    }
    textarea {
	width: 90%;
	max-width: 600px;
    }
    ul li {
	background: none;
    }
    .form-allowed-tags {
	opacity: 0.7;
    }
    h2 {
	padding-bottom: 10px; 
    }
    p.attention {
	margin: 0px;
    }
    .comment-body {
	border-left: 2px solid $colorLightest;
	font-style: initial;
	padding: 10px 0 5px 10px;
		opacity: 0.7;
		min-height: 40px;

		p {
			font-size: 16px;
			line-height: 24px;
			font-style: italic;
			padding: 0;
			margin: 0;
		}

		p.quote:before {
			content: '';
			width: 42px;
			height: 37px;
			background: url('../img/quote.png') no-repeat center center;
			display: block;
			float: left;
			margin-right: 20px;
		}
} 
    .comment-details {
			font-style: normal;
			font-size: 15px;
			font-weight: bold;
			padding: 10px 0;
		}
    
}


/* Sub-Navigation */
#subnav {
	@include no-list;
	
	ul, li {
		@include no-list;
	}
	
	a {
		text-decoration: none;
		display: block;
		line-height: 18px;
		font-size: 14px;
		padding: 6px 15px;
		color: $colorSubNav;
		background: $colorSubNavBackground;
		padding-left: 15px;
		padding-right: 15px; 

		&:hover, &:focus {
			background-color: $colorSubNavCurrentBackground;
			color: $colorSubNavCurrent;
		}
	}
	
	ul {
		display: none;
	}
	
	> li {
		border-bottom: 1px solid #fff;
	}
	
	.current_page_item, 
	.current_page_ancestor {
		a {
			color: $colorSubNavCurrent;
			background-color: $colorSubNavCurrentBackground; 
			border: none;
			
			&:hover, &:focus {        
				background-color: $colorSubNavCurrentHoverBackground; 
				color: $colorSubNavCurrentHover; 
			}
		}
		
		> ul {
			display: block;
		}
		
		> a {
			font-weight: bold;
		}
	}
	
	li li a {
		padding-left: 25px;
	}
	
	li li li a {
		padding-left: 35px;
		font-size: 13px;
	}
	
	li li li li a {
		padding-left: 45px;
		
		&:hover, &:focus {
			background: $colorSubNavBackgroundHover; 
			color: $colorSubNav; 
		}
	}
	
	li .current_page_item,
	li .current_page_ancestor {
		a {
			background: $colorSubNavCurrentBackground; 
		}
		
		li {
			a:hover, a:focus {
				background: $colorSubNavCurrentHoverBackground; 
			}
		}
	}
	
	li .current_page_ancestor .current_page_item a {
		background: $colorSubNavCurrentHoverBackground;
	}
	
	li li .current_page_ancestor a {
		background: $colorSubNavCurrentHoverBackground;
	}
	
	li li li li a,
	li li li li.current_page_item a {
		background: $colorSubNavBackgroundHover; 
		color: $colorSubNavCurrent;
	}
	
	li.protected-page a {
		padding-right: 40px;
		background-image: url('../img/protected-page.png');
		background-repeat: no-repeat;
		background-position: right center;
	}
	

}


/* Social */
#social {
	background: $colorSocialBackground;
	padding: 20px 0;
	margin-bottom: -30px;
	margin-top: 30px;
	
	.textwidget, 
	p, 
	h2 {
		color: $colorSocial;
		padding-top: 0;
	}
	a {
	    color: $colorSocial;	    
	    &:hover, &:focus {
		    text-decoration: underline;
		    color: $colorPrimary;
	    }
	}
	ul.social {
		@include no-list;
		margin: 0 0 10px 0;
		
		li {
			@include no-list;
			@include inline-block;
			max-width: 220px;
			width: 100%;
			
			background: none;
			
			a {
				@include inline-block;
				color: $colorSocial;
				text-decoration: none;
				height: 20px;
				line-height: 20px;
				padding: 5px 0;
				background: none;

				&:hover, &:focus {
					color: $colorPrimary;
					text-decoration: underline;
					
					&:before {
						background: $colorPrimary;
					}
				}
			}
			
			a:before {
				background: $colorSocial;
				color: $colorSocialBackground;
				height: 21px;
				width: 24px;
				padding-top: 5px;
				line-height: 24px;
				text-align: center;
				@include border-radius(12px);
				font-size: 16px;
				margin-right: 6px;
			}
		}
		
	
		
		li.social-gplus a:before {  @extend .fa;  @extend .fa-google-plus;}
		li.social-diaspora a:before { @extend .fa; content: '*'; font-size: 20px; font-weight: bold;}
		li.social-pinterest a:before { @extend .fa; @extend .fa-pinterest-p; @extend .fa-lg; line-height: 1.0em;}
		li.social-instagram a:before { @extend .fa; @extend .fa-instagram; line-height: 1.0em;}
		li.social-facebook a:before {  @extend .fa; @extend .fa-facebook; }
		li.social-twitter a:before {  @extend .fa; @extend .fa-twitter; }
		li.social-xing a:before {  @extend .fa; @extend .fa-xing; }
		li.social-github a:before {  @extend .fa; @extend .fa-github; }	
		li.social-skype a:before {  @extend .fa; @extend .fa-skype; }
		li.social-tumblr a:before {  @extend .fa; @extend .fa-tumblr; }
		li.social-delicious a:before {  @extend .fa; @extend .fa-delicious; }
		li.social-flickr a:before {  @extend .fa; @extend .fa-flickr; }
		li.social-feed a:before { @extend .fa;  @extend .fa-rss-square; }
		li.social-vimeo a:before { @extend .fa; @extend .fa-vimeo-square; }
		li.social-youtube a:before { @extend .fa; @extend .fa-youtube-square; }
		li.social-itunes a:before { @extend .fa; @extend .fa-apple; }
		li.social-wikipedia a:before { @extend .fa; @extend .fa-wikipedia-w; }
		
		
	}
	
	iframe {
		width: 220px !important;
		height: 160px !important;
	} 
 
}

/* Footer */
#footer {
	background: $colorPrimaryHero;
	color: #fff;
	padding: 20px 0;
	
	p {
		color: #fff;
		font-size: 13px;
		line-height: 18px;
	}
	
	a {
		color: #fff;
		text-decoration: none;
	}
	
	li {
		font-size: 13px;
	}
	
	a:hover, a:focus {
		text-decoration: underline;
	}
}

/* Footer Navigation */
#footer-nav {
	@include no-list;
	text-align: right;
	
	li {
		@include no-list;
		display: inline;
		margin-left: 8px;
		background: none;
	}
}