/* Jump-Links for keyboard navigation */
.jumplinks {
	@include no-list;
	
	li {
		@include no-list;
		
		a {
			display: block;
			position: fixed;
			z-index: 10000;
			top: 20px;
			left: -1000px;
			padding: 6px 10px;
			background: #fff;
		}
		
		a:hover, a:focus {
			left: 20px;	
		}
	}
}

/* Language switcher */
.mlp_language_box {
	float: right;
	height: 30px;
	margin-top: 5px;
	background: #fff;
	@include border-radius(20px);
	background: #fff;
	z-index: 200;
	
	ul {
		@include no-list;
		z-index: 201;

		
		li {
			@include no-list;
			background: none;
			display: none;

			a {
				display: block;
				text-align: left;
				text-decoration: none;
				font-size: 13px;
				line-height: 20px;
				height: 20px;
				padding: 5px 30px 5px 10px;
				text-transform: uppercase;
				font-weight: bold;
				
				img {
					margin-top: -4px;
				}
			}
			
			a:hover, a:focus {
				background-color: $colorLightest;
			}
			
			a.ext-link {
				background-image: none;
			}
		}
		
		li.current {
			display: block;
			
			a {
				background-image: url('../img/icon-globe.png');
				background-repeat: no-repeat;
				background-position: right;
				margin-right: 5px;
				
			}
		}
		
		&:hover, &:focus, &.focus {
			@include box-shadow(0 0 5px rgba(0,0,0,0.2));
			
			li {
				display: block;
				
				a {
					background-color: #fff;
				}
			}
		}
	}
	h2 {
	    @include hideout;
	}
}

/* Faculties Menu */
#hero .menu-faculties {
	@include no-list;
	
	li {
		@include no-list;
		font-size: 13px;
		min-height: 34px;
		line-height: 34px;
		border-left: 8px solid #fff;
		vertical-align: center;
		@include hyphens(auto);
		
		a {
			@include inline-block;
			padding: 2px 0 2px 10px;
			line-height: 16px;
			vertical-align: center;
		}
		
		&.philfak {
			border-color: $colorPhilFak;
		}
		
		&.rwfak {
			border-color: $colorRwFak;
		}
		
		&.medfak {
			border-color: $colorMedFak;
		}
		
		&.natfak  {
			border-color: $colorNatFak;
		}
		
		&.techfak {
			border-color: $colorTechFak;
		}
	}
}

/* Subpages / Portal Menu */
.subpages-menu {
	@include no-list;
	margin: 20px 0 20px -20px;
	
	li {
		@include no-list;
		background-image: none;
		margin-bottom: 20px;
		padding-left: 20px;
		
		a.subpage-item {
			text-decoration: none;

			h3 {
				padding: 10px 15px 10px 0;
				font-weight: bold;
				text-decoration: none;
			}
		}
	}
	
	.menu-item {
		position: relative;
	}
	
	ul {
		@include no-list;
		
		li {
			@include no-list;
			background: none;
		}
		
		a {
			text-decoration: none;
			background: url('../img/list-arrow-blue.png') no-repeat left center;
			display: block;
			padding: 7px 20px;
			border-bottom: 1px solid $colorLightest;
			font-size: 13px;
			line-height: 16px;
		}
		
		a:hover, a:focus {
			text-decoration: none;
			background-color: $colorLightest;
		}
	}
	
	.subpage-item:focus h3 {
		background-color: $colorLightest;
	}
	
	.ext-link h3 {
		@include inline-block;
		background: url('../img/ext-icon-19.png') no-repeat 100% 50%;
		padding-right: 15px;
		
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
	
	.ext-icon {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
		height: 20px;
		width: 20px;
		background: $colorPrimary url('../img/ext-icon-19-white.png') no-repeat 50% 50%;
	}
}

.page-template-page-subnav {
    #content {
	.span8 {
	    img {		
		&.alignleft, 
		&.alignright, 
		&.size-full {
		    vertical-align: top;
		    overflow: hide;
	        }
		&.size-full {
		    clear: both;
		}
	    }
	    div.alignleft, 
	    img.alignleft {
		clear: none;
		
	    }
	}
    }
}

/* Breadcrumb */

.breadcrumbs {
	color: #fff;
	padding: 10px 0;
	position: relative;
	z-index: 10;
	span {
		padding: 0 5px;
	}
}


/* Search Forms in Content */
.searchform-content {
	border: none;
	padding-top: 40px;
	@include placeholder($colorSearchPlaceholder);

	h3 {
		font-weight: normal;
	}

	input[type="text"] {
		@include border-radius(20px);
		padding: 10px 10px 10px 40px;
		width: 200px;
		font-size: 15px;
		line-height: 15px;
		float: left;
		margin-right: 10px;
		background: $colorSearchInputBackground url('../img/icon-search.png') no-repeat 15px center;
		border: none;
		outline: none;
		color: $colorSearchInput;
		
	

		&:focus {
			background-color: $colorSearchInputBackgroundFocus;
		}
	}
}

/* All Widgets */
.widget {
	margin-bottom: 7px;
	
	li {
		padding: 0 0 0 5px;
		font-size: 13px;
		line-height: 20px;
	}
	
}
.FAUVideoWidget {
    li {
	background: url("../img/list-arrow-blue.png") no-repeat scroll left 4px rgba(0, 0, 0, 0);
	font-size: 13px;
	line-height: 20px;
    }
}

/* Widget: RSS */
.widget_rss,
.rss-shortcode {
	ul {
		@include no-list;

		li {
			@include no-list;
			padding: 5px 0;
			background: none;
			line-height: 18px;
			
			a {
				font-weight: normal;
				text-decoration: none;
				font-size: 13px;
			}
			
			> a {
				font-weight: bold;
				font-size: 15px;
			}
			
			a:hover, a:focus {
				text-decoration: underline;
			}
		}
	}
	
	.rss-date {
		display: block;
		font-size: 13px;
		padding: 5px 0;
	}
	
	.rssSummary,
	.rss-description {
		padding: 5px 0;
		font-size: 13px;
		line-height: 18px;
		color: $colorText;
	}
	
	h4 {
		font-size: 20px;
		line-height: 24px;
		margin: 0;
		padding: 20px 0 20px 0;
	}
	
	cite {
		color: #888;
	}
}


/* Widget: Search */
.widget_search {
	.searchform  {
	    padding: 20px 10px;
	}
	input[type="text"] {
		width: 80%;
		max-width: 160px;
		margin: 0 10px 0 0;
		font-size: 14px;
	}
	input[type="submit"] {
	    padding: 2px 15px;
	}
	.searchform label {
		@extend .unsichtbar;
	}
}

/* Widget: Categories */
.widget_categories {
	ul {
		@include no-list;

		li {
			@include no-list;
			display: block;
			background-color: $colorLightest;
			border-bottom: 1px solid #fff;
			line-height: 18px;
			padding: 6px 0 6px 0px;
			a {
				text-decoration: none;
				line-height: 18px;
				padding: 6px 0;
				padding-left: 15px;
				
				&:hover, 
				&:focus {
				    text-decoration: underline;
				}
			}
			&:hover, 
			&:focus {
			    background-color: darken($colorLightest, 3%);
			    li {
				background-color: darken($colorLightest, 3%);
			    }
			}
			ul {
			    margin-top: 5px;
			}
			li {
			    border-bottom: none;
			    padding: 6px 0 6px 15px;
			}
			
			&.tf a,
			&.techfak a {
			    background-color: $colorTechFak;
			    color: #fff;
			}
			&.rwfak a {
			    background-color:  $colorRwFak;
			    color: #fff;
			}
			&.medfak a {
			    background-color:  $colorMedFak;
			    color: #fff;
			}
			&.natfak a {
			    background-color:  $colorNatFak;
			    color: #fff;
			}
			&.philfak a {
			    background-color:  $colorPhilFak;
			    color: #fff;
			}
			&.fau a, &.default a {
			    background-color:  $colorDefault;
			    color: #fff;
			}
			
		}
	}
}

/* Widget: Nav Menu */
.widget_nav_menu {
	@extend .widget_categories;
}


/* Persons */
.person-info-more {
	margin: 10px 0 0 0;
	padding-left: 0 !important;
}

.person-read-more {
	@include inline-block;
	height: 20px;
	line-height: 20px;
	background: $colorLightest;
	padding: 6px 10px;
	text-decoration: none;
	@include border-radius(3px);
	font-size: 14px;
	
	&:hover, &:focus {
		background: darken($colorLightest, 3%);
		text-decoration: none;
	}
}

.person {
	h3 {
		padding-bottom: 0;
		padding-top: 5px;
		font-weight: bold;
		font-size: 15px;
		
		a {
		    color: $colorText;
		    text-decoration: underline;
		}
	}
	
	h4 {
		padding-top: 0;
		font-weight: normal;
		a {
		    color: $colorText;
		    text-decoration: underline;
		}
	}
}

.content-person {
	border: 1px solid $colorStandardHellgrau;
	margin: 10px 0;
	padding: 10px;
	overflow: hidden;
	
	@media(max-width: $breakMD) {
		margin: 10px 15px;
		padding: 10px 0;
	}
	
	li {
		font-size: 13px;
		line-height: 20px;
		background-position: left 5px;
	}
	
	.person-info-description {
		padding-top: 8px;
		
		@media(max-width: $breakMD) {
			margin-left: 0 !important;
		}
	}
	
	.person-info-description,
	.person-info-description p {
		font-size: 13px;
		line-height: 20px;
	}
	
	.image-placeholder {
		width: 90px;
		height: 120px;
		background: $colorLightest;
		position: relative;
		text-align: center;
	
		
		&:before {
			@extend .fa;
			@extend .fa-4x;
			@extend .fa-user;
			line-height: 120px;	
			color: $colorLight;
		}
	}
	// .compactindex .span3 {
	//    width: 70%;	    
	//  }
}

ul.person-info {
	@include no-list;
	
	li {
		@include no-list;
		background-image: none;
		padding-left: 0px;
		min-height: 20px;
		font-size: 13px;
		line-height: 20px;
		background-repeat: no-repeat;
		background-position: left center;
		
	}
	
	
	/*
	li.person-info:before {
		@extend .fa;
		width: 20px;
	} */
	
	li.person-info-phone:before { 
	    @extend .fa;
	    width: 20px; 
	    @extend .fa-phone; 
	}
	li.person-info-fax:before {
	    @extend .fa;
	    width: 20px; 
	    @extend .fa-print; 
	}
	li.person-info-email:before {
	    @extend .fa;
	    width: 20px; 
	    @extend .fa-envelope; 
	}
	li.person-info-institution:before { 
	    @extend .fa;
	    width: 20px; 
	    @extend .fa-building; 
	}
	li.person-info-www:before { 
	    @extend .fa;
	    width: 20px; 
	    @extend .fa-info-circle; 
	}
	li.person-info-position {
	    font-weight: bold;
	}
	li.person-info-address {
	    margin-top: 10px;
	    padding-left: 0px;
	}
	
	li.person-info-description {
	    margin-top: 10px;
	    padding-left: 20px;
	}

}


/* Posts / News */
.post-image {
    float: right;
    margin: 20px 0 10px 20px;
    text-align: center;
    
    .post-image-caption {
	    line-height: 18px;
	    font-size: 13px;
	    padding: 10px 0;
	    width: 300px;
	    text-align: left;
    }
}

.news-details {
	margin-top: 20px;
	
	.post-image {
	    margin-top: 0px;
	}
	.subtitle {
	    padding-top: 0;
	}
	.post-meta-categories:before {
		    @extend .fa;
		    @extend .fa-archive;
	}
	.post-meta-date:before {
		    @extend .fa;
		    @extend .fa-calendar;
	}
	.post-meta-tags:before {
		    @extend .fa;
		    @extend .fa-tags;
	}
	.post-meta-tags {
	   margin-left: 10px;
	    
	    
	}
	.meta-footer {
	    clear: both;
	    a:hover {
		text-decoration: underline;
	    }
	}
}
.post-meta {
	    display: block;
	    padding: 5px 0;
	    margin: -14px 0 14px 0;
	    color: $colorPrimary;
	    font-family: $fontStack;
}


.post-meta-tags {
	@include inline-block;
	
	ul {
		@include no-list;
		@include inline-block;
		
		li {
			@include no-list;
			@include inline-block;
			margin: 0;
			font-size: 13px;
			a {
				@include inline-block;
				text-decoration: none;
			}
			
			a:hover, a:focus {
				
			}
		}
	}	
}



.news-image {
	display: block;
	text-align: center;
	background: $colorStandardHellgrau;
	padding: 4px;
	@include box-shadow(0 1px 2px rgba(0,0,0,0.3));
	
	img {
		@include box-shadow(none);
	}
}

.news-item {
	margin-bottom: 11px;
	
	h2 {
	    padding-bottom: 10px;
	}
	.news-meta {
		padding: 5px 0;
		margin-top: 0px;
		margin-bottom: 10px;
		color: $colorText;
		display: block;
		font-family: $fontStack;
		
		.news-meta-categories:before {
		    @extend .fa;
		    @extend .fa-tag;
		}
		.news-meta-date:before {
		    @extend .fa;
		    @extend .fa-calendar;
		}
	}
	.news-meta-date {
	    margin-left: 10px;
	}
	h2 .ext-link {
		@include inline-block;
		background: url('../img/ext-icon-19.png') no-repeat 100% 50%;
		padding-right: 15px;
		
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
	
}


.news-meta-categories {
	@include inline-block;
	
	ul {
		@include no-list;
		@include inline-block;
		
		li {
			@include no-list;
			@include inline-block;
			margin: 0 0 2px 0;

			a {
				@include inline-block;
				background: $colorLightest;
				text-decoration: none;
				padding: 3px 5px 2px 5px;
				@include border-radius(3px);
			}
			
			a:hover, a:focus {
				color: #fff;
				background: $colorPrimary;
			}
		}
	}	
}


.search-result {
	margin-bottom: 11px;

	.search-meta {
		padding: 5px 0;
		margin-top: 0px;
		margin-bottom: 10px;
		color: $colorText;
		display: block;
		font-family: $fontStack;
		
		.post-meta-category:before {
		    @extend .fa;
		    @extend .fa-tag;
		}
		.post-meta-date:before {
		    @extend .fa;
		    @extend .fa-calendar;
		}
		.post-meta-event:before {
		    @extend .fa;
		    @extend .fa-calendar-o;
		}
		.post-meta-kontakt:before {
		    @extend .fa;
		    @extend .fa-user;
		}
		.post-meta-defaulttype:before {
		    @extend .fa;
		    @extend .fa-bookmark;
		}
		.post-meta-news:before {
		    @extend .fa;
		    @extend .fa-comment;
		}
		.post-meta-attachment:before {
		    @extend .fa;
		    @extend .fa-file;
		}
		
		.download:before {
		    @extend .fa;
		    @extend .fa-download;
		}
		.dateityp {
		    text-transform: uppercase;
		}
	}
	h3 .ext-link,  
	h2 .ext-link {
		@include inline-block;
		background: url('../img/ext-icon-19.png') no-repeat 100% 50%;
		padding-right: 15px;
		
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
	.download,
	.post-meta-date,
	.post-meta-attachment,
	.post-meta-news,
	.post-meta-category,
	.post-meta-defaulttype, 
	.post-meta-kontakt {
	    margin-right: 10px;
	}
	.content-person {
	    border: none;
	}
	
}


.read-more {
	text-align: right;
}

.read-more-arrow {
	text-decoration: none;
	padding-right: 3px;
	padding-left: 2px;
	font-size: 22px;
	line-height: 16px;
	
	&:hover, &:focus {
		text-decoration: none;
		padding-left: 5px;
		padding-right: 0;
	}
}

.news-more-links {
	padding: 20px 0;
	text-align: left;
	
	a {
		@include inline-block;
		height: 20px;
		line-height: 20px;
		margin-right: 15px;
	}
	
	.news-rss {
		
	}
	
	.news-rss:before {
		@extend .fa;
		@extend .fa-lg;
		@extend .fa-rss-square;
		padding-right: 5px;
	}
	
	.news-more {
		color: $colorButton;
		background: $colorButtonBackground;
		padding: 6px 10px;
		text-decoration: none;
		@include border-radius(3px);
		font-size: 14px;
		
		&:hover, &:focus {
			background: $colorButtonBackgroundHover;
		}
	}
}

/* Top-Event */
.topevent-date {
	color: $colorPrimary;
	font-weight: bold;
	margin-bottom: 5px;
}

.topevent-description {
	color: $colorPrimary;
}

/* Events */
.events-list {
	padding-bottom: 10px;
}

.widget_event_widget,
.events-list {
	ul {
		@include no-list;

		li {
			@include no-list;
			padding: 10px 0 0 0;
			min-height: 42px;
			font-size: 12px;
			line-height: 18px;
			background-image: none;
		}
	}
}

.event-date {
	float: left;
	display: block;
	background: $colorPrimary;
	color: #fff;
	padding: 5px;
	width: 30px;
	text-align: center;
}

.event-date-month {
	font-size: 9px;
	line-height: 10px;
	text-transform: uppercase;
	font-weight: bold;
}

.event-date-day {
	font-size: 20px;
	line-height: 20px;
	font-weight: bold;
}

.event-info {
	margin-left: 60px;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.event-title {
	font-weight: bold;
}

.event-time {
	color: $colorPrimary;
}

.event-location {
	color: $colorTextLight;
}

.event-info {
	a, .event-time {
		color: $colorText;
	}
}

.event-category-fau .event-date {
	background: $colorZUV;
    
}
.event-category-einrichtungen .event-date {
	background: $colorDefault;
}

.event-category-techfak .event-date {
	background: $colorTechFak;
}

.event-category-rwfak .event-date {
	background: $colorRwFak;
}

.event-category-philfak .event-date {
	background: $colorPhilFak;
}

.event-category-natfak .event-date {
	background: $colorNatFak;
}

.event-category-medfak .event-date {
	background: $colorMedFak;
}

.widget_event_widget a {
	text-decoration: none;
	
	&:hover, &:focus {
		text-decoration: underline;
	}
}

.events-list {
	ul {
		@include no-list;
		
		li {
			@include no-list;
		}
	}
}

.event-detail-item {
	margin-bottom: 20px;
	min-height: 50px;
	
	.event-info {
		margin-left: 70px;
		font-size: 15px;
		line-height: 20px;
		padding-top: 6px;
	}
	
	.event-date {
		width: 50px;
		padding: 7px 0;
	}
	
	.event-date-month {
		font-size: 14px;
		line-height: 18px;
	}
	
	.event-date-day {
		font-size: 28px;
		line-height: 28px;
	}
}

.events-more-links {
	padding: 0;
	text-align: left;
	margin-bottom: 5px;
	
	a {
		@include inline-block;
		line-height: 15px;
		margin-left: 60px;
	}
	
	.events-more {
		color: $colorButton;
		background: $colorButtonBackground;
		padding: 8px 10px;
		text-decoration: none;
		@include border-radius(3px);
		font-size: 14px;
		
		&:hover, &:focus {
			background: $colorButtonBackgroundHover;
			text-decoration: none;
		}
	}
}


/* Image Gallery: Slider */
.image-gallery-slider {
	clear: both;
	margin: 22px 0;
	padding: 10px 0;
	
	ul.slides {
		@include no-list;
		background: none;
		
		li {
			@include no-list;
			text-align: center;
			background: none;
		}
		
		img {
			@include box-shadow(none !important);
		}
	}
	
	.gallery-image-caption {
	    line-height: 20px;
	    padding: 5px;
	    .linkorigin {
		font-size: 13px;
		line-height: 18px;
		color: $colorTextLight;
	     }
	}
}

/* Image Gallery: Carousel */
.image-gallery-carousel {
	position: relative;
	margin-bottom: 44px;
	
	ul.slides {
		@include no-list;
		background: none;
		padding-left: 40px;
		padding-right: 40px;
		li {
			@include no-list;
			cursor: pointer;
			opacity: 0.3;
			background: none;
			
			&:hover, &:focus, &.flex-active-slide {
				opacity: 1.0;
			}
		}
	}
	
	ul.flex-direction-nav {
		@include no-list;
		top: -32px;
		left: 0;
		right: 0;
		bottom: auto;
		
		li {
			@include no-list;
			background: none;
		}
		
	}
	
	.flex-prev {
		top: 60px;
		left: 0px;
		opacity: 0.1;
	}
	
	.flex-next {
		top: 60px;
		right: 0px;
		opacity: 0.1;
	}
	&:hover {
	    .flex-prev {
		opacity: 1;
	    }
	    .flex-next {
		opacity: 1;
	    }
	}
}

/* Image Gallery: Grid */
.image-gallery-grid {
	margin: 10px 0 20px 0;
	clear: both;
	
	ul {
		@include no-list;
		
		li {
			@include no-list;
			background: none;
			display: block;
			float: left;
			min-height: 130px;
			width: 150px;
			line-height: 125px;
			vertical-align: middle;
			text-align: center;
			border: 1px solid $colorStandardHellgrau;
			margin: 0 15px 15px 0;
			
			img {
				vertical-align: middle;
			}

			.gallery-image-caption {
				line-height: 20px;
			}
			
			.caption {
				line-height: 18px;
				font-size: 13px;
				padding: 5px;
			}
		}
		
		li.has-caption {
		//	min-height: 180px;
		}
	}
}

/* Tagcloud */
ul.tagcloud {
	@include no-list;
	
	li {
		@include no-list;
		font-size: 13px;
		line-height: 22px;
		padding-left: 20px;
		padding-bottom: 3px;
		background: url('../img/list-arrow-blue.png') no-repeat left 4px;
		
		a {
			text-decoration: none;
		}
		
		a:hover, a:focus {
			text-decoration: underline;
		}
	}
}

/* Logo Slider */
.logos-menu-nav {
	position: relative;
}

.logos-menu .logo-item {
	display: block;
	text-align: center;
	
	&:focus {
		outline: 1px solid $colorPrimary;
	}
	
	img {
		@include box-shadow(none);
	}
}

#logos-menu-prev {
	position: absolute;
	z-index: 10;
	top: 0;
	left: -40px;
	display: block;
	width: 40px;
	height: 110px;
	background: #fff url('../img/prev-next.png') no-repeat -32px center;
	text-indent: -9999em;
}

#logos-menu-next {
	position: absolute;
	z-index: 10;
	top: 0;
	right: -20px;
	display: block;
	width: 30px;
	height: 110px;
	background: #fff url('../img/prev-next.png') no-repeat left center;
	text-indent: -9999em;
}

#logos-menu-playpause {
	@include inline-block;
	background: url('../img/play-pause.png') no-repeat left -64px;
	height: 32px;
	line-height: 32px;
	padding-left: 32px;
}

#logos-menu-playpause.paused {
	background-position: left -96px;
}

#logos-menu-playpause .play {
	display: none;
}

#logos-menu-playpause.paused .pause {
	display: none;
}

#logos-menu-playpause.paused .play {
	display: inline;
}

/* Banner Ads */
.fau-werbung {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;

    > h3 {
	display: block;
	text-align: left;
	font-size: 13px;
	line-height: 18px;
	color: $colorPrimary;
	font-weight: normal;
	margin: 0;
	padding: 0 0 4px 0;
    }
}

.fau-werbung-right {
	margin: 0;
	width: 120px;
	height: 600px;
	position: absolute;
	top: 30px;
	right: -140px;
}

/* Sidebar: Inline */
.sidebar-inline {
	float: right;
	width: 220px;
	margin-left: 30px;
	padding-left: 18px;
	margin-bottom: 11px;
	border-left: 2px solid $colorLightest;
	
	.widget {
		margin-bottom: 22px;
		margin-top: 22px;
		
		
		li {
		    font-size: 13px;
		    line-height: 22px;		   
		}
		
	}
	
	.widget:last-child {
		margin-bottom: 0 !important;
	}
	
	.widget:first-child {
		margin-top: 0 !important;
	}
	
	.content-portal & {
		margin-top: 22px;
	}
	ul.person-info li {
	    color: $colorText;

	}
	
	li.person-info-address {
		white-space: pre;
	}
	.quicklinks {  
	    h2 {
		font-size: 18px;
		line-height: 22px;
		font-weight: bold;
		padding-bottom: 11px;
		padding-top: 0;
		 
		 &.second {
		    padding-top: 22px;
		} 
	    }
	}
	
	
}

/* Accordion */
.accordion {
	margin: 10px 0 20px 0;
	
	.accordion-group {
		border: none;
		margin-bottom: 5px;
		
		.accordion-heading {
    			overflow: hidden; 

			.accordion-toggle {
				border-left: 10px solid $colorPrimary;
				background: $colorContentBorders;
				color: $colorDefault; // $colorPrimary;
				@include border-radius(4px);
				text-decoration: none;
				font-size: 16px;
				padding: 8px 35px 8px 10px;
				position: relative;
				
				&:before {
					@extend .fa;
					@extend .fa-caret-down;
					position: absolute;
					top: 10px;
					right: 10px;
				}

				&:hover, &:focus {
					background-color: darken($colorLightest, 3%);
					text-decoration: none;
				}

				&.active, &.active:hover, &.active:focus {
					background-color: darken($colorLightest, 3%);
				//	background-position: right -41px;
					color: $colorLightestContrast; // $colorPrimary;
					
					&:before {
						@extend .fa-caret-up;
						top: 8px;
					}
				}
			}
		}
		
		.accordion-body {
			display: none;
			overflow: hidden;
			    
			.accordion-inner {
				@extend .clearfix;
				border: none;
				background: $colorContentRegions;
				padding: 15px 20px;
			}
		}
	}
	.philfak .accordion-heading .accordion-toggle,
	.gold .accordion-heading .accordion-toggle {
		border-color: $colorPhilFak;
	}
	.rwfak .accordion-heading .accordion-toggle,
	.red .accordion-heading .accordion-toggle {
		border-color: $colorRwFak;
	}
	.medfak .accordion-heading .accordion-toggle,
	.blue .accordion-heading .accordion-toggle {
		border-color: $colorMedFak;
	}
	.natfak .accordion-heading .accordion-toggle,
	.green .accordion-heading .accordion-toggle {
		border-color: $colorNatFak;
	}
	.techfak .accordion-heading .accordion-toggle,
	.grey .accordion-heading .accordion-toggle {
		border-color: $colorTechFak;
	}
	.fau .accordion-heading .accordion-toggle, 
	.default .accordion-heading .accordion-toggle {
		border-color: $colorDefault;
	}
	.content-person {
	    padding: 5px 0 10px 0;
	    border: none;
	}
	h1, h2, h3, h4, h5, h6 {
	    color: $colorText;
	}
}


.accordion .accordion .accordion-inner,
.accordion .accordion .accordion .accordion .accordion-inner,
.accordion .accordion .accordion .accordion .accordion .accordion .accordion-inner,
.accordion .accordion .accordion .accordion .accordion .accordion .accordion .accordion .accordion-inner {
	background: $colorContentRegions;
}

.accordion .accordion .accordion .accordion-inner,
.accordion .accordion .accordion .accordion .accordion .accordion-inner,
.accordion .accordion .accordion .accordion .accordion .accordion .accordion .accordion-inner,
.accordion .accordion .accordion .accordion .accordion .accordion .accordion .accordion .accordion .accordion-inner {
	background: $colorContentRegions;
}

.accordion .accordion .accordion-heading .accordion-toggle {
	border-left: 0;
}

/* Boxes like accordions for single glossar entries and other article-inserts/shortcodes */

.accordionbox {
    margin: 10px 0 20px 0;
    
    header {
	border-left: 10px solid $colorPrimary;
	background: $colorContentBorders;
	color: $colorDefault; // $colorPrimary;
	@include border-radius(4px);
	text-decoration: none;
	font-size: 16px;
	padding: 8px 35px 8px 10px;
	position: relative;
	
	h2 {
	    color: $colorDefault; // $colorPrimary;
	    padding: 0px;
	}
	&.philfak {
		border-color: $colorPhilFak;
	}

	&.rwfak {
		border-color: $colorRwFak;
	}

	&.medfak {
		border-color: $colorMedFak;
	}

	&.natfak {
		border-color: $colorNatFak;
	}

	&.techfak {
		border-color: $colorTechFak;
	}
	
	&.fau, &.default {
		border-color: $colorDefault;
	}
	
	
    }
    
     
    
    .body {
	border: none;
	background: $colorContentRegions;
	padding: 15px 20px;
    } 
}


/* Social Media Buttons */
.likebutton-dynamic, .tweetbutton-dynamic {
	float: left;
	margin-right: 20px;
	margin-top: 10px;
}



.nav-links {
	margin: 20px 0;
	
	span, a {
		display: inline-block;
		height: 24px;
		min-width: 14px;
		line-height: 24px;
		padding: 0 5px;
		text-align: center;
		margin-right: 4px;
		@include border-radius(14px);
	}
	
	.current {
		background: $colorPrimary;
		color: #fff;
	}
	
	.prev, 
	.next {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	a:hover, a:focus {
		background: $colorLight;
	}
}


/* Assistant */
.assistant-tab-pane {
	display: none;
}
.assistant-tab-pane-active {
	display: block;
}

ul.assistant-tabs-nav {
	@include no-list;
	margin: 0 -20px 15px -20px;
	padding: 0 20px 10px 20px;
	border-bottom: 1px solid $colorLight;
	
	li {
		@include no-list;
		background: none;
		display: inline;
		margin-right: 8px;
		padding-right: 12px;
		border-right: 1px solid $colorLight;
		
		a {
			text-decoration: none;
		}
		
		a:hover, a:focus {
			text-decoration: underline;
		}
		
		a.active {
			font-weight: bold;
		}
	}
	
	li:last-child {
		border: none;
	}
}


/* Studienangebot Database */
#studienangebot {
	border: none;
	margin: 0;
	padding: 0;
	
	select {
		max-width: 220px;
	}
	
	input[type="checkbox"] {
		margin-top: -4px;
	}
	
	label {
		font-size: 12px;
		line-height: 15px;
		padding-left: 3px;
	}
	
	p {
		line-height: 15px;
		margin-bottom: 0;
		padding-bottom: 5px;
		@include hyphens(none);
	}
	
	h4 {
		padding: 6px 0;
	}
	
	.submit-button {
		margin-top: 20px;
	}
}

#loading {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1000;
}

#loading-background {
	background: #000;
	opacity: 0.5;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1010;
}

#loading-spinner {
	background: transparent url('../img/ajax-loader.gif') no-repeat center center;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1020;
}

/* No Script Notice */
#no-script {
	background: $colorNotice;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	
	.notice {
		text-align: center;
		color: #fff;
		padding: 10px 20px;
	}
}

/* Lettered Pagination */
ul.letters {
	@include no-list;
	margin: 20px 0 10px 0;
	
	li {
		@include no-list;
		@include inline-block;
		background: none;
		margin-right: 2px;
		color: #ccc;
		
		a {
			@include inline-block;
		}
		
		a:hover, a:focus {
			text-decoration: underline;
		}
	}
}

/* File Lists */
ul.files {
	@include no-list;
	
	li {
		@include no-list;
		background: none;
		font-size: 13px;
		line-height: 18px;
	}
}

/* Login/Passwords Form */
.post-password-form {
	label {
		float: none;
		color: $colorPrimary;
	}
	
	input[type="password"] {
		width: 220px;
		margin-top: 5px;
	}
}

/* Organigram */
.organigram {
	@include no-list;
	margin: 20px 0;
	
	ul, li {
		@include no-list;
	}
	
	ul {
		margin-bottom: 20px;
		border-left: 2px solid $colorLightest;
		margin-left: 10px;
	}
	
	li {
		background: none;
		font-size: 19px;
		margin-bottom: 20px;
		margin-top: 5px;
		
		li {
			font-size: 15px;
			padding-left: 10px;
			margin-bottom: 0;
			
			li {
				font-size: 13px;
			}
		}
	}
	
	a {
		text-decoration: none;
	}
	
	a:hover, a:focus {
		text-decoration: underline;
	}
	

	
	.toggle-icon {
		@extend .fa;
		@extend .fa-plus-square;
		color: $colorPrimary;
		margin-right: 5px;
		cursor: pointer;
	}
	
	.active > .toggle-icon {
		@extend .fa-minus-square;
	}
	
}


/* "to top"-Link */

.top-link {
	position: fixed;
	bottom: 20px; 
	right: 20px;
	
	@extend .fa;
	@extend .fa-2x;
	@extend .fa-chevron-up;

	background: $colorPrimary;
	color: #fff;
	padding: 7px;
	@include border-radius(4px);
	
	&:hover, &:focus {
		color: #fff;
		background: $colorHover;
	}
	
	display: none;

}


/* social share links */
.social-share {
	@include no-list;
	margin: 20px 0;
	
	li {
		@include no-list;
		display: inline;
		margin-right: 3px;
		
		a {
			display: inline-block;
			padding: 2px 5px;
			text-decoration: none;
			@include border-radius(4px);
			
			&:hover, &:focus {
				text-decoration: none;
			}
			
			&:before {
				@extend .fa;
				@extend .fa-lg;
				margin-right: 5px;
			}
			
			&.btn-social-share-facebook {
				background: #3e59a5;
				color: #fff;
				border: 1px solid #3e59a5;
				
				&:before {
					@extend .fa-facebook-square;
				}
				
				&:hover, &:focus {
					border-color: #23376e;
					background: #344d92;
				}
			}
			
			&.btn-social-share-twitter {
				background: #ecf6f5;
				color: #03a5d5;
				border: 1px solid #c9dcda;
				
				&:before {
					@extend .fa-twitter;
				}
				
				&:hover, &:focus {
					border-color: #93c2d0;
					background: #e7f3f7;
				}
			}
		}
	}
}

/*
* WordPress required classes
*/
.sticky, 
.gallery-caption, 
.bypostauthor {
    font-size: 15px;
    line-height: 22px;
}