/*
Media Queries for Theme FAU-Einrichtungen
*/




@media (max-width: $breakLG) {

	#social iframe {
		width: 165px !important;
		height: 120px !important;
	}

	
	#logos-menu-prev {
		height: 80px;
	}
	#logos-menu-next {
		height: 80px;
	}

	.sidebar-inline {
		width: 240px;
	}

	#content ul.page-print-actions {
		top: 440px;
	}

	.image-gallery-slider .flex-viewport {
		max-height: 400px;
		overflow: hidden;
	}
	.subpages-menu {
		li.span3 {
		    width: 230px;
		}    

		
	    }

}

@media (max-width: $breakMD) {
	body {
		padding: 0;
	}

	
	h1, h2, h3, h4, h5, h6, p {
		margin-left: 15px;
		margin-right: 15px;
	}
	ul, ol {
		margin-left: 15px;
		margin-right: 15px;
	}
	ul.menu {
		margin-bottom: 10px;
	}

	
	div.table-wrapper {
		position: relative;
		margin-bottom: 20px;
		margin-left: 15px;
		margin-right: 15px;
		overflow: hidden;
		border-right: 1px solid #ccc;
		
	}
	div.table-wrapper div.scrollable {
		overflow-x: auto;
		overflow-y: hidden;
	}
	#content {
	    margin-left: 15px;
	    margin-right: 15px;
	    padding-bottom: 0px;
	    
	    ul.menu, 
	    ul.menu ul {
		margin-left: 0;
		margin-right: 0;
	    }

	   .image-gallery-grid ul li img {
		   margin: 0;
	   }
	  
	   
	    ul.page-print-actions {
		display: none;
	    }

	    .subpages-menu {
		li.span3 {
		    width: 230px;
		}    

		 a.image {
		    &.ext-link:after {
			display: none;
		    }
		}
	    }
	    .container {
			h1, h2, h3, h4, h5, h6, p {
			    margin-left: 0px;
			    margin-right: 0px;
			}
			.span12 {
			    margin-left: 0;
			}
	    }
	    
	    .news-item {	    
		.span3 {
		    width: 200px;  
		}
	    }
	    .news-image {
		text-align: center;
		float: none;
		background: none;
		@include box-shadow(none);
		margin-right: 10px;
	    }
	    
	    
	    
	    
	    form {
		border: none;
		padding: 0;
	    }
	}
	#social {
	    margin: 0 -15px;
	    padding: 20px 15px;
	}
	.post-image {
		margin: 0 !important;
		float: none !important;
	}

	table {
	    margin: 0;
	    td,  th {
		padding-left: 15px;
		padding-right: 15px;
	    }
	}



	.textwidget,
	.topevent-date,
	.topevent-description {
		margin-left: 15px;
		margin-right: 15px;
	}

	#content .widget_event_widget .event-info {
		margin-left: 60px;
	}


	
	.image-gallery-carousel .slides,
	.image-gallery-slider .slides {
	    margin: 0 !important;
	    padding: 0 !important;
	    li {
		    margin: 0;
		    padding: 0;
		    img {
			margin: 0 !important;
		    }
	    }
	}

	    
	.logos-menu-nav, 
	#logos-menu-playpause {
		display: none;
	}


	.hide-mobile {
	    display: none;
	}
	.hide-desktop {
	    display: block;
	}

	

	#subnav {
		ul {
			margin-left: 0;
			margin-right: 0;
		}
	}
	
	.accordion-group {
		margin-left: 15px;
		margin-right: 15px;
	}

	#footer {
	    .span3 {
		width: 48%;
		width: calc(50% - 10px);
		float: left;
		margin: 2px;
		
	    }
	    .span6 {
		width: 100%;
		margin: 0;
		float: none;
	    }
	    
	}

	#footer-nav {	    
	    text-align: left;
	    li {
		display: inline;
	    }
	}
	hr {
	    height: 40px;
	    margin: 10px 0 30px;
	}

	.logos-menu .span2 {
		float: left;
	}
	
	.span3 {
		width: 260px; 
		float: left;
		margin-left: 20px;
	    }
	         
	.span6 {
		width: #{$breakMD - 10}px;
		padding: 10px;
	    }
	.span12 {
		margin-left: 20px;
	}  
	.widget_faupersonwidget,
	.content-person {
	    border: none;
	    .span1 {
		margin-left: 20px;
	    }
	    .person,
	    .compactindex {
		.span1 {
		    width: 90px;
		    float: left;
		    margin-right: 10px;
		}
		.span3 {
		    width: calc(100% - 130px);
		}
		.span6 {
		    padding: 0;
		}
	    }	
	}
	.archive .person .span6 {
	   width: calc(100% - 10px);
	   
	   .person-info-description {
	       padding-top: 15px;
	   }
	}
	
	
}




@media (max-width: $breakSM) {
  
    .js-enabled {
	body.admin-bar #wpadminbar {
	    position: fixed;
	    top: 0;
	}

    }

    #content {
	padding-bottom: 0;
    }
    .image-gallery-slider .flex-viewport {
	    max-height: 200px;
	    overflow: hidden;
    }
    .page-template-page-start-sub  {
	&.js-enabled #hero {
	    .banner {
		top: 0;
		bottom: 0;
	    }
	}
    }
    
    
    .page-template-page-subnav {
	    #hero.hero-small h1 {
		    padding-left: 15px;
	       }
	    #content {
		margin-left: 15px;
		margin-right: 15px;

		.span4 {
		    padding-bottom: 10px;
		}
		.container {
		    h1, h2, h3, h4, h5, h6, p {
			margin-left: 0px;
			margin-right: 0px;
		    }

		    .sidebar-inline { 
		       width: 100%;   
		       border-left: none;
		       padding-left: 15px;
		       padding-right: 15px;
		   }

		   aside.widget:first-child {
		       border-top: 2px solid $colorStandardHellgrau;
		   }
		}
	    }
    }



    .page-template-page-start {
	.span3 {
	    width: 240px;  
	    float: left;
	    margin-left: 0px;
	}
	.news-item {	    
	    .span3 {
		width: 200px;  
	    }
	}
	#content .news-image {
	    text-align: center;
	    float: none;
	}
	.span6 {
	    width: #{$breakSM - 10}px;
	    padding: 10px;
	}
	
    } 

    hr {
	height: 40px;
	margin: 10px 0 30px;
    }
    #content .subpages-menu {
	.menu-item {
	    margin: 0 0 10px 0;
	}
	ul {
	    display: block;
	}
	li {
	    width: 100%;
	    margin: 0 0 10px 10px;
	    list-style: inside none circle;
	    float: none;
	    a.image {
		    width: 100%;
		    height: auto;
		    max-height: 110px;
		    text-align: center;
		    
		    &.ext-link:after {
			display: none;
		    }
	    }
	    h3 {
		padding-bottom: 0px; 
	    }
	    .span3 {
		float: none;
	    }
	    ul {
		margin-bottom: 10px;
		li {
		    display: inline-block;
		    width: 40%;
		    border: none;
		    float: left;
		}
	    }
	    
	}
    }    
    .alignleft, 
    .alignright,
    img.alignleft, 
    div.alignleft,
    img.alignright, 
    div.alignright {
	float: none;
	padding: 0;
	display: block;
	margin: 5px auto;
	max-width: $breakSM;
    }


    .wp-caption-text {
	padding: 0;
    }
    
    
    #footer {
	li {
	    line-height: 15px;
	}
	.span4,
	.span3 {
	    width: 48%;
	    width: calc(50% - 10px);
	    float: left;
	    margin: 2px;

	}
	.span5,
	.span6 {
	    width: 100%;
	    margin: 0;
	    float: none;
	}

    }
    #footer-nav {

	text-align: left;
	li {
	    display: inline;
	}
    }
    #social {
	margin: 0 -15px;
	padding: 20px 15px;
    }

    
}

@media (max-width: $breakXS) {

    hr,
    .imagelink_carousel {
	display: none;
    }
    .page-template-page-start .span3 {
	float: none;
    }
    #content {
	padding-top: 0px;
	.news-item {	    
		.span3,
		.span5 {
		    width: 100%;
		    float: none;
		}

	    .news-image {
		text-align: center;
		float: none;
		margin: 3px auto;

		img {
		    width: 100%;
		    height: auto;
		    margin: 0;
		}
	    }
	}	
    }
 
}

