/*
Media Queries for Theme FAU
*/


@media (max-width: $breakLG) {
	#logo {
		float: none;
	}
	#nav {
		margin: 10px 0 10px -10px;
	}

	#nav .nav-flyout {
		top: 184px;
	}
	.nav-fixed #nav .nav-flyout {
		top: 134px;
	}
	body.nav-fixed {
		padding-top: 135px;
	}

	body.admin-bar #nav .nav-flyout {
		top: 216px;
	}
	body.admin-bar.nav-fixed #nav .nav-flyout {
		top: 132px;
	}

	#meta .searchform input[type="text"] {
		width: 100px;
	}

	#social iframe {
		width: 165px !important;
		height: 120px !important;
	}

	#hero .hero-meta-portal {
		right: 15px;
	}

	#logos-menu-prev {
		height: 80px;
	}
	#logos-menu-next {
		height: 80px;
	}

	.sidebar-inline {
		width: 240px;
	}

	#content ul.page-print-actions {
		top: 440px;
	}

	.image-gallery-slider .flex-viewport {
		max-height: 400px;
		overflow: hidden;
	}

}

@media (max-width: $breakMD) {
	body {
		padding: 0;
	}

	.fau-werbung {
		display: none;
	}
	
	.logos-menu {
	//	display: none;
	}

	.hide-mobile {
		display: none;
	}
	.hide-desktop {
		display: block;
	}

	h1, h2, h3, h4, h5, h6, p {
		margin-left: 15px;
		margin-right: 15px;
	}
	ul, ol {
		margin-left: 15px;
		margin-right: 15px;
	}
	ul.menu {
		margin-bottom: 10px;
	}
	#content ul.menu, #content ul.menu ul {
		margin-left: 0;
		margin-right: 0;
	}

	.logged-in #nav-toggle {
		top: 85px;
	}

	div.table-wrapper {
		position: relative;
		margin-bottom: 20px;
		margin-left: 15px;
		margin-right: 15px;
		overflow: hidden;
		border-right: 1px solid #ccc;
/*	
    Für Mobile Devices so ungebenutzbar, daher auskommentiert

		&:after {
		    display: block;
		    content: ' ';
		    position: absolute;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    width: 30px;
		    z-index: 10;
		    border: none;
		    @include linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,1.0));
		}

		div.table-wrapper {
		    &:after {
			display: none;
		    }
		}   
*/		
	}
	div.table-wrapper div.scrollable {
		overflow: scroll;
		overflow-y: hidden;
	}
	#content {
		    margin-left: 15px;
		    margin-right: 15px;
	    img, 
	    .image-placeholder {
		   margin-left: 15px;
		   margin-right: 15px;
		   margin-bottom: 15px;
	   }
	    .image-placeholder {
		   img {
			   margin: 0;
		   }
	   }
	   .image-gallery-grid ul li img {
		   margin: 0;
	   }
	   p img {
		   margin: 0;
	   }
	   
	   ul.page-print-actions {
		display: none;
	    }

	    .subpages-menu .menu-item {
		    margin-bottom: 15px;
	    }
	     .subpages-menu .ext-link h3 {
		    display: block;
	    }
	     .subpages-menu .subpage-item img {
		    margin-bottom: 0;
		    margin-right: 0;
	    }
	    .subpages-menu a.subpage-item {
		    position: relative;
		    display: inline-block;
	    }
	    .container {
			h1, h2, h3, h4, h5, h6, p {
			    margin-left: 0px;
			    margin-right: 0px;
			}
	    }
	     .news-image {
		background: none;
		text-align: left;
		@include box-shadow(none);
		float: left;
		margin-right: 10px;
	    }
	    
	     .subpages-menu {
		margin: 0;
		li {
		    width: 260px; 
		    padding-left: 10px;
		    float: left;
		}
	    }
	    form {
		border: none;
		padding: 0;
	    }
	}
	.post-image {
		margin: 0 !important;
		float: none !important;
	}

	

	table td, table th {
		padding-left: 15px;
		padding-right: 15px;
	}

	.person-info,
	.textwidget,
	.topevent-date,
	.topevent-description {
		margin-left: 15px;
		margin-right: 15px;
	}

	#content .widget_event_widget .event-info {
		margin-left: 60px;
	}

	.logos-menu-nav, #logos-menu-playpause {
		display: none;
	}

	.hero-meta-portal {
		display: none;
	}

	#meta {
		padding-top: 0px;
		ul {
		    margin: 0;
		}
		.searchform input[type="text"] {
	    	width: 100px;
	    }
	}
	

	#logo {
		margin: 15px 15px 0 15px;
	//	width: 210px;
	    img {
		max-width: 100%;
	    }
	}

	#hero.hero-small {
		margin-top: 0 !important;
		h1 {
			padding-left: 15px;
		   }
	}

	#hero-slides {
		max-width: 100%;
		height: auto;
		min-height: 200px;
	    
	    .hero-slide img {
		height: 220px;
		width: 780px;
		left: 50%;
		margin-left: -390px;
	    }
	    .hero-slide-text {
		width: 100%;
		bottom: 15px;
	    }
	    .hero-slide {	
		p {
		    display: none;
		}
		h2 {
		    display: inline-block; *display:inline; *zoom: 1;
		}
	    }	
	}


	.breadcrumbs {
		padding-left: 15px;
		padding-right: 15px;
	}

	.flex-direction-nav, .flex-pauseplay {
		display: none;
	}

	.image-gallery-slider .slides {
		margin: 0 !important;
		padding: 0 !important;
	}
	.image-gallery-slider .slides li {
		margin: 0;
		padding: 0;
	}
	.image-gallery-slider .slides li img {
		margin: 0 !important;
	}

	.image-gallery-carousel .slides {
		margin: 0 !important;
		padding: 0 !important;
	}
	.image-gallery-carousel .slides li {
		margin: 0;
		padding: 0;
	}
	.image-gallery-carousel .slides li img {
		margin: 0;
	}


	#header {
		padding-bottom: 15px;
		position: relative;
		z-index: 200;
		background: #fff;
		top: 0;
		left: 0;
		right: 0;
	}


	#nav {
		margin: 10px 0 0 0;
	}
	body {
		padding: 0px;
	}
	#nav.toggled {
		display: block;
	}
	#nav li.level1 {
		display: block;
		float: none;
		margin: 0;
		border-bottom: 1px solid #ccc;
	}
	#nav li.level1 a {
		display: block;
		float: none;
		@include border-radius(0);
		padding: 10px 15px !important;
		margin-bottom: 0;
	}
	#nav li.level2 {
		background-position: left 6px;
	}

	#nav .nav-flyout {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		padding: 10px 0;
	}
	body.admin-bar #nav .nav-flyout {
		top: 0;
	}

	#subnav {
		ul {
			margin-left: 0;
			margin-right: 0;
		}
	}
	
	.accordion-group {
		margin-left: 15px;
		margin-right: 15px;
	}

	#footer-nav li {
		display: block;
	}

	img.alignleft, img.alignright {
		float: none;
		margin: 0;
	}

	.logos-menu .span2 {
		float: left;
	}
	
	 .span3 {
		width: 260px; 
		float: left;
		margin-left: 20px;
	    }
	 .span6 {
		width: #{$breakMD - 10}px;
		padding: 10px;
	    }
}

@media (min-width: 768px) and (min-height: 700px) and (max-height: 900px) {
	#hero .hero-jumplink-content {
		display: block;
	}
}


@media (max-width: $breakSM) {
	.image-gallery-slider .flex-viewport {
		max-height: 200px;
		overflow: hidden;
	}
	.page-template-page-subnav {
		#hero.hero-small h1 {
			padding-left: 15px;
		   }
		#content {
		    margin-left: 15px;
		    margin-right: 15px;
		   
		    .span4 {
			padding-bottom: 10px;
			border-bottom: 2px solid $colorStandardHellgrau;
		    }
		    .container {
			h1, h2, h3, h4, h5, h6, p {
			    margin-left: 0px;
			    margin-right: 0px;
			}
		  
			.sidebar-inline { 
			   width: 100%;   
			   border-left: none;
			   padding-left: 15px;
			   padding-right: 15px;
		       }

		       aside.widget:first-child {
			   border-top: 2px solid $colorStandardHellgrau;
		       }
		    }
		}
	}
	.page-template-page-start {
	    .span3 {
		width: #{($breakSM/2) - 20}px; 
		float: left;
		margin-left: 20px;
	    }
	    .span6 {
		width: #{$breakSM - 10}px;
		padding: 10px;
	    }
	    #hero {
		#hero-slides {
		    max-height: 130px;
		    min-height: auto;
		    height: inherit;
		    margin: 0;
		    top: 0;
		    
		    .hero-slide {
			margin: 0;
			padding: 0;
			height: 130px;
		    }
		    .hero-slide img {
		       height: auto;
		       width: $breakSM;
		       max-height: 130px;
		       overflow: hidden;
		       left: 0;
		       margin: 0;
		       max-width: $breakSM;
		    }
		    .hero-slide-text {
			bottom: 50px;
			h2 {
			    padding: 5px 10px;
			}
			p {
			 display: none;
			}
		    }
		}
	    }
	}
	hr {
	    height: 40px;
	    margin: 0px 0 40px;
	}
	#content .subpages-menu {
	    .menu-item {
		margin: 0;
	    }
	    ul {
		display: block;
	    }
	    li {
		
		width: #{$breakSM - 10}px;
		margin-left: 10px;
		list-style: inside none circle;
		float: none;
		a {
		    h3 {
			padding: 0 15px 0 0;
			text-decoration: underline;
			font-weight: normal;
			
			&.ext-link {
			    background: url("../img/ext-icon-19-white.png") no-repeat scroll 110% 0 $colorStandardHellgrau;
		      }
		    }
		   
		    img {
			display: none;
		    }
		    .ext-icon {
			display: none;
			
		    }
		}
		.span3 {
		    float: none;
		}
	    }
	}    

}

@media (min-height: 900px) {
	#wrap { min-height: 770px;}
}

@media (min-height: 1000px) {
	#wrap { min-height: 870px;}
}

@media (min-height: 1100px) {
	#wrap { min-height: 970px;}
}

@media (min-height: 1200px) {
	#wrap { min-height: 1070px;}
}