/*
Media Queries for Theme FAU-Einrichtungen
*/


@media (min-width: $breakLG) {
    #logo {
	    float: left;
    }
    #nav {
	    margin: 50px 0 10px -10px;
    }
	

    .js-enabled {
	    
	    &.nav-fixed #nav .nav-flyout,
	    #nav .nav-flyout  {
		top: 85px;
	    }

	 
	#meta {
	    position: fixed;
	    top: 0;
	    height: 42px;
	    left: 0;
	    right: 0;
	    z-index: 200;
	}
	&.admin-bar #meta {
	    top: 32px;
	}
	#header {
	    position: fixed;
	    top: 42px;
	    left: 0;
	    right: 0;
	    background: #fff;
	    z-index: 100;
	}
	&.nav-scrolled #header {
		 @include box-shadow(0 1px 3px rgba(0,0,0,0.3));	
	}
	&.admin-bar #header {
		top: 74px;
	}
	#hero {
	    margin-top: 159px;
	    transition: none;
	}
	#hero-slides {
	    top: -20px;
	}
    }	
  
}	


@media (max-width: $breakLG) {
        .js-enabled {

	    #logo {
		    float: none;
	    }
	    #nav {
		    margin: 10px 0 10px -10px;
	    }
	    
	    #nav .nav-flyout {
		    top: 129px;
	    }
	   

	    #header {
		position: fixed;
		top: 42px;
		left: 0;
		right: 0;
		background: #fff;
		z-index: 100;
	    }
	    &.nav-scrolled #header {
		 @include box-shadow(0 1px 3px rgba(0,0,0,0.3));	
	    }
	    &.admin-bar #header {
		    top: 74px;
	    }
	    #hero {
		margin-top: 191px; // 171px;
		transition: none;
	    }
	    &.admin-bar #hero {
		margin-top:  191px; // 171px;
	    }
	}
	
	#meta {
		position: fixed;
		top: 0;
		height: 42px;
		left: 0;
		right: 0;
		z-index: 200;
	    }
	.admin-bar #meta {
		top: 32px;
	}
	
	.no-js {
	     #header {
		position: fixed;
		top: 42px;
		// height: 97px;
		left: 0;
		right: 0;
		background: #fff;
		z-index: 100;
	    }
	    #hero {
		margin-top: 171px;
		transition: none;
	    }

	}
	
	#meta .searchform input[type="text"] {
		width: 100px;
	}

	#social iframe {
		width: 165px !important;
		height: 120px !important;
	}

	#hero .hero-meta-portal {
		right: 15px;
		
	}
	#hero-slides {
	    top: -20px;
	}
	#logos-menu-prev {
		height: 80px;
	}
	#logos-menu-next {
		height: 80px;
	}

	.sidebar-inline {
		width: 240px;
	}

	#content ul.page-print-actions {
		top: 440px;
	}

	.image-gallery-slider .flex-viewport {
		max-height: 400px;
		overflow: hidden;
	}

}

@media (max-width: $breakMD) {
	body {
		padding: 0;
	}

	#logo {
	     text-align: left;
	}
	#logo h1 {
	    padding: 0 60px 0 0;
	}
	

	
	h1, h2, h3, h4, h5, h6, p {
		margin-left: 15px;
		margin-right: 15px;
	}
	ul, ol {
		margin-left: 15px;
		margin-right: 15px;
	}
	ul.menu {
		margin-bottom: 10px;
	}
	#content ul.menu, 
	#content ul.menu ul {
		margin-left: 0;
		margin-right: 0;
	}

	
	div.table-wrapper {
		position: relative;
		margin-bottom: 20px;
		margin-left: 15px;
		margin-right: 15px;
		overflow: hidden;
		border-right: 1px solid #ccc;
		
	}
	div.table-wrapper div.scrollable {
	//	overflow: scroll;
		overflow-x: auto;
		overflow-y: hidden;
	}
	#content {
	    margin-left: 15px;
	    margin-right: 15px;
	    padding-bottom: 0px;
	    
	   .image-gallery-grid ul li img {
		   margin: 0;
	   }
	  
	   
	    ul.page-print-actions {
		display: none;
	    }

	    .subpages-menu .menu-item {
		    margin-bottom: 15px;
	    }
	     .subpages-menu .ext-link h3 {
		    display: block;
	    }
	     .subpages-menu .subpage-item img {
		    margin-bottom: 0;
		    margin-right: 0;
	    }
	    .subpages-menu a.subpage-item {
		    position: relative;
		    display: inline-block;
	    }
	    .container {
			h1, h2, h3, h4, h5, h6, p {
			    margin-left: 0px;
			    margin-right: 0px;
			}
	    }
	    .news-image {
		background: none;
		text-align: left;
		@include box-shadow(none);
		float: left;
		margin-right: 10px;
	    }
	    
	    .subpages-menu {
		margin: 0;
		li {
		    width: 260px; 
		    padding-left: 10px;
		    float: left;
		}
	    }
	    form {
		border: none;
		padding: 0;
	    }
	}
	#social {
	    margin: 0 -15px;
	    padding: 20px 15px;
	}
	.post-image {
		margin: 0 !important;
		float: none !important;
	}

	table {
	    margin: 0;
	    td,  th {
		padding-left: 15px;
		padding-right: 15px;
	    }
	}


	.person-info,
	.textwidget,
	.topevent-date,
	.topevent-description {
		margin-left: 15px;
		margin-right: 15px;
	}

	#content .widget_event_widget .event-info {
		margin-left: 60px;
	}


	.hero-meta-portal {
		display: none;
	}

	.image-gallery-slider .slides {
		margin: 0 !important;
		padding: 0 !important;
	}
	.image-gallery-slider .slides li {
		margin: 0;
		padding: 0;
	}
	.image-gallery-slider .slides li img {
		margin: 0 !important;
	}

	.image-gallery-carousel .slides {
		margin: 0 !important;
		padding: 0 !important;
	}
	.image-gallery-carousel .slides li {
		margin: 0;
		padding: 0;
	}
	.image-gallery-carousel .slides li img {
		margin: 0;
	}

	.js-enabled {
	    
	    .logos-menu-nav, 
	    #logos-menu-playpause {
		    display: none;
	    }
	    #hero {
		margin-top: 0;
		padding-top: 110px;
		transition: none;
	    }
	    .hero-meta-portal {
		    display: none;
	    }
	    #hero.hero-small {
		    margin-top: 0;
		    h1 {
			    padding-left: 15px;
		       }
	    }
	   
	    #hero-slides {
		max-width: 100%;
		height: auto;
		min-height: 200px;
		top: 0;
		
		.hero-slide img {
		    height: 220px;
		    width: 780px;
		    left: 50%;
		    margin-left: -390px;
		}
		.hero-slide-text {
		    width: 100%;
		    bottom: 15px;
		    margin-left: 15px;
		}
		.hero-slide {	
		    p {
			display: none;
		    }
		    h2 {
			display: inline-block; *display:inline; *zoom: 1;
		    }
		}	
	    }

	    
	    
	    .hide-mobile {
		display: none;
		}
	    .hide-desktop {
		display: block;
		}

	   
	    #logo {
		margin: 0 15px;
		max-height: 50px;
		img {
		    max-width: 100%;
		    max-height: 50px;
		    margin-top: 10px;
		}
	    }
	
		
	    #header {
		    padding: 0;
		    // position: relative;
		    z-index: 100;
		    background: #fff;
		    top: 0;
		    left: 0;
		    right: 0;
		    height: 70px;
	    }
	  
	    &.admin-bar #hero {
		margin-top: 0px;
		
		.banner-text {
		    top: 40px;
		}
		    
	    }
	    body #header {
		position: fixed;
		top: 0;
	    }
	     #nav-toggle {
		 top: 30px;
	    }
	    &.admin-bar #wpadminbar {
		position: fixed;
		top: 0;
	    }
	    &.admin-bar.nav-fixed #header,
	    &.admin-bar #header {
		position: fixed;
		top: 46px;
	    }
	     
	    #meta {	
		padding-top: 70px;	    
		ul {
		    margin: 0;
		}
		.searchform input[type="text"] {
		    width: 100px;
		}
	    }
	    &.admin-bar #meta {
		padding-top: 40px;
		
	    }
	    #meta-nav {
		display: none;
	    }
	    #nav {
		    margin: 10px 0 0 0;
		    display: none;
	    }
	   
	    #nav.toggled {
		    display: block;
	    }
	    #nav li.level1 {
		    display: block;
		    float: none;
		    margin: 0;
		    border-bottom: 1px solid #ccc;
	    }
	    #nav li.level1 a {
		    display: block;
		    float: none;
		    @include border-radius(0);
		    padding: 10px 15px !important;
		    margin-bottom: 0;
	    }
	    #nav li.level2 {
		    background-position: left 6px;
	    }

	    #nav .nav-flyout {
		    position: relative;
		    top: 0;
		    left: 0;
		    right: 0;
		    padding: 10px 0;
	    }
	    body.admin-bar #nav .nav-flyout {
		    top: 0;
	    }
	}
	.no-js {
	    .hide-mobile {
		display: none;
	    }
	    #header #nav {
		    margin: 50px 0 10px -10px;

	    }
	    &.admin-bar #nav .nav-flyout {
		    margin-top: -3px;
	    }
	   
	    
	    #header {
		position: fixed;
		top: 42px;
		left: 0;
		right: 0;
		background: #fff;
		z-index: 100;
		
		// @include box-shadow(0 1px 3px rgba(0,0,0,0.3));	
	    }
	    &.admin-bar #header {
		    top: 42px;
	    }
	    #hero {
		margin-top: 139px;
		transition: none;
	    }
	    &.admin-bar #hero {
		margin-top: 171px;
	    }
	}
	#hero {
	.searchform {
	    margin: 0 auto;
	    padding: 10px;
	    
	    input[type="text"] {
		width: 150px;
		margin: 0 10px;
		float: none;
		display: inline-block;
	    }
	    .filter {
		margin-top: 5px;
	    }
	}
	
    }
	#subnav {
		ul {
			margin-left: 0;
			margin-right: 0;
		}
	}
	
	.accordion-group {
		margin-left: 15px;
		margin-right: 15px;
	}

	#footer {
	    .span3 {
		width: 48%;
		width: calc(50% - 10px);
		float: left;
		margin: 2px;
		
	    }
	    .span6 {
		width: 100%;
		margin: 0;
		float: none;
	    }
	    
	}

	#footer-nav {	    
	    text-align: left;
	    li {
		display: inline;
	    }
	}
	hr {
	    height: 40px;
	    margin: 10px 0 30px;
	}

	.logos-menu .span2 {
		float: left;
	}
	
	.span3 {
		width: 260px; 
		float: left;
		margin-left: 20px;
	    }
	.span6 {
		width: #{$breakMD - 10}px;
		padding: 10px;
	    }
	.span12 {
		margin-left: 20px;
	}    
	.content-person {
	    
	    .span1 {
		margin-left: 20px;
	    }
	    
	    .compactindex {
		.span1 {
		    width: 90px;
		    float: left;
		    margin-right: 10px;
		}
		.span3 {
		    width: calc(100% - 130px);
		}
	    }	
	}
	
}

@media (min-width: 768px) and (min-height: 700px) and (max-height: 900px) {
	#hero .hero-jumplink-content {
		display: block;
	}
}


@media (max-width: $breakSM) {
    #hero .infobar p.description {
	display: none;
    }
    .js-enabled {
    	body #header {
	    position: fixed;
	    top: 0;
	}
	body.admin-bar #wpadminbar {
	    position: fixed;
	    top: 0;
	}
	body.admin-bar.nav-fixed #header,
	body.admin-bar #header {
	    position: fixed;
	    top: 46px;
	}
	&.admin-bar #hero .banner-text {
	    top: 0;
	}

	
    }
    .no-js {
	#hero, .hide-mobile  {
	    display: none;
	    top: 0;
	    position: relative;
	}
	#header, #logo, #meta, #nav, #nav .nav-flyout {
	    display: block;
	    position: relative;
	    float: none;
	    width: 100%;
	    top: inherit;
	    margin: 5px 0px;
	    padding: 3px;
	}
	#nav li.level1:hover,
	#nav .nav-flyout, 
	#nav .nav-flyout:hover {
	    background: none !important;
	    box-shadow: none;
	    margin: 0;
	    
	}
	  
	#nav li {
	    float: none;
	    display: block;
	    margin: 0;
	    padding: 0;
	    a {
		float: none;
		padding: 0;
		:hover {
		    text-decoration: underline;
		    background: none;
		}
	    }
	    .nav-flyout a.button-portal {
		color: #fff;
		text-align: center;
		margin: 0 10px;
	    }
	}

    }
    #content {
	padding-bottom: 0;
    }
    .image-gallery-slider .flex-viewport {
	    max-height: 200px;
	    overflow: hidden;
    }
    .page-template-page-start-sub  {
	&.js-enabled #hero {
	    .banner {
		top: 0;
		bottom: 0;
	    }
	}
    }
    
    
    .page-template-page-subnav {
	    #hero.hero-small h1 {
		    padding-left: 15px;
	       }
	    #content {
		margin-left: 15px;
		margin-right: 15px;

		.span4 {
		    padding-bottom: 10px;
		    border-bottom: 2px solid $colorStandardHellgrau;
		}
		.container {
		    h1, h2, h3, h4, h5, h6, p {
			margin-left: 0px;
			margin-right: 0px;
		    }

		    .sidebar-inline { 
		       width: 100%;   
		       border-left: none;
		       padding-left: 15px;
		       padding-right: 15px;
		   }

		   aside.widget:first-child {
		       border-top: 2px solid $colorStandardHellgrau;
		   }
		}
	    }
    }



    .page-template-page-start {
	.span3 {
	    width: 240px;  
	    float: left;
	    margin-left: 0px;
	}
	.span6 {
	    width: #{$breakSM - 10}px;
	    padding: 10px;
	}
	#hero {
	    #hero-slides {
		max-height: 130px;
		min-height: auto;
		height: inherit;
		margin: 0;
		top: 0;

		.hero-slide {
		    margin: 0;
		    padding: 0;
		    height: 130px;
		}
		.hero-slide img {
		   height: auto;
		   width: $breakSM;
		   max-height: 130px;
		   overflow: hidden;
		   left: 0;
		   margin: 0;
		   max-width: $breakSM;
		}
		.hero-slide-text {
		    bottom: 50px;
		    h2 {
			padding: 5px 10px;
		    }
		    p {
		     display: none;
		    }
		}
	    }
	}
    } 

    hr {
	height: 40px;
	margin: 10px 0 30px;
    }
    #content .subpages-menu {
	.menu-item {
	    margin: 0;
	}
	ul {
	    display: block;
	}
	li {

	    width: #{$breakSM - 10}px;
	    margin-left: 10px;
	    list-style: inside none circle;
	    float: none;

	    a {
		h3 {
		    padding: 0 15px 0 0;
		    text-decoration: underline;
		    font-weight: normal;

		    &.ext-link {
			background: url("../img/ext-icon-19-white.png") no-repeat scroll 110% 0 $colorStandardHellgrau;
		  }
		}

		img {
		    display: none;
		}
		.ext-icon {
		    display: none;

		}
	    }
	    .span3 {
		float: none;
	    }
	}
    }    
    .alignleft, 
    .alignright,
    img.alignleft, 
    div.alignleft,
    img.alignright, 
    div.alignright {
	float: none;
	padding: 0;
	display: block;
	margin: 5px auto;
	max-width: $breakSM;
    }


    .wp-caption-text {
	padding: 0;
    }
    #hero {
	.searchform {
	    margin: 0 auto;
	    padding: 10px;
	    
	    input[type="text"] {
		width: 50%;
		margin: 0 10px;
	    }
	    .filter {
		margin-top: 5px;
	    }
	}
	
    }
    
    #footer {
	li {
	    line-height: 15px;
	}
	.span3 {
	    width: 48%;
	    width: calc(50% - 10px);
	    float: left;
	    margin: 2px;

	}
	.span6 {
	    width: 100%;
	    margin: 0;
	    float: none;
	}

    }
    #footer-nav {

	text-align: left;
	li {
	    display: inline;
	}
    }
    #social {
	margin: 0 -15px;
	padding: 20px 15px;
    }
    /*
    .hero-meta-portal,
    .flex-direction-nav, .flex-pauseplay {
	    display: none;
    }
    */
    
}

@media (min-height: 900px) {
	#wrap { min-height: 670px;}
}

@media (min-height: 1000px) {
	#wrap { min-height: 770px;}
}

@media (min-height: 1100px) {
	#wrap { min-height: 870px;}
}

@media (min-height: 1200px) {
	#wrap { min-height: 970px;}
}