/*
Anpassungen der gestaltung an verschiedene Plugins
*/


.shariff {	
	li {
		@include no-list;
		margin-right: 14px;
	}
}


/* Social Media Buttons */
.likebutton-dynamic, .tweetbutton-dynamic {
	float: left;
	margin-right: 20px;
	margin-top: 10px;
}
