.flex-direction-nav {
	@include no-list;
	position: absolute;
	z-index: 20;
	bottom: 62px;
	right: 30px; *bottom: 30px;
	
	li {
		@include no-list;
		background: none;
	}
	
	* {
		outline: none !important;
	}
}

.flex-pauseplay {
	position: absolute;
	z-index: 21;
	bottom: 62px;
	right: 30px;
}

.flex-direction-nav, .flex-pauseplay {
	a {
		display: block;
		background-color: #fff;
		background-color: rgba(255,255,255,0.5);
		background-image: url('../img/play-pause.png');
		background-repeat: no-repeat;
		height: 32px;
		width: 32px;
		text-indent: -9999em;
	}
	
	a:hover, a:focus {
		background-color: rgba(255,255,255,1.0);
	}
}

.flex-prev {
	position: absolute;
	top: 10px;
	right: 68px;
}

.flex-next {
	position: absolute;
	top: 10px;
	right: 0;
}

.flex-pauseplay a {
	position: absolute;
	top: 0;
	right: 34px;
	cursor: pointer;
}

.flex-pause {
	background-position: center -64px;
}

.flex-play {
	background-position: center -96px;
}

.flex-prev {
	background-position: center -32px;
}

.flex-control-paging {
	display: none;
}
