/*-----------------------------------------------------------------------------------*/
/* CSS Custom Properties
/*-----------------------------------------------------------------------------------*/

:root {
    @each $farbtyp, $map in $colormaps {	    
	@each $variante, $colorcode in $map {
	   --color-#{$farbtyp}-#{$variante}: #{$colorcode};
       }
    }
    
     @each $variante, $colorcode  in $colormap-misc {	    
	 --color-#{$variante}: #{$colorcode};
     }
     /* Calculated Values */
     --color-primary-basis-lighten15: #{$colorPrimaryHeroLight}; // lighten primary basis by 15%
     --color-MetaHomeBackground: #{$colorMetaFAUHomeBackground}; // lighten primary basis by 15%
     --color-MetaHover: #{$colorMetaHover};
     --color-MetaText: #fff;
     --color-MetaBackgroundLight: #{$colorMetaLightest};
}

