/*-----------------------------------------------------------------------------------*/
/* Resets styles to base
/*-----------------------------------------------------------------------------------*/
// Reset the box-sizing
*,
*::before,
*::after {
	box-sizing: border-box;
}


/* Resets to special elements */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
}
[hidden],
template {
  display: none;
}


sub,
sup {
	position: relative;
	font-size: 0.75rem;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}


small {
	font-size: 0.85rem;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

q:before,
q:after {
	content: "";
}

/* Scroll behavior */
@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
	scroll-behavior: smooth;
	scroll-padding-top: 3rem;
    }
}
