//-----------------------------------------------------------------------------------*/
// Konstanten fuer das Design
//-----------------------------------------------------------------------------------*/
@use "sass:math";

$farbfamilie: 'zuv';
// med, phil, nat, rw, tf, zuv



// Define colors
$colormap-misc: ("Text": #444, 
		 "TextLight": #797676, 
		 "MetaTextDefault": #444,
		 "Notice": #a71c18, 
		 "Alert": #c5ac94,
		 "ZUV": #04316A, // #003366, 
		 "Default": #04316A, // #003366, 
		 "MainBackground":  #fff, 
		 "StandardHellgrau": #e9edf2,	// desaturate(lighten($colorZUV, 73%), 75%);
		 "ContentBorders": #dfe6ec,	// desaturate(lighten($colorZUV, 69%), 75%);
		 "ContentRegions": #f5f7f9,        // FAU: lighten($colorZUV, 4%);
		 "white":   #fff,
		 "black":   #000,
		 "PrintMain": #000,
		 "KontrastHell":    #fff,
		 "KontrastDunkel":  #333
		 );

 
// $colormap-zentral: ("basis": #003366, "heller": #8fb1ef, "hellste": #dde5f0, "dunkler": #24598f, "dunkelste": #1f4b7a, "basis-kontrast": #fff);
// alt, 2015


// Neuer Entwurf 28.10.
$colormap-zentral: ("basis": #04316A, "basis-kontrast": #fff,"heller": #8fb1ef, "hellste": #dde5f0, "dunkler": #004A9F, "dunkler-kontrast": #fff, "dunkelste": #041E42, "dunkelste-kontrast": #fff, "ci-hell": #04316A, "ci-hell-kontrast": #fff, "ci-hell2": #CED9E7, "ci-hell2-kontrast": #000);
$colormap-phil: ("basis": #963B2F, "basis-kontrast": #fff,"heller": #d9c689, "hellste": #f3eedf, "dunkler": #E46D41, "dunkler-kontrast": #000, "dunkelste": #963B2F, "dunkelste-kontrast": #fff,  "ci-hell": #FDB735, "ci-hell-kontrast": #000, "ci-hell2": #F4E8CB, "ci-hell2-kontrast": #000);
$colormap-med: ("basis": #005287,"basis-kontrast": #fff, "heller": #bfd6f5, "hellste": #eaf3fc, "dunkler": #005287, "dunkler-kontrast": #fff, "dunkelste": #003E61, "dunkelste-kontrast": #fff,  "ci-hell": #18B4F1, "ci-hell-kontrast": #000, "ci-hell2": #B9D9EC, "ci-hell2-kontrast": #000);
$colormap-nat: ("basis": #266141, "basis-kontrast": #fff,"heller": #aacfbd, "hellste": #e5efea, "dunkler": #266141, "dunkler-kontrast": #fff, "dunkelste": #14462D, "dunkelste-kontrast": #fff,  "ci-hell": #7BB725, "ci-hell-kontrast": #000, "ci-hell2": #CFE0D8, "ci-hell2-kontrast": #000);
$colormap-rw: ("basis": #971B2F, "basis-kontrast": #fff,"heller": #c5ac94, "hellste": #F2DED1, "dunkler": #971B2F, "dunkler-kontrast": #fff, "dunkelste": #662938, "dunkelste-kontrast": #fff,  "ci-hell": #C50F3C, "ci-hell-kontrast": #fff, "ci-hell2": #F2DED1, "ci-hell2-kontrast": #000);
$colormap-tf: ("basis": #2F586E, "basis-kontrast": #fff,"heller": #d2d5d7, "hellste": #ebecee, "dunkler": #2F586E, "dunkler-kontrast": #fff, "dunkelste": #204251, "dunkelste-kontrast": #fff,  "ci-hell": #8C9FB1, "ci-hell-kontrast": #000, "ci-hell2": #D3DDE6, "ci-hell2-kontrast": #000);



$colormap-primary: $colormap-zentral;


@if $farbfamilie == 'med' {
	$colormap-primary: $colormap-med;
} @else if $farbfamilie == 'phil' {
	$colormap-primary: $colormap-phil;
} @else if $farbfamilie == 'nat' {
	$colormap-primary: $colormap-nat;
} @else if $farbfamilie == 'rw' {
	$colormap-primary: $colormap-rw;
} @else if $farbfamilie == 'tf' {
	$colormap-primary: $colormap-tf;
} @else if $farbfamilie == 'zuv' {
	$colormap-primary: $colormap-zentral;
}

$colorPrimary:		map-get($colormap-primary, "basis");
$colorPrimaryContrast:  map-get($colormap-primary, "basis-kontrast");
$PalettonDunkler:	map-get($colormap-primary, "dunkler");
$PalettonDunkelste:	map-get($colormap-primary, "dunkelste");

$colormaps: ("primary": $colormap-primary, "zentral": $colormap-zentral, "phil": $colormap-phil, "med": $colormap-med, "nat": $colormap-nat, "rw": $colormap-rw, "tf": $colormap-tf);

// Content
$color-content-headlines:   map-get($colormap-misc, "Text");
$color-links:		    map-get($colormap-misc, "Text");
$color-content-links:	    map-get($colormap-misc, "Text");
$color-content-links-underline:	    map-get($colormap-primary, "ci-hell");
$color-content-links-hover: map-get($colormap-primary, "ci-hell-kontrast");


// Footer
$color-footer-bg:	map-get($colormap-primary, "ci-hell");
$color-footer-text:	map-get($colormap-primary, "ci-hell-kontrast");

// Hero
$color-hero-bg:		map-get($colormap-primary, "ci-hell");
$color-hero-text:	map-get($colormap-primary, "ci-hell-kontrast");



// Main Menu
$color-mainmenu-toplevel-bg:	    map-get($colormap-misc, "MainBackground");
$color-mainmenu-toplevel-text:	    map-get($colormap-misc, "Text");
$color-mainmenu-toplevel-hover-text:	map-get($colormap-primary, "ci-hell-kontrast");
$color-mainmenu-toplevel-hover-bg:	map-get($colormap-primary, "ci-hell");
$color-mainmenu-sublevel-bg:	    map-get($colormap-primary, "ci-hell");
$color-mainmenu-sublevel-text:	    map-get($colormap-primary, "ci-hell-kontrast");
$color-mainmenu-sublevel-hover-text:	map-get($colormap-primary, "dunkler-kontrast");
$color-mainmenu-sublevel-hover-bg:	map-get($colormap-primary, "dunkler");
$color-mainmenu-sublevel-button-text:	map-get($colormap-primary, "dunkler-kontrast");
$color-mainmenu-sublevel-button-bg:	map-get($colormap-primary, "dunkler");
$color-mainmenu-sublevel-button-hover-text:	map-get($colormap-primary, "dunkelste-kontrast");
$color-mainmenu-sublevel-button-hover-bg:	map-get($colormap-primary, "dunkelste");

// Submenu (= Subnav links)
$color-submenu-toplevel-bg:	    map-get($colormap-misc, "MainBackground");
$color-submenu-toplevel-text:	    map-get($colormap-misc, "Text");
$color-submenu-toplevel-hover-text:	map-get($colormap-primary, "ci-hell-kontrast");
$color-submenu-toplevel-hover-bg:	map-get($colormap-primary, "ci-hell");
$color-submenu-active-bg:	    map-get($colormap-primary, "ci-hell");
$color-submenu-active-text:	    map-get($colormap-primary, "ci-hell-kontrast");
$color-submenu-hover-text:	map-get($colormap-primary, "dunkler-kontrast");
$color-submenu-hover-bg:	map-get($colormap-primary, "dunkler");
$color-submenu-currentlevel-text:	map-get($colormap-primary, "ci-hell2-kontrast");
$color-submenu-currentlevel-bg:	    map-get($colormap-primary, "ci-hell2");
$color-submenu-sublevel-text:	map-get($colormap-primary, "ci-hell-kontrast");
$color-submenu-sublevel-bg:	    map-get($colormap-primary, "ci-hell");

$color-submenu-currentpage-bg:	map-get($colormap-primary, "dunkelste");
$color-submenu-currentpage-text:map-get($colormap-primary, "dunkelste-kontrast");

$color-menulink-hover-text:	map-get($colormap-primary, "dunkler-kontrast");
$color-menulink-hover-bg:	map-get($colormap-primary, "dunkler");




$colorNotice:		map-get($colormap-misc, "Notice"); 	
$colorZUV:		map-get($colormap-misc, "ZUV"); 
$colorDefault:		map-get($colormap-misc, "Default"); 
$colorStandardHellgrau: map-get($colormap-misc, "StandardHellgrau"); 
$colorContentRegions:	map-get($colormap-misc, "ContentRegions"); 
$colorMainBackground:	map-get($colormap-misc, "MainBackground"); 

$colorShadows:	rgba(135,132,135,1);
// Color for shadows



$colorOverlayLight: rgba(255, 255, 255, 0.15);
$colorOverlayDark: rgba(0, 0, 0, 0.15);
// Vorschlag von https://github.com/SebastianHonert/FAU-Einrichtungen/commit/762a7ab636090006af98d4fc502e8e12359c711e#diff-0cecaa3634e3ebf71c0b473a183dff42
// Mit passenden Variablennamen versehen.

// Meta Menu
// Define Background-Color for Meta Menu at top
$colorMetaFAUHomeBackground:	desaturate(darken($colorStandardHellgrau, 10%), 90%); // #d0d3d8;
$colorMetaHover:		desaturate(lighten($colorDefault, 10%), 40%);
$colorMetaLightest:		desaturate(lighten($colorDefault, 73%), 75%);



// CopyrightInfos auf Slider und Banner
$colorCopyright: #fff;
$colorCopyrightBackground: rgba(0, 0, 0, 0.6);

// Buttons

$color_button_text:	map-get($colormap-primary, "dunkler-kontrast");
$color_button_bg:	map-get($colormap-primary, "dunkler");
$color-button-hover-text:	map-get($colormap-primary, "dunkelste-kontrast");
$color-button-hover-bg:	map-get($colormap-primary, "dunkelste");


// Hinweis: Für SVG-Grafiken brauchen wir den HEX-Code direkt und können nicht Custom Properies nutzen!
$socialmedia_icon_bgcolor_hover: map-get($colormap-primary, "ci-hell-kontrast");
$socialmedia_icon_color:	map-get($colormap-primary, "ci-hell-kontrast");
$socialmedia_icon_color_hover:	map-get($colormap-primary, "ci-hell");

$svg-icon-size: 1.4rem;
$svg-icon-color: $color_button_text;
$svg-icon-color_hover: $color-button-hover-text;
$socialmedia_icon_size: 1.8rem;


// Define fonts


$fontStack: 'Roboto','FAU Chimera', sans-serif;
// $fontStack: 'Roboto', sans-serif;
$fontStackSerifs: Georgia, serif;
$fontStackFAU: 'FAU Chimera', sans-serif;

$font-family-base: $fontStack;
$font-path-awesome: './fonts/fontawesome/';
$font-path-roboto: './fonts/roboto/';
$font-path-fau-chimera: './fonts/fau-chimera/';

// Font sizes
$font-size-rembase: 100%; 
$font-size-rembase-screen-xl: 110%;

$font-size-gridbase: 16;
$font-size-base: 16;


$font-size-meta: ($font-size-base - 2);
$font-size-sidebar: ($font-size-base - 2);
$font-size-small: ($font-size-base - 2);
$font-size-large: ($font-size-base + 4);
$font-size-larger: ($font-size-base + 8);

$font-size-footer: ($font-size-base - 2);
$font-size-breadcrumb: ($font-size-base - 2);
$font-size-herosearch: $font-size-base;
$font-size-header-branding: ($font-size-base + 4);

$font-size-hero-slider-title: 25;
$font-size-hero-slider-text: $font-size-large;
$font-size-hero-slider-copyright: ($font-size-base - 1);
$font-size-hero-meta-portal: 40;

$font-size-textbuttons: ($font-size-base - 1);
$font-size-linkicon: ($font-size-base - 2);
$font-size-hero-links: ($font-size-base - 2);
$font-size-hero-bannertext: $font-size-large;

$font-size-content-linkicon: 10;
$font-size-content-listitem: $font-size-base;
$font-size-codepre: ($font-size-base - 2);
$font-size-table: ($font-size-base - 2);
$font-size-contentwidgets: ($font-size-base - 2);

$font-size-sidebar-listitem: $font-size-sidebar;
$font-size-sidebar-events: $font-size-sidebar;
$font-size-sidebar-events-month: 10;
$font-size-sidebar-events-day: 20;

$font-size-socialmedia-morelink: $font-size-sidebar;
$font-size-nav-blockquote: ($font-size-base + 1);
$font-size-nav-blockquote-cite: ($font-size-base - 1);
$font-size-nav-introtext: $font-size-base;
$font-size-nav-flyout-items: $font-size-base;
$font-size-nav-mainlinks: $font-size-base;

$font-size-subnav-firstlevel: ($font-size-base - 1);
$font-size-subnav-sublevel: ($font-size-base - 2);



$font-size-h1: ($font-size-base + 21);
$font-size-h1-mobilebranding: ($font-size-h1 - 2);
$font-size-h1-banner: $font-size-h1;
$font-size-h1-sidebar: ($font-size-h1 - 2);
$font-size-h1-table: ($font-size-h1 - 2);
$font-size-h1-small: ($font-size-h1 - 2);


$font-size-h2: ($font-size-base + 13);
$font-size-h2-small: ($font-size-h2 - 2);
$font-size-h2-socialmedia: ($font-size-h2 - 2);
$font-size-h2-sidebar: ($font-size-h2 - 2);
$font-size-h2-table: ($font-size-h2 - 2);

$font-size-h3: ($font-size-base + 8);
$font-size-h3-small: ($font-size-h3 - 2);
$font-size-h3-hero: ($font-size-h3 - 2);
$font-size-h3-sidebar: ($font-size-h3 - 2);

$font-size-h3-table: ($font-size-h3 - 2);


$font-size-h4: ($font-size-base + 5);
$font-size-h4-small: ($font-size-h4 - 2);
$font-size-h4-sidebar: ($font-size-h4 - 2);
$font-size-h4-table: ($font-size-h4 - 2);


$font-size-h5: ($font-size-base + 3);
$font-size-h5-sidebar: ($font-size-h5 - 2);
$font-size-h5-table: ($font-size-h5 - 2);


$font-size-h6: ($font-size-base + 2);
$font-size-h6-sidebar: ($font-size-h6 - 2);
$font-size-h6-table: ($font-size-h6 - 2);


$font-size-quotes: ($font-size-base + 2);
$font-size-quotes-cites: ($font-size-quotes - 2);

$font-size-content-meta: $font-size-small;
$font-size-image-caption: $font-size-small;

$font-size-content-toggle: $font-size-base;

$font-size-pagination-h3: $font-size-content-meta;
$font-size-pagination-links: $font-size-content-meta;


$font-size-mobile-meta: 24;
$font-size-mobile-sitetitle: 20;
$font-size-desktop-sitetitle: 22;

$font-size-print-base: $font-size-base;
$font-size-print-base-small: ($font-size-base - 2);


// Contentmenus / Portalmenus im Contentbereich

$font-size-contentmenu-title: ($font-size-base + 2);
$font-size-contentmenu-link: $font-size-base;
$contentmenu-default-width: 240px;
$contentmenu-default-height: floor(math.div($contentmenu-default-width, 3) * 2);

$contentmenu-typ2-width: 300px;
$contentmenu-typ2-height: auto;
$contentmenu-typ3-width: 480px;
$contentmenu-typ3-height: auto;

// Slider
$slick-arrow-color: white !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

$slick-opacity-text-background: 0.8;
$slick-opacity-text-shadow: 0px 0px 4px #000;




// Define breakpoints

// iPhone 3G
$breakXS: 320px;
// M8, Google, small others
$breakSM: 480px;
// iPad
$breakMD: 767px;
// iPad
$breakLG: 992px; // 979px;
// for small desktop up to 1200 pc or 1280 macbook air
$break-1060: 1060px;
// for larger desktop up to 1400 or macbook pro 1440
$break-1360: 1360px;
// for larger screen up to 1800px
$break-1700: 1760px;
// for 4k screens (2200px and more)
$break-2200: 2200px;



// Extra small screen / phone

$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;

$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;

$screen-md:                  992px;
$screen-md-min:              $screen-md;

$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;

$screen-xl: 1400px;
$screen-xxl: 1760px;
$screen-xxs: 320px;

$slider-maxwidth: 1260px;
$slider-maxheight: 350px;

$wordpress-adminbar-break: 783px;
// WordPress Adminbar breaks to small
$wordpress-adminbar-smallheight: 32px;
// WordPress Adminbar small
$wordpress-adminbar-bigheight: 46px;
// WordPress Adminbar big


$screen-xl-min: $screen-xl;
$screen-xl-max: ($screen-xxl - 1);
$screen-xxl-min: $screen-xxl;

$container-lg: 1024px;
// $container-lg: 970px;
$container-xl: 1400px;
$container-xxl: 1760px;

// max width of the homepage hero image, used by the plugin "ILI FAU Templates"
$max-width-hero: 1920px;

// Bootstrap Adjustments
$fau-gutter-width: 30px;

$grid-gutter-width: $fau-gutter-width;


$searchbackdrop-offset-top: 195px;

$subnav-width-sm: 260px;
$subnav-width-md: 275px;
$subnav-width-lg: 290px;

$sidebar-width-inline: 235px;
$sidebar-width-portal: 33%;
$sidebar-width-posts: 330px;