//-----------------------------------------------------------------------------------*/
// Konstanten fuer das Design
//-----------------------------------------------------------------------------------*/
@use "sass:math";
@use 'sass:map';

$farbfamilie: 'zuv';
// med, phil, nat, rw, tf, zuv



// Define colors
$colormap-misc: ("Text": #222, 
		 "TextLight": #797676, 
		 "TextLightKontrast": #5B5858,
		 "MetaTextDefault": #444,
		 "MetaBackground": #d4d4d4,
		 "MetaHover": #264c7b,
		 "MetaBackgroundLight": #eff1f4,
		 "Notice": #a71c18, 
		 "Alert": #c5ac94,
		 "ZUV": #04316A, 
		 "Default": #04316A,
		 "MainBackground":  #fff, 
		 "StandardHellgrau": #e9edf2,	
		 "StandardHellgrau-Hover": #d3dde6,
		 "ContentBorders": #dfe6ec,
		 "ContentRegions": #f5f7f9,  
		 "white":   #fff,
		 "black":   #000,
		 "PrintMain": #000,
		 "KontrastHell":    #fff,
		 "KontrastDunkel":  #333,
		 "Negative": #a71c18,
		 "Negative-Kontrast": #fff,		 
		 "Positive": #00905a,
		 "Positive-Kontrast": #fff,	
		 "Neutral": #f0ad4e,
		 "Neutral-Kontrast": #000,
		 );

 




// Abgestimmte Farbtabelle vom 28.10.2021
$colormap-zentral: ("basis": #04316A, "basis-kontrast": #fff,"heller": #8fb1ef, "hellste": #dde5f0, "dunkler": #004A9F, "dunkler-kontrast": #fff, "dunkelste": #041E42, "dunkelste-kontrast": #fff, "ci-hell": #04316A, "ci-hell-kontrast": #fff, "ci-hell2": #CED9E7, "ci-hell2-kontrast": #000);
$colormap-phil: ("basis": #963B2F, "basis-kontrast": #fff,"heller": #d9c689, "hellste": #f3eedf, "dunkler": #e87722, "dunkler-kontrast": #000, "dunkelste": #963B2F, "dunkelste-kontrast": #fff,  "ci-hell": #FDB735, "ci-hell-kontrast": #000, "ci-hell2": #F4E8CB, "ci-hell2-kontrast": #000);
$colormap-med: ("basis": #005287,"basis-kontrast": #fff, "heller": #bfd6f5, "hellste": #eaf3fc, "dunkler": #005287, "dunkler-kontrast": #fff, "dunkelste": #003E61, "dunkelste-kontrast": #fff,  "ci-hell": #18B4F1, "ci-hell-kontrast": #000, "ci-hell2": #B9D9EC, "ci-hell2-kontrast": #000);
$colormap-nat: ("basis": #266141, "basis-kontrast": #fff,"heller": #aacfbd, "hellste": #e5efea, "dunkler": #266141, "dunkler-kontrast": #fff, "dunkelste": #14462D, "dunkelste-kontrast": #fff,  "ci-hell": #7BB725, "ci-hell-kontrast": #000, "ci-hell2": #CFE0D8, "ci-hell2-kontrast": #000);
$colormap-rw: ("basis": #971B2F, "basis-kontrast": #fff,"heller": #c5ac94, "hellste": #F2DED1, "dunkler": #971B2F, "dunkler-kontrast": #fff, "dunkelste": #662938, "dunkelste-kontrast": #fff,  "ci-hell": #C50F3C, "ci-hell-kontrast": #fff, "ci-hell2": #F2DED1, "ci-hell2-kontrast": #000);
$colormap-tf: ("basis": #2F586E, "basis-kontrast": #fff,"heller": #d2d5d7, "hellste": #ebecee, "dunkler": #2F586E, "dunkler-kontrast": #fff, "dunkelste": #204251, "dunkelste-kontrast": #fff,  "ci-hell": #8C9FB1, "ci-hell-kontrast": #000, "ci-hell2": #D3DDE6, "ci-hell2-kontrast": #000);



$colormap-primary: $colormap-zentral;


@if $farbfamilie == 'med' {
	$colormap-primary: $colormap-med;
} @else if $farbfamilie == 'phil' {
	$colormap-primary: $colormap-phil;
} @else if $farbfamilie == 'nat' {
	$colormap-primary: $colormap-nat;
} @else if $farbfamilie == 'rw' {
	$colormap-primary: $colormap-rw;
} @else if $farbfamilie == 'tf' {
	$colormap-primary: $colormap-tf;
} @else if $farbfamilie == 'zuv' {
	$colormap-primary: $colormap-zentral;
}


$colormaps: ("primary": $colormap-primary, "zentral": $colormap-zentral, "phil": $colormap-phil, "med": $colormap-med, "nat": $colormap-nat, "rw": $colormap-rw, "tf": $colormap-tf);

// Branding Color (Color for textlogo)
$color-branding-primary:    map.get($colormap-primary, "ci-hell");
$color-branding-primary-kontrast:    map.get($colormap-primary, "ci-hell-kontrast");
$color-branding-zentral:    map.get($colormap-zentral, "ci-hell");
$color-branding-phil:	    map.get($colormap-phil, "ci-hell");
$color-branding-med:	    map.get($colormap-med, "ci-hell");
$color-branding-tf:	    map.get($colormap-tf, "ci-hell");
$color-branding-rw:	    map.get($colormap-rw, "ci-hell");
$color-branding-nat:	    map.get($colormap-nat, "ci-hell");


// Content
$color-content-headlines:   map.get($colormap-misc, "Text");
$color-links:		    map.get($colormap-misc, "Text");
$color-content-links:	    map.get($colormap-misc, "Text");
$color-content-links-underline:	    map.get($colormap-primary, "ci-hell");
$color-content-links-hover: map.get($colormap-primary, "ci-hell");


// Footer
$color-footer-bg:	map.get($colormap-primary, "ci-hell");
$color-footer-text:	map.get($colormap-primary, "ci-hell-kontrast");


// Hero
$color-hero-bg:		map.get($colormap-primary, "ci-hell");
$color-hero-text:	map.get($colormap-primary, "ci-hell-kontrast");



// Main Menu
$color-mainmenu-toplevel-bg:		map.get($colormap-misc, "MainBackground");
$color-mainmenu-toplevel-text:		map.get($colormap-misc, "Text");
$color-mainmenu-toplevel-hover-text:	map.get($colormap-primary, "ci-hell-kontrast");
$color-mainmenu-toplevel-hover-bg:	map.get($colormap-primary, "ci-hell");
$color-mainmenu-sublevel-bg:		map.get($colormap-primary, "ci-hell");
$color-mainmenu-sublevel-text:		map.get($colormap-primary, "ci-hell-kontrast");
$color-mainmenu-sublevel-hover-text:	map.get($colormap-primary, "dunkler-kontrast");
$color-mainmenu-sublevel-hover-bg:	map.get($colormap-primary, "dunkler");
$color-mainmenu-sublevel-button-text:	map.get($colormap-primary, "ci-hell-kontrast");
$color-mainmenu-sublevel-button-bg:	map.get($colormap-primary, "ci-hell");
$color-mainmenu-sublevel-button-hover-text:	map.get($colormap-primary, "dunkelste-kontrast");
$color-mainmenu-sublevel-button-hover-bg:	map.get($colormap-primary, "dunkelste");

// Submenu (= Subnav links)
$color-submenu-toplevel-bg:		map.get($colormap-misc, "MainBackground");
$color-submenu-toplevel-text:		map.get($colormap-misc, "Text");
$color-submenu-toplevel-hover-text:	map.get($colormap-primary, "ci-hell-kontrast");
$color-submenu-toplevel-hover-bg:	map.get($colormap-primary, "ci-hell");
$color-submenu-active-bg:		map.get($colormap-primary, "ci-hell");
$color-submenu-active-text:		map.get($colormap-primary, "ci-hell-kontrast");
$color-submenu-hover-text:		map.get($colormap-primary, "dunkler-kontrast");
$color-submenu-hover-bg:		map.get($colormap-primary, "dunkler");
$color-submenu-currentlevel-text:	map.get($colormap-primary, "ci-hell2-kontrast");
$color-submenu-currentlevel-bg:		map.get($colormap-primary, "ci-hell2");
$color-submenu-currentpage-text-hover:	map.get($colormap-misc, "StandardHellgrau-Hover");
$color-submenu-sublevel-text:		map.get($colormap-primary, "ci-hell-kontrast");
$color-submenu-sublevel-bg:		map.get($colormap-primary, "ci-hell");

$color-submenu-currentpage-bg:		map.get($colormap-primary, "dunkelste");
$color-submenu-currentpage-text:	map.get($colormap-primary, "dunkelste-kontrast");

$color-menulink-hover-text:		map.get($colormap-primary, "dunkler-kontrast");
$color-menulink-hover-bg:		map.get($colormap-primary, "dunkler");




$colorNotice:		map.get($colormap-misc, "Notice"); 	
$colorZUV:		map.get($colormap-misc, "ZUV"); 
$colorDefault:		map.get($colormap-misc, "Default"); 
$colorStandardHellgrau: map.get($colormap-misc, "StandardHellgrau"); 
$colorContentRegions:	map.get($colormap-misc, "ContentRegions"); 
$colorMainBackground:	map.get($colormap-misc, "MainBackground"); 

$colorShadows:	rgba(135,132,135,1);
// Color for shadows



$colorOverlayLight: rgba(255, 255, 255, 0.15);
$colorOverlayDark: rgba(0, 0, 0, 0.15);

// Meta Menu
// Define Background-Color for Meta Menu at top
$colorMetaFAUHomeBackground:	map.get($colormap-misc, "MetaBackground"); 
$colorMetaHover:		map.get($colormap-misc, "MetaHover"); 
$colorMetaLightest:		map.get($colormap-misc, "MetaBackgroundLight"); 


		 
// CopyrightInfos auf Slider und Banner
$colorCopyright: #fff;
$colorCopyrightBackground: rgba(0, 0, 0, 0.6);

// Buttons
$color_button_text:		map.get($colormap-primary, "ci-hell-kontrast");
$color_button_bg:		map.get($colormap-primary, "ci-hell");
$color-button-hover-text:	map.get($colormap-primary, "dunkelste-kontrast");
$color-button-hover-bg:		map.get($colormap-primary, "dunkelste");

// Ghost-Button
$color-ghostbutton-hover-text:	map.get($colormap-primary, "ci-hell-kontrast");
$color-ghostbutton-hover-bg:	map.get($colormap-primary, "ci-hell");


// Default Border Radius
$default-border-radius:	 0px;
$border-radius-buttons:	 0px;


// Devider Height
$default-devider-height: 4px;

// Hinweis: Für SVG-Grafiken brauchen wir den HEX-Code direkt und können nicht Custom Properies nutzen!
$socialmedia_icon_bgcolor_hover: map.get($colormap-primary, "ci-hell-kontrast");
$socialmedia_icon_color:	map.get($colormap-primary, "ci-hell-kontrast");
$socialmedia_icon_color_hover:	map.get($colormap-primary, "ci-hell");

$svg-icon-size: 1.4rem;
$svg-icon-color: $color_button_text;
$svg-icon-color_hover: $color-button-hover-text;
$socialmedia_icon_size: 1.8rem;


// Define fonts


$fontStack: 'Roboto','FAU Chimera', sans-serif;
$fontStackSerifs: Georgia, "Times New Roman", Times, serif;
$fontStackFAU: 'FAU Chimera', sans-serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;


$font-family-base: $fontStack;
$font-path-awesome: './fonts/fontawesome/';
$font-path-roboto: './fonts/roboto/';
$font-path-fau-chimera: './fonts/fau-chimera/';

// Font sizes
$font-size-rembase: 100%; 
$font-size-rembase-screen-xl: 110%;
$font-size-rembase-screen-xxs: 90%; 
$screen-minrembase:	    360px;

$font-size-gridbase: 16;
$font-size-base: 16;
$base-line-height: 1.5;

$font-size-xs:	    0.76rem;   // - 4 / 12
$font-size-sm:	    0.875rem;  // - 2 / 14
$font-size-tiny:    0.938rem; // - 1 
$font-size-normal:  1rem;
$font-size-lg:	    1.125rem;  // + 2 / 18
$font-size-xl:	    1.25rem;   // + 4 / 20
$font-size-xxl:	    1.5rem;    // + 8 / 24


$font-size-h1: 1.8125rem;
$font-size-h2: 1.5rem;
$font-size-h3: 1.3125rem;
$font-size-h4: 1.1875rem;
$font-size-h5: 1.125rem;
$font-size-h6: 1.0625rem;

$font-size-hero-slider-title:	1.75rem;

// Contentmenus / Portalmenus im Contentbereich
$contentmenu-xxs-width:		182px;
$contentmenu-default-width:	302px;
$contentmenu-default-height:	200px;
$contentmenu-xxs-maxheight:	120px;

$contentmenu-typ2-width:	300px;
$contentmenu-typ2-height:	auto;
$contentmenu-typ3-width:	480px;
$contentmenu-typ3-height:	auto;

// Slider
$slick-arrow-color: white !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

$slick-opacity-text-background: 0.8;
$slick-opacity-text-shadow: 0px 0px 4px #000;

$slider-maxwidth: 100%;

//$slider-maxheight: 350px;
$slider-minheight: 128px;
$slider-maxheight: 480px;
$slider-height-xxs: 320px;
$slider-height-sm: 480px;
$slider-height-md: 512px;

$slider-arrow-width: 40px;

$banner-startpage-width:1260px;
$banner-startpage-minheight: $slider-minheight;

// Define breakpoints

// Extra small screen / phone
$screen-xxs:		    320px;
$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;

//$screen-sm:                  768px;
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;

$screen-md:                  992px;
$screen-md-min:              $screen-md;

$screen-textlogo-lg:	    1100px;
// higher breakpoint for fau textlogo

$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;

$screen-xl:		    1400px;
$screen-xxl:		    1760px;




$wordpress-adminbar-break: 783px;
// WordPress Adminbar breaks to small
$wordpress-adminbar-smallheight: 32px;
// WordPress Adminbar small
$wordpress-adminbar-bigheight: 46px;
// WordPress Adminbar big


$screen-xl-min: $screen-xl;
$screen-xl-max: ($screen-xxl - 1);
$screen-xxl-min: $screen-xxl;

$container-lg: 1200px;
$container-xl: 1400px;
$container-xxl: 1760px;

// Bootstrap Adjustments
$fau-gutter-width:	30px;
$fau-gutter-halfwidth:	15px;
$fau-gutter-thirdwidth: 10px;

$grid-gutter-width: $fau-gutter-width;


$searchbackdrop-offset-top: 195px;
$scroll-target-offset: 200px;

$subnav-width-sm: 260px;
$subnav-width-md: 275px;
$subnav-width-lg: 290px;

$sidebar-width-inline: 235px;
$sidebar-width-inline-lg: 270px;
$sidebar-width-portal: 33%;
$sidebar-width-posts: 330px;
$sidebar-maxwidth-portal: 350px;

$pre-scrollable-max-height:   340px;