// Import FAU variables
@import "variables";

// Custom Properties
@import "custom-properties";

// Reset Base styles
@import "reset";

// Framework
@import "frameworks/frameworks";

// SVG Icons and CI elements
@import "icons/icons";

// Mixins
@import "mixins/mixins";

// Fonts
@import "fonts/fonts";

// Structure
@import "structure/structure";

// Element Styles
@import "elements/elements";

// Plugin-Support
@import "plugins/plugins";

// Printer Adjustments
@import "printer";

/* Allgemein ausblenden ***********************************************************************************************/

/*.header-menu,*/
.orga-breadcrumb,
.meta-footer,
.top-link,
.read-more-link,
.news-more-links,
.more-posts,
.continue,
.sidebar-single,
.sidebar-subnav,
#meta,
a[aria-hidden="true"] {
    display: none;
}

/* Allgemein **********************************************************************************************************/

@page {
    margin: 2cm;
}

h1 {
    page-break-before: always;
}

h1, h2, h3, h4, h5 {
    page-break-after: avoid;
}

table, figure {
    page-break-inside: avoid;
}

/* Header *************************************************************************************************************/

#headerwrapper {
    margin: 0;

    & header .branding {
        width: 100%;

        & a {
            width: 100%;
        }
    }

    & header .branding .textlogo {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

#content {
    padding-top: 20px;
}

/* Footer *************************************************************************************************************/

footer, {
    display: none;

    &:before {
        display: none;
    }
}

/* Links **************************************************************************************************************/

a:after {
    content: " (" attr(href) ") ";
    display: block;
    text-align: left;
    font-size: 12pt;
}

[role=presentation] a:after {
    display: none;
}

/* Galerie ************************************************************************************************************/

.image-gallery .gallery-slick .slick-prev,
.image-gallery .gallery-slick .slick-next,
.slick-dots {
    display: none !important;
}

.slick-slide.slick-current.slick-active {
    display: none !important;
}

.image-gallery .gallery-slick .slider-nav-width {
    width: 100% !important;
}

.slick-slider .slick-list {
    width: 100% !important;
    transform: none !important;
}

.slick-slider .slick-track {
    display: flex !important;
    flex-wrap: wrap !important;
    width: 100% !important;
    transform: none !important;
}

.image-gallery .gallery-slick .slider-nav-width .slick-slide {
    width: 23% !important;
    margin: 1% !important;
}
