// Import FAU variables
@import "variables";

// Custom Properties
@import "custom-properties";

// Mixins
@import "mixins/mixins";


// Reset Base styles
@import "reset";

// Framework
@import "frameworks/frameworks";

// SVG Icons and CI elements
@import "icons/icons";



// Fonts
@import "fonts/fonts";

// Element Styles
@import "elements/elements";

// Structure
@import "structure/structure";

// Plugin-Support
@import "plugins/plugins";


// Block Library Overwrites
@import "block-library/block-library"

