// Import FAU variables
@import "variables";

// Custom Properties
@import "custom-properties";

// Reset Base styles
@import "reset";

// Framework
@import "frameworks/frameworks";

// SVG Icons and CI elements
@import "icons/icons";

// Mixins
@import "mixins/mixins";

// Fonts
@import "fonts/fonts";

// Structure
@import "structure/structure";

// Element Styles
@import "elements/elements";

// Plugin-Support
@import "plugins/plugins";

// Printer Adjustments
@import "printer";

/* Allgemein ausblenden ***********************************************************************************************/

/*.header-menu,*/
.orga-breadcrumb,
.meta-footer,
.top-link,
.read-more-link,
.news-more-links,
.more-posts,
.continue,
/*.sidebar-single,
.sidebar-subnav,*/
#meta,
a[aria-hidden="true"] {
    display: none;
}

/* Allgemein **********************************************************************************************************/

@page {
    margin: 2cm;
}

h1 {
    page-break-before: always;
}

h1, h2, h3, h4, h5 {
    page-break-after: avoid;
}

table, figure, img {
    page-break-inside: avoid;
}

img {
    display: block;
}

/* Header *************************************************************************************************************/

#header .header-row {
    flex-wrap: wrap;
}

#headerwrapper {
    margin: 0;

    & #header .branding {
        width: 100%;

        & a {
            width: 100%;
        }
    }

    & #header .branding .textlogo {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

#content {
    padding-top: 20px;
}

/* Footer *************************************************************************************************************/

footer, {
    display: none;

    &:before {
        display: none;
    }
}

/* Links **************************************************************************************************************/

body:not(.js-enabled) a:after {
    content: "\00a0(" attr(href) ") ";
    display: inline-block;
    text-align: left;
    font-size: 12pt;
}

[role=presentation] a:after {
    display: none;
}

.tw-linkref {

    &:before {
        content: "\00a0";
    }
}

.tw-linklist {
    margin: 40px;

    & li {
        padding: 0.4rem 0;
    }

    & svg {
        margin: 0 0.4rem -0.3rem 0.1rem;
    }
}

/* Hero Slider ********************************************************************************************************/

#hero {
    background-color: transparent;
}

#hero-slides {
    background-color: transparent;
    box-shadow: none;
}

#hero-slides .slider-controls {
    display: none !important;
}

/*#hero-slides .item {
    width: 23% !important;
    margin: 1% !important;
}*/


#hero-slides .item p,
#hero-slides .item header {
    color: white !important;
    background-color: black !important;
    opacity: 1 !important;
}

#hero-slides .item a {
    color: white !important;
    background-color: black !important;
    opacity: 1 !important;
}

/* Galerie ************************************************************************************************************/

.image-gallery .gallery-slick .slick-prev,
.image-gallery .gallery-slick .slick-next,
.slick-dots {
    display: none !important;
}

.image-gallery .slick-slide.slick-current.slick-active {
    display: none !important;
}

.image-gallery .gallery-slick .slider-nav-width {
    width: 100% !important;
}

.image-gallery .slick-slider .slick-list {
    width: 100% !important;
    transform: none !important;
}

.image-gallery .slick-slider .slick-track {
    display: flex !important;
    flex-wrap: wrap !important;
    width: 100% !important;
    transform: none !important;
}

.image-gallery .gallery-slick .slider-nav-width .slick-slide {
    width: 23% !important;
    margin: 1% !important;
}
