/*-----------------------------------------------------------------------------------*/
/* Backend CSS
/*-----------------------------------------------------------------------------------*/


// Import FAU variables
@import "variables";
// Mixins

// Custom Properties
@import "custom-properties";

// Reset Base styles
@import "reset";

// Framework
@import "frameworks/frameworks";

// SVG Icons and CI elements
@import "icons/icons";

// Mixins
// @import "mixins/mixins";

// Fonts
// @import "fonts/fonts";


// Backend Specials
@import "backend/backend";




