/*-----------------------------------------------------------------------------------*/
/* Backend CSS
/*-----------------------------------------------------------------------------------*/

// jQuery UI fuer das Backend

// @import "frameworks/jquery-ui";

// Import FAU variables
@import "variables";
// Mixins

$font-path-awesome:	'../fonts/fontawesome/';
// da admin.css unter /css muss der pfad angepasst werden
$font-path-roboto:	'../fonts/roboto/';
// da admin.css unter /css muss der pfad angepasst werden

@import "mixins/mixins";

// Fonts
@import "fonts/fonts";


// Backend Specials
@import "backend/backend";

