/*-----------------------------------------------------------------------------------*/
/* Meta region in top
/*-----------------------------------------------------------------------------------*/

#meta {
	@include placeholder(#fff);
	background: $colorMetaBackground;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	margin-top: -10px;

	input,
	li {
		@include px2rem($font-size-meta);
	}

	@media (min-width: $screen-sm) {
		z-index: 110; // Änderung notwendig, damit das Such-Flyout nicht unter dem #header liegt
		margin-top: 0;
		position: fixed;
		.admin-bar & {
			top: $wordpress-adminbar-bigheight;
		}
	}
	@media (min-width: $wordpress-adminbar-break) {
		.admin-bar & {
			top: $wordpress-adminbar-smallheight;
		}
	}

	.fau-orga-breadcrumb {
		display: none;
		// an dieser STelle müssen die Anweisungen zur FAU ORGA Breadcrumb kommen.
		// ggf. müssen auch Änderungen an der _branding.scss gemacht werden.
	}
}

.meta-links {
	@extend .col-sm-8;
	.active-meta-widget & {
		@extend .col-sm-7;
	}
	padding: 1px 0;
	min-height: 20px;

	.ext-link {
		padding-right: 0 !important;
		background-image: none !important;
	}

	&:hover {
		overflow: visible;
		height: auto;
	}

	@media (min-width: $screen-sm) {
		height: 40px;
		overflow: hidden;
		padding: 1px 15px 0 15px;
	}
}

.meta-tools {
	@extend .col-sm-4;
	.active-meta-widget & {
		@extend .col-sm-5;
	}
	text-align: right;
}

.meta-search {
	display: block;

	.active-meta-widget & {
		display: inline;

	}
}

.meta-search {

	.searchform {
		@include transition(0.5s, all);
		display: none;
		border: none;
		margin: 0;
		padding: 5px 0;

		input[type="text"] {
			@include border-radius(20px);
			padding: 5px 35px 5px 10px;
			width: 220px;
			background: $colorMeta;
			border: none;
			outline: none;
			color: #fff;
			height: 30px;
			display: inline-block;
			margin-right: -25px;
			margin-bottom: 0px;
			&:focus {
				background-color: $colorMetaHover;
			}

			@media (min-width: $screen-sm) {
				width: 160px;
				padding-left: 35px;

				.active-meta-widget & {
					width: 150px;
				}

			}
			@media (min-width: $screen-lg) {
				width: 250px;
				.active-meta-widget & {
					width: 180px;
				}
			}

		}

		input[type="submit"] {
			@include border-radius(20px);
			position: relative;
			z-index: 100;
			height: 30px;
			padding: 0 12px;
			font-weight: bold;
			border: none;
			outline: none;
			color: $colorMeta;
			background: #fff;
			display: inline-block;

			&:hover, &:focus {
				background: $colorMetaLightest;
				@include box-shadow(0 0 5px rgba(0, 0, 0, 0.2));
			}
		}

		label {
			@extend .screen-reader-text;
		}
		.searchicon {
			display: inline;
			@extend .fa;
			@extend .fa-search;
			position: relative;
			margin-right: -30px;
			color: #fff;

		}
	}
	@media (max-width: $screen-sm - 1) {
		width: 100%;

		.search-toggled & .searchform {
			display: block;
			.searchicon {
				display: none;
			}
		}
	}
	@media (min-width: $screen-sm) {
		.searchform {
			display: inline-block;
		}
	}
}

/* New Toogle Button */
#wrap #search-toggle {
	position: fixed;
	left: 0;
	top: 0;
	@include px2rem($font-size-mobile-meta);
	background: transparent;
	border: none;
	display: none;
	z-index: 100;
	color: $colorMeta;

	@media (max-width: $screen-sm - 1) {
		.js & {
			display: block;
		}
	}

	span {
		@include hideout();
	}
}

#search-toggle:before {
	@extend .fa;
	@extend .fa-search;

	&:focus,
	&:hover {
		@extend .fa-search-minus;
	}
}

.meta-widget {
	display: inline-block;
	float: right;

	margin: 5px 0 5px 5px;
	height: 30px;
	max-width: 90px;

	@media (min-width: $screen-md) {
		max-width: inherit;
		margin-left: 15px;
	}

}

