/*-----------------------------------------------------------------------------------*/
/* Meta region in top
/*-----------------------------------------------------------------------------------*/

#meta {
	@include placeholder(#fff);
	background: $colorMetaBackground;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	margin-top: -10px;

	input,
	li {
		@include px2rem($font-size-meta);
	}

	@media (min-width: $screen-sm) {
		z-index: 110; // Änderung notwendig, damit das Such-Flyout nicht unter dem #header liegt
		margin-top: 0;
		position: fixed;
		.admin-bar & {
			top: $wordpress-adminbar-bigheight;
		}
	}
	@media (min-width: $wordpress-adminbar-break) {
		.admin-bar & {
			top: $wordpress-adminbar-smallheight;
		}
	}

	.fau-orga-breadcrumb {
		display: none;
		// an dieser STelle müssen die Anweisungen zur FAU ORGA Breadcrumb kommen.
		// ggf. müssen auch Änderungen an der _branding.scss gemacht werden.
	}
}

.meta-links {
	@extend .col-sm-8;
	.active-meta-widget & {
		@extend .col-sm-7;
	}
	padding: 1px 0;
	min-height: 20px;

	.ext-link {
		padding-right: 0 !important;
		background-image: none !important;
	}

	&:hover {
		overflow: visible;
		height: auto;
	}

	@media (min-width: $screen-sm) {
		height: 40px;
		overflow: hidden;
		padding: 1px 15px 0 15px;
	}
}

.meta-tools {
	@extend .col-sm-4;
	.active-meta-widget & {
		@extend .col-sm-5;
	}
	text-align: right;
	position: static;

	@media (max-width: $screen-sm - 1) {
		.active-meta-widget & {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
		}
	}
}

.meta-widget {
	display: inline-block;
	float: right;

	margin: 5px 30px 5px 5px;
	height: 30px;
	max-width: 90px;
	
	@media (min-width: $screen-sm) {
	    margin-right: 0;
	    margin-left: 15px;
	}
	@media (min-width: $screen-md) {
		max-width: inherit;
	}
	

}

