/*
Misc Admin CSS
*/


    // Toggle Switch
    .toggle-switch-control .customize-control-title {
	display: inline-block;
	}

	.toggle-switch {
		position: relative;
		width: 64px;
		user-select: none;
		float: right;
		
	    .toggle-switch-checkbox {
		display: none;
	    }
	    .toggle-switch-label {
		display: block;
		overflow: hidden;
		cursor: pointer;
		border: 2px solid #ddd;
		border-radius: 20px;
		padding: 0;
		margin: 0;
	    }
	}


	.toggle-switch-inner {
		display: block;
		width: 200%;
		margin-left: -100%;
		transition: margin 0.3s ease-in 0s;
	}

	.toggle-switch-inner:before,
	.toggle-switch-inner:after {
		display: block;
		float: left;
		width: 50%;
		height: 22px;
		padding: 0;
		line-height: 22px;
		font-size: 14px;
		color:  var(--color-button-text);
		font-family: Trebuchet, Arial, sans-serif;
		font-weight: bold;
		box-sizing: border-box;
	}

	.toggle-switch-inner:before {
		content: "An";
		padding-left: 8px;
		background-color:  var(--color-button-bg);
		color: var(--color-button-text);
	}
	:lang(en) .toggle-switch-inner:before {
	    content: "ON";
	}
	.toggle-switch-inner:after {
		content: "Aus";
		padding-right: 8px;
		background-color: #EEEEEE;
		color: #999999;
		text-align: right;
	}
	:lang(en) .toggle-switch-inner:after {
	    content: "OFF";
	}
	.toggle-switch-switch {
		display: block;
		width: 16px;
		margin: 3px;
		background:  var(--color-button-text);
		position: absolute;
		top: 0;
		bottom: 0;
		right: 38px;
		border: 2px solid #ddd;
		border-radius: 20px;
		transition: all 0.3s ease-in 0s;
	}

	.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
		margin-left: 0;
	}

	.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
		right: 0px;
	}
