/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 20.01.2022, 14:22:59
    Author     : unrz59
*/

#ui-datepicker-div {
    background-color: white; // var(--color-StandardHellgrau);
    border: 1px solid var(--color-ContentBorders);
    padding: 5px 10px;
}