/*-----------------------------------------------------------------------------------*/
/* Branding und Hauptmenu
/*-----------------------------------------------------------------------------------*/

#header {
	.row {
		height: auto;

		.branding {
			width: 100%;
		}

		.header-menu {
			display: inline;
		}
	}

	
	.branding {
	    
	    .sitetitle {
		
		top: 0;
		position: absolute;
		color: $colorPrimary;	
		left: 95px;
		right: 0;
		padding: 5px 45px 5px 0;
		height: auto;
		text-align: left;
		font-weight: bold;
		margin: 0;
		@include px2rem($font-size-mobile-sitetitle, $font-size-gridbase, $font-size-mobile-sitetitlelineheight);

		@media (min-width: $screen-sm) {
		    padding: 0;
		
		    position: relative;
		    top: inherit;
		    left: inherit;
		    right: inherit;
		    text-align: center;
		}
		@media (min-width: $screen-md) {
		    margin: 10px 0;
		    text-align: left;
		}
		
		a, h1 {
		    color: $colorPrimary;	
		}
		img,
		svg {
			display: none;
			@media (min-width: $screen-sm) {
			    display: inline-block;
			}
		}
		span.visiblelogo {
		    display: table-cell;
		    vertical-align: middle;
		    height: 40px;
		    background: $colorMetaBackground;
		    @media (min-width: $screen-sm) {
			   display: none;
			   background: inherit;
		    }
		}

	    }
	}
	.md-showsitelogo & .branding .sitetitle {
	    text-align: center;
	    img,
	    svg {
		display: inline-block;
	    }
	    span.visiblelogo {
		display: none;
	    }
	}
	.fauorg-kooperation:not(.md-showsitelogo) & .branding .sitetitle {
	    left: 50px;
	}
	


	@media (min-width: $screen-sm) {
		padding: 20px 0 10px 0;
		background-color: #fff;
		color: $colorPrimary;
	

		.page-template-page-start-sub & {
			padding: 20px 0 0 0;
		}

		.row {
			height: 112px;

			.branding,
			.header-menu {
				padding-left: ($grid-gutter-width / 2);
			}

			.branding {
				height: 75px;
				padding-right: ($grid-gutter-width / 2);
			}

			.header-menu {
				padding-right: 0;
				height: 37px;
				display: block;

				#nav {
					margin-left: -10px;
				}
			}
		}
		
		
	}

	

	@media (min-width: $screen-md) {
		.row {
			height: 75px;

			.branding {
				display: table-cell;
				float: none;
				width: 240px;
				vertical-align: bottom;

				.nologo.longtitle & {
					width: 300px;
				}
			}

			.header-menu {
				float: none;
				display: table-cell;
				vertical-align: bottom;
			}
		}
	}

}



#logo {
	position: absolute;
	top: 0;
	
	@media (min-width: $screen-sm) {
	    position: relative;
	}
	z-index: 11;

	.sitetitle {
		padding: 0;
		margin: 5px auto;
		text-align: center;
	}

	h1 {
	    margin: 10px 0;
	}
	.sitetitle,
	h1 {
		
		max-height: inherit;
		text-decoration: none;
		padding: 0;

		@media (min-width: $screen-sm) {
			max-height: 65px;
			margin-top: 0px;
			
		}

		a, span {
			display: inline-block;
		}

		a {
		    text-decoration: none;
		}


		@include px2rem($font-size-h1-mobilebranding, $font-size-gridbase, $font-size-h1-mobilebranding + 4);
		
		@media (min-width: $screen-sm) {
			@include px2rem($font-size-h1-desktopbranding, $font-size-gridbase, $font-size-h1-desktopbranding);

			.nologo.longtitle & {
				@include px2rem($font-size-h1-desktopbranding-longtitle, $font-size-gridbase, $font-size-h1-desktopbranding-longtitle + 2);

				hyphens: auto;
			}
			a {
			    vertical-align: bottom;
			}
		}

	}

	.nologo &.branding {
		position: relative;
		top: inherit;
		
		padding: 0 0 3px 15px;

		.sitetitle,
		h1 {
			padding: 0;
			margin: 7px 0;

			@media (min-width: $screen-sm) {
				padding: 15px 0;
			}

			@media (min-width: $screen-md) {
				padding: 0;
			}
		}
	}
	svg, img {
		    max-height: 40px;
		    width: auto;
		    height: auto;	    
	}
	@media (min-width: $screen-sm) {
	    svg,
	    img {
		    max-width: 240px;
		    max-height: 65px;
	    }
	}
}