/*-----------------------------------------------------------------------------------*/
/* Grid in Header
/*-----------------------------------------------------------------------------------*/
@use "sass:math";

.header-container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100%;

    @media (min-width: $screen-sm) {
        padding-left: floor(math.div($grid-gutter-width, 2));
        padding-right: ceil(math.div($grid-gutter-width, 2));
        width: $container-sm;
    }
    @media (min-width: $screen-md) {
        width: $container-md;
    }
    @media (min-width: $screen-lg-min) {
        width: $container-lg;
    }
    @media (min-width: $screen-xl-min) {
        width: $container-xl;
    }
}


.header-row {
    display: flex;
    height: 100%;
    flex-wrap: nowrap;
    column-gap: floor(math.div($grid-gutter-width, 2));
    justify-content: space-between;
    align-items: center;

    header & {

        @media (min-width: $screen-sm) {
            align-items: center;
            justify-content: space-between;
            padding: 1.2rem 0 1rem;

            .branding {
                min-width: 240px;
                flex: 0 0 auto;
            }
        }
    }
}


