/*-----------------------------------------------------------------------------------*/
/* Meta region in top   fauorg-home
/*-----------------------------------------------------------------------------------*/

#meta {	
	background: var(--color-StandardHellgrau);
	color: var(--color-MetaTextDefault);
	z-index: 100;
	position: relative;

	input,
	li {
		font-size: var(--font-size-sm, 0.875rem);
	}

	@media (min-width: $screen-md) {
		z-index: 110; // Änderung notwendig, damit das Such-Flyout nicht unter dem #header liegt
		height: auto;
		padding: inherit;
	}

    .header-row {
        justify-content: start;
        align-items: center;
        min-height: 50px;

        @media (min-width: $screen-md) {
            padding: 5px 0;
        }

        &:after {
            content: '';
            width: 52px;
        }
	
	.wp-custom-logo & {
	    height: 50px;
	}
    }
    .meta-logo .branding .textlogo {
	font-weight: bold;
	@media (min-width: $screen-md) {
	  font-weight: normal;
	}
    }
    
}

.meta-widget {
    display: inherit;
}

#headerwrapper {
 
    transition: box-shadow 0.2s;

    body:not([data-scroll='0']) & {
        background-color: var(--color-white);
        box-shadow: 0 0 21px rgba(0, 0, 0, 0.11);
    }
    body.nav-toggled & {
        top: unset;
        @media (min-width: $screen-md) {
            top: 0;
        }
    }
}

/* Default header state */

.header-static {
    position: static;
    top: auto;
    padding-top: 0;
    z-index: 150;
}

/* Sticky header state */
.header-sticky {
    position: sticky;
    top: 0;
    padding-top: 0;
    z-index: 150; /* Initial state, will be adjusted if admin bar is present */
}

/* Hidden header state */
.header-hidden {
    position: sticky;
    top: -400px !important; /* Adjust as needed to fully hide the header */
 
}

