/*-----------------------------------------------------------------------------------*/
/* Meta region in top
/*-----------------------------------------------------------------------------------*/

#meta {
	@include placeholder(#fff);
	background: var(--color-StandardHellgrau);
	color: var(--color-MetaTextDefault);
	z-index: 100;
    position: relative;

	input,
	li {
		@include px2rem($font-size-meta);
	}

	@media (min-width: $screen-sm) {
		z-index: 110; // Änderung notwendig, damit das Such-Flyout nicht unter dem #header liegt
		height: auto;
		padding: inherit;
	}

    .header-row {
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 5px 0;

        &:after {
            content: '';
            width: 32px;
        }
    }
}

.meta-widget {
	display: inline-block;
	margin: 5px 30px 5px 20px;
    height: 1.875rem;
}

.metalinks {
    position: relative;
    z-index: 150;
}
