/*-----------------------------------------------------------------------------------*/
/* Meta-Navigation
/*-----------------------------------------------------------------------------------*/
.meta-links-container {
    flex-shrink: 0;

    @media (min-width: $screen-md) {
        display: none;
    }
}

#meta-menu {
    @media (min-width: $screen-md) {
        display: none;
    }

    &:target {
        .meta-links-trigger-open {
            display: none;
        }

        .meta-links-trigger-close {
            display: flex;
        }

        & + .meta-links {
            display: block;

            @media (min-width: $screen-sm) {
                display: flex;
            }
        }
    }
}

.meta-links-toggled {
    .meta-links {
        display: block;

        @media (min-width: $screen-md) {
            display: flex;
        }
    }

    .meta-links-trigger {
        .meta-links-trigger-icon-open {
            display: none;
        }

        .meta-links-trigger-icon-close {
            display: flex;
        }
    }
}

.fauorg-kooperation, .fauorg-home {
    .meta-links-trigger-icon {
	--fau-icon-size: 1.5rem;
	    --fau-icon-color: var(--color-Default);
	    --fau-icon-color-hover: var(--color-Default);
	    --fau-icon-size-mask: 1.3rem;
	&::before {
	    @extend .fau-icon;
	    mask-image: svg-icon-home();
	}
    }
}

.meta-links-toggled {
    .meta-links-trigger {
	--fau-icon-size: 1.5rem;
	--fau-icon-color: var(--color-Default);
	--fau-icon-color-hover: var(--color-Default);
	--fau-icon-size-mask: 1.3rem;
	
	.meta-links-trigger-icon-close {
	    @extend .fau-icon-close;  
	}
    }
    .meta-links-trigger-icon::before,
    .meta-links-trigger-button::before {
	display: none;
    }
}




.meta-links-trigger {
    display: block;
    padding: 0 10px;
    margin: 0;
    @include px2rem($font-size-mobile-meta);

    .meta-links-trigger-text {
        @include hideout();
    }

    .meta-links-trigger-icon {
        display: flex;
        color: var(--color-FAU);

        svg {
            width: 1.8rem;
            height: 1.8rem;
        }
    }

    .meta-links-trigger-icon-fau {
        svg {
            width: 48px;
        }
    }

    &.meta-links-trigger-close .meta-links-trigger-icon svg,
    &[aria-expanded="true"] svg {
        transform: scale(0.7);
    }
    &[aria-expanded="true"] {
	background-color: var(--color-MobileFlyoutMenuBackground);
    }
    &[aria-expanded="false"] {
	background-color: transparent;
    }
    .meta-links-trigger-open,
    .meta-links-trigger-icon-open {
        display: flex;
    }

    .meta-links-trigger-icon-close {
        display: none;
    }
}
.fauorg-sonst .meta-links-trigger[aria-expanded="true"],
.fauorg-fakultaet .meta-links-trigger[aria-expanded="true"] {
    margin-right: 18px;
}

.meta-links-trigger-close {
    display: none;
}

.meta-links-trigger-button {
    font: inherit;
    color: inherit;
    background: none;
    min-width: 50px;
    height: 50px;
     
    &:hover,
    &:focus {
	background-color: var(--color-MetaBackgroundLight);
    }
    &[aria-expanded="true"]:hover, &[aria-expanded="true"]:focus,  {
	background-color: var(--color-MobileFlyoutMenuBackground);
    }   
}


.meta-links {
    display: none;
    // Hinweis: Für Handyauflösung wird eine eigene Class verwendet und 
    // diese unsichtbar gemacht
    margin: 0; 
    padding: 0;
    background-color: var(--color-MobileFlyoutMenuBackground);
    z-index: 100;

    @media (min-width: $screen-md) {
	background-color: var(--color-MetaBackgroundLight);
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 1rem;
        background-color: transparent;

        .orgalist {
            order: 1;
        }
        .breadcrumblist {
            display: none;
        }
        .meta-search {
            order: 3;
        }
        .meta-widget {
            order: 4;
        }
        .meta-nav.menu {
            order: 2;
        }
    }
    

    ul li,
    ol li {
        list-style-type: none;
        padding: 0;
	
        a {
	    display: inline-block;
	    color: var(--color-MetaTextDefault);
            text-decoration: none;
	    min-height: 44px;
	    line-height: 44px;
	    
	    &:focus,
            &:hover {
                text-decoration: underline;
                text-decoration-thickness: 0.15rem;
                text-underline-offset: 0.3rem;
            }
        }
    }

    .orgalist {
        margin: 0;
        padding-left: var(--width-gutter-half);
        padding-right: var(--width-gutter-half);

        @media (min-width: $screen-sm) {
            flex-shrink: 0;
	    padding-left: 0;
	    padding-right: 0;
        } 
    }

    .fauhome {
        padding: 0;

        a {
	    color: var(--color-FAU);
            display: flex;


            &:hover {
                color: var(--color-white);
                background-color: var(--color-FAU);

                &:before {
                    background-image: svg-arrow-up(#fff, 16, 16);
                }
            }

            &:before {
                @extend .svg-icon;

                width: 1.2rem;
                background-image: svg-arrow-up($colorZUV, 16, 16);
                margin-left: 0;
                margin-right: 2px;
                vertical-align: middle;
		min-height: 44px;

            }
        }

        svg {
	    min-height: 44px;
            fill: currentColor;
	    margin-right: 0.5rem;
        }
    }

    

    

    .meta-nav.menu {
        margin: 0.5rem 0 0;
	
	@media (min-width: $screen-md) {
            display: flex;
            flex-wrap: wrap;
            margin-top: 0;
        }
	
	
	li {
	    a {
		@media (max-width: $screen-md - 1) {
		    display: block;
		    padding: .5rem 10px;
		    font-size: 1rem;
		    line-height: 1.8rem;
		    border-bottom: 1px solid var(--color-overlay-dark);
		}
		@media (min-width: $screen-md) {
		    padding-left: 0.5rem;
		    padding-right: 0.5rem;
		}
		img {
		    @media (min-width: $screen-md) {
			max-height: 22px;
			width: auto;
		    }
		}
	    }
	    a:focus:has(img), a:hover:has(img) {
		background-color: var(--color-zentral-ci-hell);
		color: var(--color-zentral-ci-hell-kontrast);
		fill:  var(--color-zentral-ci-hell-kontrast);
	    }
	    &.bg-med a {
		background-color: var(--color-med-ci-hell);
		color: var(--color-med-ci-hell-kontrast);
	    }
	    &.bg-phil a {
		background-color: var(--color-phil-ci-hell);
		color: var(--color-phil-ci-hell-kontrast);
	    }
	    &.bg-nat a {
		background-color: var(--color-nat-ci-hell);
		color: var(--color-nat-ci-hell-kontrast);
	    }
	    &.bg-tf a {
		background-color: var(--color-tf-ci-hell);
		color: var(--color-tf-ci-hell-kontrast);
	    }
	    &.bg-rw a {
		background-color: var(--color-rw-ci-hell);
		color: var(--color-rw-ci-hell-kontrast);
	    }
	    &.bg-fau a {
		background-color: var(--color-zentral-ci-hell);
		color: var(--color-zentral-ci-hell-kontrast);
	    }
	    &.bg-alert a {
		background-color: var(--color-Alert);
		color: var(--color-black);
	    }
	    &.bg-notice a {
		background-color: var(--color-Notice);
		color: var(--color-white);
	    }
	    
	    &.bg-active-med a:hover, &.bg-active-med a:focus {
		background-color: var(--color-med-ci-hell);
		color: var(--color-med-ci-hell-kontrast);
	    }
	    &.bg-active-phil a:hover, &.bg-active-phil a:focus {
		background-color: var(--color-phil-ci-hell);
		color: var(--color-phil-ci-hell-kontrast);
	    }
	    &.bg-active-nat a:hover, &.bg-active-nat a:focus {
		background-color: var(--color-nat-ci-hell);
		color: var(--color-nat-ci-hell-kontrast);
	    }
	    &.bg-active-tf a:hover, &.bg-active-tf a:focus {
		background-color: var(--color-tf-ci-hell);
		color: var(--color-tf-ci-hell-kontrast);
	    }
	    &.bg-active-rw a:hover, &.bg-active-rw a:focus {
		background-color: var(--color-rw-ci-hell);
		color: var(--color-rw-ci-hell-kontrast);
	    }
	    &.bg-active-fau a:hover, &.bg-active-fau a:focus {
		background-color: var(--color-zentral-ci-hell);
		color: var(--color-zentral-ci-hell-kontrast);
	    }
	    
	}
	   
	
	

       
    }
}

.meta-logo {
    display: flex;
    width: 100%;
    max-height: 100%;
    text-align: left;
    
    @media (min-width: $screen-md) {
        display: none;
    }

    .branding {
        display: flex;
        justify-content: center;
        max-height: 100%;
	width: 100%;
	min-width: 150px;
    }

    .custom-logo-link {
        text-align: center;

        img,
        svg {
            width: auto;
            height: 100%;
        }
    }
    a {
	@include defaultlinkstyle();
	text-decoration: none;
        border: 1px dashed transparent;
        padding: 0 0.5rem;
        &:hover,
        &:focus {
            border-color: var(--color-primary-ci-hell);
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.22);
	    text-decoration: underline;
        }
    }

    .textlogo {
        .baselogo {
            display: none;
        }

        .fau-title {
            display: none;
        }

	.fauorg-home &,
        .fauorg-kooperation & {
            .baselogo {
                display: block;
            }

            .text {
                display: block;
            }
        }

	.fauorg-home & {
	    display: block;
	    text-align: center;
	    
            .baselogo {
                svg {
                    display: block;
		    height: 35px;
                }
            }

            .text {
                display: none;
            }
        }
    }
}

.header-menu {
    @media (max-width: $screen-md) {
        width: 100%;
    }
}


