/*-----------------------------------------------------------------------------------*/
/* Meta-Navigation
/*-----------------------------------------------------------------------------------*/
.meta-links-container {
    flex-shrink: 0;
}

#meta-menu:target {

    .meta-links-trigger-open {
        display: none;
    }

    .meta-links-trigger-close {
        display: block;
    }

    & + .meta-links {
        display: block;
    }
}

.meta-links-toggled {

    .meta-links {
        display: block;
    }

    .meta-links-trigger {

        .meta-links-trigger-icon-open {
            display: none;
        }
        .meta-links-trigger-icon-close {
            display: block;
        }
    }
}

.meta-links-trigger {
    display: block;
    margin-left: 5px;
    padding: 1px 6px;
    @include px2rem($font-size-mobile-meta);

    .meta-links-trigger-text {
        @include hideout();
    }

    .meta-links-trigger-icon {
        display: flex;

        svg {
            width: 24px;
            height: auto;
        }
    }

    .meta-links-trigger-icon-fau {
        margin-right: -16px;

        svg {
            width: 40px;
        }
    }

    &.meta-links-trigger-close .meta-links-trigger-icon svg {
        transform: scale(0.7);
    }

    .meta-links-trigger-icon-close {
        display: none;
    }
}

.meta-links-trigger-close {
    display: none;
}

.meta-links-trigger-button {
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background: none;
}

.meta-links {
    display: none;
    margin: 0;
    background-color: var(--color-MetaBackgroundLight);
    z-index: 100;
    padding: 15px;

    ul li,
    ol li {
        list-style-type: none;
        padding: 0;

        a {
            display: inline-block;
            padding: 0.15rem 0;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .orgalist {
        margin: 0;
    }

    .fauhome {
        padding: 0;
    }

    .meta-search {
        width: 100%;
        position: relative;
        margin: 1rem 0 0;

        .searchform {
            display: flex;
            width: 100%;
            padding: 0;
            margin: 0.5rem 0;
            justify-items: center;
        }

        .searchicon {
            position: absolute;
            margin: 0;
            top: 50%;
            left: 0.5rem;
            transform: translateY(-50%);
        }

        #headsearchinput {
            width: 100%;
            padding-left: 2rem;
        }
    }

    .cms-workflow-widget {
        margin: 0;

        .mlp_language_box {
            background-color: transparent;
        }
    }

    .meta-nav.menu {
        margin: 1rem 0 0;
    }
}

.meta-logo {
    display: flex;
    max-height: 100%;

    .branding {
        display: flex;
        justify-content: center;
        max-height: 100%;
    }

    .custom-logo-link {

        img,
        svg {
            width: auto;
            height: 100%;
        }
    }

    .textlogo {

        .baselogo {
            display: none;
        }

        .fau-title {
            display: none;
        }

        .fauorg-kooperation & {
            .baselogo {
                display: block;
            }

            .text {
                display: none;
            }
        }
    }

    @media (min-width: $screen-md) {
        display: none;
    }
}
