/*-----------------------------------------------------------------------------------*/
/* Search in Header
/*-----------------------------------------------------------------------------------*/

.meta-search {  
    --fau-arrow-icon-size: 1rem;
    --fau-arrow-icon-color: var(--color-MetaTextDefault);
    --fau-arrow-icon-color-hover: var(--color-MetaTextDefault);
    --fau-arrow-icon-size-mask: 1.2rem;
    
    width: auto;
    display: block;
    position: relative;
    margin: 0;
    text-align: right;
   // margin: 1rem 0 0;
    [dir="rtl"] & {
        margin-right: auto;
    }
    
    @media (min-width: $screen-md) {
        display: inline-block;
        margin: 0 0 0 auto;
        [dir="rtl"] & {
            margin-right: auto;
	    margin-left: 0;
        }
    }   
    

    .search-initiate-button {
	--fau-icon-size: 1rem;
	--fau-icon-size-mask: 1.2rem;
	--fau-icon-color: var(--color-MetaTextDefault);
	--fau-icon-color-hover: var(--color-MetaTextDefault);
	display: none;
	
	@extend .fau-icon;
	mask-image: svg-icon-search2();
	width: 30px;
	height: 30px;
	min-height: 44px;
	min-width: 44px;
        cursor: pointer;
	
	@media (min-width: $screen-md) {
             display: inherit;
        }
        &.active {
            display: none;
        }
       
   	
        &:hover,
        &:focus {
	    background-color: var(--color-primary-ci-hell);
	    color: var(--color-primary-ci-hell-kontrast);
        }

       
    }

    .active-meta-widget & {
        display: inline;
        flex-shrink: 0;
        [dir="rtl"] & {
            margin-right: auto;
        }
    }


    .searchform {
	display: flex;
        border: none;
        margin: 0;
        padding: var(--width-gutter-half);
	justify-content: center;
	
	@media (min-width: $screen-md) {
                padding: 0;
		justify-content: flex-start;
        }
	input {
	     margin: 0;
	     border-radius: var(--border-radius);
	     height: 1.875rem;
	     min-height: 44px;
	     border-left: 0;
	     border-right: 0;
	     border-top: 5px solid  var(--color-MetaBackgroundLight);
	     border-bottom: 5px solid  var(--color-MetaBackgroundLight);
	}
        input[type="text"] {
            width: 0;
            outline: none;
            color: var(--color-zentral-basis);           
            background: var(--color-white);
            font-weight: bold;
            visibility: hidden;
            transition: 0.5s all;

            &:focus {
                box-shadow: none;
		border-color:  var(--color-MetaBackgroundLight);
            }

            

            @media (max-width: $screen-md) {
                visibility: visible;
                width: calc(100% - 45px);
		max-width: 30ch;
		border: 1px solid  var(--color-StandardHellgrau);
            }



            &.active {
                visibility: visible;
                padding: 0.3rem 0.8rem;
		
                @media (min-width: $screen-sm) {
                    width: 160px;
                    .active-meta-widget & {
                        width: 200px;
                    }
                }
                @media (min-width: $screen-lg) {
                    width: 250px;
                    .active-meta-widget & {
                        width: 300px;
                    }
                }
            }
        }
	input[type="text"]::placeholder {
               opacity: 1;
	       font-weight: normal;
               color: var(--color-Text);
            }

        input[type="submit"] {           
            position: relative;
            z-index: 100;
            width: 0;
            padding: 0;
            font-weight: bold;
            outline: none;
            color: var(--color-primary-ci-hell-kontrast);
            background: var(--color-primary-ci-hell);
            margin: 0;
            visibility: hidden;
            opacity: 0;
            transition: 0.5s all;

            @media (max-width: $screen-md) {
                visibility: visible;
                opacity: 1;
                width: auto;
                padding: 0 15px;
            }
            
            &.active {
                visibility: visible;
                width: auto;
                padding: 0 15px;
                opacity: 1;
            }

            &:hover,
            &:focus {
		background-color: var(--color-primary-dunkelste);
		color: var(--color-primary-dunkelste-kontrast);
            }
        }

        label {
            @extend .screen-reader-text;
        }

       
    }

    @media (max-width: $screen-md - 1) {      
        .search-toggled & {
            .searchform {
                background: var(--color-StandardHellgrau);
                display: block;
                width: 100%;
                position: absolute;
                top: 50px;
                left: 0;
                padding: 10px 15px;
                z-index: 100;

                input[type="text"] {
                    width: calc(100% - 50px);
		    
                }
            }
        }

    }
     @media (min-width: $screen-sm) {
            margin-top: 0;
            margin-left: auto;
    }
   
}


/* New Toogle Button */
#headerwrapper #search-toggle {
    background: transparent;
    border: none;
    display: none;
    z-index: 100;
    color: var(--color-Default);

    @media (max-width: $screen-sm - 1) {
        .js & {
            display: block;
        }
    }

    span {
        @include sr-only();
    }

}

.search-toggled {
    .search-static-links-column {
        margin-bottom: 10px;
    }

}