/*-----------------------------------------------------------------------------------*/
/* Search in Header
/*-----------------------------------------------------------------------------------*/


.meta-search {
    text-align: right;

    .active-meta-widget & {
        display: inline;
        flex-shrink: 0;
    }


    .searchform {
        @include transition(0.5s, all);
        border: none;
        margin: 0;
        padding: 5px 0;

        input[type="text"] {
            @include border-radius(20px);
            padding: 5px 35px 5px 10px;
            width: 220px;
            background: var(--color-Default);
            border: none;
            outline: none;
            color: var(--color-MainBackground);
            height: 1.875rem;
            display: inline-block;
            margin-right: -25px;
            margin-bottom: 0px;

            &:focus {
                background-color: var(--color-MetaHover);
                box-shadow: none;
            }

            @media (min-width: $screen-sm) {
                width: 160px;
                padding-left: 35px;

                .active-meta-widget & {
                    width: 150px;
                }

            }
            @media (min-width: $screen-lg) {
                width: 250px;
                .active-meta-widget & {
                    width: 180px;
                }
            }

        }

        input[type="submit"] {
            @include border-radius(20px);
            position: relative;
            z-index: 100;
            height: 1.875rem;
            padding: 0 12px;
            font-weight: bold;
            border: none;
            outline: none;
            color: var(--color-Default);
            background: var(--color-MainBackground);
            display: inline-block;
            margin: 0;

            &:hover,
            &:focus {
                background: var(--color-MetaBackgroundLight);
                @include box-shadow(0 0 5px rgba(0, 0, 0, 0.2));

            }
        }

        label {
            @extend .screen-reader-text;
        }

        .searchicon {
            @extend .svg-icon;
            @include svg-icon-sizes(1.1rem);
            background-image: svg-icon-search(#fff, 16, 16);
            margin-right: -30px;

            .search-toggled & {
                background-image: svg-icon-search-toggled($colorStandardHellgrau, 16, 16);
            }
        }
    }

    @media (max-width: $screen-sm) {
        width: 50px;
        .search-toggled & {
            .searchform {
                background: var(--color-StandardHellgrau);
                display: block;
                width: 100%;
                position: absolute;
                top: 50px;
                left: 0;
                padding: 10px 15px;
                z-index: 100;

                input[type="text"] {
                    width: calc(100% - 50px);
                }

                .searchicon {
                    display: none;
                }
            }
        }

    }
    @media (min-width: $screen-sm) {
        .searchform {
            display: inline-block;
        }
    }
}


/* New Toogle Button */
#headerwrapper #search-toggle {
    background: transparent;
    border: none;
    display: none;
    z-index: 100;
    color: var(--color-Default);

    .search-toggled &:before {
        background-image: svg-icon-search-toggled($colorDefault, 16, 16);
    }


    @media (max-width: $screen-sm) {
        .js & {
            display: block;
        }
    }

    span {
        @include sr-only();
    }

}

.search-toggled {
    .search-static-links-column {
        margin-bottom: 10px;
    }

}
