/*-----------------------------------------------------------------------------------*/
/* Meta-Navigation
/*-----------------------------------------------------------------------------------*/
.meta-links-container {
    flex-shrink: 0;

    @media (min-width: $screen-sm) {
        display: none;
    }
}

#meta-menu {

    @media (min-width: $screen-sm) {
        display: none;
    }

    &:target {
        .meta-links-trigger-open {
            display: none;
        }

        .meta-links-trigger-close {
            display: flex;
        }

        & + .meta-links {
            display: block;

            @media (min-width: $screen-sm) {
                display: flex;
            }
        }
    }
}

.meta-links-toggled {

    .meta-links {
        display: block;

        @media (min-width: $screen-sm) {
            display: flex;
        }
    }

    .meta-links-trigger {

        .meta-links-trigger-icon-open {
            display: none;
        }

        .meta-links-trigger-icon-close {
            display: flex;
        }
    }
}

.meta-links-trigger {
    display: block;
    margin-left: 5px;
    padding: 1px 6px;
    @include px2rem($font-size-mobile-meta);

    .meta-links-trigger-text {
        @include hideout();
    }

    .meta-links-trigger-icon {
        display: flex;
        color: var(--color-FAU);

        svg {
            width: 24px;
            height: 36px;
        }
    }

    .meta-links-trigger-icon-fau {
       //margin-right: -16px;

        svg {
            width: 40px;
        }
    }

    &.meta-links-trigger-close .meta-links-trigger-icon svg,
    &[aria-expanded="true"] svg {
        transform: scale(0.7);
    }

    .meta-links-trigger-open,
    .meta-links-trigger-icon-open {
        display: flex;
    }

    .meta-links-trigger-icon-close {
        display: none;
    }
}

.meta-links-trigger-close {
    display: none;
}

.meta-links-trigger-button {
    border: 1px dashed transparent;
    //outline: none;
    font: inherit;
    color: inherit;
    background: none;
    &:hover,
    &:focus,
    &:active {
        border-color: var(--color-FAU);
        background-color: transparent;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.22);
    }
}

.meta-links {
    display: none;
    margin: 0;
    background-color: var(--color-MetaBackgroundLight);
    z-index: 100;
    padding: 15px;

    @media (min-width: $screen-sm) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 1rem;
	    padding: 5px 0;

        background-color: transparent;

        .orgalist {
            order: 1;
        }
        .breadcrumblist {
            display: none;
        }
        .meta-search {
            order: 3;
        }
        .meta-widget {
            order: 4;
        }
        .meta-nav.menu {
            order: 2;
        }
    }

    ul li,
    ol li {
        list-style-type: none;
        padding: 0;
	
        a {
	    color: var(--color-MetaTextDefault);
            display: inline-block;
            padding: 0.15rem 0;
            text-decoration: none;
	    
	    &:focus,
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .orgalist {
        margin: 0;

        @media (min-width: $screen-sm) {
            flex-shrink: 0;
        }
    }

    .fauhome {
        padding: 0;

        a {
            padding: 0.25rem 0.25rem 0.25rem 0;
	    color: var(--color-FAU);
	    
            @media (min-width: $screen-sm) {
                display: flex;
            }

            &:hover {
                color: var(--color-white);
                background-color: var(--color-FAU);

                &:before {
                    background-image: svg-arrow-up(#fff, 16, 16);
                }
            }

            &:before {
                @extend .svg-icon;

                width: 1.2rem;
                background-image: svg-arrow-up($colorZUV, 16, 16);
                margin-left: 0;
                margin-right: 2px;
                vertical-align: middle;
            }
        }

        svg {
            fill: currentColor;
            vertical-align: middle;
        }
    }

    .meta-search {
        width: 100%;
        position: relative;
        margin: 1rem 0 0;

        @media (min-width: $screen-sm) {
            margin-top: 0;
            max-width: 300px;
            margin-left: auto;
        }

        .searchform {
            display: flex;
            width: 100%;
            padding: 0;
            justify-items: center;
        }

        .searchicon {
            position: absolute;
            margin: 0;
            top: 50%;
            left: 0.5rem;
            transform: translateY(-50%);
        }

        #headsearchinput {
            width: 100%;
            padding-left: 2rem;
        }
    }

    .cms-workflow-widget {
        margin: 1rem 0 0;

        @media (min-width: $screen-sm) {
            margin-top: 0;
        }

        .mlp_language_box {
            background-color: transparent;
        }
    }

    .meta-nav.menu {
        margin: 0.5rem 0 0;

        @media (min-width: $screen-sm) {
            display: flex;
            flex-wrap: wrap;
            column-gap: 1rem;
            margin-top: 0;
        }
    }
}

.meta-logo {
    display: flex;
    max-height: 100%;
    text-align: center;
    
    @media (min-width: $screen-sm) {
        display: none;
    }

    .branding {
        display: flex;
        justify-content: center;
        max-height: 100%;
    }

    .custom-logo-link {
        text-align: center;

        img,
        svg {
            width: auto;
            height: 100%;
        }
    }
    a {
        border: 1px dashed transparent;
        padding: 0 5px;
        &:hover,
        &:focus {
            border-color: var(--color-primary-ci-hell);
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.22);
        }
    }

    .textlogo {

        .baselogo {
            display: none;
        }

        .fau-title {
            display: none;

        }
        .fauorg-home & {
            .fau-title {
                display: block;
            }
        }

        .fauorg-kooperation & {
            .baselogo {
                display: block;
            }

            .text {
                display: block;
            }
        }
    }
}
