/*-----------------------------------------------------------------------------------*/
/* Orga Breadcrumb (optional)
/*-----------------------------------------------------------------------------------*/
@use "sass:math";

.orga-breadcrumb {
    display: none;

    &:first-child {
        margin-top: 0;
    }

    @media (min-width: $screen-sm) {
        display: block;
        padding-top: 5px;
        padding-bottom: 15px;
        padding-left: floor(math.div($grid-gutter-width, 2));
        padding-right: ceil(math.div($grid-gutter-width, 2));
        width: $container-sm;
        margin: 0 auto;

        li {
            color: var(--color-TextLightKontrast);

            a {
                color: var(--color-TextLightKontrast);
                text-decoration: none;
            }

            a:hover, a:focus {
                text-decoration: underline;
            }
        }
    }

    @media (min-width: $screen-md) {
        width: $container-md;
    }
    @media (min-width: $screen-lg) {
        width: $container-lg;
    }
    @media (min-width: $screen-xl + 20) {
        width: $container-xl;
    }
}
#meta .orga-breadcrumb {
    display: block;
    margin: 0.25rem 0 .5rem;
    border-bottom: 1px solid map-get($colormap-misc, "TextLight");
    li {
        line-height: 1.5;
    }

    @media (min-width: $screen-sm) {
        display: none;
    }
}

