/*-----------------------------------------------------------------------------------*/
/* Code und Preformated
/*-----------------------------------------------------------------------------------*/

code,
pre, 
kbd,
samp {
    font-family: var(--font-family-monospace);
    font-size: var(--font-size-sm, 0.875rem);
}

code,
pre {
	color: var(--color-Text);
	background-color: var(--color-StandardHellgrau);
}

code {
	padding: 2px 4px;
	white-space: pre-line; 
	border-radius: var(--border-radius, 4px);
	box-decoration-break: clone;
}

pre {
	display: block;
	padding: 0.5rem;
	margin: 0 0 10px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	border: 1px solid var(--color-ContentBorders);
	border-radius: var(--border-radius, 4px);
	
	code {
	    padding: 0;
	    color: inherit;
	    white-space: pre;
	    white-space: pre-wrap;
	    background-color: transparent;
	    border: 0;
	}
	&.prettyprint {
	    margin-bottom: 20px;
	}

}



// Enable scrollable blocks of code
.pre-scrollable {
  max-height: $pre-scrollable-max-height;
  overflow-y: scroll;
}




// User input typically entered via keyboard
kbd {
    padding: 2px 4px;
    color: var(--color-KontrastHell);
    background-color: var(--color-KontrastDunkel);
    border-radius: var(--border-radius, 4px);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);

    kbd {
	padding: 0;
	font-weight: bold;
	box-shadow: none;
    }
}

