/*-----------------------------------------------------------------------------------*/
/* Definitionlists
/*-----------------------------------------------------------------------------------*/


dl {
    margin: 1.5rem 0;
}


dt {
	font-weight: bold;
	margin: 0.5rem 0 0.2rem 0;
}

dd {
	margin-left: 2rem;
}

dd > dl {
    margin-top: 0.5rem;
    margin-left: 2rem;    
}