/*-----------------------------------------------------------------------------------*/
/* Devider
/*-----------------------------------------------------------------------------------*/

.hr-default-nat hr {
    background-color: var(--color-branding-nat);
    color:  var(--color-branding-nat);
}
.hr-default-phil hr {
    background-color: var(--color-branding-phil);
    color:  var(--color-branding-phil);
}
.hr-default-med hr {
    background-color: var(--color-branding-med);
    color:  var(--color-branding-med);
}
.hr-default-tf hr {
    background-color: var(--color-branding-tf);
    color:  var(--color-branding-tf);
}
.hr-default-rw hr {
    background-color: var(--color-branding-rw);
    color:  var(--color-branding-rw);
}
.hr-default-grau hr {
    background-color: var(--color-ContentBorders);
    color: var(--color-ContentBorders);
}
.hr-default-invis hr {
    background-color: transparent;
    color: transparent;
}


hr {
	position: relative;
	clear: both;
	background: var(--color-FAU);
	color:  var(--color-FAU);
	border: none;	
	height: var(--devider-height, 4px);
	margin: 2rem 0;
	

	&.nat {
	    background-color: var(--color-branding-nat);
	    color:  var(--color-branding-nat);
	}
	&.rw {
	    background-color: var(--color-branding-rw);
	    color:  var(--color-branding-rw);
	}
	&.phil {
	    background-color: var(--color-branding-phil);
	    color:  var(--color-branding-phil);
	}
	&.tf {
	    background-color: var(--color-branding-tf);
	    color:  var(--color-branding-tf);
	}
	&.med {
	    background-color: var(--color-branding-med);
	    color:  var(--color-branding-med);
	}
	&.fau, 
	&.zentral {
	    background-color: var(--color-branding-zentral);
	    color:  var(--color-branding-zentral);
	}	
}
