/*-----------------------------------------------------------------------------------*/
/* CSS Classes for use in several purposes
/*-----------------------------------------------------------------------------------*/



.clear {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.clearfix:before,
.clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}

.clearfix:after {
	clear: both;
}

.input-block-level {
	display: block;
	width: 100%;
	min-height: 30px;
	box-sizing: border-box;
}



.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.invisible {
	visibility: hidden;
}
.uppercase {
    text-transform: uppercase;
}


.alignright {
	text-align: right;
}

.aligncenter {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

.alignleft {
	text-align: left;
}

div.alignleft {
	float: left;
	clear: both;
	margin-right: 20px;
	margin-bottom: 20px;
}

div.alignright {
	float: right;
	clear: both;
	margin-left: 20px;
	margin-bottom: 20px;
}

div.aligncenter {
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

// Prohibit that iframes with fixed width/height settings will overflow the avaible size
iframe {
	max-width: 100%;
}



@media (max-width: $screen-xs - 1) {
    .alignleft,
    .alignright,
    div.alignleft,
    div.alignright {
	float: none;
	padding: 0;
	display: block;
	margin: 5px auto;
    }
}



.hide-desktop {
	display: none;
}
.hidden {
	display: none;
}

.span-small {
	width: 90px;
}


.content-image-cols {
	margin-bottom: 20px;
}






@media (max-width: $screen-sm -1) {
    .hide-mobile {
	    display: none;
    }
    .hide-desktop {
        display: block;
    }
}



.success {
	color: green;
	width: 16px;
	max-width: 16px;
	display: inline-block;
	height: 16px;
	padding-left: 16px;
	overflow: hidden;
  background-repeat:  no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg  xmlns='http://www.w3.org/2000/svg' viewBox='0 0 122.88 102.97'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%2310a64a;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Esmall-check-mark%3C/title%3E%3Cpath class='cls-1' d='M4.82,69.68c-14.89-16,8-39.87,24.52-24.76,5.83,5.32,12.22,11,18.11,16.27L92.81,5.46c15.79-16.33,40.72,7.65,25.13,24.07l-57,68A17.49,17.49,0,0,1,48.26,103a16.94,16.94,0,0,1-11.58-4.39c-9.74-9.1-21.74-20.32-31.86-28.9Z'%3E%3C/path%3E%3C/svg%3E");

}
.fail {
	color: red;
	width: 16px;
	max-width: 16px;
	display: inline-block;
	height: 16px;
	padding-left: 16px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg  xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 122.88 122.88' style='enable-background:new 0 0 122.88 122.88' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st0%7Bfill-rule:evenodd;clip-rule:evenodd;%7D%3C/style%3E%3Cg%3E%3Cpath class='st0' fill='%23FF4141'  d='M1.63,97.99l36.55-36.55L1.63,24.89c-2.17-2.17-2.17-5.73,0-7.9L16.99,1.63c2.17-2.17,5.73-2.17,7.9,0 l36.55,36.55L97.99,1.63c2.17-2.17,5.73-2.17,7.9,0l15.36,15.36c2.17,2.17,2.17,5.73,0,7.9L84.7,61.44l36.55,36.55 c2.17,2.17,2.17,5.73,0,7.9l-15.36,15.36c-2.17,2.17-5.73,2.17-7.9,0L61.44,84.7l-36.55,36.55c-2.17,2.17-5.73,2.17-7.9,0 L1.63,105.89C-0.54,103.72-0.54,100.16,1.63,97.99L1.63,97.99z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

}
