/*-----------------------------------------------------------------------------------*/
/* Headlines
/*-----------------------------------------------------------------------------------*/



h1,
h2,
h3,
h4,
h5,
h6 {
	color: $colorPrimary;
	font-weight: bold;
	
	em {
	    font-style: normal;
	}
	&.widget-title {
	    padding-top: 0;			
	}
}



h1, h2 {
    @include hyphens(none);
}
h3, h4, h5, h6 {
    @include hyphens(auto);
}

h1 {
    @include px2rem($font-size-h1,  $font-size-base, $font-size-h1 * 1.3);
    
    .sidebar-inline+& {
	    margin-top: 0;
    }
   
    .banner-text & {
	@include px2rem($font-size-h1-banner);
    }
    .sidebar-inline &,
	.search-sidebar &,
	.sidebar-outline &, 
	.widget & {
	    @include px2rem($font-size-h1-sidebar);
    }
    table & {
	@include px2rem($font-size-h1-table);
    }
    &.small {
	@include px2rem($font-size-h1-small, $font-size-base, $font-size-h1-small * 1.3);
    }
}

h2 {
	@include px2rem($font-size-h2, $font-size-base, $font-size-h2 * 1.3);
	margin: 0;
	padding: 22px 0;
	
	
	.sidebar-outline &, 
	.widget & {
	    padding-bottom: 11px;
	}
		
	.search-sidebar & {
	    padding-top: 8px;
	}
	
	
	&.small,
	&.subtitle  {
	    @include px2rem($font-size-h2-small);
	}

	
	&.subtitle {
		padding: 0 0 22px 15px;
		@media (min-width: $screen-sm) {
		    padding-left: 0;
		}
	}
	
	&.menu-header {
		padding: 11px 15px;
		margin-top: 0px;
		border-top: 1px solid $colorLightest;	
	}
	
	.search & {
		padding-top: 4px;
	}
	
	&.widget-title,
	.sidebar-inline &,
	.search-sidebar &,
	.sidebar-outline &, 
	.widget & {
	    @include px2rem($font-size-h2-sidebar);
	}
	table & {
	    @include px2rem($font-size-h2-table);
	}
}

h3 {
	margin: 0;
	padding: 11px 0;
	@include px2rem($font-size-h3);
	
	&.abstract {
		padding: 0 0 22px 0;
	}
	

	.subpages-menu & {
		font-weight: normal;
	}
	
	#meta & {
	    @extend .screen-reader-text;
	}
	
	
	#off-canvas & {
	     @include px2rem($font-size-h3-small);
		border-bottom: 1px solid #ccc;
		margin: 20px 0 0 0;
		padding: 0 10px;
	}
	.sidebar-inline &,
	.search-sidebar &,
	.sidebar-outline &, 
	.widget & {
	    @include px2rem($font-size-h3-sidebar);
	}
	table & {
	    @include px2rem($font-size-h3-table);
	}
	
}

h4 {
	margin: 0;
	padding: 11px 0 11px 0;
	@include px2rem($font-size-h4);
	
	.person &,
	.span3 &, 
	.span4 & {
		@include px2rem($font-size-h4-small);
	}
	.sidebar-inline &,
	.search-sidebar &,
	.sidebar-outline &, 
	.widget & {
	    @include px2rem($font-size-h4-sidebar);
	}
	table & {
	    @include px2rem($font-size-h4-table);
	}

}

h5 {
	margin: 0;
	padding: 11px 0 11px 0;
	@include px2rem($font-size-h5);
	.sidebar-inline &,
	.search-sidebar &,
	.sidebar-outline &, 
	.widget & {
	    @include px2rem($font-size-h5-sidebar);
	}
	table & {
	     @include px2rem($font-size-h5-table);
	}
}

h6 {
    @include px2rem($font-size-h6);
    .sidebar-inline &,
	.search-sidebar &,
	.sidebar-outline &, 
	.widget & {
	    @include px2rem($font-size-h6-sidebar);
    }
    table & {
        @include px2rem($font-size-h6-table);
    }
}


	
@media (max-width: $breakSM) {
    .page-template-page-subnav {
	#hero.hero-small h1 {
		    padding-left: 15px;
	}
    }
    #content .subpages-menu {
	li {
	    h3 {
		padding-bottom: 0px; 
	    }
	}
    }
}

/*
@media (max-width: $breakMD) {
    h1, h2, h3, h4, h5, h6, p {
		margin-left: 15px;
		margin-right: 15px;
		
		#footer &, 
		#wp-content-wrap &, 
		#content .container & {
		    margin-left: 0px;
		    margin-right: 0px;
		}
	
   }

}
*/
