/*-----------------------------------------------------------------------------------*/
/* Headlines
/*-----------------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	margin: 1.5rem 0 1rem 0;
	font-family: inherit;
	color: var(--color-content-headlines);
	font-weight: bold;

	em {
		font-style: normal;
	}

	&.widget-title {
		margin-top: 0;
	}
}

main {
	h1, h2,	h3, h4,	h5 {
		text-wrap: balance;

		a {
			color: var(--color-content-headlines);
		}
	}
}


h1, h2, h1.wp-block-heading, h2.wp-block-heading {
	hyphens: none;
}

h3, h4, h5, h6 {
	hyphens: auto;
}

h1, h1.wp-block-heading {
	font-size: var(--font-size-h1);

	.sidebar-inline+& {
		margin-top: 0;
	}

	.banner-text & {
		font-size: var(--font-size-h1);
	}

	.sidebar-inline &,
	.search-sidebar &,
	.sidebar-outline &,
	.widget & {
		font-size: var(--font-size-h1-sidebar);
	}

	&.small,
	table & {
		font-size: var(--font-size-h1-sm);
	}

	&.mobiletitle {
		margin-top: 0;
		padding: var(--width-gutter-half) 0;
		hyphens: auto;

		@media (min-width: $screen-sm) {
			@include sr-only();
		}
	}
}

h2 {
	
	
	
	font-size: var(--font-size-h2);
	.sidebar-outline &,
	.widget & {
		margin-bottom: 0.8rem;
	}
	.search-sidebar & {
		margin-top: 8px;
	}
	.search & {
		margin-top: 4px;
	}
	.content-inline & {
		&:first-child {
			margin-top: 0;
		}
	}
	
	&.widget-title,
	.sidebar-inline &,
	.search-sidebar &,
	.sidebar-outline &,
	.widget & {
		font-size: var(--font-size-h2-sidebar);
	}
	table &, 
	&.small,
	&.subtitle {
		font-size: var(--font-size-h2-sm);
	}
	
	
}

h3 {
	margin: 0;
	padding: 0.7rem 0;
	font-size: var(--font-size-h3);

	&.abstract {
		padding: 0 0 var(--width-gutter) 0;
	}


	.subpages-menu & {
		font-weight: normal;
	}

	#meta & {
		@extend .screen-reader-text;
	}

	.sidebar-inline &,
	.search-sidebar &,
	.sidebar-outline &,
	.widget & {
		font-size: var(--font-size-h3-sidebar);
	}

	table & {
		font-size: var(--font-size-h3-sm);
	}

}

h4 {
	margin: 0;
	padding: 0.5rem 0;
	font-size: var(--font-size-h4);

	.sidebar-inline &,
	.search-sidebar &,
	.sidebar-outline &,
	.widget & {
		font-size: var(--font-size-h4-sidebar);
	}

	table &,
	.person &,
	.span3 & {
		font-size: var(--font-size-h4-sm);
	}
}

h5 {
	margin: 0;
	padding: 0.5rem 0;
	font-size: var(--font-size-h5);

	.sidebar-inline &,
	.search-sidebar &,
	.sidebar-outline &,
	.widget & {
		font-size: var(--font-size-h5-sidebar);
	}

	table & {
		font-size: var(--font-size-h5-sm);
	}
}

h6 {
	font-size: var(--font-size-h6);

	.sidebar-inline &,
	.search-sidebar &,
	.sidebar-outline &,
	.widget & {
		font-size: var(--font-size-h6-sidebar);
	}

	table & {
		font-size: var(--font-size-h6-sm);
	}
}

.subtitle {
	margin: 1.5rem 0 1rem 0;
	font-family: inherit;
	color: var(--color-content-headlines);
	font-weight: bold;

	em {
		font-style: normal;
	}

	hyphens: none;
	font-size: var(--font-size-h2-sm);

	.content-inline & {
		&:first-child {
			margin-top: 0;
		}
	}
}

@media (max-width: $screen-xs) {
	.page-template-page-subnav {
		#hero.hero-small h1 {
			padding-left: var(--width-gutter-half);
		}
	}

	#content .subpages-menu {
		li {
			h3 {
				padding-bottom: 0px;
			}
		}
	}
}