/*-----------------------------------------------------------------------------------*/
/* Images
/*-----------------------------------------------------------------------------------*/


.img-rounded {
    @include border-radius(6px);
}

.img-polaroid {
    padding: 4px;
    background-color: var(--color-MainBackground);
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
}

.img-circle {
    @include border-radius(500px);
}


img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;

    .wp-caption & {
        overflow: hidden;
        max-width: 100%;
    }

    #map_canvas &,
    .google-maps & {
        max-width: none;
    }

    &.alignleft {
        float: left;
        clear: both;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    &.alignright {
        float: right;
        clear: both;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    &.aligncenter {
        display: block;
        margin: 0 auto 10px auto;
    }

}

svg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    fill: var(--color-FAU);
}

main {
    img {
        @include box-shadow(none);
        @media (min-width: $screen-sm) {
            @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
        }

        &.shadow {
       //     @include box-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
           filter: drop-shadow(2px 2px 7px rgba(0,0,0,0.5));
           box-shadow: none;
        }

        &.thickborder {
            border: 1px solid black;
            @include border-radius(2px);
        }

        &.borderless {
            border: none;
        }

        &.noshadow {
            box-shadow: none;
        }

        &.size-full,
        &.aligncenter {
            @media (max-width: $screen-xs) {
                width: 100%;
                max-width: 100vw;
            }
        }


    }
    
}


main, aside, .portalpage-sidebar, .widget {
    figure {

	&.alignleft,
	&.alignright,
	&.alignnone,
	&.aligncenter {
	    margin-left: calc(-#{$fau-gutter-width} / 2);
	    margin-right: calc(-#{$fau-gutter-width} / 2);
        width: 100vw;
	    max-width: 100vw;
	    
	    @media (min-width: $screen-xs) {
		 width: auto;
		 max-width: 100%;
		 margin: 1rem;
	    }
	    img {
		width: 100vw;
		max-width: 100vw;
		@media (min-width: $screen-xs) {
		    max-width: 100%;
		}
	    }
	   
	}
	&.alignleft {	  
	    @media (min-width: $screen-xs) {
		float: left;
	    }
	}
	&.alignright {
	    @media (min-width: $screen-xs) {
		float: right;	 
	    }
	}
	&.alignnone{
	    text-align: left;
	    float: none;

	}
	&.aligncenter {
	    text-align: center;
	    float: none;
        margin: 1rem auto;
	}
    }
}
figcaption {
	@include px2rem($font-size-image-caption);
	padding: 0.3rem;
	
	 @media (min-width: $screen-xs) {
	     padding: 0.3rem 0 0.3rem 0;
	 }
}




@media (max-width: $screen-xs) {
    img.alignleft,
    img.alignright {
        float: none;
        padding: 0;
        display: block;
        margin: 5px auto;
        max-width: $screen-xs;
    }
}

