/*-----------------------------------------------------------------------------------*/
/* Links
/*-----------------------------------------------------------------------------------*/

a {
	color: var(--color-links);
	text-decoration: none;
        
      
	&:active,
	&:hover, 
	&:focus {
		text-decoration: underline;
	}

	p &, 
	li &, 
	table &, 
	.accordion-inner & {
		text-decoration: underline;
	}
	
	li.search-result & {
	    text-decoration: none;

	    &:hover, 
	    &:focus {
		text-decoration: underline;
	    }
	    
	}


	table &:hover, 
	table &:focus,
	&.tag-cloud-link,
	#hero & {
		text-decoration: none;
	}
	
	&.tag-cloud-link:hover,
	&.tag-cloud-link:focus,
	#hero &:hover, 
	#hero &:focus {
		text-decoration: underline;
	}
	
	
	
}

#footer .ext-link, 
#hero .ext-link, 
#nav .ext-link {
	padding-right: 0 !important;
	background-image: none !important;
}






//Special Links

.top-link {
	position: fixed;
	bottom: 20px; 
	right: 20px;

	@include buttonstyle(4px);

	display: none;

}

// Continue/Weiterlesen Link
.continue {
    margin-top: 0.5rem;
    text-align: right;

    .read-more-link {
		@include defaultlinkstyle();
		@include ghostbutton();

		&:after {
			 @include svg-icon-place();
			 background-image: svg-angle-right($color-content-links);
		}

		&:focus:after,
		&:hover:after {
			background-image: svg-angle-right($color-ghostbutton-hover-text);
		}
    }
}
	    
	    
// Additional link effects for Content
main,
.entry-content,
.portalpage-content,
.content-inline {

    a{
        @include styledcontentlink();

        &.news-image,
        svg,
        img {
            @include defaultlinkstyle();
        }
        
    }
    
    .imagelink,
    .person-info,
    .contactlist,
    .widget,
    aside,
    address,    
    h1, h2, h3, h4, h5, h6 {
        a {
             @include defaultlinkstyle();
             text-decoration: none;

            &:active,
            &:hover, 
            &:focus {
                    text-decoration: underline;
            }
        }
    }
   
   
    a.media-img {
	@include defaultlinkstyle();
	display: inline-block;
	overflow: hidden;
		
	img {
	    @media (prefers-reduced-motion: no-preference) {
		  transition: transform 1s;
	    }
	    object-fit: cover;		    
	}
	
    }
    a.media-img:hover, 
    a.media-img:focus {
	    img {
		
		transform: scale(1.1);
		box-shadow: none;
	    }
	}
	
	a.media-img.alignleft {
	    float: left;
	    clear: both;
	    margin-right: 20px;
	    margin-bottom: 20px;
	    img {
		float: none;
		margin: 0;
	    }
	}
	a.media-img.alignright {
	    float: right;
	    clear: both;
	    margin-left: 20px;
	    margin-bottom: 20px;
	    img {
		float: none;
		margin: 0;
	    }
	}
	a.media-img.aligncenter {
	    display: block;
	    margin: 0 auto 10px auto;
	    img {
		display: inline-block;
		margin: 0;
	    }
	}
}


