/*-----------------------------------------------------------------------------------*/
/* Lists
/*-----------------------------------------------------------------------------------*/


ul,
ol {
	margin: 0 15px 10px 25px;
	padding: 0;
	@media (min-width: $screen-sm) {
	    margin-right: 0;
	}
	
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin-bottom: 0;
}


li {
    padding: 3px 0 4px 4px;
    @include px2rem($font-size-content-listitem);  
    color: $colorText;
	
    .sidebar-inline & {
	padding: 3px 0 4px 20px;
	@include px2rem($font-size-sidebar-listitem);	    	
    }
}


ul {
	li {
	    list-style-type: circle;	    
	    ul li {
		list-style-type: disc;		
		ul li {
		   list-style-type: square;
		}
	    }
	}
	
	/* Lettered Pagination */
	&.letters {
	    @include no-list;
	    margin: 20px 0 10px 0;

	    li {
		    @include no-list;
		    @include inline-block;
		    background: none;
		    margin: 0.2rem;

		    a {
			    @include inline-block;
			    text-decoration: none;
		    }

		    a:hover, 
		    a:focus {
			    text-decoration: underline;
		    }
	    }
	}
	/* File Lists */

	&.files {
		@include no-list;

		li {
			@include no-list;
			background: none;
			font-size: 13px;
			line-height: 18px;
		}
	}

	/* Search results */
	&.searchresults {
	    margin-left: 0;
	    li {
		    @include no-list;
	    }
	}
	
	/* Lists without list points */
	
	&.nolist {
	    margin-left: 0;	    
	    li {	  
		list-style-type: none;
		
		
		li {
		    margin-left: 25px;
		    list-style-type: circle;
		}
		ul.nolist li {
		     margin-left: 0;	
		     list-style-type: none;
		}
	    }
	}
}

ol {
	li {
		padding-left: 0;
		list-style: decimal;
		ol li {
		    list-style: lower-latin;
		    
		    ol li {
		     list-style: upper-roman;
		     
		      ol li {
			list-style: lower-greek;
			}
		     
		    }
		    ul li {
			list-style-type: circle;
		    }
		}
		ul li {
		     list-style-type: circle;	    
		}
	}
}





