/*-----------------------------------------------------------------------------------*/
/* Paragraphs
/*-----------------------------------------------------------------------------------*/

p {
    margin: 0;
    padding: 0 0 var(--width-gutter-half) 0;
    font-size: var(--font-size-normal, 1rem);
    color: var(--color-Text);
    font-family: $fontStack; 
    font-style: normal;
   
	
	&.searchnotice {
		font-size: 1.5rem;
		padding: 4px 0 22px 0;
	}
	&.lead-in {
		margin: 0;
		padding: 0;
		font-weight: 300;
		font-style: italic;
		@include px2rem($font-size-quotes);
        }
	&.presentationtitle {
	    font-weight: bold;
	    @include px2rem($font-size-h1,  $font-size-base);
	    margin: 20px 0;
	}
	
	.entry-content & {
	    @include hyphens(auto);
	    text-wrap: pretty;
	}
	
	.textwidget & {
	    @include px2rem($font-size-contentwidgets);	
	}
	
	aside &,
	.widget & {
	    @include px2rem($font-size-sidebar);
	}
	
	

	
}

