/*-----------------------------------------------------------------------------------*/
/* Paragraphs
/*-----------------------------------------------------------------------------------*/

p {
    @include paragraphs();
    
    &.searchnotice {
        font-size: 1.5rem;
        padding: 4px 0 22px 0;
    }

    &.lead-in {
        margin: 0;
        padding: 0;
        font-weight: 300;
        font-style: italic;
	font-size: var(--font-size-lg, 1.125rem);
    }

    &.presentationtitle {
        font-weight: bold;
        font-size: var(--font-size-h1);
        margin: 20px 0;
    }

    .entry-content & {
	hyphens: auto;
        text-wrap: pretty;
    }

   
    .textwidget &,
    aside &,
    .widget & {
        font-size: var(--font-size-sm, 0.875rem);
    }
}