/*-----------------------------------------------------------------------------------*/
/* Blockquotes, Cites, Abbr
/*-----------------------------------------------------------------------------------*/
@import "../mixins/mixin-blockquotes";

blockquote {
    @include blockquote();
}

cite {
    @include cite();
}

// Abbrevations, Acronyms
acronym[title],
acronym[data-original-title],
abbr[title],
abbr[data-original-title] {
    cursor: help;
    text-decoration: none;
}

acronym.initialism,
abbr.initialism {
    font-size: 90%;
    text-transform: uppercase;
}