/*-----------------------------------------------------------------------------------*/
/* Tables
/*-----------------------------------------------------------------------------------*/
table {
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
	
     td[class*="span"],
     th[class*="span"] {
	display: table-cell;
	float: none;
	margin-left: 0;
    }
}



table {
	@include table();
}

.sidebar-inline,
.sidebar-single {
	table {

		th,
		td {
			padding: 0.3rem;
		}
	}
}