/*-----------------------------------------------------------------------------------*/
/* Tables
/*-----------------------------------------------------------------------------------*/

table {
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}

table td[class*="span"],
table th[class*="span"] {
	display: table-cell;
	float: none;
	margin-left: 0;
}



	
.table-wrapper {
	position: relative;
	overflow: hidden;
	margin: 0;
	border-right: 1px solid var(--color-ContentBorders);
	
	
	@media (min-width: $screen-sm) {
	    border-right: none;
	}
	.scrollable {
	    overflow-x: auto;
	    overflow-y: hidden;
	}

}
	

table {
	border: 0;
	background: transparent;
	
	border-top: 1px solid var(--color-ContentBorders);
	border-bottom: 1px solid var(--color-ContentBorders);
	margin: 0;
	width: 100%;

	
	@media (min-width: $screen-sm) {
	    margin: 5px 0 20px 0;
	    
	}
	
	
	tbody, tr, th, td {
		border: 0;
	}
	
	th, td {
		padding: 0.3rem 0.6rem;
		@include px2rem($font-size-table);	
		p {
		   @include px2rem($font-size-table);	    	
		}
	}
	
	th {
		color: var(--color-Text);
		background: var(--color-ContentBorders);
		font-weight: bold;
		border-top: 1px solid var(--color-ContentBorders);
		border-bottom: 1px solid var(--color-ContentBorders);
		text-align: left;
	}
	&.sorttable th.header {
	    cursor: pointer;
	}
	
	td {
		border-right: 1px solid var(--color-StandardHellgrau);
		color: var(--color-Text);
	}
	
	tr {
		border-left: 1px solid var(--color-StandardHellgrau);
		border-right: 1px solid var(--color-StandardHellgrau);
	}
	
	tr:nth-child(odd) td {
		background: var(--color-StandardHellgrau);
	}
	
	ul {
		li {
			@include px2rem($font-size-table);	    
			background-position: left 5px;
		}
	}
	
	&.nooddcolor {
	    tr:nth-child(odd) td {
		background: transparent;
	    }
	}
	&.nobackground {
	    border-top: none;
	    border-bottom: none;
	    th {
		background: transparent;
		border-top: none;
		border-bottom: none;
	    }
	    tr {
		border-left: none;
		border-right: none;
	    }
	    tr:nth-child(odd) td {
		background: transparent;
	    }
	}
	
	thead {
	    td {
		background: var(--color-ContentBorders);
	    }
	}
	
	th.small,
	td.small {
	    font-size: 0.8rem;
	}
	
	td.center, 
	th.center {
	    text-align: center;
	}
	tr.center {
	    td, th {
		 text-align: center;
	    }
	}
	td.right, 
	th.right {
	    text-align: right;
	}
	tr.right {
	    td, th {
		text-align: right;
	    }
	}

}

.sidebar-inline,
.sidebar-single {
    table {
	th, td {
		padding: 0.3rem;
	}
    }
}