/*-----------------------------------------------------------------------------------*/
/* WordPress default required classes
/*-----------------------------------------------------------------------------------*/

.wp-caption {
    max-width: 100%;
}

.sticky, 
.gallery-caption, 
.bypostauthor {
    font-size: var(--font-size-normal, 1rem);
}


.wp-caption-text {
	font-size: var(--font-size-sm, 0.875rem);
	padding: 0;
	@media (min-width:  $screen-sm) {
	    padding: 5px 0 5px 0;
	}
}


.wp-video {
	width: auto;
	max-width: 100%;
}


.wp-calendar-table {
    td, th {
	text-align: center;
    }
}
