/*----------------------------------------------------------------------------*/
/* _core-üaragraphs.scsss
/* Created on : 03.05.2024, 15:12:21
/*----------------------------------------------------------------------------*/

p.wp-block-paragraph {
    // imported from _paragraphs.scss
    @include paragraphs;
    line-height: 1.5;
    hyphens: auto;
    text-wrap: pretty;
}
