/*-----------------------------------------------------------------------------------*/
/* Logo Menu / Logo Slider
/*-----------------------------------------------------------------------------------*/

#content {
    	.logos-menu .logo-item img {
		@include box-shadow(none);
	}
	
}


@media (max-width: $breakXS) {

    .imagelink_carousel {
	display: none;
    }
}

@media (max-width: $breakMD) {
    .logos-menu-nav, 
	#logos-menu-playpause {
		display: none;
	}
	

	.logos-menu .span2 {
		float: left;
	}
	
}



@media (max-width: $breakLG) {
    	
	#logos-menu-prev {
		height: 80px;
	}
	#logos-menu-next {
		height: 80px;
	}

}