/*-----------------------------------------------------------------------------------*/
/* Logo Menu / Logo Slider
/*-----------------------------------------------------------------------------------*/


.container .entry-content {
  .container {
    // if an embed like image links will be placed inside an existing container, 
    // we have to set the inner container to 100% width to the width of the above
    // container with.
    width: 100%;
  }
}

.logos-menu-nav {
	position: relative;
}

.logos-menu {
    align-items:center;
    justify-content:center;	    
    margin-left: 0;
    img {
		@include box-shadow(none);
    }
	
    li {
	margin: 0 10px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	@include no-list();
	
	&:focus {
		outline: 1px solid $colorPrimary;
	}
	
	img {
		@include box-shadow(none);
	}
    }
}

#logos-menu-prev {
	position: absolute;
	z-index: 10;
	top: 0;
	left: -50px;
	width: 40px;
	height: 110px;
	text-indent: inherit;
	
	em, 
	i {
	   font-size: 1.6em; 
	   width: 100%;
	   height: 100%;
	   padding-top: 40px;
	   text-align: center;
	}
}

#logos-menu-next {
	position: absolute;
	z-index: 10;
	top: 0;
	right: -50px;
	display: block;
	width: 40px;
	height: 110px;

	em,
	i {
	   font-size: 1.6em; 
	   width: 100%;
	   height: 100%;
	   padding-top: 40px;
	   text-align: center;
	}
	
}

.logos-menu-settings {
    text-align: center;
}


#logos-menu-playpause {
	@include inline-block;
	height: 32px;
	padding-left: 32px;

	@include px2rem($font-size-textbuttons);
	
	em,
	i {
	   width: 20px;
	}
	
	.play {
	    display: none;
	}
}



#logos-menu-playpause.paused {
    .pause {
	display: none;
    }	
    .play {
	display: inline;
    }
}



@media (max-width: $breakXS) {

    .imagelink_carousel {
	display: none;
    }
}

@media (max-width: $screen-sm - 1) {
    .logos-menu-nav, 
	#logos-menu-playpause {
		display: none;
	}
	

	.logos-menu .span2 {
		float: left;
	}
	
}



@media (max-width: $breakLG) {
    	
	#logos-menu-prev {
		height: 80px;
	}
	#logos-menu-next {
		height: 80px;
	}

}