/*-----------------------------------------------------------------------------------*/
/* Main menu
/*-----------------------------------------------------------------------------------*/
/* Primary Navigation */
#nav {
	@include no-list;
	
	.nav-flyout {
		display: none;
		position: absolute;
		z-index: 30;
		top: 132px;
		
		@media (min-width: $screen-md) {
		    top: 90px;
		}
		    
		    
		left: 0;
		right: 0;
		background: $colorPrimary;
		padding: 20px 0;
		@include box-shadow(0 10px 10px rgba(0,0,0,0.3));
		
		a.button-portal {
			@include inline-block;
			background: $colorHover !important;
			padding: 13px 20px;
			font-size: 18px;
			line-height: 18px;

			&:hover, 
			&:focus {
				background: lighten($colorHover, 5%) !important;;
			}
		}
		a:hover, 
		a:focus {
				text-decoration: none;
				background-color: $colorHover;
		}
		
	}
	
	li {
		@include no-list;
		display: block;
		float: left;
		
		a {
			display: block;
			float: left;
			font-weight: bold;
			color: $colorPrimary;
			text-decoration: none;
			padding: 10px;
			font-size: 17px;
			line-height: 17px;
			@include border-radius(4px);
			margin: 0 0 10px 0;
		}
		
		ul {
			@include no-list;
			margin: 0 0 15px 0;
			
			li {
				@include no-list;
				float: none;
				background: none; 
				
				a {
					float: none;
					margin: 0;
					font-weight: normal;
					@include px2rem($font-size-nav-flyout-items);
					display: table;
					padding: 7px 20px 7px 0px;
					@include border-radius(0);
					border-bottom: 1px solid $colorHover;
					width: calc(100% - 20px);
					
					
					&:before {
					    @extend .fa;
					    @extend .fa-angle-right;	
					    font-weight: bold;
					    display: table-cell;
					    color: #fff;
					    width: 15px;
					    padding-left: 2px;
					}
					&:hover, 
					&:focus {
						text-decoration: none;
						background-color: $colorHover;
					}
					
				}
				
			}
		}
		
		.flyout-entries-full ul.sub-menu {
		    display: flex;
		    flex-wrap: wrap;
		    flex-direction: column;
		    justify-content: flex-start;
		    height: 120px;
		    align-items: flex-start;
		    
		    li {
			width: 30%;
		    }
		    
		    #off-canvas & {
			display: block;
			height: auto;
			li {
			    width: inherit;
			}
		    }
		}
	}
		
	li.has-sub {
		> a {
			padding-bottom: 10px;
			padding-right: 30px;
			margin-bottom: 0px;
			position: relative;
		}
		
		> a:before {
			@extend .fa;
			@extend .fa-caret-down;
			position: absolute;
			top: 11px; 
			right: 11px;
		}
	}
	
	.introtext-full,
	.introtext {
	    p {
			color: #fff;
			@include px2rem($font-size-nav-introtext, $font-size-nav-introtext, 24);
			padding: 20px;
			margin: 0;
			opacity: 0.7;
			
			font-style: normal;
			font-weight: normal;
	    }
	    blockquote {
		padding: 20px 20px 20px 70px; 
		min-height: 40px;
		
		p {
		    @include px2rem($font-size-nav-blockquote, $font-size-nav-blockquote, 24);
		    padding: 0;
		    font-style: italic;
		}
		cite {
		    padding: 10px 0;
		    text-align: right;
		    color: #fff;
		    opacity: 0.7;
		    @include px2rem($font-size-nav-blockquote-cite);
		}
		&:before {
		    color: $colorHover;
		    top: 40px;
		    font-style: normal;
		    font-size: 90px;
		}
	    }
	  
	}
	.introthumb {
	    padding-top: 7px;
	}
	p.nav-excerpt {
		color: $colorLightest;
		font-size: 15px;
		line-height: 24px;
		font-style: normal;
		padding: 0;
		margin: 0;
	}
}
#nav li.level1.has-sub > a:hover,
#nav li.level1.focus.has-sub > a  {

	@include border-bottom-radius(0px);
	background-color: $colorPrimary; 
	color: #fff; 
	
	
}
#nav li.level1 a.clicked-once,
#nav li.level1.focus.has-sub a,
#nav li.level1:hover a, 
#nav li.active a, 
#nav li.level1:focus a, 
#nav li.focus a {
	background-color: $colorPrimary; 
	color: #fff; 
	
}

#nav li.has-sub a.clicked-once, 
#nav li.has-sub a:hover, 
#nav li.has-sub a:focus, 
#nav li.has-sub.active, 
#nav li.has-sub:hover a, 
#nav li.has-sub:focus a, 
#nav li.has-sub.focus a {
	color: $colorMainMenu;

}

#nav li.level1:hover .nav-flyout, 
#nav li.level1:focus .nav-flyout, 
#nav li.focus .nav-flyout {
	display: block;
}




#off-canvas, 
#off-canvas-overlay {
	display: none;
}


/* New Toogle Button */
#wrap #mainnav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  @include px2rem($font-size-mobile-meta);
  background: transparent;
  border: none;
  display: none;
  z-index: 100;
  color: $colorMeta;
   
  @media (max-width: $screen-sm - 1) { 
    .js & {
	display: block;  
    }
  }
  
   span {
       @include hideout();
   }
}
#mainnav-toggle:before {
    @extend .fa;
    @extend .fa-bars;   
    
    &:focus, 
    &:hover {
	@extend .fa-close;   
    }
}

  



@media (max-width: $screen-xs - 1) {
    
    .no-js {
	.hide-mobile  {
	    display: none;
	    top: 0;
	    position: relative;
	}

	#nav .nav-flyout {
	    display: block;
	    position: relative;
	    float: none;
	    width: 100%;
	    top: inherit;
	    margin: 5px 0px;
	    padding: 3px;
	}
	#nav li.level1:hover,
	#nav .nav-flyout, 
	#nav .nav-flyout:hover {
	    background: none !important;
	    box-shadow: none;
	    margin: 0;
	    
	}
	  
	#nav li {
	    float: none;
	    display: block;
	    margin: 0;
	    padding: 0;
	    a {
		float: none;
		padding: 0;
		:hover {
		    text-decoration: underline;
		    background: none;
		}
	    }
	    .nav-flyout a.button-portal {
		color: #fff;
		text-align: center;
		margin: 0 10px;
	    }
	}

    }
    
}

@media (max-width: $screen-sm - 1) {

	body.js-enabled {

		&.menu-toggled {
			#off-canvas {
				-webkit-transform: translate3d(0, 0, 0);
				        transform: translate3d(0, 0, 0);
			}

			#wrap, 
			#footer, 
			.main-content-container {
				-webkit-transform: translate3d(-250px, 0, 0);
				        transform: translate3d(-250px, 0, 0);
			}

			#off-canvas-overlay {
				-webkit-transform: translate3d(0, 0, 0);
				        transform: translate3d(0, 0, 0);
				background-color: rgba(0,0,0,0.75);
			}
		}

		#off-canvas, 
		#off-canvas-overlay {
			display: block;
		}
		
		#off-canvas {
			position: fixed;
			width: 250px;
			height: 100%;
			top: 0px;
			right: 0px;
			z-index: 999;
			background: #eee;

			-webkit-transform: translate3d(100%, 0, 0);
			        transform: translate3d(100%, 0, 0);
			-webkit-transition: -webkit-transform 240ms;
			        transition: transform 240ms;

			overflow-y: auto;

			#nav {
				display: block;
				
				
				.level2 {
				    li {
					a {
					  display: table;
					    padding: 7px 20px 7px 0px;
					    @include border-radius(0);
					    border-bottom: 1px solid $colorHover;
					    width: calc(100% - 20px);
					}
				    }
				}
			}
		}

		#off-canvas-overlay {
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			background-color: rgba(0,0,0,0.0);
			-webkit-transform: translate3d(100%, 0, 0);
			        transform: translate3d(100%, 0, 0);
			-webkit-transition: background-color 500ms ease-out;
			        transition: background-color 500ms ease-out;
			z-index: 998;
		}
		&.admin-bar #off-canvas {
		    top: 46px;
		}
		#wrap, #footer, .main-content-container {
			-webkit-transform: translate3d(0, 0, 0);
			        transform: translate3d(0, 0, 0);
			-webkit-transition: -webkit-transform 240ms;
			        transition: transform 240ms;
		}

		#nav {
		    .nav-flyout {
			display: block;
			overflow: hidden;
			box-sizing: border-box;
			max-height: 0;
			padding: 0;
			-webkit-transition: all 500ms;
			        transition: all 500ms;

			a {
				color: #E9EDF2;
			}

			.container {
				padding: 10px;
			}
		    }
		    .focus {
			.nav-flyout {
				max-height: 1000px;
			}
		    }
		}


		#off-canvas-close {
			display: block;
			font-size: 14px;
			padding: 16px 10px;
			text-align: right;

			&:hover {
				text-decoration: underline;
			};
		}

		

		

	}
	.js {	
	    #nav {
		margin: 10px 0 0 0;
		display: none;
		    
		&.toggled {
			display: block;
		}
		    
		li.level1 {
			display: block;
			float: none;
			margin: 0;
			border-bottom: 1px solid #ccc;


			a {
			    display: block;
			    float: none;
			    @include border-radius(0);
			    margin-bottom: 0;
			}
		}
		li.level2 {
		    background-position: left 6px;
		    a {
			display: table;
		    }    
		}
		.nav-flyout {
		    position: relative;
		    top: 0;
		    left: 0;
		    right: 0;
		    padding: 10px 0;
		}
	    }
	   

	    body.admin-bar #nav .nav-flyout {
		    top: 0;
	    }
	 }

	
	
	
}
@media (min-width: $screen-sm) {
    #nav {
	overflow: hidden; 
	max-height: 37px;
	
    }
}


