/*-----------------------------------------------------------------------------------*/
/* Skiplinks (jumplinks)
/*-----------------------------------------------------------------------------------*/
.jumplinks {
	@include no-list;
	
	li {
		@include no-list;
		
		a {
			display: block;
			position: fixed;
			z-index: 10000;
			top: 20px;
			left: -1000px;
			padding: 6px 10px;
			background: #fff;
		}
		
		a:hover, a:focus {
			left: 20px;	
		}
	}
}

