/*-----------------------------------------------------------------------------------*/
/* All Widgets 
/*-----------------------------------------------------------------------------------*/

.widget {
	margin-bottom: 0.7rem;
	overflow-wrap: break-word;
	font-size: var(--font-size-sm, 0.875rem);
	ul {
	    margin: 0;
	    padding: 0;
	    
	    ul {
			margin: 0 0 0.7rem 0.5rem;
	    }
	}

	
	li {
		list-style-type: none;
		a {
			display: inline-block;
			padding: 0;
			font-size: var(--font-size-sm, 0.875rem);
			line-height: max(24px, 1.5em);
			text-decoration: none;
		}
		
		a:hover, a:focus {
			text-decoration: underline;
			text-underline-offset: 0.3rem;
			text-decoration-thickness: 0.15rem;
		}
		a:before {
		   @include svg-icon-place();
		   background-image: svg-angle-right($color-content-links);
		   color: var(--color-Default);
		}
	}
	
	
}


span {
    aside &,
	#content .widget &,
	#content .widget & {
	      font-size: var(--font-size-sm, 0.875rem);
	}
}
