/*-----------------------------------------------------------------------------------*/
/* All Widgets 
/*-----------------------------------------------------------------------------------*/

.widget {
	margin-bottom: 10px;
	overflow-wrap: break-word;
	@include px2rem($font-size-sidebar);
	ul {
	    margin: 0;
	    padding: 0;
	    
	    ul {
		margin: 0 0 10px 5px;
	    }
	}

	
	li {
		padding: 0 0 0 5px;
		@include px2rem($font-size-sidebar-listitem);
		
		list-style-type: none;
		padding-bottom: 3px;
		display: table-row;
		
		a {
                    padding: 0;
                    text-decoration: none;
		}
		
		a:hover, 
                a:focus {
			text-decoration: underline;
		}
	}
	li:before {
            
             @include svg-icon-place();
             background-image: svg-angle-right($color-content-links);
                
                display: table-cell;
                vertical-align: middle;
                color: var(--color-Default);
            
	}
	
}


