/*-----------------------------------------------------------------------------------*/
/* All Widgets 
/*-----------------------------------------------------------------------------------*/

.widget {
	margin-bottom: 10px;
	overflow-wrap: break-word;
	@include px2rem($font-size-sidebar);
	ul {
	    margin: 0;
	    padding: 0;
	    
	    ul {
		margin: 0 0 10px 5px;
	    }
	}

	
	li {
		padding: 0 0 0 5px;
		@include px2rem($font-size-sidebar-listitem);
		
		list-style-type: none;
		padding-bottom: 3px;
		display: table-row;
		
		a {
			text-decoration: none;
		}
		
		a:hover, a:focus {
			text-decoration: underline;
		}
	}
	li:before {
	    @extend .fa;
	    @extend .fa-angle-right;	
	    font-weight: bold;
	    color: $colorDefault; 
	    width: 15px;
	    display: table-cell;
	}
	
}


