.span-small {
	width: 90px;
}

#content .container {
	position: relative;
}

.oembed {
	margin: 10px 0 20px 0;
	
	#social & {
		margin: 0;
	}
}

#meta .pull-left .ext-link, 
#footer .ext-link, 
#hero .ext-link, 
#nav .ext-link {
	padding-right: 0 !important;
	background-image: none !important;
}

.wp-caption-text {
	font-size: 13px;
	padding: 5px 0 5px 0;
}

.pagination {
	text-align: center;
	padding: 20px 0 10px 0;
}

.alignright {
	text-align: right;
}

.aligncenter {
	text-align: center;
}

.alignleft {
	text-align: left;
}

img.alignleft, 
div.alignleft {
	float: left;
	clear: both;
	margin-right: 20px;
	margin-bottom: 20px;
}

img.alignright, 
div.alignright {
	float: right;
	clear: both;
	margin-left: 20px;
	margin-bottom: 20px;
}

img.aligncenter, 
div.aligncenter {
	margin-bottom: 10px;
}
img.size-full {
	display: block;    
}
img.aligncenter {
	display: block;
	margin: 0 auto 10px auto;
}


.content-image-cols {
	margin-bottom: 20px;
}

.wp-video {
	width: auto !important;
	max-width: auto !important;
}

.mejs-container {
	width: auto !important;
	background: transparent !important;
}

.mtli_attachment {
	background-position: left center !important;
	display: inline !important;
}

.link-all-videos {
	padding-top: 10px;
}

.unsichtbar {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
.unsichtbar:focus {
  position: relative;
  left: 0;
  width: auto;
  height: auto;
  overflow: auto;
}

.screen-reader-text,
.hide-desktop {
    @extend .unsichtbar;
}

.hidden {
	display: none;
}
