.span-small {
	width: 90px;
}

#content .container {
	position: relative;
}

.oembed {
	margin: 10px 0 20px 0;
	
	#social & {
		margin: 0;
	}
}

#footer .ext-link, 
#hero .ext-link, 
#nav .ext-link {
	padding-right: 0 !important;
	background-image: none !important;
}



.content-image-cols {
	margin-bottom: 20px;
}

.mejs-container {
	width: auto !important;
	background: transparent !important;
}

.mtli_attachment {
	background-position: left center !important;
	display: inline !important;
}

.link-all-videos {
	padding-top: 10px;
}

