// Hide special print elements for @media screen.
.tw-linklist {
    display: none;
}
.tw-linkref {
    display: none;
}

.tw-iframe-footnote {
   display: none;
}

.tw-iframe-image {
    display: none;
}
