/*-----------------------------------------------------------------------------------*/
/* Layout: Base Structure
/*-----------------------------------------------------------------------------------*/


body, html {
	overflow-x: hidden;
}

body {
	margin: 0;
	color: $colorText;	
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.35;
}

/* Wrap content in white */
#wrap {
	min-height: 100%;
	margin: 0 auto;	
	background-color: #fff;
	position: relative;
}

html, body, button {
	font-family: $fontStack;
	font-kerning:  none;
}

 @if $debugmode == 'true' {
    .container {
	border: 1px solid #ff8800;
    }
    .entry-content {
       border: 1px solid red;
    }


 }


.flyout-entries,
.introthumb,
.introtext {
    @extend .col-xs-12;
    @extend .col-sm-4;
}
.introtext-full {
    @extend .col-xs-12;
    @extend .col-sm-8;
}
.flyout-entries-full {
     @extend .col-xs-12;
}


@media (min-height: 480px) {
	#wrap { min-height: 480px;}
}

@media (min-height: 900px) {
	#wrap { min-height: 700px;}
}

@media (min-height: 1000px) {
	#wrap { min-height: 800px;}
}

@media (min-height: 1100px) {
	#wrap { min-height: 870px;}
}

@media (min-height: 1200px) {
	#wrap { min-height: 970px;}
}


@media (max-width: $screen-xs - 1) {
    
    .js-enabled {
	body.admin-bar #wpadminbar {
	    position: fixed;
	    top: 0;
	}

    }
}


@media (max-width: $screen-sm - 1) {
	body {
	    overflow: hidden;
		padding: 0;
	}
}
@media (max-width: $breakLG) {
	body {
		padding-top: 0;
	}

}



