/*-----------------------------------------------------------------------------------*/
/* Generic flex grid widgets
/*-----------------------------------------------------------------------------------*/


// Flex grid with maximal four elements per line 
.flex-four-widgets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
    > div, 
    > nav {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 100%;
	@media (min-width: $screen-xs) {
	    flex-grow: 1;
	    flex-basis: 50%;
	}
	@media (min-width: $screen-sm) {
	   flex-basis: 33%;
	}
	@media (min-width: $screen-md) {
	    flex-basis: 25%;
	}
    }
    
    
}