/*-----------------------------------------------------------------------------------*/
/* Page Template definitions
/*-----------------------------------------------------------------------------------*/

.sidebar-single {
    @extend .col-xs-12;
    @extend .col-sm-4;
    @extend .col-xxl-3;   
}


.entry-content {
    @extend .col-xs-12;
    @extend .col-sm-8;
    @extend .col-xxl-9;

}
.inline-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .sidebar-inline {
        order: 2;
        display: block;
        width: 100%;

    }
    .content-inline {
        order: 1;
        display: block;
         width: 100%;

    }

    @media (min-width: $screen-md) {
        // 992 - 
        display: flex;   
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: flex-start;

        .sidebar-inline,
        .content-inline {
             display: inline-block;

        }
        .content-inline {
            width: 100%;

            &.with-sidebar {
                width: calc(100% - 237px);
            }
        }
        .sidebar-inline {
            flex: 0 0 237px;
            margin-right: 0px; 
            margin-left: 15px;
        }

    }
    
    * {
	backface-visibility: inherit;
    }
}