/*-----------------------------------------------------------------------------------*/
/* Template: Page with Subnav
/*-----------------------------------------------------------------------------------*/

.page-template-page-subnav {
    
    .sidebar-subnav {
        @extend .col-xs-12;
        @extend .col-sm-4;
        @extend .col-xxl-3;   
        
        #content & {
            max-width: 324px;
            // Only for content region, cause sidebar-subnav is also been used
            // within the hamburger menu in header
        }
    }
    @media (min-width: $screen-md) {
        .inline-box {
            display: inline-block;
       
            .sidebar-inline {
                display: inline-block;
                float: right;
                width: 220px;
                flex: none; 
            }
            .content-inline.with-sidebar {
                width: 100%;
                display: block;
            }
         }
    }
}