/*-----------------------------------------------------------------------------------*/
/* Devider
/*-----------------------------------------------------------------------------------*/
hr {
	position: relative;
	clear: both;
	background: #fff;
	border: none;
	outline: none;
	display: none;
	
	height: 20px;
	margin: 10px 10px 30px;
	
	
	@media (min-width: $screen-xxs) {
	    display: block;
	    margin: 10px 50px 30px;
	    height: 20px;	
	}

	
	&.big,
	.page-template-page-start &,
	.home & {
	   
	    @media (min-width: $screen-sm) {
		height: 60px;
		margin-bottom: 10px
	    }
	}
	@include box-shadow(0 10px 10px -10px $colorStandardHellgrau inset);
	
	&.line {
	    height: 1px;
	    @include linear-gradient-three(transparent 0%,$colorStandardHellgrau 50%,transparent 100%);  
	}
	&.line.big {
	     margin-bottom: 60px
	}
}
.page-template-page-start hr::after,
.home hr::after {
    top: 30px;
    @include box-shadow(0 0 30px $colorStandardHellgrau);
}

/* Old hack, works only in ff, ie, opera 

hr {
	position: relative;
	 z-index: 10;
	clear: both;
	background: #fff;
	border: none;
	outline: none;
	display: none;
	
	@media (min-width: $screen-xs) {
	    display: block;
	}

	height: 40px;
	margin: 10px 0 30px;
	
	@media (min-width: $screen-sm) {
	    margin: 0 0 40px 0;
	    height: 20px;	    
	}
	
	&.big,
	.page-template-page-start &,
	.home & {
	    height: 60px;
	    margin: 0 0 60px 0;
	}
	
	&::after {
	    content: "";
	    position: absolute; 
	    top: 10px;
	    bottom: 0;
	    left: 50px;
	    right: 50px;
	    z-index: 9;
	    @include box-shadow(0 0 10px $colorStandardHellgrau);
	    @include border-radius(100px / 10px);

	}
	&::before {
	    content: "";
	    position: absolute;
	    background: #fff;
	    top: 0; 
	    left: 0;
	    right: 0;
	    bottom: 0;
	    z-index: 11;
	}
}
.page-template-page-start hr::after,
.home hr::after {
    top: 30px;
    @include box-shadow(0 0 30px $colorStandardHellgrau);
}


*/