/*-----------------------------------------------------------------------------------*/
/* Forms
/*-----------------------------------------------------------------------------------*/


textarea, input, select {
	font-family: $fontStack;
}



select, 
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"] {
	width: 290px;
	padding: 5px 10px;
	@include px2rem($font-size-base);
	height: auto;
}

textarea {
	min-height: 100px;
}

form {	
	padding: 20px;
	display: inline-block;
	border: 1px solid $colorLightest;
	 
	&.noborder {
	    border: none;
	}
	
	legend {
	    margin: 0;
	    padding: 0 0 11px 0;
	    @include px2rem($font-size-h3);
	    color: $colorPrimary;
	    font-weight: bold;
	}
}

label {
	padding-top: 5px;
	margin-right: 20px;
	display: inline-block;
	min-width: 300px;
	@include px2rem($font-size-base);
}





input[type="submit"] {
	@include inline-block;
	border: none;
	height: 30px;
	line-height: 30px;
	padding: 5px 20px;
	box-sizing: content-box;
	@include border-radius(20px);
	background: $colorPrimary;
	color: #fff;
	font-weight: bold;
	
	clear: left;
	
	&:hover, &:focus {
		background: $colorHover;
	}
	
	&:active {
		background: $colorHover;
	}
	
	
}



input[type="radio"] {
    margin: -5px 10px 0 0;
}

fieldset {
    margin: 10px 0;
    @include border-radius(4px);
}
/* Login/Passwords Form */
.post-password-form {
	label {
		float: none;
		color: $colorPrimary;
	}
	
	input[type="password"] {
		width: 220px;
		margin-top: 5px;
	}
}


@media (max-width: $breakMD) {
    	input[type="checkbox"],
	input[type="radio"] {
		border: 1px solid #ccc;
	}

    #content {
	 form {
		border: none;
		padding: 0;
	    }
    }
}


