/*-----------------------------------------------------------------------------------*/
/* CSS Classes for use in several purposes
/*-----------------------------------------------------------------------------------*/



.clear {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.clearfix:before,
.clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}

.clearfix:after {
	clear: both;
}

.hide-text {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.input-block-level {
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}



.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.invisible {
	visibility: hidden;
}
.uppercase {
    text-transform: uppercase;
}


.alignright {
	text-align: right;
}

.aligncenter {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	text-align: left;
}

div.alignleft {
	float: left;
	clear: both;
	margin-right: 20px;
	margin-bottom: 20px;
}

div.alignright {
	float: right;
	clear: both;
	margin-left: 20px;
	margin-bottom: 20px;
}

div.aligncenter {
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}





@media (max-width: $screen-xs - 1) {
    .alignleft, 
    .alignright,
    div.alignleft,
    div.alignright {
	float: none;
	padding: 0;
	display: block;
	margin: 5px auto;
	max-width: 100%;
    }
}



.hide-desktop {
	display: none;
}
.hidden {
	display: none;
}

.span-small {
	width: 90px;
}


.content-image-cols {
	margin-bottom: 20px;
}

.mejs-container {
	width: auto !important;
	background: transparent !important;
}

.mtli_attachment {
	background-position: left center !important;
	display: inline !important;
}

.link-all-videos {
	padding-top: 10px;
}




@media (max-width: $screen-sm - 1) {
    .hide-mobile {
	    display: none;
    }
    .hide-desktop {
        display: block;
    }
}

/* Additional CSS Definitons, that may overwrite prior definitions */

.textcol-phil {
		color: $colorPhilFak !important;
}
.textcol-rw {
		color: $colorRwFak !important;
}
.textcol-med {
		color: $colorMedFak !important;
}
.textcol-nat {
		color: $colorNatFak !important;
}
.textcol-tf,
.textcol-tech {
		color: $colorTechFak !important;
}
.textcol-fau, 
.textcol-default {
		color: $colorDefault !important;
}

.bgcol-phil {
    background-color: $colorPhilFak !important;
}
.bgcol-rw {
    background-color: $colorRwFak !important;
}
.bgcol-med {
    background-color: $colorMedFak !important;
}
.bgcol-nat {
    background-color: $colorNatFak !important;
}
.bgcol-tf,
.bgcol-tech {
    background-color: $colorTechFak !important;
}
.bgcol-fau, 
.bgcol-default {
    background-color: $colorDefault !important;
}

.bgcol-grau {
    background-color: $colorStandardHellgrau;
}