/*-----------------------------------------------------------------------------------*/
/* Images
/*-----------------------------------------------------------------------------------*/

img {
    &.alignleft{
	float: left;
	clear: both;
	margin-right: 20px;
	margin-bottom: 20px;
    }
    &.alignright {
	float: right;
	clear: both;
	margin-left: 20px;
	margin-bottom: 20px;
    }
    &.aligncenter {
	display: block;
	margin: 0 auto 10px auto;
    }

}


#content {	
	img {
		@include box-shadow(0 1px 2px rgba(0,0,0,0.3));
		max-width: 100%;
				
		&.shadow {
		    @include box-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
		}
		&.thickborder {
		    border: 1px solid black;
		    @include border-radius(2px);
		}
		&.error-siegel {
		    @include box-shadow(none);
		    margin: 0 auto;
		    display: block;
		}
	}
}

@media (max-width: $breakSM) {
    img.alignleft, 
    img.alignright {
	float: none;
	padding: 0;
	display: block;
	margin: 5px auto;
	max-width: $breakSM;
    }
}