/*-----------------------------------------------------------------------------------*/
/* Links
/*-----------------------------------------------------------------------------------*/

a {
	color: $colorPrimary;
	
	&:hover, &:focus {
		color: $colorHover;
	}
	
	p &, li &, table &, .accordion-inner & {
		text-decoration: underline;
	}
	
	table &:hover, table &:focus {
		text-decoration: none;
	}
	
	#hero & {
		text-decoration: none;
	}
	
	#hero &:hover, #hero &:focus {
		text-decoration: underline;
	}
}

#footer .ext-link, 
#hero .ext-link, 
#nav .ext-link {
	padding-right: 0 !important;
	background-image: none !important;
}
