/*-----------------------------------------------------------------------------------*/
/* Social Media Links
/*-----------------------------------------------------------------------------------*/

// Social Media in Footer and Widget

    ul.social {
		@include no-list;
		margin: 0 0 10px 0;
		
		li {
			@include no-list;
			@include inline-block;
			max-width: 220px;
			width: 100%;
			
			background: none;
			
			a {
				@include inline-block;
				color: $colorSocial;
				text-decoration: none;
				height: 20px;
				line-height: 20px;
				padding: 5px 0;
				background: none;

				&:hover, &:focus {
					color: $colorPrimary;
					text-decoration: underline;
					
					&:before {
						background: $colorPrimary;
					}
				}
			}
			
			a:before {
				background: $colorSocial;
				color: $colorSocialBackground;
				height: 24px;
				width: 24px;
				padding-top: 4px;
				line-height: 16px;
				text-align: center;
				@include border-radius(50%);
				font-size: 16px;
				margin-right: 6px;
			}
		}
		
	
		
		li.social-gplus a:before {  @extend .fa;  @extend .fa-google-plus;}
		li.social-diaspora a:before { @extend .fa; content: '*'; font-size: 20px; font-weight: bold;}
		li.social-pinterest a:before { @extend .fa; @extend .fa-pinterest-p; @extend .fa-lg; line-height: 1.0em;}
		li.social-instagram a:before { @extend .fa; @extend .fa-instagram; line-height: 1.0em;}
		li.social-facebook a:before {  @extend .fa; @extend .fa-facebook; }
		li.social-twitter a:before {  @extend .fa; @extend .fa-twitter; }
		li.social-xing a:before {  @extend .fa; @extend .fa-xing; }
		li.social-github a:before {  @extend .fa; @extend .fa-github; }	
		li.social-skype a:before {  @extend .fa; @extend .fa-skype; }
		li.social-tumblr a:before {  @extend .fa; @extend .fa-tumblr; }
		li.social-delicious a:before {  @extend .fa; @extend .fa-delicious; }
		li.social-flickr a:before {  @extend .fa; @extend .fa-flickr; }
		li.social-feed a:before { @extend .fa;  @extend .fa-rss-square; }
		li.social-vimeo a:before { @extend .fa; @extend .fa-vimeo-square; }
		li.social-youtube a:before { @extend .fa; @extend .fa-youtube-square; }
		li.social-itunes a:before { @extend .fa; @extend .fa-apple; }
		li.social-wikipedia a:before { @extend .fa; @extend .fa-wikipedia-w; }
		
		
		li.social-iconbyurl {
		    a {
			@extend .fa-star;
			&::before {
			   @extend .fa; @extend .fa-star;
			}
			
			
			
			&[href*="diaspora.com"]:before {
			    content: "*";
			    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
			    font-weight: bold;    
			}  
			&[href*="delicious.com"] {
			    @extend .fa-delicious;

			}
			&[href*="facebook.com"] {
			    @extend .fa-facebook;   
			}
			&[href*="feed"] {
			    @extend .fa-rss;
			}

			&[href*="flattr.com"] {
			    @extend .fa-refresh;
			}

			&[href*="flickr.com"] {
			    @extend .fa-flickr;
			}

			&[href*="google.com"] {
			    @extend .fa-google; 
			}

			&[href*="plus.google.com"] {
			    @extend .fa-google-plus; 
			}  

			&[href*="github.com"] {
			    @extend .fa-github;
			}

			&[href*="instagram.com"] {
			    @extend .fa-instagram;
			}

			&[href*="linkedin.com"] {
			    @extend .fa-linkedin;
			}

			&[href^="mailto"] {
			    @extend .fa-envelope-o;
			}
			&[href$="@lists.fau.de"] {
			    @extend .fa-envelope;
			}
			&[href*="pinterest.com"] {
			    @extend .fa-pinterest;
			}

			&[href*="reddit.com"] {
			    @extend .fa-reddit;    
			}

			&[href*="slack.com"] {
			    @extend .fa-slack;   
			}

			&[href*="snapchat.com"] {
			    @extend .fa-snapchat;  
			}

			&[href*="slideshare.com"] {
			    @extend .fa-slideshare;
			}

			&[href*="skype.com"], 
			&[href*="skype:"] {
			    @extend .fa-skype;
			}
			&[href*="spotify.com"] {
			    @extend .fa-spotify;
			}
			&[href*="stumbleupon.com"] {
			    @extend .fa-stumbleupon;
			}
			&[href*="tumblr.com"] {
			    @extend .fa-tumblr;
			}

			&[href*="twitter.com"] {
			    @extend .fa-twitter;
			}

			&[href*="vimeo.com"] {
			    @extend .fa-vimeo;
			}

			&[href*="whatsapp.com"] {
			    @extend .fa-whatsapp;
			}
			&[href*="wordpress.org"], 
			&[href*="wordpress.com"] {
			    @extend .fa-wordpress;
			}

			&[href*="xing.com"] {
			    @extend .fa-xing;
			}

			&[href*="youtube.com"] {
			    @extend .fa-youtube;
			}
			
			
			&[href$=".ics"] {
			    @extend .fa-calendar;
			}
  

		    }
		   
		   
		}
		
		
	}
