/*-----------------------------------------------------------------------------------*/
/* HInweise /  Notices
/*-----------------------------------------------------------------------------------*/


	.notice-hinweis,
	.hinweis {
	    margin: 0;
	    padding: 22px 0;
	    color: $colorPrimary;
	    font-weight: bold;
	    &:before {
			@extend .fa;
			@extend .fa-2x;
			@extend .fa-exclamation-circle;
			padding-right: 8px;
			font-weight: normal;
			vertical-align: -4px;
			min-width: 24px;
		}
	}

	.notice-attention,
	.attention {
		display: block;
		color: $colorNotice;
		padding: 10px 0;
		margin: 20px 0;
		font-weight: bold;
		
		&:before {
			@extend .fa;
			@extend .fa-2x;
			@extend .fa-exclamation-circle;
			padding-right: 8px;
			font-weight: normal;
			vertical-align: -4px;
			min-width: 24px;
		}
	}
	.notice-baustelle,
	.baustelle {
		display: block;
		color: $colorText;
		padding: 10px 0;
		margin: 20px 0;
		font-weight: bold;
		
		&:before {
			@extend .fa;
			@extend .fa-2x;
			@extend .fa-wrench;
			padding-right: 8px;
			font-weight: normal;
			vertical-align: -4px;
			min-width: 24px;
		}
	}
	.notice-question,
	.question {
		display: block;
		color: $colorText;
		padding: 10px 0;
		margin: 20px 0;
		
		&:before {
			color: orange;
			@extend .fa;
			@extend .fa-2x;
			@extend .fa-question-circle;
			padding-right: 8px;
			font-weight: normal;
			vertical-align: -4px;
			min-width: 24px;
		}
	}
	.notice-minus,
	.minus {
		display: block;
		color: $colorText;
		padding: 10px 0;
		margin: 20px 0;
		
		&:before {
			color: red;
			@extend .fa;
			@extend .fa-2x;
			@extend .fa-minus-circle;
			padding-right: 8px;
			font-weight: normal;
			vertical-align: -4px;
			min-width: 24px;
		}
	}
	.notice-plus,
	.plus {
		display: block;
		color: $colorText;
		padding: 10px 0;
		margin: 20px 0;
		
		&:before {
			color: green;
			@extend .fa;
			@extend .fa-2x;
			@extend .fa-plus-circle;
			padding-right: 8px;
			font-weight: normal;
			vertical-align: -4px;
			min-width: 24px;
		}
	}
	.notice-tipp {
		display: block;
		color: $colorText;
		padding: 10px 0;
		margin: 20px 0;
		font-weight: bold;
		
		&:before {
			color: orange;
			@extend .fa;
			@extend .fa-2x;
			@extend .fa-lightbulb-o;
			padding-right: 8px;
			font-weight: normal;
			vertical-align: -4px;
			min-width: 24px;
		}
	}
	.notice-faubox {
		display: block;
		color: $colorText;
		padding: 10px 0;
		margin: 20px 0;
		
		&:before {
			color: $PalettonDunkler;
			@extend .fa;
			@extend .fa-2x;
			@extend .fa-cloud-download;
			padding-right: 8px;
			font-weight: normal;
			vertical-align: -4px;
			min-width: 24px;
		}
	}
	.notice-video {
		display: block;
		color: $colorText;
		padding: 10px 0;
		margin: 20px 0;
		
		&:before {
			color: $PalettonDunkler;
			@extend .fa;
			@extend .fa-2x;
			@extend .fa-youtube-play;
			padding-right: 8px;
			font-weight: normal;
			vertical-align: -4px;
			min-width: 24px;
		}
	}
	.notice-audio {
		display: block;
		color: $colorText;
		padding: 10px 0;
		margin: 20px 0;
		
		&:before {
			color: $PalettonDunkler;
			@extend .fa;
			@extend .fa-2x;
			@extend .fa-music;
			padding-right: 8px;
			font-weight: normal;
			vertical-align: -4px;
			min-width: 24px;
		}
	}
	.notice-download {
		display: block;
		color: $colorText;
		padding: 10px 0;
		margin: 20px 0;
		
		&:before {
			color: $PalettonDunkler;
			@extend .fa;
			@extend .fa-2x;
			@extend .fa-download;
			padding-right: 8px;
			font-weight: normal;
			vertical-align: -4px;
			min-width: 24px;
		}
	}
	
	