/*-----------------------------------------------------------------------------------*/
/* Paragraphs
/*-----------------------------------------------------------------------------------*/

p, address {
    margin: 0;
    padding: 0 0 11px 0;

    @include px2rem($font-size-base);
    color: $colorText;
    font-family: $fontStack; 
    
    
    #footer & {
	color: #fff;
	background: $colorPrimaryHero;
	@include px2rem($font-size-footer);
    }
}


p {
	#content & {
	    @include hyphens(auto);
	}
	
	#content .textwidget & {
	    @include px2rem($font-size-comtentwidgets);	
	}
	
	&.searchnotice {
		font-size: 24px;
		line-height: 28px;
		padding: 4px 0 22px 0;
	}

	
	&.lead-in {
		margin: 0;
		padding: 0;
		color: $colorPrimary;
		font-weight: 300;
		font-style: italic;
		@include px2rem($font-size-quotes);
        }
	
	#content .span4 .widget &,
	#content .startpage-sidebar .widget &,
	#content .sidebar-inline .widget & {
	    @include px2rem($font-size-sidebar);
	}
	
	#footer & {
		color: #fff;
		background: $colorPrimaryHero;
		@include px2rem($font-size-footer);
	}
}

p.presentationtitle {
    font-weight: bold;
    @include px2rem($font-size-h1,  $font-size-base, $font-size-h1 * 1.3);
    margin: 20px 0 20px 0;
}
