/*-----------------------------------------------------------------------------------*/
/* Blockquotes, Cites, Abbr
/*-----------------------------------------------------------------------------------*/


blockquote {
	padding: 0;
	margin: 0;
	border: none;
	font-family: $fontStackSerifs;
	font-style: italic;
	position: relative;
	
	@include px2rem($font-size-quotes);
	
	


	p { 
		margin-bottom: 0;
		font-family: $fontStackSerifs;
		@include px2rem($font-size-quotes);
		font-weight: 400;
		font-style: italic;
		
		strong {
		    font-weight: bolder; 
		}
	}
	
	#tinymce &,
	#content & {
		font-style: italic;
		margin: 10px;
		padding-left: 50px;
		min-height: 50px;

		@media (min-width: $screen-sm) {
		    margin: 10px 50px;
		    padding-left: 65px;
		}
		
		p {
		    color: $colorPrimary;
		}
		
		
	}

	#content .sidebar-inline & {
	    margin: 10px;
	}
	small,
	cite { 
	    display: block; 
	    text-align: right;
	    @include px2rem($font-size-quotes-cites);
	    color: $colorTextLight;
	    &:before { content: '\2014 \00A0'; }

	}
	#content & img {
	    box-shadow: none;
	    border: none;
	}
	
	&.pull-right {
	    border-right: none;
	    padding-right: 50px;
	    &::before {
		content: "";
	    }
	    &::after {
		content: "\201C"; // Unicode for Left Double Quote
		font-family: Georgia, serif;
		font-size: 70px;
		font-weight: bold;
		color: $colorTextLight; //lighten($color-text,50%); 

		position: absolute;
		right: 10px;
		top: 10px;
	    }
	    
	}
	
	
	&::before {
            content: "\201C"; // Unicode for Left Double Quote
            font-family: Georgia, serif;
            font-size: 70px;
            font-weight: bold;
            color: $colorTextLight; //lighten($color-text,50%); 

            position: absolute;
            left: 10px;
            top: 10px;
	    
	    
        }
	#content &::before {
	    color: $colorPrimary;
	    left: 0px;
	    
	    @media (min-width: $screen-sm) {
		left: 10px;
	    }
	}
	
        &::after{
            // Reset to make sure
            content: "";
        }
	
	#content .sidebar-inline &,
	#tinymce  &.noquote,
	#content  &.noquote {
		    background: inherit;
		    padding-left: 0;
		    padding-right: 0;
		    &::after, 
		    &::before {
			content: "";
		    }
		   
		}
		
	#content .sidebar-inline & {
	    
	    @include px2rem($font-size-sidebar);  
	    p {
		@include px2rem($font-size-sidebar);  
	    }
	}	
		
}


cite {
    color: $colorPrimaryHeroLight; 
    font-weight: normal;
    font-style: normal;
    
    &.text {
	color: inherit;
    }
}




// Abbrevations, Acronyms

acronym[title],
acronym[data-original-title],
abbr[title],
abbr[data-original-title] {
    font-style: italic;
    cursor: help;
    border-bottom: 1px dotted $colorPrimary;
    text-decoration: none; 
    
    &:hover, &:focus {
	background: $colorPrimary;
	color: $colorPrimaryContrast;
    }
}
acronym.initialism,
abbr.initialism {
	font-size: 90%;
	text-transform: uppercase;
}


