/*-----------------------------------------------------------------------------------*/
/* Tables
/*-----------------------------------------------------------------------------------*/


table {
	border: 0;
	background: transparent;
	border-top: 1px solid $colorContentBorders;
	border-bottom: 1px solid $colorContentBorders;
	margin: 5px 0 20px 0;
	width: 100%;
	
	tbody, tr, th, td {
		border: 0;
	}
	
	th, td {
		padding: 7px 10px;		
		font-size: 13px;
		line-height: 18px;
	}
	
	th {
		color: $colorText;
		background: $colorContentBorders;
		font-weight: bold;
		border-top: 1px solid $colorContentBorders;
		border-bottom: 1px solid $colorContentBorders;
		text-align: left;
	}
	
	td {
		border-right: 1px solid #fff;
		color: $colorText;
		
		p {
		    font-size: 13px;
		    line-height: 18px;
		}
	}
	
	tr {
		border-left: 1px solid $colorStandardHellgrau;
		border-right: 1px solid $colorStandardHellgrau;
	}
	
	tr:nth-child(odd) td {
		color:  $colorLightestContrast;
		background: $colorStandardHellgrau;
		
		ul {
		    li {
			color:  $colorLightestContrast;
		    }
		}
	}
	
	ul {
		li {
			color: $colorPrimary;
			font-size: 13px;
			line-height: 18px;
			background-position: left 5px;
		}
	}
}


@media (max-width: $breakMD) {
	
	div.table-wrapper {
		position: relative;
		margin-bottom: 20px;
		margin-left: 15px;
		margin-right: 15px;
		overflow: hidden;
		border-right: 1px solid #ccc;
		
		.scrollable {
		    overflow-x: auto;
		    overflow-y: hidden;
		}
		
	}
	table {
	    margin: 0;
	    td,  th {
		padding-left: 15px;
		padding-right: 15px;
	    }
	}
}