/*-----------------------------------------------------------------------------------*/
/* WordPress required classes
/*-----------------------------------------------------------------------------------*/


.sticky, 
.gallery-caption, 
.bypostauthor {
    @include px2rem($font-size-base);
}

.wp-caption-text {
	@include px2rem($font-size-image-caption);
	padding: 5px 0 5px 0;
}


.wp-video {
	width: auto !important;
	max-width: auto !important;
}
#content {
	.wp-caption {
		max-width: 100%;
	}
}



@media (max-width: $breakSM) {
  .wp-caption-text {
	padding: 0;
    }
}


// Settings for Gutenberg / WordPress 5.

// Small Font size
.has-small-font-size {
     @include px2rem($font-size-small);
}
// Regular Font size
.has-regular-font-size {
     @include px2rem($font-size-base);
}

// Large Font size
.has-large-font-size {
     @include px2rem($font-size-large);
}

// Larger Font size
.has-huge-font-size,
.has-larger-font-size {
     @include px2rem($font-size-larger);
}

p.has-drop-cap {
    &:not(:focus):first-letter {
	float:left;
	@include px2rem($font-size-larger * 3, $font-size-gridbase, $font-size-larger * 3);
	font-weight: 100;
	margin: 0 .1em 0 0;
	text-transform:uppercase;
	font-style:normal;
    }
}