/*-----------------------------------------------------------------------------------*/
/* WordPress required classes
/*-----------------------------------------------------------------------------------*/


.sticky, 
.gallery-caption, 
.bypostauthor {
    font-size: 15px;
    line-height: 22px;
}

.wp-caption-text {
	font-size: 13px;
	padding: 5px 0 5px 0;
}


.wp-video {
	width: auto !important;
	max-width: auto !important;
}
#content {
	.wp-caption {
		max-width: 100%;
	}
}



@media (max-width: $breakSM) {
  .wp-caption-text {
	padding: 0;
    }
}