/*-----------------------------------------------------------------------------------*/
/* Grid in Hero
/*-----------------------------------------------------------------------------------*/
.hero-container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding-left: var(--width-gutter-half);
    padding-right: var(--width-gutter-half);
    max-width:  $container-xl;

} 

