/*-----------------------------------------------------------------------------------*/
/* Hero: Design header for website header
/*-----------------------------------------------------------------------------------*/

#hero {
    position: relative;
    transition: none;
    z-index: 10;
    width: 100%;
    margin: 0 auto;
    padding-top: 0;
    overflow: hidden;

    @media (min-width: $screen-sm) {
        margin: 20px auto;

        &.sliderpage,
        &.hero-banner {
            @media (min-width: $screen-md) {
                margin: 40px auto;
            }
        }
    }

    @include placeholder(var(--color-hero-text));
    background: var(--color-hero-bg);


    h1, h2, h3, h4, p {
        font-weight: normal;
        color: var(--color-hero-text);

    }

    h1 {
        position: relative;
        z-index: 10;
        padding-top: 0px;
    }


    a {
        color: var(--color-hero-text);
    }


    .container {
        position: relative;
    }

    .flyout-toggled & {
        opacity: 0.3;
    }


    .no-js & {
        margin-top: 0;
        transition: none;
        padding-top: 10px;
        position: relative;

        .container {
            display: table;
        }

        .span6 {
            display: table-cell;
            width: 90%;
        }

        .span3 {
            display: table-cell;
            width: 45%;
        }
    }


    .search-title {
        @extend .col-sm-4;
    }

    .search-input {
        @extend .col-sm-8;
    }

    &.hero-small {
        background: var(--color-hero-bg);
        overflow: hidden;

        p.presentationtitle,
        h1 {
            padding: 0;
            margin: 20px 0;
        }

    }

    .hero-content {
        z-index: 10;
    }

    .single & p.presentationtitle {
        display: none;
        @media (min-width: $screen-sm) {
            display: inline-block;
        }
    }


}




