/*-----------------------------------------------------------------------------------*/
/* Suche im Hero
/*-----------------------------------------------------------------------------------*/
#hero {
    .search-input {
		@include px2rem($font-size-herosearch);
		z-index: 10;

		form {
		    border: none;
		    margin: 0;
		}
		.search-text {
		     margin: 0 20px;
		     @include placeholder(var(--color-hero-text));

		    label {
			@extend .screen-reader-text;
		    }
		    input {
			@include border-radius(20px);
			padding: 0 15px;
		    }
		    input[type="text"] {
			@include px2rem($font-size-herosearch);
			border: 1px solid  var(--color-primary-dunkler);
			padding: 5px 10px 5px 30px;
			height: inherit;
			margin: 0;
			background: var(--color-primary-basis);
			color: var(--color-primary-basis-kontrast);

			width: calc(100% - 100px);
			&:focus, &:hover {
			    background-color: var(--color-primary-dunkler);
			    border: 1px solid var(--color-primary-dunkelste);
			}
		    }

		    input[type="submit"] {
			@include px2rem($font-size-herosearch);
			    border: none;
			    background: var(--color-primary-basis-kontrast);
			    color: var(--color-primary-basis);

			    padding: 5px 10px;
			    height: inherit;
			    margin-left: -30px;
			    &:focus, &:hover {
				    background-color: var(--color-primary-hellste);
			    }
		    }
		    .searchicon {
			@extend .fa;
			@extend .fa-search;
			position: relative;
			margin-right: -30px;
			color: #fff;
		    }
		}

		.search-radio-label {
			float: left;
			margin-right: 20px;

			input {
				margin-top: -4px;
				margin-right: 3px;
			}
		}
		.filter {
		   display: block;
		    margin: 10px 20px;
		    label {
			@include inline-block();
			width: auto;
			float: none;
			margin: 0 10px 0 5px;
			padding: 0;
			color: var(--color-hero-text);
		    }



		    [type="checkbox"] {
			position: relative;
			left: 30px;
			top: 0px;
			z-index: 0;
			-webkit-appearance: none;
		      }
		      [type="checkbox"] + label {
			position: relative;
			display: block;
			cursor: pointer;

			padding-left: 60px;
			position: relative;
			margin-top: -20px;
		      }
		      [type="checkbox"] + label:before {
			width: 40px;
			height: 20px;
			border-radius: 20px;
			border: 2px solid var(--color-primary-dunkler);
			background-color: var(--color-primary-dunkler);
			content: "";
			margin-right: 15px;
			transition: background-color 0.5s linear;
			z-index: 5;
			position: absolute;
			left: 0px;
		      }
		      [type="checkbox"] + label:after {
			width: 20px;
			height: 20px;
			border-radius: 20px;
			background-color: var(--color-primary-basis-kontrast);
			content: "";
			transition: margin 0.1s linear;
			box-shadow: 0px 0px 5px var(--color-primary-dunkelste);
			position: absolute;
			left: 2px;
			top: 0px;
			z-index: 10;
		      }
		      [type="checkbox"]:checked + label:before {
			background-color: var(--color-hero-bg);
		      }
		      [type="checkbox"]:checked + label:after {
			margin: 0 0 0 20px;
		      }



		    .nowrap {
			@include inline-block();
			white-space: nowrap;
		    }
		}

	}
}

@media (max-width: $screen-sm) {

    #hero {

	.searchform {
	    margin: 0 auto;
	    padding: 10px;

	    input[type="text"] {
		width: calc(100% - 150px);
		margin: 0 10px;
		float: none;
		display: inline-block;
	    }
	    .filter {
		margin-top: 5px;
	    }
	}

    }


}
