/*-----------------------------------------------------------------------------------*/
/* Slider im Hero-Teil
    		/*
  $slider-minheight: 128px;
$slider-maxheight: 480px;
$slider-height-sm: 480px;
$slider-height-md: 512px;
		*/
/*-----------------------------------------------------------------------------------*/
#hero.sliderpage {
    overflow: inherit;
    margin: 0px auto;
   
}
 
#hero-slides {
	position: relative;
	height: auto;
	width: 100%;
	overflow: hidden;
	
	@media (min-width: $screen-xxs) {
		display: block;
		width: 100%;

		.no-js & {
			//display: none;
			
			// why is this outcommented?
			// is the slider usable without js?
			// todo: check 
		}   
	}

	@media (min-width: $screen-xs) {
	    max-height: $slider-maxheight;
	}

	@media (min-width: $screen-md) {
	    margin: 0 auto;
	    max-height: $slider-height-md;
	}


	.item {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: $slider-height-xxs;
		background-color: var(--color-FAU);
		@media (min-width: $screen-sm) {
			height: $slider-height-sm;
		}

		@media (min-width: $screen-md) {
			width: $slider-maxwidth;
			height: $slider-height-md;
		}


		.slider-titel {
			text-align: left;
			font-weight: 700;
			z-index: 19;
			width: 100%;
			max-width: 100%;

			[dir="rtl"] & {
				text-align: right;
			}
			
			@include px2rem($font-size-hero-slider-title-small);
			
			@media (min-width: $screen-sm) {
				@include px2rem($font-size-hero-slider-title);
			}
			
			header {
			    color: var(--color-primary-ci-hell-kontrast);
			    display: inline;
			    word-break: break-word;
			    box-decoration-break: clone;
			    
			    @media (min-width: $screen-sm) {
				margin: 10px 0 15px 0;
			    }
			    a {
				text-decoration: none;

			    // Notice: overflow hidden (und damit auch word-wrap: nowarp
			    // sorgt für ein WCAG AA Problem und kann daher nicht verwendet werdne.
			    // Falls der Text tatsächlich zu lang wird, muss das Design ihn trotzdem 
			    // optisch darstellen
			    // vgl: WCAG 2.1: Understanding Success Criterion 1.4.4: Resize text
			    // Daher erstmal auskommentiert - WW, 28.06.2023

				white-space: normal;
				max-width: 100%;      
				opacity: 1;
				font-weight: 700;
				display: block;
				background-color: var(--color-primary-ci-hell);
				border-radius: var(--border-radius, 0px);  
				margin: 0 auto;
				text-align: left;
				padding: var(--width-gutter-half, 15px);
				
				@media (min-width: $screen-sm)  {
				    padding: var(--width-gutter-half, 15px) var(--width-gutter, 35px);
				    display: inline-block;
				}

			    }

			}
		}
		
		p.credits {
			background: $colorCopyrightBackground;
			color: $colorCopyright;
			@include px2rem($font-size-hero-slider-copyright);
			z-index: 6;
			margin: 0;
			padding: 1px 4px;
			position: absolute;
			bottom: 0;
			right: 0;
			text-align: right;

			@media (max-width: $screen-sm) {
				top: 0;
				bottom: auto;
			}
		}
		
		img {
			z-index: 5;
			min-width: 100%;			
			object-fit: cover;		
			height: 100%;
			max-height: $slider-maxheight;
			min-height: $slider-minheight;
			
			@media (min-width: $screen-sm) {
				min-height:  $slider-height-sm;
				height: $slider-height-sm;
				max-height: $slider-height-sm;
				
			}
			@media (min-width: $screen-md) {
				height: $slider-height-md;
				max-height: $slider-height-md;
				
			}
			
		}
	}

	.hero-slide-text {
		z-index: 19;
		position: absolute;
	
		padding: 0;
		width: 100%;
		bottom: 0;
		top: auto;
		transform: none;
		.hero-container  {
		    padding-left: 0;
		    padding-right: 0;
		    @media (min-width: $screen-sm){
			padding-left: var(--width-gutter-half);
			padding-right: var(--width-gutter-half);
		    }
		}
		@media (max-width: $screen-sm){			
			margin: 0;
			@include transform-translate(0, 0%);
		}
		@media (min-width: $screen-sm){
		    bottom: calc(var(--width-gutter) + var(--width-gutter-half));
		    top: inherit;
		}
	}

	li {
		@include no-list;
		padding: 0;

	}
	.slick-prev,
	.slick-next {
		position: absolute;
		display: block;
		width: 60px;
		line-height: 0px;
		font-size: 0px;
		cursor: pointer;
		background: transparent;
		color: transparent;

		bottom: auto;
		top: calc(50% - (45px + 70px + 225px)/2);
		height: auto;

		@media (max-width: $screen-sm) {
			top: calc(50% - (20px + 70px + 105px)/2);
		}

		padding: 0;
		border: none;
		outline: none;


		&:hover,
		&:focus {
			outline: none;
			background: transparent;
			color: #fff;

			&:before {
				color: rgba(255, 255, 255, 0.8);
			}
		}

		&:before {	
			font-size: 150px;
			color: rgba(255, 255, 255, 0.83);
			text-shadow: 2px 2px rgba(0, 0, 0, 0.63);
			@media (max-width: $screen-sm) {
				font-size: 70px;
			}
		}
	}

	.slick-prev {
		left: var(--width-gutter-half);

		[dir="rtl"] & {
			left: auto;
			right: var(--width-gutter-half);
		}
		@media (min-width: $break-1360 + 20) {
			left: var(--width-gutter-half);
			[dir="rtl"] & {
				left: auto;
				right: var(--width-gutter-half);
			}
		}
		&:before {
			@extend .fa;
			@extend .fa-chevron-left;

			[dir="rtl"] & {
				@extend .fa-chevron-right;
			}
		}
	}

	.slick-next {
		right: 25px;
		
		[dir="rtl"] & {
			left: var(--width-gutter-half);
			right: auto;
			.slick-arrow { 
				font-size: 11em;
		color:#fff;

			}
		}

		@media (min-width: $break-1360 + 20) {
			right: calc(var(--width-gutter) + 5px);
			[dir="rtl"] & {
				left: var(--width-gutter-half);
				right: auto;
			}
		}

		&:before {
			@extend .fa;
			@extend .fa-chevron-right;

			[dir="rtl"] & {
				@extend .fa-chevron-left;
			}
		}
	}

	.slick-startstop {
		position: absolute;
		display: block;
		top: 20px;
		right: 20px;
		font-size: 28px ;
		text-shadow: 2px 2px rgba(0, 0, 0, 0.63);
		    
		@media (min-width: $screen-xs) {
			bottom: inherit;
		}
		@media (max-width: $screen-sm) {
			right:calc(50% - 14px);
			top: 50%;
		}


		background: transparent;
		color: rgba(255, 255, 255, 0.83);
		margin: 0;
		padding: 1px 4px;
		border: none;

		&:hover,
		&:focus {
			color: #fff;
			background: transparent;
			transition-timing-function: ease;
			text-decoration: underline;
		}

		.no-js & {
			display: none;
		}
	}
}

.slick-dots {
	display: flex !important;
	width: 60px;
	margin: 0 auto;
}
.slick-dots li {
	margin:0px auto;
	width: 60px;
}
.slick-dots li button {
	margin-right: 10px;
	height: 5px;
	padding: 5px;
	border-radius:50%;
}
