/*-----------------------------------------------------------------------------------*/
/* Slider im Hero-Teil
/*-----------------------------------------------------------------------------------*/


#hero.sliderpage {
    overflow: inherit;
}

.slider-titel header a {
	//Remove the underline of title on slider
		text-decoration: none !important;
}
 
#hero-slides {
	position: relative;
	display: none;
	height: auto;
	width: 100%;



	.item {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 150px;

		@media (min-width: $screen-sm) {
			height:  $slider-maxheight;
		}

		@media (min-width: $slider-maxwidth) {
			width: $slider-maxwidth;
			height: $slider-maxheight;
		}

		.slider-titel {
			text-align: center;
			font-size: 3.5rem;
			transition: all 1s;
			&a,
			&:hover{
				transform: scale(1.025);
				
			

			}
			@media (min-width: $screen-sm) {
				margin-bottom: 5px;
			}
			header {
				display: inline;
				padding: 3px;
				margin: 25px 30px;
				word-break: break-word;
				box-decoration-break: clone;
				@media (min-width: $screen-sm) {
					margin: 10px 0 15px 0;

				}

			}
		}
		.slider-text {
			display: none;
			

			@media (min-width: $screen-sm) {
				display: inline-block;
			}
			

			p {
				padding: 5px 4px 4px 4px;
				margin: 0;
				box-decoration-break: clone;

				@media (min-width: $screen-sm) {
					display: inline;

				}

			}
		}
		
		.slider-titel, 
		.slider-text {
		    max-width: 100%;
			z-index: 19;
			width: 100%;
			text-align: center;
		    header, p {

			color: var(--color-primary-ci-hell-kontrast);
			opacity: $slick-opacity-text-background;
		    }
		    
		}
		
		p.credits {
			background: $colorCopyrightBackground;
			color: $colorCopyright;
			@include px2rem($font-size-hero-slider-copyright);
			z-index: 6;
			margin: 0;
			padding: 1px 4px;
			position: absolute;
			right: 0;
			bottom: 0;
		}

		img {
			vertical-align: middle;
			z-index: 5;
			width: auto;
			min-height: 250px;
			min-width: 100%;
			max-width: inherit;
			margin-left: 50%;
			background: linear-gradient(180deg,rgba(255,255,255,0) 45%,rgba(0,51,102,.8));
			clip-path: polygon(0px 100% , 0px 10%, 100% 0%, 100% 100%);
			@include transform-translate(-50%, 0);

			@media (min-width: $screen-sm) {
				min-height:  $slider-maxheight;
			}


		}
	}



	.hero-slide-text {
		z-index: 19;
		position: absolute;
		margin: 0 20px;
		padding: 0;
		width: 100%;
		top: 25%;
		@include transform-translate(0, -75%);

		@media (min-width: $screen-sm) {
			bottom: 30px;
			top: inherit;
			transform: none;
		}

	}

	li {
		@include no-list;
		padding: 0;

	}

	@media (min-width: $screen-xxs) {
		display: block;
		width: 100%;

		.no-js & {
			display: none;
		}
	}

	@media (min-width: $screen-xs) {
		max-height: $slider-maxheight;
	}

	@media (min-width: $screen-md) {
		margin: 0 auto -40px;
	}
	.with-infobar &  {
	    @media (min-width: $screen-md) {
		margin-bottom: -20px;
	    }
	}
	

	@media (min-width: $slider-maxwidth + 20) {
		width: $slider-maxwidth;
		height: $slider-maxheight
	}

	.slick-prev,
	.slick-next {
		position: absolute;
		display: block;
		height: $slider-arrow-width;
		width: $slider-arrow-width;
		line-height: 0px;
		font-size: 0px;
		cursor: pointer;
		background: transparent;
		color: transparent;
		top: calc(50% - 70px);
	
		
		@include transform-translate(0, -75%);

		@media (min-width: $screen-xs) {
			top: calc(50% - 70px);
			@include transform-translate(0, -50%);
		}

		padding: 0;
		border: none;
		outline: none;


		&:hover,
		&:focus {
			outline: none;
			background: transparent;
			color: #fff;

			&:before {
				color: rgba(255, 255, 255, 0.63);

			}
		}

		
		&:before {
			font-size: 150px;
			color: rgba(255, 255, 255, 0.63);

		}

	}

	.slick-prev {
		left: 15px;

		[dir="rtl"] & {
			left: auto;
			right: 15px;
		}

		@media (min-width: $break-1360 + 20) {
			left: 15px;
			[dir="rtl"] & {
				left: auto;
				right: 15px;
			}
		}


		&:before {
			@extend .fa;
			@extend .fa-chevron-left;

			[dir="rtl"] & {
				@extend .fa-chevron-right;
			}
		}

	}

	.slick-next {
		right: 25px;
		

		[dir="rtl"] & {
			left: 15px;
			right: 15px;
			.slick-arrow { 
				font-size: 11em;
		color:#fff;

			}
		}

		@media (min-width: $break-1360 + 20) {
			right: 35px;
			[dir="rtl"] & {
				left: 15px;
				right: 15px;
			}
		}


		&:before {
			@extend .fa;
			@extend .fa-chevron-right;

			[dir="rtl"] & {
				@extend .fa-chevron-left;
			}
		}

	}


	.slick-startstop {
		position: absolute;
		display: block;
		top: 0px;
		right: 0px;

		@media (min-width: $screen-xs) {
			bottom: inherit;
		}


		background: $colorCopyrightBackground;
		color: $colorCopyright;
		@include px2rem($font-size-hero-slider-copyright);
		margin: 0;
		padding: 1px 4px;
		border: none;

		&:hover,
		&:focus {
			color: #fff;
			background: #000;
			transition-timing-function: ease;
			text-decoration: underline;
		}

		.no-js & {
			display: none;
		}
	}
	
	
}

#hero-slides {
    @media (min-width: $screen-md) {
        top: -20px;
    }
    
    
}
