/*-----------------------------------------------------------------------------------*/
/* Slider im Hero-Teil
/*-----------------------------------------------------------------------------------*/


#hero.sliderpage {
    overflow: inherit;
	margin: 0 auto;
	margin-top:10px;
	@media (max-width: $screen-sm)  {
		margin-top:0px;}
}


.slider-titel header a {
	text-decoration: none !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-width: 100%;      
    opacity: 1;
    padding: 15px 35px;
    font-weight: 700;
    display: inline-block;
    background-color: var(--color-Default);
    border-radius: var(--border-radius, 0px);  
    margin: 0 auto;
    text-align: left;

	@media screen and (min-width: $screen-lg)  {
	
			-webkit-line-clamp: 1;
			text-overflow: ellipsis;
			-webkit-box-orient: horizontal;
			white-space: nowrap;
		}

		@media screen and (min-width: $screen-md)  {
	
			-webkit-line-clamp: 1;
			text-overflow: ellipsis;
			-webkit-box-orient: horizontal;
			white-space: nowrap;
		}

	@media screen and (min-resolution: 200dpi), screen and  (max-width: $screen-lg)  {
	
		-webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
	}

	@media (max-width: $screen-sm)  {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		height: 85px;
		padding: 15px;
		white-space: normal;
		@media not all and (min-resolution:.001dpcm) { 
			@supports (-webkit-appearance:none) {
			  line-height: 1.5; /* Adjust line-height for Safari */
			}
		  }
	 }
}

 
#hero-slides {
	position: relative;
	//display: none;
	height: auto;
	width: 100%;

	.item {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 150px;
		@media (min-width: $screen-sm) {
			height:  $slider-maxheight;
		}

		@media (min-width: $slider-maxwidth) {
			width: $slider-maxwidth;
			height: $slider-maxheight;
		}
		@media (max-width: $screen-sm) {
			height: 350px;
			background-color: var(--color-FAU);
		}

		.slider-titel {
			text-align: left;
			font-weight: 700;
			font-size: 2.3rem;
			&a,
			&:hover{


			}
			@media (min-width: $screen-sm) {
				margin-bottom: 5px;
			}
			@media (max-width: $screen-sm){
				font-size: 24px;
				height: 100px;
				overflow: hidden;
				top:5px;

			}
			header {
				display: inline;
				word-break: break-word;
				box-decoration-break: clone;
				@media (min-width: $screen-sm) {
					margin: 10px 0 15px 0;

				}
			}
		}
		.slider-text {
		
			@media (min-width: $screen-sm) {
				display: inline-block;
			}
			@media (max-width: $screen-sm){
				bottom:10px;
				//display: inline-block;
				width: 100%;
				display: none;
				
				
			}
		
			p {
				
				margin: 0;
				box-decoration-break: clone;
			

				@media (min-width: $screen-sm) {
					display: inline;
				}
			}
		}
		
		.slider-titel, 
		.slider-text {
		    max-width: 100%;
			z-index: 19;
		
			width: 100%;
			text-align: left;
		    header, p {
			color: var(--color-primary-ci-hell-kontrast);
			//opacity: $slick-opacity-text-background;
		    }
		    
		}
		p.credits {
			background: $colorCopyrightBackground;
			color: $colorCopyright;
			@include px2rem($font-size-hero-slider-copyright);
			z-index: 6;
			margin: 0;
			padding: 1px 4px;
			position: absolute;
			bottom: 0;
			right: 0;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 1; /* number of lines to show */
					line-clamp: 1; 
			-webkit-box-orient: vertical;
			@media (max-width: $screen-sm) {
				top: 0;
				bottom: auto;
			}
		}
		img {
			vertical-align: middle;
			z-index: 5;
			width: auto;
			min-height: 260px;
			min-width: 100%;
			max-width: inherit;
			margin-left: 50%;
			background: linear-gradient(180deg,rgba(255,255,255,0) 45%,rgba(0,51,102,.8));
		//	clip-path: polygon(0px 100% , 0px 7%, 100% 0%, 100% 100%);
			@include transform-translate(-50%, 0);

			@media (min-width: $screen-sm) {
				min-height:  $slider-maxheight;
			}
			@media (max-width: $screen-xs){
				width: auto;
				height: 70%;
			
				clip-path:none;
			}
		}
	}



	.hero-slide-text {
		z-index: 19;
		position: absolute;
	
		padding: 0;
		width: 100%;
		height: 70px;
		bottom: 45px;
		top: inherit;
		transform: none;
		@media (max-width: $screen-sm){
			bottom:20px;
			top:auto;
			margin: 0 0px;
			@include transform-translate(0, 0%);
		}
	}

	li {
		@include no-list;
		padding: 0;

	}

	@media (min-width: $screen-xxs) {
		display: block;
		width: 100%;

		.no-js & {
			//display: none;
		}
	}

	@media (min-width: $screen-xs) {
		max-height: $slider-maxheight;
	}

	@media (min-width: $screen-md) {
		margin: 0 auto -40px;
	}
	.with-infobar &  {
	    @media (min-width: $screen-md) {
		margin-bottom: -20px;
	    }
	}
	
	@media (min-width: $slider-maxwidth + 20) {
		width: $slider-maxwidth;
		height: $slider-maxheight
	}

	.slick-prev,
	.slick-next {
		position: absolute;
		display: block;
		width: 60px;
		line-height: 0px;
		font-size: 0px;
		cursor: pointer;
		background: transparent;
		color: transparent;

		bottom: auto;
		top: calc(50% - (45px + 70px + 225px)/2);
		height: auto;

		@media (max-width: $screen-sm) {
			top: calc(50% - (20px + 70px + 105px)/2);
		}

		padding: 0;
		border: none;
		outline: none;


		&:hover,
		&:focus {
			outline: none;
			background: transparent;
			color: #fff;

			&:before {
				color: rgba(255, 255, 255, 0.8);

			}
		}

		
		&:before {
			
			font-size: 150px;
			color: rgba(255, 255, 255, 0.83);
			text-shadow: 1px 1px rgba(0, 0, 0, 0.63);
			@media (max-width: $screen-sm) {
				font-size: 70px;
			}
		}
	}

	.slick-prev {
		left: 15px;

		[dir="rtl"] & {
			left: auto;
			right: 15px;
		}

		@media (min-width: $break-1360 + 20) {
			left: 15px;
			[dir="rtl"] & {
				left: auto;
				right: 15px;
			}
		}

		&:before {
			@extend .fa;
			@extend .fa-chevron-left;

			[dir="rtl"] & {
				@extend .fa-chevron-right;
			}
		}
	}

	.slick-next {
		right: 25px;
		
		[dir="rtl"] & {
			left: 15px;
			right: 15px;
			.slick-arrow { 
				font-size: 11em;
		color:#fff;

			}
		}

		@media (min-width: $break-1360 + 20) {
			right: 35px;
			[dir="rtl"] & {
				left: 15px;
				right: 15px;
			}
		}

		&:before {
			@extend .fa;
			@extend .fa-chevron-right;

			[dir="rtl"] & {
				@extend .fa-chevron-left;
			}
		}
	}


	.slick-startstop {
		position: absolute;
		display: block;
		top: 20px;
		right: 20px;
		font-size: 28px ;
		text-shadow: 1px 1px rgba(0, 0, 0, 0.63);
		

		@media (min-width: $screen-xs) {
			bottom: inherit;
		}
		@media (max-width: $screen-sm) {
			
			right:calc(50% - 20px);
			top:59%;
		}


		background: transparent;
		color: rgba(255, 255, 255, 0.83);
	//	@include px2rem($font-size-hero-slider-copyright);
		margin: 0;
		padding: 1px 4px;
		border: none;

		&:hover,
		&:focus {
			color: #fff;
			background: transparent;
			transition-timing-function: ease;
			text-decoration: underline;
		}

		.no-js & {
			display: none;
		}
	}
}

#hero-slides {
    @media (min-width: $screen-md) {
       top: -10px;
    }
}

.slick-dots {
	display: flex !important;
	width: 60px;
	margin: 0 auto;

}
.slick-dots li{
	margin:0px auto;
	width: 60px;
}

.slick-dots li button {
	margin-right: 10px;
	height: 5px;
	padding: 5px;
	border-radius:50%;
}
