/*-----------------------------------------------------------------------------------*/
/* Cloned Nav in Footer
/*-----------------------------------------------------------------------------------*/

#footer {

	.cloned-meta-links,
	.cloned-hero-nav,
	.meta-nav {
		display: block;
		padding: 10px;

		li {
			display: table;
			padding: 3px 0 4px 4px;


			a {
				display: block;
				float: none;
				@include border-radius(0);
				margin-bottom: 0;
				padding: 2px 0;
				color: var(--color-Default);
			}

			&:before {
				@extend .fa;
				@extend .fa-angle-right;
				font-weight: bold;
				display: table-cell;
				color: var(--color-Default);
				width: 20px;
			}


			&.zuv, &.phil,
			&.philfak, &.rw,
			&.rwfak, &.med,
			&.medfak, &.nat,
			&.natfak, &.tf,
			&.techfak,
			&.white, &.grau {
				min-height: 34px;
				line-height: 34px;
				border-left: 8px solid transparent;
				vertical-align: center;
				@include hyphens(auto);


				&:before {
					display: none;
					content: "";
				}

				a {
					@include inline-block;
					padding: 2px 0 2px 10px;
					line-height: 16px;
					vertical-align: center;
				}
			}

			&.zuv {
				border-color: var(--color-zentral-ci-hell);
			}

			&.phil,
			&.philfak {
				border-color: var(--color-phil-ci-hell);
			}

			&.rw,
			&.rwfak {
				border-color: var(--color-rw-ci-hell);
			}

			&.med,
			&.medfak {
				border-color: var(--color-med-ci-hell);
			}

			&.nat,
			&.natfak {
				border-color: var(--color-nat-ci-hell);
			}

			&.tf,
			&.techfak {
				border-color:  var(--color-tf-ci-hell);
			}

			&.white {
				border-color: var(--color-white);
			}

			&.gray {
				border-color: var(--color-StandardHellgrau);
			}


		}


	}

	.meta-nav {
		padding: 10px 0;
	}

	.cloned-meta-links {
		margin-bottom: 0px;
	}

	.cloned-meta-links,
	.cloned-hero-nav {
		background: var(--color-StandardHellgrau);
		color: var(--color-Default);

		li, a, h1, h2, h3, h4, p {
			background: var(--color-StandardHellgrau);
			color: var(--color-Default);
		}
		
		@media (min-width: $screen-sm) {
			display: none;
		}
	}

	.cloned-hero-nav {
		margin-bottom: 10px;
		margin-left: -15px;
		
	}
}
	

