/*-----------------------------------------------------------------------------------*/
/* Hauptmenu im Kopf der Seite
/*-----------------------------------------------------------------------------------*/
@use "sass:math";

#nav {
	background-color: var(--color-StandardHellgrau);
}


.nav {
    --fau-arrow-icon-size: 1rem;
    --fau-arrow-icon-color: var(--color-mainmenu-toplevel-text);
    --fau-arrow-icon-color-hover: var(--color-mainmenu-toplevel-hover-text);
    --fau-arrow-icon-size-mask: 1.3rem;
    
    
    
    @include no-list;

    /* All links & buttons */
    a, [type=button] {
        margin: 5px 0 0 0;
        text-decoration: none;
        font-weight: bold;
        color: var(--color-mainmenu-toplevel-text);
        background: var(--color-mainmenu-toplevel-bg);

        &:hover,
        &:focus,
        &[aria-expanded=true] {
            color: var(--color-mainmenu-toplevel-hover-text);
            background: var(--color-mainmenu-toplevel-hover-bg);
            text-decoration: none;
        }


    }

    [type="button"].current-menu-ancestor {
        color: var(--color-mainmenu-toplevel-hover-text);
        background: var(--color-mainmenu-toplevel-hover-bg);
	--fau-arrow-icon-color: var(--color-mainmenu-toplevel-hover-text);
	
    }


    li.level1.has-sub:hover > a {
        color: var(--color-mainmenu-toplevel-bg);
        background: var(--color-mainmenu-toplevel-hover-bg);
    }

    /* First-level items */
    > li {
        @include no-list;

        /* Primary navigation toggle links / buttons */
        > a,
        > [type=button] {
            display: block;
            position: relative;
            @include px2rem($font-size-nav-mainlinks);
            font-weight: bold;
            padding: 10px 15px;

            /* Necessary for force-click toggle buttons */
            border: none;
            background-color: transparent;
            text-align: left;
            width: 100%;
        }

        &.has-sub {
            > a,
            > [type=button] {
                padding-bottom: 10px;
                padding-right: 10px;
                margin-bottom: 0;

		 &:after {
		    margin-left: 0.1rem;
		    mask-position-y: 0px;
		    @extend .fau-triangle-icon-down;
		 }

            }
            &:hover {
                > a {
                    @include border-bottom-radius(0);
                }
            }

            body:not(.mainnav-forceclick):not(.ismobile) & {
                > a:focus ~ .nav-flyout,
                > [type=button]:focus ~ .nav-flyout,
                &:hover .nav-flyout {
                    display: block;
                }
            }

            /* Must be an extra selector as IE / Edge doesn't support :focus-within and considers this invalid */
            body:not(.mainnav-forceclick):not(.ismobile) &:focus-within .nav-flyout {
                display: block;
            }

            > [type=button][aria-expanded=true] {
		@include border-bottom-radius(0);
		
                &:after {
		    --fau-arrow-icon-color: var(--color-mainmenu-toplevel-hover-text);
		    mask-position-y: -5px;
		     @extend .fau-triangle-icon;
		     
                }

                ~ .nav-flyout {
                    display: block;
                }
            }
        }
    }

    .level2,
    .level3 {
        a {
            color: var(--color-mainmenu-toplevel-text);
        }

        a:hover,
        a:focus {
            color: var(--color-mainmenu-sublevel-hover-text);
            background-color: var(--color-mainmenu-sublevel-bg);
	        border-radius: var(--border-radius);
        }
    }

    .level3 {
        a {
            font-weight: normal;

            @media (max-width: $screen-sm) {
                @include px2rem($font-size-nav-level3);	
            }
        }
    }

    /* Fly-Out / secondary navigation */
    

    .flyout-entries-full {
	position: relative;
	min-height: 1px;
	padding-left: var(--width-gutter-half);
	padding-right: var(--width-gutter-half);
    }
    .nav-flyout {
        background-color: var(--color-white);
        padding: 50px 0;
    }

    
    /* Portal buttons */
    .button-portal {
        @include inline-block;
        @include buttonstyle();
        @include px2rem($font-size-nav-buttons);
	font-weight: bold;
        padding: 0.5rem 1rem;
        margin-left: 20px;
        background-color: var(--color-mainmenu-sublevel-button-bg);
	color: var(--color-mainmenu-sublevel-button-text);
	
        &:hover, &:focus, &:active {
            background: var(--color-mainmenu-sublevel-button-hover-bg);
            color: var(--color-mainmenu-sublevel-button-hover-text);    
        }
    }

    ul {
        @include no-list;
        margin: 0 0 15px 0;
        
        &.level4 {
            margin: 0;
        }

        li {
            @include no-list; /* Necessary because there's a global style setting this to "disc" */
            padding: 0;
            
            /* Fix for Webkit only, because "column-width" doesn't work properly */
            @supports (not (-moz-appearance: none)) {
                @media (min-width: $screen-sm) {
                    width: 330px;
                }
              }

            &.current-menu-item > a {
                color: var(--color-mainmenu-sublevel-hover-text);
                background-color: var(--color-mainmenu-sublevel-bg);
                border-radius: var(--border-radius);
            }

        }

        a {
            display: inline-block;
            padding: 7px 20px 7px 13px;
            width: 100%;
        }
    }

    .level2 {

        > li {
            &.has-sub {
                page-break-inside: avoid;
                break-inside: avoid;
                margin-bottom: 20px;
            }

            > a {
                background-color: transparent;
            }
        }
    }
}



.navsmall {
    --fau-arrow-icon-size: 1rem;
    --fau-arrow-icon-color: var(--color-mainmenu-toplevel-text);
    --fau-arrow-icon-color-hover: var(--color-mainmenu-toplevel-hover-text);
    --fau-arrow-icon-size-mask: 1.3rem;
    
    @include no-list;

    /* All links & buttons */
    a, [type=button] {
        margin: 5px 0 0 0;
        text-decoration: none;
        font-weight: bold;
        color: var(--color-mainmenu-toplevel-text);
        background: var(--color-mainmenu-toplevel-bg);

        &:hover,
        &:focus,
        &[aria-expanded=true] {
            color: var(--color-mainmenu-toplevel-hover-text);
            background: var(--color-mainmenu-toplevel-hover-bg);
            text-decoration: none;
        }
    }

    [type="button"].current-menu-ancestor {
        color: var(--color-mainmenu-toplevel-hover-text);
        background: var(--color-mainmenu-toplevel-hover-bg);
	
	&:after {
	     --fau-arrow-icon-color: var(--color-mainmenu-toplevel-hover-text);
	}
    }


    li.level1.has-sub:hover > a {
        color: var(--color-mainmenu-toplevel-bg);
        background: var(--color-mainmenu-toplevel-hover-bg);
    }

    /* First-level items */
    > li {
        @include no-list;
        position: relative;

        /* Primary navigation toggle links / buttons */
        > a,
        > [type=button] {
            display: block;
            position: relative;
            @include px2rem($font-size-nav-mainlinks);
            font-weight: bold;
            padding: 10px 15px;

            /* Necessary for force-click toggle buttons */
            border: none;
            background-color: transparent;
            text-align: left;
            width: 100%;
        }

        &.has-sub {
            > a,
            > [type=button] {
                padding-bottom: 10px;
                padding-right: 10px;
                margin-bottom: 0;
		
		 &:after {
		    margin-left: 0.1rem;
		    mask-position-y: 0px;
		    @extend .fau-triangle-icon-down;
		 }		 
            }
            &:hover {
                > a {
                    @include border-bottom-radius(0);
                }
            }

            body:not(.mainnav-forceclick):not(.ismobile) & {
                > a:focus ~ .nav-flyout,
                > [type=button]:focus ~ .nav-flyout,
                &:hover .nav-flyout {
                    display: block;
                }
            }

            /* Must be an extra selector as IE / Edge doesn't support :focus-within and considers this invalid */
            body:not(.mainnav-forceclick):not(.ismobile) &:focus-within .nav-flyout {
                display: block;
            }
	    
            > [type=button][aria-expanded=true] {
		@include border-bottom-radius(0);
              
		&:after {
		    --fau-arrow-icon-color: var(--color-mainmenu-toplevel-hover-text);
		    mask-position-y: -5px;
		     @extend .fau-triangle-icon;   
                }
 
                ~ .nav-flyout {
                    display: block;
                }
            }
        }
    }

    .level2,
    .level3 {
        a {
            color: var(--color-mainmenu-toplevel-text);
        }

        a:hover,
        a:focus {
            color: var(--color-mainmenu-sublevel-hover-text);
            background-color: var(--color-mainmenu-sublevel-bg);
	        border-radius: var(--border-radius);
        }
    }

    .level3 {
        a {
            font-weight: normal;

            @media (max-width: $screen-sm) {
                @include px2rem($font-size-nav-level3);	
            }
        }
    }

    /* Fly-Out / secondary navigation */
    .nav-flyout {
        padding: 30px 15px;
        background-color: #ffffff;

        .container {
            width: auto;
        }
    }

    ul {
        @include no-list;
        margin: 0 0 15px 0;
        
        &.level4 {
            margin: 0;
        }

        li {
            @include no-list; /* Necessary because there's a global style setting this to "disc" */
            padding: 0;
            
            /* Fix for Webkit only, because "column-width" doesn't work properly */
            @supports (not (-moz-appearance: none)) {
                @media (min-width: $screen-sm) {
                    width: 330px;
                }
              }

            &.current-menu-item > a {
                color: var(--color-mainmenu-sublevel-hover-text);
                background-color: var(--color-mainmenu-sublevel-bg);
                border-radius: var(--border-radius);
            }

        }

        a {
            display: inline-block;
            padding: 7px 20px 7px 13px;
            width: 100%;
        }
    }

    .level2 {
        > li {
            &.has-sub {
                page-break-inside: avoid;
                break-inside: avoid;
            }

            > a {
                background-color: transparent;
            }
        }
    }
}


/*
* Larger device
*/

@media (min-width: $screen-md) {
    .mainnav-plainview {
        .nav {
            ul {
                margin-bottom: 0;

                &.level2 > li {
                    &:not(.has-sub) {
                        > a {
                            border-bottom: none;
                        }
                    }
                    > a {
			@include px2rem($font-size-nav-level2);
                        padding-left: var(--width-gutter-half);
                    }
                }

                &.level3 a {
		    @include px2rem($font-size-nav-level3);
                }
            }

            .flyout-entries-full {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;

		&.column-count-1, 
		&.column-count-2, 
		&.column-count-3, 
		&.column-count-4 {
                    ul.level2, ul.level3 {
                        column-width: 330px;
                    }
                    .button-portal {
                        margin-right: auto;
                        margin-top: 20px;

                        @media (max-width: $screen-xl) {
                            margin-left: unset !important;
                            margin-right: unset !important;
                        }
                    }
                }
                &.column-count-1 {
                    ul.level2, ul.level3 {
                        column-count: 1;
                    }
                    .button-portal {
                        margin-left: 520px;
                    }
                }
                &.column-count-2 {
                    ul.level2, ul.level3 {
                        column-count: 2;
                    }
                    .button-portal {
                        margin-left: 346px;
                    }
                }
                &.column-count-3, &.column-count-4 {
                    ul.level2, ul.level3 {
                        column-count: 3;

                        @media (max-width: 1029px) {
                            column-count: 2;
                        }
                    }
                    .button-portal {
                        margin-left: 172px;
                    }
                }
            }

            .nav-flyout {
                background-color: var(--color-white);
                border-top: 8px solid var(--color-mainmenu-sublevel-bg);

                @media (min-width: $screen-sm) {
                    min-height: 199px;    
                }

                @media (max-width: $screen-md) {
                    margin-top: 50px;
                    max-height: calc(100vh - 162px);
                    overflow-y: auto;

                }
            }


        }
    }


    .mainnav-plainview {
        .navsmall {
            ul >li {
                background-color: var(--color-white);
            } 
            ul {
                background-color: var(--color-white);
                margin-bottom: 0;

                &.level2 > li {	    
                    &:not(.has-sub) {
                        > a {
                            border-bottom: none;
                        }
                    }

                    > a {
			@include px2rem($font-size-nav-level2);
                        padding-left: var(--width-gutter-half);
                    }
                }

                &.level3 a {
		    @include px2rem($font-size-nav-level3);
                }
            }

            .flyout-entries-full {
                display: flex;
                align-items: flex-start;
                flex-direction: column;

		&.column-count-1, 
		&.column-count-2, 
		&.column-count-3, 
		&.column-count-4 {
                    ul.level2, ul.level3 {
                        column-count: 1;
                        column-width: 330px;
                    }
                    .button-portal {
                        @include inline-block;
                        @include buttonstyle();
                        @include px2rem($font-size-nav-buttons);
                        font-weight: bold;
                        padding: 0.5rem 1rem;
                        margin-top: 20px;
                        background-color: var(--color-mainmenu-sublevel-button-bg);
                        color: var(--color-mainmenu-sublevel-button-text);
                    
                        &:hover, &:focus, &:active {
                            background: var(--color-mainmenu-sublevel-button-hover-bg);
                            color: var(--color-mainmenu-sublevel-button-hover-text);    
                        }

                    }
                }
            }

            .nav-flyout {
                background-color: #ffffff;

                @media (min-width: $screen-sm) {
                    min-height: 199px;    
                }

                @media (max-width: $screen-md) {
                    margin-top: 50px;

                }
            }


        }
    }




}

#mainnav-toggle,
#mainnav-toggle-close {
    --fau-icon-size: 1.5rem;
    --fau-icon-color: var(--color-Default);
    --fau-icon-color-hover: var(--color-Default);
    --fau-icon-size-mask: 1.3rem;
    

    position: absolute;
    right: 0px;
    top: 0px;
    @include px2rem($font-size-mobile-meta);
    background-color: transparent;    
    z-index: 100;
    color: var(--color-Default);
    margin: 0;
    padding: 10px 10px 4px 10px;
    display: none;
    cursor: pointer;

    span {
        @include hideout();
    }
}

#mainnav-toggle:before {
    @extend .fau-icon-bars;
}

#mainnav-toggle-close:before,
#mainnav-toggle[aria-expanded=true]:before {
     @extend .fau-icon-close;  
}


/* Very small device */
@media (max-width: $screen-xs - 1) {
    .no-js {
        .hide-mobile {
            display: none;
            top: 0;
            position: relative;
        }
    }
}

/* Medium sized device */
@media (max-width: $screen-md - 1) {
    /* If there's no JavaScript available */
    #mainnav-toggle-close {
        display: none;
    }

    #nav-wrapper {
        display: none;
    }

    .nav {
	background-color: var(--color-MobileFlyoutMenuBackground);
        .nav-flyout {
            padding: 0;
        }
        .flyout-entries-full {
            display: flex;
            flex-direction: column;
            .button-portal {
                order: 1;
                margin-top: 10px;
                padding: 7px 20px 7px var(--width-gutter-half);
                margin-left: 0;
                border-bottom: 1px solid var(--color-primary-dunkler);        
            }
            ul {
                order: 2;
            }

        }

        > li {
            border-top: 1px solid var(--color-overlay-dark,#ccc);
            &:first-child {
                border-top-color: transparent;
            }

            &.level1 {
                &:hover, &:focus {
                    border-top: 1px solid var(--color-primary-dunkelste);

                    + li {
                        border-top: 1px solid var(--color-primary-dunkelste);
                    }
                }


                > a,
                > [type=button] {
                    margin: 0;
                    cursor: pointer;

                    &[aria-expanded=true] {
                        background-color: var(--color-primary-dunkler);
                        color: var(--color-primary-dunkler-kontrast);
                        border-radius: 0;
                    }

                    &:hover, &:focus {
                        background-color: var(--color-primary-dunkelste);
                        color: var(--color-primary-dunkelste-kontrast);
                    }
                }
            }
        }
    }

    .navsmall {
        border-top: 1px solid var(--color-primary-ci-hell);

        .nav-flyout {
            padding: 0;
        }
        .flyout-entries-full {
            display: flex;
            flex-direction: column;
	    
            .button-portal {
                @include inline-block;
                @include buttonstyle();
                @include px2rem($font-size-nav-buttons);
                font-weight: bold;
                padding: 0.5rem 1rem;
                background-color: var(--color-mainmenu-sublevel-button-bg);
                color: var(--color-mainmenu-sublevel-button-text);

                order: 1;
                margin-top: 10px;
                padding: 7px 20px 7px var(--width-gutter-half);
                margin-left: 0;
                border-bottom: 1px solid var(--color-primary-dunkler);
            
                &:hover, 
	        &:focus, 
		&:active {
                    background: var(--color-mainmenu-sublevel-button-hover-bg);
                    color: var(--color-mainmenu-sublevel-button-hover-text);    
                }
            }
            ul {
                order: 2;
            }

        }

        > li {
            border-top: 1px solid var(--color-overlay-dark,#ccc);
            &:first-child {
                border-top-color: transparent;
            }

            &.level1 {
                &:hover, &:focus {
                    border-top: 1px solid var(--color-primary-dunkelste);

                    + li {
                        border-top: 1px solid var(--color-primary-dunkelste);
                    }
                }


                > a,
                > [type=button] {
                    margin: 0;
                    cursor: pointer;

                    &[aria-expanded=true] {
                        background-color: var(--color-primary-dunkler);
                        color: var(--color-primary-dunkler-kontrast);
                        border-radius: 0;
                    }

                    &:hover, &:focus {
                        background-color: var(--color-primary-dunkelste);
                        color: var(--color-primary-dunkelste-kontrast);
                    }
                }
            }
        }
    }

    .no-js #nav:target {
        #mainnav-toggle {
            display: none;
        }
        #mainnav-toggle-close {
            display: block;
        }
    }

    .no-js #nav:target #nav-wrapper,
    #nav [aria-expanded=true] ~ #nav-wrapper {
	background-color: var(--color-MobileFlyoutMenuBackground);
        display: block;
    }

    [aria-expanded=true] ~ #menu-backdrop {
        display: block;
    }

    .js {
        .nav-flyout {
            display: none;
        }
    }

    #mainnav-toggle {
        display: block;
    }
}

/* Large device */
@media (min-width: $screen-md) {
    #nav {
        background-color: transparent;
    }

    .nav {
        /* All links & buttons */
        > li {
            float: left;

            > a,
            > [type=button] {
                padding: 10px;
                border-radius: var(--border-radius);
            }
        }

        /* Fly-Out / secondary navigation */
        .nav-flyout {
            display: none;
            position: absolute;
            z-index: 30;
            left: 0;
            right: 0;
            overflow: hidden;
            @include box-shadow(0 4px 18px rgba(0, 0, 0, 0.05));
        }
    }
    .navsmall {
        /* All links & buttons */
        > li {
            float: left;

            > a,
            > [type=button] {
                padding: 10px;
                border-radius: var(--border-radius);
            }

          
        }

        li {
            &:last-child,
            &:nth-last-child(2),
            &:nth-last-child(3) {
                .nav-flyout {
                    right: 0;
                }
            }
        }

        /* Fly-Out / secondary navigation */
        .nav-flyout {
            display: none;
            position: absolute;
            z-index: 30;
            overflow: hidden;
            @include box-shadow(0 4px 58px rgba(0, 0, 0, 0.1));
            min-width: 350px;
        }
    }
}

/* Large device */
@media (min-width: $screen-md) {
    .nav {
        .nav-flyout {
            max-height: calc(100vh - 162px);
            overflow-y: auto;
        }
    }
    .navsmall {
        .nav-flyout {
            max-height: calc(100vh - 162px);
            overflow-y: auto;
        }
    }

}

@media (max-width: $screen-xl) {
    .navsmall {
        li {
            .nav-flyout {
                min-width: 300px;
            }
        }
    }
}


#menu-backdrop {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 51, 102, .7);
    z-index: 100;
}
.meta-links-toggled,
.nav-toggled {

    #menu-backdrop {
        display: block;

        @media (min-width: $screen-md) {
            display: none;
        }
    }
}

ul.navsmall {
    .level1.has-sub {
      > a.menu-item { // directly inside .level1.has-sub but not in a deeper level
        display: none;
      }
  
      button.menu-item {
        display: inline-block; // or whatever display value you prefer for your button
      }
  
      .sub-menu.level2 a.menu-item { // inside ul.sub-menu.level2
        display: inline-block; // or block or whatever suits your design best
      }
    }
  }
  