/*-----------------------------------------------------------------------------------*/
/* Main menu
/*-----------------------------------------------------------------------------------*/


#nav {
	background-color: var(--color-StandardHellgrau);
	// wird das noch gebraucht? pruefen
	.meta-nav {
		border-top: 1px solid #ccc;
		color: var(--color-primary-basis);
		display: block;
		padding: 15px 11px;
		margin-bottom: 0;
	}
     // wird das noch gebraucht? pruefen
	.sidebar-subnav {
		border-top: 1px solid #ccc;
		float: none;
		padding: 15px 0 0;
		background-color: darken($PalettonHellste, 5%);

		a {
			background-color: darken($PalettonHellste, 5%);
		}
	}

	.menu-header {
		@include px2rem($font-size-nav-mainlinks);
		margin: 0;
		border-top: none;

		&, & a {
			color: var(--color-primary-basis);
		}

		.screen-reader-text {
			position: static;
		}
	}

	#subnav {
		font-size: 1rem;

		li {
			border-bottom: none;
			border-top: 1px solid #fff;
		}

		.current_page_item a {
			background-color: var(--color-primary-basis);
		}

		a, .current_page_item a {
			&:hover, &:focus {
				background-color: var(--color-primary-dunkelste);
			}
		}
	}
}

