/*-----------------------------------------------------------------------------------*/
/* Meta-Navigation
/*-----------------------------------------------------------------------------------*/
.orgalist,
.meta-nav {
	@include no-list;
	padding: 0;
	overflow: hidden;


	li {
		@include no-list;
		@include inline-block;
		margin: 0 4px;
		background: none;
		position: relative;

		img {
			vertical-align: sub;
			padding: 0;
			margin: 0 2px;
		}

		a {
			@include inline-block;
			padding: 10px 0;
			color: $colorMeta;
			text-decoration: none;
		}

		a:focus,
		a:hover,
		&:focus-within a,
		&:hover a,
		&:focus a {
			text-decoration: underline;
		}
	}

	li.has-sub {
		margin-right: 0;

		> a {
			padding-right: 25px;
			position: relative;
		}

		> a:before {
			@extend .fa;
			@extend .fa-caret-down;
			position: absolute;
			top: 15px;
			right: 11px;
		}
	}


	ul.sub-menu {
		@include no-list;
		display: none;
		position: absolute;
		top: 35px;
		left: -10px;
		background: $colorMetaLightest;
		width: 180px;
		@include box-shadow(0 3px 3px rgba(0, 0, 0, 0.2));

		li {
			@include no-list;
			display: block;

			a {
				padding: 4px 10px;
				margin: 0;
				display: block;
				text-decoration: none;
				background: none;

				&:hover, &:focus {
					background: #fff;
					text-decoration: none;
				}
			}
		}
	}

	li:hover ul.sub-menu,
	li.focus ul.sub-menu {
		display: block;
	}
}

.meta-nav {
	display: none;

	.js & {
		display: inline;
	}

}

.orgalist {
	display: block;
	margin: 0 auto;
	text-align: center;

	li.fauhome {
		padding-right: 5px;
		margin-right: 10px;
	}

	li.fauhome:before {
		@extend .fa;
		@extend .fa-long-arrow-up;
		margin-left: 5px;
		margin-right: 5px;
	}

	li.facultyhome {
		padding-right: 5px;
		padding-left: 5px;
		margin-right: 10px;
		margin-left: -15px;
	}

	li.fauhome,
	li.facultyhome {
		@include transition(background, 0.2s ease-out);
	}

	li.fauhome:hover, 
	li.fauhome:focus,
	li.facultyhome:hover, 
	li.facultyhome:focus {
		background: $colorMetaFAUHomeBackground;
		@include transition(background, 0.1s);
	}
	
	.md-showsitelogo & {
	    text-align: left;
	}
	
	
	@media (max-width: $screen-sm - 1) {
		li.fauhome:before {
			display: none;
			content: "";
		}
		li.facultyhome {
			display: none;
		}
	}

	@media (min-width: $screen-sm) {
		display: inline;
		margin: 0 0 0 -4px;
		text-align: left;

		.fauorg-home & .fauhome {
			// Zeige auf der FAU-Website selbst den Logolink in der Meta
			// nicht an, wenn die Darstellung größer gleich als Tablet ist.
			display: none;
		}	
	}
}


#footer {

	.cloned-meta-links,
	.cloned-hero-nav,
	.meta-nav {
		display: block;
		padding: 10px;

		li {
			display: table;
			padding: 3px 0 4px 4px;


			a {
				display: block;
				float: none;
				@include border-radius(0);
				margin-bottom: 0;
				padding: 2px 0;
				color: $colorMeta;
			}

			&:before {
				@extend .fa;
				@extend .fa-angle-right;
				font-weight: bold;
				display: table-cell;
				color: $colorMeta;
				width: 20px;
			}


			&.zuv, &.phil,
			&.philfak, &.rw,
			&.rwfak, &.med,
			&.medfak, &.nat,
			&.natfak, &.tf,
			&.techfak,
			&.white, &.grau {
				min-height: 34px;
				line-height: 34px;
				border-left: 8px solid transparent;
				vertical-align: center;
				@include hyphens(auto);


				&:before {
					display: none;
					content: "";
				}

				a {
					@include inline-block;
					padding: 2px 0 2px 10px;
					line-height: 16px;
					vertical-align: center;
				}
			}

			&.zuv {
				border-color: $colorZUV;
			}

			&.phil,
			&.philfak {
				border-color: $colorPhilFak;
			}

			&.rw,
			&.rwfak {
				border-color: $colorRwFak;
			}

			&.med,
			&.medfak {
				border-color: $colorMedFak;
			}

			&.nat,
			&.natfak {
				border-color: $colorNatFak;
			}

			&.tf,
			&.techfak {
				border-color: $colorTechFak;
			}

			&.white {
				border-color: #fff;
			}

			&.gray {
				border-color: $colorStandardHellgrau;
			}


		}


	}

	.cloned-meta-links,
	.cloned-hero-nav {
		@media (min-width: $screen-sm) {
			display: none;
		}

	}

	.meta-nav {
		padding: 10px 0;
	}

	.cloned-meta-links {
		margin-bottom: 0px;
	}

	.cloned-meta-links,
	.cloned-hero-nav {
		background: $colorMetaBackground;
		color: $colorMeta;

		li, a, h1, h2, h3, h4, p {
			background: $colorMetaBackground;
			color: $colorMeta;
		}
	}

	.cloned-hero-nav {
		margin-bottom: 10px;
		margin-left: -15px;
	}
}
	

