/*-----------------------------------------------------------------------------------*/
/* Portalmenus
/*-----------------------------------------------------------------------------------*/
@use "sass:math";
/* Subpages / Portal Menu */


.contentmenu {
    @extend .row;
    a {
	@include defaultlinkstyle();
	text-decoration: none;
    }
}

.entry-content .contentmenu p, 
.portalpage-content .contentmenu  p, 
.content-inline .contentmenu  p {
    
    a {
        @include defaultlinkstyle();
    	text-decoration: none;
    }

    a:hover,
    a:focus {
        text-decoration: underline;		    
        background-color: var(--color-menulink-hover-bg);
        color: var(--color-menulink-hover-text);
	    
    }
   
}
    

.subpages-menu {
	@include no-list;
	margin: 20px 0;
	display: flex;
	justify-content: space-evenly;
	column-gap: floor(math.div($grid-gutter-width, 2));
	row-gap: $grid-gutter-width;   
	flex-wrap: wrap;
	
	li {
		@include no-list;
		display: flex; 
		flex-direction: column;
		align-items: center;
		
		background-image: none;
		padding: 0px;
		width: 220px;
		 @include box-shadow(1px 1px 3px var(--color-ContentBorders));


		.thumb {
		    overflow: hidden;
		    position: relative;
		    @include box-shadow(0 1px 2px var(--color-ContentBorders));
		    a {
			    text-decoration: none;
			  
			    display: block;
			    position: relative;
			    width: 220px;
			    height: 110px;
			    @media (min-width: $screen-xs) and (max-width: $screen-sm - 1) {
				width: calc(50vw - 25px);
				height: calc( (50vw - 25px) / 2);
			    }
			     
			    img {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				object-fit: contain;
				box-shadow: none;
			    }
			    svg {
				padding: 22px;
			    }
			    

			    &.ext-link:after {
				    @extend .fa;
				    content: "\f08e";
				    position: absolute;
				    top: 0;
				    right: 0px;
				    z-index: 10;
				    height: 20px;
				    width: 20px;
				    background: var(--color-primary-basis);


				    @include px2rem($font-size-linkicon);
				    color: var(--color-primary-basis-kontrast);
				    font-weight: bolder;
				    text-align: right;
				    padding: 0 2px 0 0;

			    }
		    }
		}
		p {
		    padding: 0;
		}
		.portaltop {
		    display: block;
		    @include px2rem($font-size-contentmenu-title);
		    width: 220px;
		    font-weight: bold; 
		    a {
			width: 100%;
			display: inline-block;
			padding: 10px;
			text-align: center;
		    }
		    a.ext-link:after {
		       @extend .fa;
		       content: "\f08e";
		       margin-left: 5px;
		       margin-top: 0;
		       @include px2rem($font-size-content-linkicon);
		       color: var(--color-Text);
		       vertical-align: top;
		    }
		    a:hover,
		    a:focus {
			text-decoration: underline;		    
			background-color: var(--color-menulink-hover-bg);
			color: var(--color-menulink-hover-text);

		    }
		}
		
		
		
	    ul {
		@include no-list;
	       li {
		    @include no-list;
		    background: none;
		    display: table;
		    border-bottom: 1px solid var(--color-ContentBorders);
		    width: 210px;
		    box-shadow: none;
		}
		
		li:before {
		    @extend .fa;
		    @extend .fa-angle-right;
		    font-weight: bold;
		    display: table-cell;
		    vertical-align: middle;
		    color:  var(--color-Default);
		    width: 5px;
		}
	
		a {
		    text-decoration: none;
		    display: table-cell;
		    padding: 5px 12px;
		    @include px2rem($font-size-contentmenu-link);
		}

		a:hover,
		a:focus {
		    text-decoration: underline;
		    // background-color: var(--color-primary-hellste);
		    
		     background-color: var(--color-menulink-hover-bg);
		    color: var(--color-menulink-hover-text);
		    
		}
	    }

	}

}

.subpages-menu,
.helpermenus {
    h3 {
        display: block;
	@include px2rem($font-size-contentmenu-title);
	width: 220px;
	
	a {
	    
	    
	    
	       &.ext-link:after {
		       @extend .fa;
		       content: "\f08e";
		       margin-left: 5px;
		       margin-top: 0;
		       @include px2rem($font-size-content-linkicon);
		       color: var(--color-Text);
		       vertical-align: top;

	       }
	   }
	   a:hover,
	    a:focus {
		background-color: var(--color-menulink-hover-bg);
		    color: var(--color-menulink-hover-text);
		}
    }
 
}
.helpermenus {
    ul {
	@include no-list();
    }
    li {
	@include anglelist();
    }
}




/* START extension for REFRESH */
#content .contentmenu.no-shadow img {
	box-shadow: none;
}

.contentmenu {
  &.refresh {
    .menu-item {
      > div {
    	   position: relative;
         width: 100%;
         height: 100%;
         a.image {
           width:100%;
           height:100%;
           display:block;
           img {
             width:100%;
             height:100%;
             object-fit:cover;
           }
         }
      }
      > div + p, > div + span.portaltop {
      	position: absolute;
      	bottom: 0;
      	padding: 0;
      	width: 100%;
      }
      span.portaltop {
      	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
      	width: 100%;
      	padding: 0;
      }
      &:hover span.portaltop {
	background-color: $PalettonDunkelste;
      }
      span.portaltop a {
      	color: var(--color-primary-basis-kontrast);
      	line-height: 1.25;
      	text-shadow: 1px 1px 3px black;
      	display: block;
      	padding: 8px 10px;
        &:hover {
        	text-decoration: none;
        }
      }
    }
    &.skewed {
      .menu-item {
        &::after {
          content: "";
          width: calc(100% + 10px);
          height: 5%;
          position: absolute;
          left: -5px;
          top: -5%;
          background: #fff;
          transform-origin: right top;
          transform: skewY(-1.75deg);
          display: block;
        }
      } // .skewed
    } // .menu-item
    &.contentmenutype2 {
      .subpages-menu {
        li {
          width:calc(50% - 10px);
          height:calc((50vw - 10px) / 300 * 200)
        }
        @media (min-width: $screen-xs){
          li {
            width:220px;
            height:147px;
          }
        }
        @media (max-width: $screen-xs - 1){
          li {
            max-width: 220px;
          }
          li:nth-of-type(2n+1) {
            clear: both;
          }
        }
        @media (min-width: $screen-xs) and (max-width: $screen-sm - 1){
          li {
            max-width: 220px;
            margin-right: calc(50% - 240px);
    	     }
        }
      }
    }
    &.contentmenutype3 {
      .subpages-menu {
        li {
          width: 320px;
          height: auto;
 
        } 
      }
    } // .contentmenutype3

  } // .refresh
} // .contentmenu
@media (min-width: $screen-sm){
  nav.sidebar-subnav+div.entry-content .contentmenu.refresh {
   
    &.contentmenutype3 li.menu-item {
      width: 350px;
      
    }
  }
} // @media (min-width: $screen-sm)
/* END extension for REFRESH */