/*-----------------------------------------------------------------------------------*/
/* Portalmenus
/*-----------------------------------------------------------------------------------*/
@use "sass:math";
/* Subpages / Portal Menu */


.contentmenu {
    @extend .row;

    a {
        @include defaultlinkstyle();
        text-decoration: none;
        
         color: var(--color-Text);
    }
    
   
}

main .subpages-menu,
.entry-content .contentmenu,
.portalpage-content .contentmenu,
.content-inline .contentmenu {

    a {
        @include defaultlinkstyle();
        text-decoration: none;
    }

    a:hover,
    a:focus {
        text-decoration: none;
        background-color: var(--color-menulink-hover-bg);
        color: var(--color-menulink-hover-text);

	svg .fallback  {
	    fill: var(--color-menulink-hover-text);
	}
    }

}

.subpages-menu {
    @include no-list;
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
    column-gap: floor(math.div($grid-gutter-width, 2));
    row-gap: $grid-gutter-width;
    flex-wrap: wrap;



    li {
        @include no-list;
        display: flex;
        flex-direction: column;
        align-items: center;

        background-image: none;
        padding: 0px;
	
	width: $contentmenu-xxs-width;
	
	
	@media (min-width: $screen-sm) {
	    width: $contentmenu-default-width;
	}
        border: 1px solid  var(--color-ContentBorders);
        
         @include box-shadow(1px 3px 10px transparent);
        &:hover {
             @include box-shadow(1px 3px 10px var(--color-ContentBorders));
        }
       


        .thumb {
            overflow: hidden;
            position: relative;

            a {
                text-decoration: none;

                display: block;
                position: relative;
		width: 100%;
		height: $contentmenu-xxs-maxheight;
		@media (min-width: $screen-sm) {
		    height: $contentmenu-default-height;
		}


                img {
                    height: inherit;
                    width: inherit;
                    object-fit: cover;
                    box-shadow: none;
                }

                svg {
                    padding: 22px;
		   
                }


                &.ext-link:after {
                    @include svg-icon-place();
                    background-image: svg-icon-external-link($color-content-links);
                    color: var(--color-Text);                    
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    z-index: 10;
                    height: 1.4rem;
                    width: 1.4rem;
                   

                }
            }
        }

        p {
            padding: 0;
        }

        .portaltop {
            display: block;
            @include px2rem($font-size-contentmenu-title);
	    
	    width: $contentmenu-xxs-width;
	    @media (min-width: $screen-sm) {
		width: $contentmenu-default-width;
	    }
            font-weight: bold;

            a {
                width: 100%;
                display: inline-block;
                padding: 10px;
                text-align: center;
            }
            a:hover,
            a:focus {
                text-decoration: none;
                background-color: var(--color-menulink-hover-bg);
                color: var(--color-menulink-hover-text);

            }
            a.ext-link:after {
                @include svg-icon-place();
                background-image: svg-icon-external-link($color-content-links);
                color: var(--color-Text);
                vertical-align: top;
            }
            a.ext-link:hover:after, 
            a.ext-link:focus:after {
                 background-image: svg-icon-external-link($color-menulink-hover-text);
            }
            
          
        }
       

        ul {
            @include no-list;
            width: 100%;
            
            li {
                @include no-list;
                padding: 0;
                background: none;
                display: table;
                border-left: none;
                border-right: none;
                border-bottom: 1px solid var(--color-ContentBorders);
                width: 100%; //  ($contentmenu-default-width - floor(math.div($grid-gutter-width, 2)));
                box-shadow: none;
                
                &:hover {
                     box-shadow: none;
                }
            }

            li:focus,
            li:hover {
                background-color: var(--color-menulink-hover-bg);
                color: var(--color-menulink-hover-text);

                &::before,
                a {
                    color: var(--color-menulink-hover-text);
		    
                }
            }

            li:before {
                @include svg-icon-place();
                background-image: svg-angle-right($color-content-links);
                
                font-weight: bold;
                display: table-cell;
                vertical-align: middle;
                color: var(--color-Default);
                
            }
            li:focus:before, li:hover:before {
                @include svg-icon-place();
                display: table-cell;
                background-image: svg-angle-right($color-button-hover-text);
            }

            a {
                text-decoration: none;
                display: table-cell;
                padding: 0.4rem 0;
                @include px2rem($font-size-contentmenu-link);
            }

            a:hover,
            a:focus {
                text-decoration: none;
                background-color: var(--color-menulink-hover-bg);
                color: var(--color-menulink-hover-text);
                font-weight: normal;

            }
            a.ext-link:after {
                @include svg-icon-place();
                background-image: svg-icon-external-link($color-content-links);
                color: var(--color-Text);
                vertical-align: top;
            }
            a.ext-link:hover:after, a.ext-link:focus:after {
                 background-image: svg-icon-external-link($color-menulink-hover-text);
            }
            
            
        }
        
        &.textcol-phil {
            .portaltop a {
                 background-color: var(--color-phil-ci-hell);
                 color: var(--color-phil-ci-hell-kontrast);
            }
        }
         &.textcol-rw {
            .portaltop a {
                 background-color: var(--color-rw-ci-hell);
                 color: var(--color-rw-ci-hell-kontrast);
            }
        }
         &.textcol-nat {
            .portaltop a {
                 background-color: var(--color-nat-ci-hell);
                 color: var(--color-nat-ci-hell-kontrast);
            }
        }
         &.textcol-tf {
            .portaltop a {
                 background-color: var(--color-tf-ci-hell);
                 color: var(--color-tf-ci-hell-kontrast);
            }
        }
         &.textcol-med {
            .portaltop a {
                 background-color: var(--color-med-ci-hell);
                 color: var(--color-med-ci-hell-kontrast);
            }
        }
    }

}


/* START extension for REFRESH */
#content .contentmenu.no-shadow img {
    box-shadow: none;
}

.contentmenu {
    &.refresh {
        .menu-item {
            position: relative;

            > div {
                position: relative;
                width: 100%;
                height: 100%;

                a.image {
                    width: 100%;
                    height: 100%;
                    display: block;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            > div + p,
            > div + span.portaltop {
                position: absolute;
                bottom: 0;
                padding: 0;
                width: 100%;
            }

            span.portaltop {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
                width: 100%;
                padding: 0;

            }

            &:focus span.portaltop,
            &:hover span.portaltop {
                background-color: var(--color-menulink-hover-bg);
                color: var(--color-menulink-hover-text);
            }

            span.portaltop a {
                display: block;
                padding: 8px 10px;
                color: #fff;
                text-shadow: 1px 1px 1px #000;
                font-weight: normal;

                &:focus,
                &:hover {
                    text-decoration: none;
                    background-color: var(--color-menulink-hover-bg);
                    color: var(--color-menulink-hover-text);
                }
            }
        }

        &.skewed {
            .menu-item {
                &::after {
                    content: "";
                    width: 100%;
                    height: 1.875rem;
                    position: absolute;
                    left: 0;
                    top: -30px;
                    background: #fff;
                    transform-origin: right top;
                    transform: skewY(-1.75deg);
                    display: block;
                }
            }

            // .skewed
        }

        // .menu-item


        &.contentmenutype2 {
            .subpages-menu {
                li {
                    width: $contentmenu-typ2-width;
                    height: $contentmenu-typ2-height;
                }

            }
        }

        &.contentmenutype3 {
            .subpages-menu {
                li {
                    width: $contentmenu-typ3-width;
                    height: $contentmenu-typ3-height;

                }
            }
        }

        // .contentmenutype3

    }

    // .refresh
}

// .contentmenu

