/*-----------------------------------------------------------------------------------*/
/* Portalmenus
/*-----------------------------------------------------------------------------------*/
@use "sass:math";
/* Subpages / Portal Menu */


.contentmenu {
    //@extend .row;
    width: 100%;
    
    a {
        @include defaultlinkstyle();
        text-decoration: none;
        color: var(--color-Text);

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }


}

main .subpages-menu,
.entry-content .contentmenu,
.portalpage-content .contentmenu,
.content-inline .contentmenu {

    a {
        @include defaultlinkstyle();
        text-decoration: none;
    }

    svg .fallback {
        fill: var(--color-menulink-hover-text);
    }

    a:hover,
    a:focus {
        text-decoration: none;
        background-color: var(--color-menulink-hover-bg);
        color: var(--color-menulink-hover-text);

        svg .fallback {
            fill: var(--color-menulink-hover-text);
        }
    }

}

.subpages-menu {
    @include no-list;
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    column-gap: floor(math.div($grid-gutter-width, 3));
    row-gap: floor(math.div($grid-gutter-width, 1.5));
    flex-wrap: wrap;
    @media (min-width: $screen-sm) {
        column-gap: floor(math.div($grid-gutter-width, 2));
        row-gap: $grid-gutter-width;
    }

    li {
        @include no-list;
        position: relative;
        flex: 1 0 $contentmenu-xxs-width;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
        background: var(--color-ContentRegions);
        padding: 0px;
        max-width: $contentmenu-default-width;
        @media (min-width: $screen-sm) {
            width: $contentmenu-default-width;
            flex: 0 0 $contentmenu-default-width;
        }
        @include box-shadow(1px 3px 10px transparent);

        svg .fallback {
            fill: var(--color-menulink-hover-text);
        }

        &:hover,
        &:focus {
            @include box-shadow(1px 3px 10px var(--color-ContentBorders));
            svg .fallback {
                fill: var(--color-menulink-hover-text);
            }
        }


        .thumb {
            overflow: hidden;
            position: relative;
            width: 100%;

            a {
                text-decoration: none;
                background-color: darken($colorStandardHellgrau, 3%);
                display: block;
                position: relative;
                width: 100%;

                img, svg {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    box-shadow: none;
                    transition: transform 1s;
                    .contentmenu.size_2-1 & {
                        aspect-ratio: 2 / 1;
                    }
                    .contentmenu.size_3-2 & {
                        aspect-ratio: 3 / 2;
                    }
                    .contentmenu.size_3-4 & {
                        aspect-ratio: 3 / 4;
                    }
                }

                svg {
                    padding: 8%;
                    margin-bottom: -7px;
                }


                &.ext-link:after {
                    @include svg-icon-place();
                    background-image: svg-icon-external-link($color-content-links);
                    color: var(--color-Text);
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    z-index: 10;
                    height: 1.4rem;
                    width: 1.4rem;


                }
            }
        }

        p {
            padding: 0;
        }

        &.menu-item-has-children {
            .portaltop {
                height: calc(3*1.688rem + 19px);
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                flex-grow: unset;
                &:hover, &:focus {
                    border-color: var(--color-menulink-hover-bg);
                    background-color: var(--color-menulink-hover-bg);
                    > a {
                        color: var(--color-menulink-hover-text);
                        text-decoration: none;
                        &::after {
                            background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath fill="%23FFFFFF" d="M15.6401 7.02539H12.0186V5.02539H19.0186V12.0254H17.0186V8.4754L12.1046 13.3893L10.6904 11.9751L15.6401 7.02539Z M10.9824 6.97485H4.98242V18.9749H16.9824V12.9749H14.9824V16.9749H6.98242V8.97485H10.9824V6.97485Z"/%3E%3C/svg%3E%0A');
                        }
                    }
                }
                > a {
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    height: fit-content;
                    max-height: calc(1.688rem*3 + 16px);
                }
            }
        }

        > p, // Quickfix für wpautop bei Verwendung des Shortcodes im Content-Bereich
        .portaltop {
            display: block;
            @include px2rem($font-size-contentmenu-title);
            border-left: 1px solid var(--color-ContentBorders);
            border-right: 1px solid var(--color-ContentBorders);
            border-bottom: 1px solid var(--color-ContentBorders);
            width: 100%;
            font-weight: bold;
            flex-grow: 1;

            .no-sub:not(.no-thumb) & {
                position: absolute;
                bottom: 0;
                padding: 0;
                width: 100%;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
                border: none;
            }

            .no-thumb &,
            .no-fallback > &{
                border-top: 1px solid var(--color-ContentBorders);
            }

            &:hover,
            &:focus {
                border-color: transparent;
            }

            a {
                display: block;
                width: 100%;
                height: 100%;
                padding: 10px 10px 8px 10px;
                text-align: left;

                .no-sub:not(.no-thumb) & {
                    display: block;
                    padding: 8px 10px;
                    color: #fff;
                    text-shadow: 1px 1px 1px #000;
                    font-weight: normal;
                    transition: all .4s ease;

                    &:focus,
                    &:hover {
                        text-decoration: none;
                        background-color: var(--color-menulink-hover-bg);
                        color: var(--color-menulink-hover-text);
                        display: block;
                        height: 100%
                    }
                }

                &:hover,
                &:focus {
                    text-decoration: none;
                    background-color: var(--color-menulink-hover-bg);
                    color: var(--color-menulink-hover-text);
                }

                &.ext-link:after {
                    @include svg-icon-place();
                    background-image: svg-icon-external-link($color-content-links);
                    color: var(--color-Text);
                    vertical-align: top;
                }

                &.ext-link:hover:after,
                &.ext-link:focus:after {
                    background-image: svg-icon-external-link($color-menulink-hover-text);
                }
            }
        }
        > p {
            border: none;  // Quickfix für wpautop bei Verwendung des Shortcodes im Content-Bereich
        }

        ul {
            @include no-list;
            width: 100%;
            border-left: 1px solid var(--color-ContentBorders);
            border-right: 1px solid var(--color-ContentBorders);
            border-bottom: 1px solid var(--color-ContentBorders);
            flex-grow: 1;
            text-transform: none;

            li {
                @include no-list;
                padding: 3px 0;
                background: none;
                display: table;
                border: none;
                width: 100%; //  ($contentmenu-default-width - floor(math.div($grid-gutter-width, 2)));
                box-shadow: none;

                &:focus,
                &:hover {
                    box-shadow: none;
                    background-color: var(--color-menulink-hover-bg);
                    color: var(--color-menulink-hover-text);

                    &::before,
                    a {
                        color: var(--color-menulink-hover-text);
                    }
                    &:before,
                    &:before {
                        @include svg-icon-place();
                        display: table-cell;
                        background-image: svg-angle-right($color-button-hover-text);
                        background-position: 0.4rem .45rem;
                    }
                }

                &:before {
                    @include svg-icon-place();
                    background-image: svg-angle-right($color-content-links);
                    background-position: 0.4rem .45rem;

                    font-weight: bold;
                    display: table-cell;
                    vertical-align: middle;
                    color: var(--color-Default);

                }

            }

            a {
                text-decoration: none;
                display: table-cell;
                padding: 0.4rem !important;
                @include px2rem($font-size-contentmenu-link);

                &:hover,
                &:focus {
                    text-decoration: none;
                    background-color: var(--color-menulink-hover-bg);
                    color: var(--color-menulink-hover-text);
                    font-weight: normal;
                }

                &.ext-link:after {
                    @include svg-icon-place();
                    background-image: svg-icon-external-link($color-content-links);
                    color: var(--color-Text);
                    vertical-align: top;
                }

                &.ext-link:hover:after,
                &.ext-link:focus:after {
                    background-image: svg-icon-external-link($color-menulink-hover-text);
                }
            }


        }

        &.textcol-phil {
            .portaltop a {
                background-color: var(--color-phil-ci-hell);
                color: var(--color-phil-ci-hell-kontrast);
            }
        }

        &.textcol-rw {
            .portaltop a {
                background-color: var(--color-rw-ci-hell);
                color: var(--color-rw-ci-hell-kontrast);
            }
        }

        &.textcol-nat {
            .portaltop a {
                background-color: var(--color-nat-ci-hell);
                color: var(--color-nat-ci-hell-kontrast);
            }
        }

        &.textcol-tf {
            .portaltop a {
                background-color: var(--color-tf-ci-hell);
                color: var(--color-tf-ci-hell-kontrast);
            }
        }

        &.textcol-med {
            .portaltop a {
                background-color: var(--color-med-ci-hell);
                color: var(--color-med-ci-hell-kontrast);
            }
        }
    }

}


/* START extension for REFRESH */
#content .contentmenu.no-shadow img {
    box-shadow: none;
}

.contentmenu {
    
    &.listview {
        display: flex;
        gap: var(--width-gutter-half, 15px);
        flex-wrap: wrap;
	min-width: fit-content;
        padding-left: var(--width-gutter-half, 15px);
        padding-right: var(--width-gutter-half, 15px);
        @media (min-width: $screen-sm) {
	    padding-left: 0;
	    padding-right: 0;
	}
        a {
	    display: flex;
	    align-items: center;
	    min-height: 44px;
	    @include px2rem($font-size-contentmenu-listview);
            color: var(--color-Text, #222);
            background-color: var(--color-MetaBackgroundLight, #DFE6EC);
            padding: 0.5rem 1.8rem; 
	    
	    
	    &:focus,  &:hover {
                text-decoration: none;
                background-color: var(--color-menulink-hover-bg);
                color: var(--color-menulink-hover-text);
            }
        }

    }
    &.meganav {
        > ul {
            column-count: 4;
            display: block;
            > li {
                break-inside: avoid;
                background: none;
                box-shadow: none;
                display: list-item;
                > a {
                    display: inline-block;
                    font-weight: bold;
                    padding: 7px 20px 7px 12px;
                    width: 100%;
                    &:hover {
                        color: var(--color-mainmenu-sublevel-hover-text);
                        background-color: var(--color-mainmenu-sublevel-bg);
                        border-radius: var(--border-radius);
                    }
                }
                > ul {
                    border: none;
                    > li {
                        background: none;
                        padding: 0;
                        > a {
                            display: inline-block;
                            font-size: 0.875rem;
                            line-height: 1.2rem;
                            padding: 7px 20px 7px 12px !important;
                            margin-top: 5px;
                            width: 100%;
                            &:hover {
                                color: var(--color-mainmenu-sublevel-hover-text);
                                background-color: var(--color-mainmenu-sublevel-bg);
                                border-radius: var(--border-radius);
                            }
                        }
                        &::before {
                            display: none;
                        }
                    }
                }
            }
            @media (max-width: $screen-sm) {
                column-count: 2;
            }
            @media (max-width: $screen-xs) {
                column-count: 1;
            }
        }
    }
}

.hover-zoom a:hover img {
    transform: scale(1.05);
}

.hover-blur a:hover img {
    filter: blur(2px) grayscale(60%);
}

