/*-----------------------------------------------------------------------------------*/
/* Subnav in content
/*-----------------------------------------------------------------------------------*/

.sidebar-subnav {
    header {
	padding: 11px 15px;
	margin-top: 0px;
	border-top: 1px solid $colorLightest;
	@include px2rem($font-size-h3);
	font-weight: bold;
    }
} 
#subnav {
	@include no-list;
	
	ul, li {
		@include no-list;
	}
	
	a {
		text-decoration: none;
		display: block;
		@include px2rem($font-size-subnav-firstlevel);

		padding: 6px 15px;
		color: $colorSubNav;
		background: $colorSubNavBackground;
		padding-left: 15px;
		padding-right: 15px; 

		&:hover, &:focus {
			background-color: $colorSubNavCurrentBackground;
			color: $colorSubNavCurrent;
		}
	}
	
	ul {
		display: none;
	}
	
	> li {
		border-bottom: 1px solid #fff;
	}
	
	.current_page_item, 
	.current_page_ancestor {
		a {
			color: $colorSubNavCurrent;
			background-color: $colorSubNavCurrentBackground; 
			border: none;
			
			&:hover, &:focus {        
				background-color: $colorSubNavCurrentHoverBackground; 
				color: $colorSubNavCurrentHover; 
			}
		}
		
		> ul {
			display: block;
		}
		
		> a {
			font-weight: bold;
		}
	}
	
	li li a {
		padding-left: 25px;
	}
	
	li li li a {
		padding-left: 35px;
		@include px2rem($font-size-subnav-sublevel);
	}
	
	li li li li a {
		padding-left: 45px;
		
		&:hover, &:focus {
			background: $colorSubNavBackgroundHover; 
			color: $colorSubNav; 
		}
	}
	
	li .current_page_item,
	li .current_page_ancestor {
		a {
			background: $colorSubNavCurrentBackground; 
		}
		
		li {
			a:hover, a:focus {
				background: $colorSubNavCurrentHoverBackground; 
			}
		}
	}
	
	li .current_page_ancestor .current_page_item a {
		background: $colorSubNavCurrentHoverBackground;
	}
	
	li li .current_page_ancestor a {
		background: $colorSubNavCurrentHoverBackground;
	}
	
	li li li li a,
	li li li li.current_page_item a {
		background: $colorSubNavBackgroundHover; 
		color: $colorSubNavCurrent;
	}
	
	li.protected-page a {
		padding-right: 40px;
		background-image: url('../img/protected-page.png');
		background-repeat: no-repeat;
		background-position: right center;
	}
	

}


@media (max-width: $screen-sm - 1) {
  	ul.menu {
		margin-bottom: 10px;
	}

    #subnav {
	ul {
			margin-left: 0;
			margin-right: 0;
	}
    }
}
