/*-----------------------------------------------------------------------------------*/
/* Subnav in content
/*-----------------------------------------------------------------------------------*/

.sidebar-subnav {
    header {
	
	margin-top: 0px;
	@include px2rem($font-size-h2);
	font-weight: bold;
	
		a {
			display: block;
			position: relative;
			padding: 0px 22px 10px 22px;
			color: var(--color-branding-zentral);

			&:hover,
			&:focus {
				color: var(--color-branding-zentral);
				transition: text-decoration 0.1s ease;
				text-decoration: underline;
				text-decoration-color: var(--color-primary-ci-hell);
				text-underline-offset: 0.4rem;
				text-decoration-thickness: 0.15rem;
			}
			
			/*&::after {
				content: "";
				display: block;
				box-sizing: border-box;
				position: absolute;
				width: 14px;
				height: 14px;
				border-bottom: 3px solid;
				border-left: 3px solid;
				transform: rotate(45deg);
				left: 2px;
				top: 13px;
			}*/

			&::before {
				display: inline-block;
				position: absolute;
				content: '';
				width: 2.5rem;
				height: 2.5rem;
				line-height: 1.4rem;
				font-size: 0.9333333333rem;
				background-image: inherit;
				background-repeat: no-repeat;
				background-size: 100%;
				background-position: center center;
				transform: rotate(180deg);
				background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath fill="%2304316A" d="M14.83,11.29,10.59,7.05a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41L12.71,12,9.17,15.54a1,1,0,0,0,0,1.41,1,1,0,0,0,.71.29,1,1,0,0,0,.71-.29l4.24-4.24A1,1,0,0,0,14.83,11.29Z"/%3E%3C/svg%3E%0A');
				left: -18px;
				top: -3px;
			}
		}
    }
}
#subnav {
	@include no-list;

	ul, li {
		@include no-list;
	}

	a {
		text-decoration: none;
		display: block;
		@include px2rem($font-size-nav-level2);
		font-weight: bold;

		padding: 6px 0;
		color: var(--color-submenu-currentlevel-text);

		&:hover,
		&:focus {
			color: var(--color-submenu-currentlevel-text);
			transition: text-decoration 0.1s ease;
			text-decoration: underline;
			text-decoration-color: var(--color-primary-ci-hell);
			text-underline-offset: 0.3rem;
			text-decoration-thickness: 0.15rem;
		}
	}

	ul {
		display: none;
	}

	> li {
		border-bottom: 1px solid #fff;
	}

	.current_page_item {
		> a {
			transition: text-decoration 0.1s ease;
			text-decoration: underline;
			text-decoration-color: var(--color-primary-ci-hell);
			text-underline-offset: 0.3rem;
			text-decoration-thickness: 0.15rem;
		}
	}
	.current_page_item,
	.current_page_ancestor {
		> a {
			color: var(--color-submenu-currentlevel-text);
			border: none;
			font-weight: bold;
		}

		> ul {
			display: block;
		}
	}

	li li {
	    a {
			padding-left: 1.2rem;
			font-weight: unset;
			@include px2rem($font-size-nav-level3);
	    }
	    li {
			a {
				padding-left: 2.4rem;
			}
			li {
				a {
					padding-left: 3.6rem;
				}
				li {
					a {
						padding-left: 4.8rem;
					}
					li {
						a {
							padding-left: 6rem;
						}
					}
				}
			}
	    } 
	}

	li .current_page_item,
	li .current_page_ancestor {
		> a {
		    color: var(--color-submenu-currentlevel-text);
			font-weight: unset;
		}
	}

	li .current_page_ancestor .current_page_item a,
	li li .current_page_ancestor a {
		color: var(--color-submenu-currentlevel-text);

	}

	li li li li a,
	li li li li.current_page_item a {
		color: var(--color-submenu-currentlevel-text);
	}
	li.private-page,
	li.protected-page {
	    a:after {
		    @extend .svg-icon;
		    @include svg-icon-sizes(1.1rem);
		    background-image: svg-icon-lock($color-submenu-sublevel-text, 16, 16);
		    margin-left: 5px;
		    margin-top: -5px; 
	    }
	    a:hover,
	    a:focus {
		&:after {
		    background-image: svg-icon-lock($color-submenu-active-text, 16, 16);
		}
	    }
	}
	li.private-page.current_page_item,
	li.private-page.current_page_ancestor,
	li.protected-page.current_page_item,
	li.protected-page.current_page_ancestor {
	    a:after {
			background-image: svg-icon-lock($color-submenu-currentpage-text, 16, 16);
	    }
	}
	li.captain-future,
	li.draft-page {
	    a:after {
		    @extend .svg-icon;
		    @include svg-icon-sizes(1.1rem);
		    background-image: svg-icon-draft($color-submenu-currentlevel-text, 16, 16);
		    margin-left: 5px;
		    margin-top: -5px;
	    }
	    a:hover,
	    a:focus {
		&:after {
		    background-image: svg-icon-draft($color-submenu-active-text, 16, 16);
		}
	    }
	}
	li.captain-future.current_page_item,
	li.captain-future.current_page_ancestor,
	li.draft-page.current_page_item,
	li.draft-page.current_page_ancestor {
	    a:after {
		background-image: svg-icon-draft($color-submenu-currentpage-text, 16, 16);
	    }
	}




}


@media (max-width: $screen-sm - 1) {
  	ul.menu {
		margin-bottom: 10px;
	}

    #subnav {
	ul {
			margin-left: 0;
			margin-right: 0;
	}
    }
}
