/*-----------------------------------------------------------------------------------*/
/* Assistant
/*-----------------------------------------------------------------------------------*/


.assistant-tab-pane {
	display: none;
}
.assistant-tab-pane-active {
	display: block;
}

ul.assistant-tabs-nav {
	@include no-list;
	margin: 0 -20px 15px -20px;
	padding: 0 20px 10px 20px;
	border-bottom: 1px solid $colorLight;
	
	li {
		@include no-list;
		background: none;
		display: inline;
		margin-right: 8px;
		padding-right: 12px;
		border-right: 1px solid $colorLight;
		
		a {
			text-decoration: none;
		}
		
		a:hover, a:focus {
			text-decoration: underline;
		}
		
		a.active {
			font-weight: bold;
		}
	}
	
	li:last-child {
		border: none;
	}
}