/*-----------------------------------------------------------------------------------*/
/* Comments, if used
/*-----------------------------------------------------------------------------------*/



#comments {
    clear: both;
    code {
	white-space: normal;
	color: $colorLightestContrast;
	background-color: $colorLightest;

    }
    label {
	float: none;
    }
    textarea {
	width: 90%;
	max-width: 600px;
    }
    ul li {
	background: none;
    }
    .form-allowed-tags {
	opacity: 0.7;
    }
    h2 {
	padding-bottom: 10px; 
    }
    p.attention {
	margin: 0px;
    }
    .comment-body {
	border-left: 2px solid $colorLightest;
	font-style: initial;
	padding: 10px 0 5px 10px;
		opacity: 0.7;
		min-height: 40px;

		p {
			font-size: 16px;
			line-height: 24px;
			font-style: italic;
			padding: 0;
			margin: 0;
		}

		p.quote:before {
			content: '';
			width: 42px;
			height: 37px;
			background: url('../img/quote.png') no-repeat center center;
			display: block;
			float: left;
			margin-right: 20px;
		}
} 
    .comment-details {
			font-style: normal;
			font-size: 15px;
			font-weight: bold;
			padding: 10px 0;
		}
    
}

