/*-----------------------------------------------------------------------------------*/
/* Gallery in content 
/*-----------------------------------------------------------------------------------*/


.image-gallery {
    margin: 10px 0 20px 0;
    clear: both;
    
    figure {
	img {
	    width: 100%;
	    height: auto;	    
	}
   
	figcaption {
	    @include px2rem($font-size-image-caption);
	    color: $PalettonDunkler;
	    padding: 5px;
	}
    }
    .grid {
	.two, 
	.three,
	.four {
	    .row {
		display: flex;
		flex-wrap: wrap;
	    }
	}
	.two {
	    
	    figure {
		@extend .col-xs-6;
	    }
	}
	.three {
	    figure {
		@extend .col-xs-4;
	    }
	}
	.four {
	    figure {
		@extend .col-xs-6;
		@extend .col-sm-3;
	    }
	}
	.flexgrid {
	    display: flex; 
	    flex-wrap: wrap; 
	    
	    
	    figure { 
		border: 1px solid #e9edf2;
		text-align: center;
		width: 160px; 
		margin: 5px;
		overflow: hidden;
		
		img {
		    transition: transform 1s;
		}
		:hover {
		    img {
			transform: scale(1.2);
		    }
		}
	    }	

	    
	}
    }
    .gallery-slick {
	figure,
	.gallery-image-caption {
	    text-align: center;
	    @include px2rem($font-size-image-caption);
	    color: $PalettonDunkler;
	    padding: 5px;
	}
	.slick-slider {
	    img {
		margin: 0 auto;
	    }
	}
	.slider-nav-width {
	   width: calc(100% - 100px);
	   margin: 20px auto 0;
	
	    .slick-slide {
		cursor: pointer;
		max-height: 110px;
		overflow: hidden;
		margin-left: 5px;
		margin-right: 5px;
		
		
	    }
	}
	.slick-prev,
	.slick-next {
		position: absolute;
		display: block;
		height: 40px;
		width: 40px;
		line-height: 0px;
		font-size: 0px;
		cursor: pointer;
		background: transparent;
		color: transparent;


		top: 75%;
		@include transform-translate(0, -75%);

		@media (min-width: $screen-xs) {
			top: 50%;
			@include transform-translate(0, -50%);
		}

		padding: 0;
		border: none;
		outline: none;


		&:hover,
		&:focus {
			outline: none;
			background: transparent;
			color: $slick-arrow-color;

			&:before {
				opacity: $slick-opacity-on-hover;
			}
		}

		&.slick-disabled:before {
			opacity: $slick-opacity-not-active;
		}

		&:before {
			font-size: 40px;
			line-height: 1;
			color: $colorPrimary;
			opacity: $slick-opacity-default;

			-webkit-font-smoothing: antialiased;

		}

	}

	.slick-prev {
		left: -40px;

		[dir="rtl"] & {
			left: auto;
			right: -40px;
		}

		@media (min-width: $break-1360) {
			left: -50px;
			[dir="rtl"] & {
				left: auto;
				right: -50px;
			}
		}


		&:before {
			@extend .fa;
			@extend .fa-chevron-left;

			[dir="rtl"] & {
				@extend .fa-chevron-right;
			}
		}

	}

	.slick-next {
		right: -40px;

		[dir="rtl"] & {
			left: -40px;
			right: auto;
		}

		@media (min-width: $break-1360) {
			right: -50px;
			[dir="rtl"] & {
				left: -50px;
				right: auto;
			}
		}


		&:before {
			@extend .fa;
			@extend .fa-chevron-right;

			[dir="rtl"] & {
				@extend .fa-chevron-left;
			}
		}

	}


	.slick-startstop {
		position: absolute;
		display: block;
		top: 20px;
		right: 0px;

		@media (min-width: $screen-xxs) {
			top: 0px;
			// bottom: 0;
		}
		@media (min-width: $screen-xs) {
			top: 20px;
			bottom: inherit;
		}
		@media (min-width: $screen-md) {
			top: 5px;
		}

		background: $colorCopyrightBackground;
		color: $colorCopyright;
		@include px2rem($font-size-hero-slider-copyright);
		margin: 0;
		padding: 1px 4px;
		border: none;

		&:hover,
		&:focus {
			color: #fff;
			background: #000;
			transition-timing-function: ease;
			text-decoration: underline;
		}

		.no-js & {
			display: none;
		}
	}
	
	
	
	.slick-dots {
	    position: absolute;
	    display: block;
	    width: 100%;
	    padding: 0;
	    margin: 5px auto 15px auto;
	    list-style: none;
	    text-align: center;
	    li {

		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		margin: 0 5px;
		padding: 0;
		cursor: pointer;
		
		button {
		    
		    display: block;
		    width: 20px;
		    height: 20px;
		    padding: 5px;
		    cursor: pointer;
		    color: transparent;
		    border: 0;
		    outline: none;
		    background: transparent;

		    &:before {
			@extend .fa;
			content: "\f111";
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 20px;
		
			text-align: center;
			opacity: .25;
			color: $colorPrimary;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;

		    }
		    
		     &:hover, &:focus {
			    outline: none;
			    &:before {
				opacity: 1;
			    }
			}
  
		}
		 &.slick-active button:before {
		     opacity: 1;
		 }
	    }
	}
    }
    
}

/* OLD *****************************************************************************/
/* Image Gallery: Slider: Old Types/Styles */
/* OLD *****************************************************************************/

.image-gallery-slider {
	clear: both;
	margin: 22px 0;
	padding: 10px 0;
	
	ul.slides {
		@include no-list;
		background: none;
		
		li {
			@include no-list;
			text-align: center;
			background: none;
		}
		
		img {
			@include box-shadow(none !important);
		}
	}
	
	.gallery-image-caption {
	    line-height: 20px;
	    padding: 5px;
	    .linkorigin {
		font-size: 13px;
		line-height: 18px;
		color: $colorTextLight;
	     }
	}
}

/* Image Gallery: Carousel */
.image-gallery-carousel {
	position: relative;
	margin-bottom: 44px;
	
	ul.slides {
		@include no-list;
		background: none;
		padding-left: 40px;
		padding-right: 40px;
		li {
			@include no-list;
			cursor: pointer;
			opacity: 0.3;
			background: none;
			max-height: 110px;
			
			&:hover, 
			&:focus, 
			&.flex-active-slide {
			    opacity: $slick-opacity-on-hover;
			}
		}
	}
	
	ul.flex-direction-nav {
		@include no-list;
		top: -32px;
		left: 0;
		right: 0;
		bottom: auto;
		
		li {
			@include no-list;
			background: none;
		}
		
	}

	.flex-prev {
		top: 60px;
		left: 0px;
		opacity: $slick-opacity-default;
	}
	
	.flex-next {
		top: 60px;
		right: 0px;
		opacity: $slick-opacity-default;
	}
	&:hover {
	    .flex-prev {
		opacity: $slick-opacity-on-hover;
	    }
	    .flex-next {
		opacity: $slick-opacity-on-hover;
	    }
	}
}

/* Image Gallery: Grid */
.image-gallery-grid {
	margin: 10px 0 20px 0;
	clear: both;
	
	ul {
		@include no-list;
		
		li {
			@include no-list;
			background: none;
			display: block;
			float: left;
			min-height: 130px;
			width: 150px;
			line-height: 125px;
			vertical-align: middle;
			text-align: center;
			border: 1px solid $colorStandardHellgrau;
			margin: 0 15px 15px 0;
			
			img {
				vertical-align: middle;
			}

			.gallery-image-caption {
				line-height: 20px;
			}
			
			.caption {
				line-height: 18px;
				font-size: 13px;
				padding: 5px;
			}
		}

	}
}

@media (max-width: $screen-xs - 1) {
     .image-gallery-slider .flex-viewport {
	    max-height: 200px;
	    overflow: hidden;
    }
}

@media (max-width: $screen-sm -1) {
    .image-gallery-grid ul li img {
	   margin: 0;
    }
    .image-gallery-carousel .slides,
    .image-gallery-slider .slides {
        margin: 0 !important;
        padding: 0 !important;
        li {
		    margin: 0;
		    padding: 0;
		    img {
			margin: 0 !important;
		    }
	    }
    }

}
@media (max-width: $breakLG) {
    
	.image-gallery-slider .flex-viewport {
		max-height: 400px;
		overflow: hidden;
	}
}


