/*-----------------------------------------------------------------------------------*/
/* Global content definitions
/*-----------------------------------------------------------------------------------*/


#content {
    padding: 20px 0 0 0;
    

    @media (min-width: $screen-sm) {
	padding-bottom: 30px;
    }
    
    .container {
	position: relative;
    }
    main {
	@include px2rem($font-size-base);
	color: $colorText;
	font-family: $fontStack;
	padding-top: 10px;
	
	.sidebar-inline {
	    @include px2rem($font-size-sidebar);
	}
    }
}

@media (max-width: $breakSM) {
    .page-template-page-start-sub  {
	&.js-enabled #hero {
	    .banner {
		top: 0;
		bottom: 0;
	    }
	}
    }

}

@media (max-width: $breakMD) {

	#content {
	    ul.page-print-actions {
		display: none;
	    }
	}

}

@media (max-width: $breakLG) {

	#content ul.page-print-actions {
		top: 440px;
	}

}