/*-----------------------------------------------------------------------------------*/
/* Global content definitions
/*-----------------------------------------------------------------------------------*/


#content {
    padding: 20px 0 0 0;	

    @media (min-width: $screen-sm) {
	padding: 20px 0 30px 0;
    }
    
    .container {
	position: relative;
    }
    main {
	@include px2rem($font-size-base);
	color: $colorText;
	font-family: $fontStack;
	padding-top: 0;
	 
	@media (min-width: $screen-sm) {
	    padding-top: 10px;
	}
	
	.sidebar-inline {
	    @include px2rem($font-size-sidebar);
	}
	
	
    }
  
}

@media (max-width: $screen-sm - 1) {
	#content {
	    ul.page-print-actions {
		display: none;
	    }
	}

}

@media (max-width: $breakLG) {
	#content ul.page-print-actions {
		top: 440px;
	}

}