/*-----------------------------------------------------------------------------------*/
/* Global content definitions
/*-----------------------------------------------------------------------------------*/


#content {
    padding: 20px 0 0 0;	

    @media (min-width: $screen-sm) {
	padding: 40px 0 30px 0;
    }
    
    .container {
	position: relative;
    }
    main {
	@include px2rem($font-size-base);
	color: $colorText;
	font-family: $fontStack;
	padding-top: 0;
	 
	
	.sidebar-inline {
	    @include px2rem($font-size-sidebar);
	}
	
	
    }
    .page-template-page-start-sub &,
    .page-template-page-start & {
	padding-top: 20px;
	@media (min-width: $screen-sm) and (max-width: $screen-md) {
	    margin-top: 40px;
	}
    }
    
    
    ul.page-print-actions {
	display: none;
	@media (min-width: $screen-sm) {
	    top: 440px;
	}
    }
}

