/*-----------------------------------------------------------------------------------*/
/* All Widgets 
/*-----------------------------------------------------------------------------------*/

.widget {
	margin-bottom: 10px;
	@include px2rem($font-size-sidebar);
	ul {
	    margin: 0;
	    padding: 0;
	    
	    ul {
		margin: 0 0 10px 5px;
	    }
	}

	
	li {
		padding: 0 0 0 5px;
		@include px2rem($font-size-sidebar-listitem);
		
		list-style-type: none;
		padding-bottom: 3px;
		display: table-row;
		
		a {
			text-decoration: none;
		}
		
		a:hover, a:focus {
			text-decoration: underline;
		}
	}
	li:before {
	    @extend .fa;
	    @extend .fa-angle-right;	
	    font-weight: bold;
	    color: $colorDefault; 
	    width: 15px;
	    display: table-cell;
	}
	
}



/* Widget: Nav Menus in Sidebar */
.widget_nav_menu {
	ul {
		@include no-list;

		li {
			@include no-list;
			display: block;
			background-color: $colorLightest;
			color: $colorDefault;
			
			border-bottom: 1px solid #fff;
			line-height: 18px;
			padding: 6px 0px 6px 15px;
			
			
			a {
				text-decoration: none;
				line-height: 18px;
				padding: 6px 0;
				        
				&:hover, 
				&:focus {
				    text-decoration: underline;
				}
			}
			
	
			li {
			    border-bottom: none;
			    background-color: darken($colorLightest, 3%);
			    padding: 10px 0 10px 10px;
			    li {
				background-color: darken($colorLightest, 6%);
			    }
			}
			
			&.tf,
			&.techfak {
			    background-color: $colorTechFak;
			    a {
				color: #fff;
			    }
			}
			&.rw,
			&.rwfak {
			    background-color:  $colorRwFak;
			     a {
				color: #fff;
			    }
			}
			&.med,
			&.medfak {
			    background-color:  $colorMedFak;
			     a {
				color: #fff;
			    }
			}
			&.nat,
			&.natfak {
			    background-color:  $colorNatFak;
			     a {
				color: #fff;
			    }
			}
			&.phil,
			&.philfak {
			    background-color:  $colorPhilFak;
			     a {
				color: #fff;
			    }
			}
			&.fau, 
			&.default {
			    background-color:  $colorDefault;
			     a {
				color: #fff;
			    }
			}
			
		}
		li:hover, 
		li:focus {
		    background-color: $colorLightest; // darken($colorLightest, 3%);
		    
		    color: $colorLightestContrast;
		    a {
			  color: $colorLightestContrast;
		    }
		}
	}
}

/* Widget: Old Category display 
.widget_categories {
	@extend .widget_nav_menu;
}
*/

@media (max-width: $screen-sm - 1) {
    .textwidget {
		margin-left: 15px;
		margin-right: 15px;
	}

}