/*-----------------------------------------------------------------------------------*/
/* Sidebar 
/*-----------------------------------------------------------------------------------*/


/* Sidebar: Inline */
.sidebar-inline {
	border-top: 2px solid $colorLightest;
	margin: 10px 0;
	padding-top: 10px;
	
	.widget {
		margin-bottom: 22px;
		margin-top: 22px;
	}
	
	.widget:last-child {
		margin-bottom: 0 !important;
	}
	
	.widget:first-child {
		margin-top: 0 !important;
	}
	
	.content-portal & {
		margin-top: 22px;
	}
	
	@media (min-width: $screen-sm) {
	    margin-top: 0;
	    padding-top: 0;
	    padding-left: ceil(($fau-gutter-width / 2));	
	    
	}
	@media (min-width: $screen-md) {
	    border-left: 2px solid $colorLightest;
	    margin-left: $fau-gutter-width;
	    border-top: none;
	}


}

.startpage-sidebar {
    .row {
	margin-left: 0;
	margin-right: 0;
    }
}