/*-----------------------------------------------------------------------------------*/
/* Breadcrumb
/*-----------------------------------------------------------------------------------*/

#hero {
    &.hero-small {
	@include radial-gradient-image($colorPrimaryHero, $colorPrimaryHeroLight, url($siegelurl) no-repeat 95% bottom);
	overflow:hidden;
	
	h1 {
	    padding: 0;
	   
		margin-left: 0;
	  
	}

	@media (min-width: $screen-sm ) {
	    h1 {
		padding: 30px 0 10px 0;
	    }
	}
    }
    
}


.hero-meta-portal {
	position: absolute;
	top: 100px;
	right: 120px;
	text-align: right;
	color: $colorPrimaryHeroLight; 
	font-size: 60px;
	line-height: 50px;
	display: none;
	opacity: 0.9;
	
	@media (min-width: $screen-lg ) {
	    display: inline-block;
	}
	@media (min-width: $screen-xl ) {
	   right: 50px;
	}
    }	


.breadcrumbs {
	color: #fff;
	padding: 10px 0;
	position: relative;
	z-index: 10;
	
	@include px2rem($font-size-breadcrumb);
	
	span {
		padding: 0 5px;
	}
	
}

h3.breadcrumb_sitetitle {
	    font-size: 14px;
	    font-weight: normal;
	    line-height: 18px;
	    margin-bottom: -5px;
	    color: #fff;
	}
	
	