/*-----------------------------------------------------------------------------------*/
/* Linkbereich unter dem Slider / Banner
/*-----------------------------------------------------------------------------------*/


.hero-navigation {
    ul {
	@include no-list;
    }
    li {
	display: table;
	padding-left: 0;
	color: #fff;
	
	@include px2rem($font-size-hero-links);

	&:before {
	    @extend .fa;
	    @extend .fa-angle-right;	
	    font-weight: bold;
	    display: table-cell;
	    color: #fff;
	    width: 20px;
	} 
	
	
	&.zuv, &.phil,
	&.philfak, &.rw,
	&.rwfak , &.med,
	&.medfak, &.nat,
	&.natfak, &.tf,
	&.techfak, 
	&.white, &.grau {
	    border-left: 8px solid transparent;
	    vertical-align: center;
	    @include hyphens(auto);
	    
	    
	    &:before {
		    display: none;
		    content: "";
	    }
	    a {
			@include inline-block;
			padding: 2px 0 2px 10px;
			line-height: 16px;
			vertical-align: center;
	    }
	}
	&.zuv {
			border-color: $colorZUV;
	}
	&.phil,
	&.philfak {
		border-color: $colorPhilFak;
	}
	&.rw,
	&.rwfak {
		border-color: $colorRwFak;
	}
	&.med,
	&.medfak {
		border-color: $colorMedFak;
	}
	&.nat,
	&.natfak  {
		border-color: $colorNatFak;
	}
	&.tf,
	&.techfak {
		border-color: $colorTechFak;
	}	
	&.white {
		border-color: #fff;
	}
	&.gray {
		border-color: $colorStandardHellgrau;
	}
    }
 
    
    .infobar {
	padding-top: 5px;
	
	p {
	    font-weight: normal;
	    color: #fff;
	}
	p.sitetitle,
	h1 {
	    @include px2rem($font-size-h1,  $font-size-base, $font-size-h1 * 1.3);
	    @include hyphens(none);
	    position: relative;
	    z-index: 10;
	    padding-top: 0px;
	}

	p.description {
	    @include px2rem($font-size-hero-bannertext);
	    padding: 0;
	    margin: 10px 0 0 0; 
	}
    }
    .ismobile & {
	display: none;
    }
    #footer & {
	display: block;
	padding-left: 15px;
	padding-right: 15px;

	.infobar {
	    display: none;
	}
	li {
	    padding: 3px 0 4px 4px;
	}

	>*, h1, h2, h3 {
			color: $colorMeta;
	}

    }
}
#hero .hero-navigation {
    display: none;
	@media (min-width: $screen-sm) {
	    display: block;
	    margin-top: 20px;
	}
	@media (min-width: $screen-md) {
	    display: block;
	    margin-top: 10px;
	}
}

.hero-navigation {
	.quicklinks {
	    @extend .col-xs-12;
	    @extend .col-sm-3;
	}
	.infobar {
	    @extend .col-xs-12;
	    @extend .col-sm-6;
	}
}

.hero-jumplink-content {
		position: absolute;
		left: 300px;
		right: 300px;
		bottom: -30;
		display: none;
		height: 30px;
		text-align: center;
		text-decoration: none;
		
		background: $colorPrimary;
		color: #fff;
		@include border-radius(4px);
		
		@extend .fa;
		@extend .fa-2x;
		@extend .fa-angle-down;
		
		&:hover, &:focus {
			text-decoration: none;
			color: #fff;
			background: $colorHover;
		}		
	}
	
