/*-----------------------------------------------------------------------------------*/
/* Suche im Hero
/*-----------------------------------------------------------------------------------*/
#hero {
    .search-input {
		@include px2rem($font-size-herosearch);
		
		form {
		    border: none;
		    margin: 0;
		}
		.search-text {
		     margin: 0 20px;
		     @include placeholder(#fff);
		     
		    label {
			@extend .screen-reader-text;
		    }
		    input {
			@include border-radius(20px);
			padding: 0 15px;
		    }
		    input[type="text"] {
			@include px2rem($font-size-herosearch);
			border: 1px solid $colorMeta;
			padding: 5px 10px 5px 30px;
			height: inherit;
			margin: 0;
			background: $colorMeta; // $colorSearchInputBackground;
			color: #fff; // $colorSearchInput;
			width: calc(100% - 100px);
			&:focus, &:hover {
				background-color: $colorMetaHover; // $colorSearchInputBackgroundFocus;
				border: 1px solid $colorMetaHover;
			}
		    }

		    input[type="submit"] {
			@include px2rem($font-size-herosearch);
			    background: $colorSearchInputBackgroundFocus;
			    color: $colorSearchInput;
			    padding: 5px 10px;
			    height: inherit;
			    margin-left: -30px;
			    border: none;
			    &:focus, &:hover {
				    background-color: $colorSearchInputBackground;
			    }
		    }
		    .searchicon {
			@extend .fa;
			@extend .fa-search;
			position: relative;
			margin-right: -30px;
			color: #fff;
		    }
		}
		
		.search-radio-label {
			float: left;
			margin-right: 20px;
			
			input {
				margin-top: -4px;
				margin-right: 3px;
			}
		}
		.filter {
		   display: block;
		    margin: 10px 20px;
		    label {
			@include inline-block();
			width: auto;
			float: none;
			margin: 0 10px 0 5px;
			padding: 0;
			color: $colorSearchInputBackground;
		    }
		    input[type="checkbox"] {
		        margin: 0;
			width: 17px;
		        height:17px;
			border: 1px solid #bbb;
			box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.1);
		    }
		    .nowrap {
			@include inline-block();
			white-space: nowrap;
		    }
		}
		
	}
}

@media (max-width: $screen-sm - 1) {
    
    #hero {

	.searchform {
	    margin: 0 auto;
	    padding: 10px;

	    input[type="text"] {
		width: calc(100% - 150px);
		margin: 0 10px;
		float: none;
		display: inline-block;
	    }
	    .filter {
		margin-top: 5px;
	    }
	}
	
    }


}
