/*-----------------------------------------------------------------------------------*/
/* Slider im Hero-Teil
/*-----------------------------------------------------------------------------------*/

#hero-slides {
	position: relative;
	margin: 0 auto -15px auto;
	background: $colorPrimary;
	// overflow: hidden;
	@include box-shadow(0 10px 20px rgba(0,0,0,0.5));
	
	.item {
	    position: relative;
	    width: 100%;
	    max-height: 214px;
	    overflow: hidden;
	    
	    @media (min-width: $screen-sm) {
		max-height: 350px;  
	    }

	    @media (min-width: 1260px) {
		width: 1260px;
		height: 350px;
	    }
	    
	    
	    
		h2,
		h3 {
			color: #fff;
			background: rgba($colorPrimary,0.8);
			display: inline;
			padding: 3px;
			margin: 10px 0 15px 0;
			@include px2rem($font-size-hero-slider-title);
			
			box-decoration-break: clone;
			-webkit-box-decoration-break: clone;
		}

		.slider-text {
		    @extend .col-xs-12;
		    @extend .col-sm-10;
		    
		    display: none;   
		    @media (min-width:  $screen-sm) {
			  display: inline-block;
		    }
		}
		
		p {
			@include px2rem($font-size-hero-slider-text,$font-size-gridbase,$font-size-hero-slider-text * 1.7);
			color: #fff;
			background: rgba($colorPrimary,0.8);
			padding: 3px;
			margin: 0;
			box-decoration-break: clone;
			 -webkit-box-decoration-break: clone;
			display: none;
			 
			 
			@media (min-width: $screen-sm) {
				display: inline;
			}
			 
		}
		p.credits {
		    background: $colorCopyrightBackground;
		    color: $colorCopyright;
		    @include px2rem($font-size-hero-slider-copyright);
		    z-index: 6;
		    margin: 0;
		    padding: 1px 4px;
		    position: absolute;
		    right: 0;
		    bottom: 0;
		}
		img {
		    min-height: 350px;
		    min-width: 1260px;
		    vertical-align: middle;
		    z-index: 5;
		}
		
		
		
	}
	.slider-titel {
	    @extend .col-xs-12;
	    margin-bottom: 5px;
	}
	.hero-slide-text {
		z-index: 10;
		position: absolute;
		bottom: 30px;
		top: inherit;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	li {
    		@include no-list;
		padding: 0;
	
	}
	
	
	
	
	display: none;
	height: auto;
	
	@media (min-width: $screen-sm) {
	    display: block;
	    width: 100%;
	    max-height: 350px;  
	    .no-js & {
	    	display: none;
	    }
	    top: -20px;
	}
	@media (min-width: 1260px) {
	   
	    width: 1260px;
	    height: 350px;
	}
}




    #hero-slides .hero-slide-text {
//	top: initial;
    }

  



 /* Arrows */
$slick-loader-path: "./img/" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

.slick-play,
.slick-stop,
.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    
    
    &:hover, 
    &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    &:before {
        font-size: 30px;
        line-height: 1;
        color: $slick-arrow-color;
        opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
	
    }
}

.slick-prev {
    left: -30px;
    [dir="rtl"] & {
        left: auto;
        right: -30px;
    }
    &:before {	
	@extend .fa;
	@extend .fa-chevron-left;
	
        [dir="rtl"] & {
	    @extend .fa-chevron-right;
        }
    }
}

.slick-next {
    right: -30px;
    [dir="rtl"] & {
        left: -30px;
        right: auto;
    }
    &:before {
	@extend .fa;
	@extend .fa-chevron-right;
	
        [dir="rtl"] & {
	    @extend .fa-chevron-left;
        }
    }
}

.slick-stop {
    top: 30px;
    right: 20px;
        
    &:before {
	@extend .fa;
	@extend .fa-stop-circle;
//	box-shadow: 0 10px 20px rgba(0,0,0,0.5); 
//	opacity: 1;
//	background: #000;

    }
}
.slick-play {
    top: 30px;
    right: 20px;
    background: #000;
    
    &:before {
	@extend .fa;
	@extend .fa-play-circle;
//	box-shadow: 0 10px 20px rgba(0,0,0,0.5); 

    }
}