/*-----------------------------------------------------------------------------------*/
/* Slider im Hero-Teil
/*-----------------------------------------------------------------------------------*/


#hero-slides {
	position: relative;
	
	margin: 0 auto -15px auto;
	height: 350px;
	background: $colorPrimary;
	max-width: 1260px;
	overflow: hidden;
	@include box-shadow(0 10px 20px rgba(0,0,0,0.5));
	
	.hero-slide {
		position: relative;
		height: inherit;
		
		img {
		    height: 100%;
		    width: auto;
		    max-width: inherit;
		    vertical-align: middle;
		    z-index: 5;
		}
		
		h2 {
			color: #fff;
			background: rgba($colorPrimary,0.8);
			display: inline;
			padding: 0 3px;
			margin: 10px 0 5px 0;
			@include inline-block();
			@include px2rem($font-size-hero-slider-title);
		}
		
		p {
			@include px2rem($font-size-hero-slider-text);
			color: #fff;
			background: rgba($colorPrimary,0.8);
			padding: 0 3px;
			margin: 0;
		}
		p.credits {
		    background: $colorCopyrightBackground;
		    color: $colorCopyright;
		    @include px2rem($font-size-hero-slider-copyright);

		    position: absolute;
		    bottom: 0;
		    right: 0;
		    z-index: 6;
		    margin: 0;
		    padding: 1px 4px;
		}
		
	}
	
	.hero-slide-text {
		z-index: 10;
		position: absolute;
		bottom: 30px;
		top: inherit;
		margin: 0;
		padding: 0;
		width: 100%;

		p {		    
		    display: none;
		    
		    @media (min-width: $screen-sm) {
			@include inline-block;
		    }
		}	
	}
	
	
	
	display: none;
	
	@media (max-width: $screen-sm - 1) {
	    top: 0;
	    height: 200px;
	    .hero-slide {
		img {
		    left: inherit;
		    margin-left: 0;
		    left: 0;
		    vertical-align: middle;
		}
		p.credits {
		    top: 2px;
		    bottom: inherit;
		    display: inline;
		}
	    }

	    .no-js & {
		display: none;
	    }
	}
	@media (min-width: $screen-sm) {
	    display: block;
	    top: -20px;
	    .no-js & {
	    	display: none;
	    }
	}
	@media (max-width: $breakLG) {
	    .hero-slide {
		img {
		    vertical-align: middle;
		}

		p {
		    .credits {
			top: 10px;
			bottom: inherit;
		    }
		}

	    }
	}

}


.slider-titel, .slider-text {
    @extend .col-xs-9;
}



