@mixin blockquote {
    padding: 0;
    margin: 0;
    border: none;
    font-family: var(--font-family-serif);
    position: relative;
    font-size: var(--font-size-lg, 1.125rem);


    margin: 1rem;
    padding: 2rem 1.5rem;
    min-height: 3rem;
    border-left: 10px solid var(--color-primary-ci-hell);
    border-radius: var(--border-radius);
    background: var(--color-ContentRegions);
    display: inline-block;
    overflow: hidden;

    @media (min-width: $screen-sm) {
        margin: 0.6rem 2rem;
    }

   
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--color-Text);
    }
    
    p {
        margin-bottom: 0;
        font-family: var(--font-family-serif);
        font-size: var(--font-size-lg, 1.125rem);
        font-weight: 400;
        letter-spacing: .3px;

        strong {
            font-weight: bolder;
        }
    }


    small,
    cite {
        display: block;
        text-align: right;
        font-size: var(--font-size-sm, 0.875rem);
        color: var(--color-Text);

        &:before {
            content: '\2014 \00A0';
        }

    }

    cite {
        margin-top: var(--width-gutter-half);
    }

    #content & img {
        box-shadow: none;
        border: none;
    }

    &.pull-right {
        border-right: none;
        padding-right: var(--width-gutter);
        padding-left: var(--width-gutter-half);
        float: right;

        p,
        small {
            text-align: right;
        }

        small:before {
            content: '';
        }

        small:after {
            content: '\00A0 \2014';
        }
    }

    .sidebar-inline &,
    #tinymce &.noquote,
    #content &.noquote {
        background: inherit;
        padding-left: 0;
        padding-right: 0;
        border: none;

        &::after,
        &::before {
            content: "";
        }

    }

    .sidebar-inline & {
        margin: 0.6rem;
        padding: 0.5rem;
        font-size: var(--font-size-sm, 0.875rem);

        p {
            font-size: var(--font-size-sm, 0.875rem);
        }
    }
}

@mixin cite {
    color: var(--color-Text);
    font-weight: normal;
    font-style: italic;

    &.text {
        color: inherit;
    }

    #content .sidebar-inline & {
        font-size: var(--font-size-sm, 0.875rem);

        p {
            font-size: var(--font-size-sm, 0.875rem);
        }
    }
}