/*-----------------------------------------------------------------------------------*/
/* Layout: Base Structure
/*-----------------------------------------------------------------------------------*/
body {
	margin: 0;
	color: var(--color-Text);
	background-color: var(--color-MainBackground);
	font-size: 1rem;
	line-height: var(--base-line-height);
	padding: 0;
}

html, body, button {
	font-family: $fontStack;
	font-kerning:  none;
}

html {
      height: 100%;
    // scroll-padding-top: 175px;
    scroll-behavior: smooth;

}


/* Main surrounding grid */
/* Wrap content in white */
#pagewrapper {
	margin: 0 auto;
	background-color: var(--color-MainBackground);
	position: relative;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	min-height: 100vh;
	min-width: 240px;
	
	footer {
	    // normal
	}
	#hero {
	    flex: 0 1;
	}
	#content {
	    flex: 1;
	    width: 100%;
		overflow-x: hidden;
	    
	 
	}
	footer {
	    margin-top: auto;
	}

}



