/*-----------------------------------------------------------------------------------*/
/* Generic flex grid widgets
/*-----------------------------------------------------------------------------------*/


// Flex grid with maximal four elements per line 
.flex-four-widgets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
    > div, 
    > nav {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 100%;
	@media (min-width: $screen-xs) {
	    flex-grow: 1;
	    flex-basis: 50%;
	}
	@media (min-width: $screen-sm) {
	   flex-basis: 33%;
	}
	@media (min-width: $screen-md) {
	    flex-basis: 25%;
	}
    }
    
    
}

/* START full width  */
            .outside-the-box-full-width {
                    max-width: calc(100vw - 10px);
                    width: 100vw;
                    padding: 0;
                    margin-left: calc(-#{$grid-gutter-width} / 2);
                    margin-right: calc(-#{$grid-gutter-width} / 2);
                        box-shadow: none;
                        border: none;

                    @media (min-width: $screen-sm-min) {
                            margin-left: calc(-100vw / 2 + (#{$container-sm} - #{$grid-gutter-width}) / 2);
                            margin-right: calc(-100vw / 2 + (#{$container-sm} - #{$grid-gutter-width}) / 2);
                    }
                    @media (min-width: $screen-md-min) {
                            margin-left: calc(-100vw / 2 + (#{$container-md} - #{$grid-gutter-width}) / 2);
                            margin-right: calc(-100vw / 2 + (#{$container-md} - #{$grid-gutter-width}) / 2);
                    }
                    @media (min-width: $max-width-hero) {
                         max-width: $max-width-hero;
                            margin-left: calc((-#{$max-width-hero} + (#{$container-md} - #{$grid-gutter-width})) / 2);
                            margin-right: calc((-#{$max-width-hero} + (#{$container-md} - #{$grid-gutter-width})) / 2);
                    }

                    .post-row & {
                       @media (min-width: $screen-sm-min) {
                            margin-left: calc(-100vw / 2 + (#{$container-sm} - (#{$grid-gutter-width} / 2) ) / 2);
                            margin-right: calc(-100vw / 2 + (#{$container-sm} - (#{$grid-gutter-width} / 2) )  / 2);
                        }
                        @media (min-width: $screen-md-min) {
                                margin-left: calc(-100vw / 2 + (#{$container-md} - (#{$grid-gutter-width} / 2) ) / 2);
                                margin-right: calc(-100vw / 2 + (#{$container-md} - (#{$grid-gutter-width} / 2) ) / 2);
                        }
                        @media (min-width: $screen-lg) {
                                margin-left: calc(-100vw / 2 + (#{$container-lg} - (#{$grid-gutter-width} / 2) ) / 2);
                                margin-right: calc(-100vw / 2 + (#{$container-lg} - (#{$grid-gutter-width} / 2) ) / 2);
                        }
                        @media (min-width: $max-width-hero) {
                                margin-left: calc((-#{$max-width-hero} + (#{$container-lg} - (#{$grid-gutter-width} / 2) )) / 2);
                                margin-right: calc((-#{$max-width-hero} + (#{$container-lg} - (#{$grid-gutter-width} / 2) )) / 2);
                        }
                    }


            }
            /* END full width image */