/*-----------------------------------------------------------------------------------*/
/* Generic flex grid widgets
/*-----------------------------------------------------------------------------------*/


// Flex grid with maximal four elements per line 
.flex-four-widgets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
    > div, 
    > nav {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 100%;
	@media (min-width: $screen-xs) {
	    flex-grow: 1;
	    flex-basis: 50%;
	}
	@media (min-width: $screen-sm) {
	   flex-basis: 33%;
	}
	@media (min-width: $screen-md) {
	    flex-basis: 25%;
	}
    }
    
    
}

.meta-container {

  margin-right: auto;
  margin-left: auto;
  width: auto;

  @media (min-width: $screen-sm-min) {
	width: $container-sm;
     }
     @media (min-width: $screen-md-min) {
       width: $container-md;
       padding-left:  floor(($grid-gutter-width / 2));
	padding-right: ceil(($grid-gutter-width / 2));
     }
     @media (min-width: $screen-lg-min) {
       width: $container-lg;
     }
}