/*-----------------------------------------------------------------------------------*/
/* Post layout
/*-----------------------------------------------------------------------------------*/

#content {
    .post-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	
	margin-left: -15px;
	margin-right: -15px;
	
	

	.entry-content,
	.post {
	    @media (min-width: $screen-sm) {
		flex-basis: 66%;
	    }
	    
	}
	.sidebar-single {
	    @media (min-width: $screen-sm) {
		flex-basis: 33%;
		max-width: 320px;
	    }
	}
	
    }
}
