/*-----------------------------------------------------------------------------------*/
/* Comments, if used
/*-----------------------------------------------------------------------------------*/



#comments {
    clear: both;
    code {
	white-space: normal;
	color: var(--color-primary-ci-hell2-kontrast);
	background-color: var(--color-primary-ci-hell2);

    }
    label {
	float: none;
    }
    textarea {
	width: 90%;
	max-width: 600px;
    }
    ul li {
	background: none;
    }
    .form-allowed-tags {
	opacity: 0.7;
    }
    h2 {
	padding-bottom: 10px; 
    }
    p.attention {
	margin: 0px;
    }
    .comment-body {
	border-left: 2px solid var(--color-primary-ci-hell);
	font-style: initial;
	padding: 10px 0 5px 10px;
		opacity: 0.7;
		min-height: 40px;

		p {
			font-style: italic;
			padding: 0;
			margin: 0;
		}

} 
    .comment-details {
			font-style: normal;
			font-weight: bold;
			padding: 10px 0;
		}
    
}

.widget {
    #recentcomments {
	li.recentcomments {
	   
	    a {
		&::before {
		    display: none;
		}
	    }
	}
	li.recentcomments:before {
	     @include svg-icon-place();
	     background-image: svg-icon-comment();
	     margin-right: 0.2rem;
	}
    }
    
}