/*-----------------------------------------------------------------------------------*/
/* Error notices
/*-----------------------------------------------------------------------------------*/

.error-content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: flex-start;
    @media (min-width: $screen-sm) {
	    flex-wrap: nowrap;
    }
    
    .error-notice {
	min-width: 230px;
	 
    }
    .error-image {
	display: none;
	 @media (min-width: $screen-sm) {
	     display: block;
	     min-width: 170px;
	 }
	  @media (min-width: $screen-md) {
	     max-width: 300px;
	 }
    }
    .error-search {
	min-width: 320px;
	@media (min-width: $screen-md) {
	    max-width: 450px;
	}
	
	label {
	    min-width: 10rem;
	}
    } 

    
    

    
    .error-image {    
	.error-siegel {
	    fill: $colorPrimaryHeroLight;
	    --siegel-display-beschriftung: none;
	    --siegel-display-kreise: none;
	}
	svg {
	    max-width: 100%;
	    height: auto;
	}
    }

}