/*-----------------------------------------------------------------------------------*/
/* Top events 
/*-----------------------------------------------------------------------------------*/

.topevent-widget {
    width: 100%;
    display: inline-block;

}
.widget.topevent-widget {
        margin-bottom: 20px;
}
.event-thumb {
    float: left;
    width: 140px;
    display: block;
    margin-right: 20px;
}
.event-data {
    display: block;
}

.topevent-date {
	color: $colorPrimary;
	font-weight: bold;
	margin-bottom: 5px;
}

.topevent-description {
	@include px2rem($font-size-sidebar);
	p {
	    @include px2rem($font-size-sidebar);	
	}
}


@media (max-width: $screen-sm -1) {
	.topevent-date,
	.topevent-description {
		margin-left: 15px;
		margin-right: 15px;
	}


}
