/*-----------------------------------------------------------------------------------*/
/* Top events
/*-----------------------------------------------------------------------------------*/

.topevent-widget {
    width: 100%;
    display: inline-block;

}
.widget.topevent-widget {
        margin-bottom: 20px;
}
.event-thumb {
    float: left;
    width: 140px;
    display: block;
    margin-right: 20px;
}
.event-data {
    display: block;
}

.topevent-date {	
	font-weight: bold;
	margin-bottom: 5px;
}

.topevent-description {
	font-size: var(--font-size-sm, 0.875rem);
	p {
	    font-size: var(--font-size-sm, 0.875rem);
	}
}


@media (max-width: $screen-sm) {
	.topevent-date,
	.topevent-description {
		margin-left: var(--width-gutter-half);
		margin-right: var(--width-gutter-half);
	}


}
