/*-----------------------------------------------------------------------------------*/
/* Gallery in content 
/*-----------------------------------------------------------------------------------*/
@use "sass:math";


.image-gallery {
    margin: 10px -15px 20px -15px;
    @media (min-width: $screen-sm-min) {
	 margin: 10px 0 20px 0;
    }
    clear: both;
    
    figure {
	img {
	    width: 100%;
	    height: auto;	
	    box-shadow: none;
	}
	figcaption {
	    @include px2rem($font-size-image-caption);
	    padding: 5px;
	}
    }
    figure {
	img {  
	    object-fit: cover;
	    min-height: 100%;
	    min-width: 100%;
	    width: 100%;
	    height: auto;
	    max-width: none;
	    max-height: none;

	}

    }
    
    
    .grid {
	$gapwidth: floor(math.div($grid-gutter-width, 2));
	$figpadding: 5px;
	$figwidth2: floor(math.div(($gapwidth + ($figpadding * 2)),2));
	$figwidth3: floor(math.div((($gapwidth * 2) + ($figpadding * 2)),3));
	$figwidth4: floor(math.div((($gapwidth * 3) + ($figpadding * 2)),4));
	$figwidth5: floor(math.div((($gapwidth * 4) + ($figpadding * 2)),5));
	
	.flexgrid {
	    display: flex; 
	    flex-wrap: wrap; 
	    gap: $gapwidth;
	    
	    figure { 
		border: 1px solid var(--color-ContentBorders);
		text-align: center;
		height: auto;
		overflow: hidden;
		width: calc(33% - $figwidth3);
		margin: 0;
		padding: $figpadding;
		
		a {
		    @include defaultlinkstyle();
		    text-decoration: none;
		}
	
	    }
	    figure {
		overflow: hidden;
		
		img {
		    transition: transform 1s;
		    object-fit: cover;		    
		    min-height: 100%;
		    min-width: 100%;
		    width: 100%;
		    height: auto;
		    max-width: none;
		    max-height: none;

		}
		:focus,
		:hover {
		    img {
			transform: scale(1.1);
			filter: grayscale(100%);
		    }
		}
	    }

	    
	    
	    &.two, 
	    &.three,
	    &.four, 
	    &.five {
		figure {
		    padding: $figpadding;

		}
	    }
	    &.two {	    
		figure {
		    
		    width: calc(50% - $figwidth2);

		}
	    }
	    &.three {
		figure {
		    width: calc(33% - $figwidth3);
		}
	    }
	    &.four {
		figure {
		   width: calc(50% - $figwidth2);
		    @media (min-width: $screen-sm) {
			width: calc(25% - $figwidth4);
		    }
		}
	    }
	    &.five {
		figure {
		    width: calc(50% - $figwidth2);
		    @media (min-width: $screen-sm) {
			width: calc(20% - $figwidth5);
		    }
		}
	    }
	    
	}
	
	
	
    }
     &.nospace .grid {
	.flexgrid {
	    gap: 0;
	    figure {
		padding: 0;
		width: 33%;
		border: none;
	    }
	}
	.flexgrid.two {	    
		figure {
		    
		    width: 50%;

		}
	
	}
	.flexgrid.three {
		figure {
		    width: 33%;
		}

	}
	.flexgrid.four {
		figure {
		   width: 50%;
		    @media (min-width: $screen-sm) {
			width: 25%;
		    }
		}

	}
	.flexgrid.five {
		figure {
		    width: 50%;
		    @media (min-width: $screen-sm) {
			width: 20%;
		    }
		}
	
	}
    }
    
    
    .gallery-slick {
	
	--_icon-size: var(--icon-size, 5rem);
	--size-navbutton: var(--_icon-size, 40px);
	--size-sliderregion: var(--_icon-size) * 2.5;
	--_icon-color: var(--icon-color, var(--color-Text));
	--_icon-color-hover: var(--icon-color-hover, var(--color-MainBackground));
	--_icon-background-color-hover: var(--icon-background-color-hover, var(--color-Text));
	--_icon_background-color: var(--icon_background-color, var(--color-MainBackground));

	--_icon-border-radius: var(--icon-border-radius, 50%);
	--_icon-border-width: var(--icon-border-width, 1px);
	--_icon-border-color: var(--icon-border-color, var(--color-Text));
	--_icon-border-color-hover: var(--icon-border-color-hover, var(--color-Text));

	--_icon-size-mask: var(--icon-size-mask, 55%);

	
	
	figure,
	.gallery-image-caption {
	    text-align: center;
	    @include px2rem($font-size-image-caption);
	    padding: 5px;
	}
	.slick-slider {
	    img {
		margin: 0 auto;
	    }
	}
	.slider-nav-width {
	   width: calc(100% - var(--size-sliderregion));
	   margin: var(--width-gutter-half) auto var(--width-gutter-half);
	
	    .slick-slide {
		cursor: pointer;
		max-height: 175px;
		overflow: hidden;
		margin-left: 5px;
		margin-right: 5px;
		height: auto;
	
		    
		
		img {
		    object-fit: cover;
		    aspect-ratio: 3 / 2;
		}
	    
		
	    }
	   
	    
	    
	}

	.slick-prev,
	.slick-next {
		position: absolute;
		display: block;
		height: var(--_icon-size);
		width: var(--_icon-size);
		line-height: 0px;
		font-size: 0px;
		cursor: pointer;
		background: transparent;
		color: transparent;


		top: 75%;
		@include transform-translate(0, -75%);

		@media (min-width: $screen-xs) {
			top: 50%;
			@include transform-translate(0, -50%);
		}

		padding: 0;
		border: none;
		outline: none;
		
		&:before {
			width: var(--_icon-size); 
			height: var(--_icon-size); 
			display: inline-block;
			content: ' ';
			-webkit-mask-size: var(--_icon-size-mask); 
			mask-size: var(--_icon-size-mask); 
			-webkit-mask-repeat: no-repeat;
			mask-repeat: no-repeat;
			-webkit-mask-position: center;
			mask-position: center;
			background-color: var(--_icon-color);

			-webkit-mask-image: svg-angle-right();
			mask-image: svg-angle-right();
			
		}
	}

	.slick-prev {
		left: calc(var(--_icon-size) * -1);

		[dir="rtl"] & {
			left: auto;
			right: calc(var(--_icon-size) * -1);
		}

		&:before {
			transform: rotate(180deg);
			[dir="rtl"] & {
			    transform: rotate(0deg);
			}
		}

	}

	.slick-next {
		right: calc(var(--_icon-size) * -1);

		[dir="rtl"] & {
			left: calc(var(--_icon-size) * -1);
			right: auto;
			transform: rotate(180deg);
		}

	}


	.slick-startstop {
		position: absolute;
		display: block;
		top: 20px;
		right: 0px;

		@media (min-width: $screen-xxs) {
			top: 0px;
		}
		@media (min-width: $screen-xs) {
			top: 20px;
			bottom: inherit;
		}
		@media (min-width: $screen-md) {
			top: 5px;
		}

		background: $colorCopyrightBackground;
		color: $colorCopyright;
		@include px2rem($font-size-hero-slider-copyright);
		margin: 0;
		padding: 1px 4px;
		border: none;

		&:hover,
		&:focus {
			color: #fff;
			background: #000;
			transition-timing-function: ease;
			text-decoration: underline;
		}

		.no-js & {
			display: none;
		}
	}
	
	
	
	.slick-dots {
	    //display: block;
	    display: flex;
	    justify-content: center;
	    width: 100%;
	    padding: 0;
	    margin: 15px auto 15px auto;
	    list-style: none;
	    text-align: center;
	    li {

		position: relative;
		display: inline-block;
		padding: 0;
		cursor: pointer;
		margin: 0;
		width: auto;
		
		button {
		    
		    display: block;
		    width: 2rem;
		    height: 2rem;
		    cursor: pointer;
		    border-radius: var(--border-radius, 0px);
		    padding: 0;
		    margin: 0 0.3rem;
		    color: var(--color-primary-ci-hell-kontrast);
		    background-color: var(--color-primary-ci-hell);
		    
		    border: 0;
		    outline: none;

		    &:hover, 
		    &:focus {
			color: var(--color-button-hover-text);
			background-color: var(--color-button-hover-bg);
		    }
  
		}
		&.slick-active button {
		    color: var(--color-button-hover-text);
		    background-color: var(--color-button-hover-bg);
		}

	    }
	}
    }
   
    
}
