/*-----------------------------------------------------------------------------------*/
/* Global content definitions
/*-----------------------------------------------------------------------------------*/
@use "sass:math";

#content {    
    .container {
	position: relative;
    }
    main {
	@include px2rem($font-size-base);
	color: var(--color-Text);
	font-family: $fontStack;
	padding-top: 0;
	width: 100%;
	
	.sidebar-inline {
	    @include px2rem($font-size-sidebar);
	}
	
	.subtitle {
	    margin: 1rem floor(math.div($grid-gutter-width, 2));
	    @media (min-width: $screen-sm) {
		margin: 0 0 1rem 0;
	    }
	}
    }
   
    
    ul.page-print-actions {
	display: none;
	@media (min-width: $screen-sm) {
	    top: 440px;
	}
    }

}
