/*-----------------------------------------------------------------------------------*/
/* Global content definitions
/*-----------------------------------------------------------------------------------*/


#content {    
    .container {
	position: relative;
    }
    main {
	@include px2rem($font-size-base);
	color: var(--color-Text);
	font-family: $fontStack;
	padding-top: 0;
	width: 100%;
	
	.sidebar-inline {
	    @include px2rem($font-size-sidebar);
	}
    }
   
    
    ul.page-print-actions {
	display: none;
	@media (min-width: $screen-sm) {
	    top: 440px;
	}
    }

}
