/*-----------------------------------------------------------------------------------*/
/* Global content definitions
/*-----------------------------------------------------------------------------------*/


#content {    
    .container {
	position: relative;
    }
    main {
	@include px2rem($font-size-base);
	color: $colorText;
	font-family: $fontStack;
	padding-top: 0;
	width: 100%;
	
	.sidebar-inline {
	    @include px2rem($font-size-sidebar);
	}
    }
   
    
    ul.page-print-actions {
	display: none;
	@media (min-width: $screen-sm) {
	    top: 440px;
	}
    }

}


// Avoid problems by users who follow the hash-link to #content 
// by https://css-tricks.com/hash-tag-links-padding/

#droppoint::before {
  display: block; 
  content: " "; 
  margin-top: -165px; 
  height: 165px; 
  visibility: hidden; 
//  pointer-events: none;
// Not yet supportet by W3C
}
.single #droppoint::before {
    margin-top: inherit; 
    height: inherit; 
}