/*-----------------------------------------------------------------------------------*/
/* Grid in Content
/*-----------------------------------------------------------------------------------*/
@use "sass:math";

#content {
    padding: 20px 0 0 0;
    position: relative;
    display: block;


    @media (min-width: $screen-sm) {
        padding: 40px 0 30px 0;
    }

}

.content-container {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    width: 100%;

    @media (min-width: $screen-sm) {
        padding-left: floor(math.div($grid-gutter-width, 2));
        padding-right: ceil(math.div($grid-gutter-width, 2));
        width: $container-sm;
    }
    @media (min-width: $screen-md) {
        width: $container-md;
    }
    @media (min-width: $screen-lg-min) {
        width: $container-lg;
    }
    @media (min-width: $screen-xl-min) {
        max-width: $container-xl;
        width: 100%;
    }
}


.content-row {
    display: flex;
    flex-wrap: wrap;

     
    @media (min-width: $screen-xl-min) {
        flex-wrap: nowrap;
    }

    main {
        flex-grow: 1;

    }

    .sidebar-subnav {
        min-width: $subnav-width-sm;
        @media (min-width: $screen-sm) {
            min-width: $subnav-width-sm;
            max-width: $subnav-width-sm;
        }
        @media (min-width: $screen-md) {
            min-width: $subnav-width-md;
            max-width: $subnav-width-md;
        }
        @media (min-width: $screen-lg) {
            min-width: $subnav-width-lg;
            max-width: $subnav-width-lg;
        }


    }

    .entry-content {
        min-width: $screen-xxs;
        flex-grow: 1;
        @media (min-width: $screen-sm) {
            max-width: $container-sm - $subnav-width-sm - $grid-gutter-width;
            padding-left: $grid-gutter-width;
        }
        @media (min-width: $screen-md) {
            max-width: $container-md - $subnav-width-md - $grid-gutter-width;
        }
        @media (min-width: $screen-lg) {
            max-width: $container-lg - $subnav-width-lg - $grid-gutter-width;
        }
        @media (min-width: $screen-xl) {
            max-width: $container-xl - $subnav-width-lg - $grid-gutter-width;
        }
    }
   

}


.inline-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $screen-md) {
        flex-wrap: nowrap;
    }

    .content-inline {
        order: 1;
        display: block;
        width: 100%;
        padding-left: floor(math.div($grid-gutter-width, 2));
        padding-right: ceil(math.div($grid-gutter-width, 2));
        flex: 1 0;
        @media (min-width: $screen-sm) {
            padding-left: 0;
        }
        @media (min-width: $screen-sm) and (max-width: $screen-xl - 1) {
            padding-left: 0;
            padding-right: 0;
        }

        &.with-sidebar {
            @media (min-width: $screen-sm) and (max-width: $screen-xl - 1) {
                padding-right: ceil(math.div($grid-gutter-width, 2));
            }
            @media (min-width: $screen-xl) {
                max-width: calc(100% - $sidebar-width-inline - $grid-gutter-width);
                width: calc(100% - $sidebar-width-inline - $grid-gutter-width);
            }
            @media (min-width: $screen-lg) {
                max-width: calc(100% - $sidebar-width-inline-lg - $grid-gutter-width);
                width: calc(100% - $sidebar-width-inline-lg - $grid-gutter-width);
            }

        }
    }
}


.inline-box .sidebar-inline,
.content-row .portalpage-sidebar {
    order: 2;
    display: block;
    padding-top: 1.5rem;
    border-top: 2px solid var(--color-primary-ci-hell2);
    margin: 15px auto floor(math.div($grid-gutter-width, 2)) auto;
    width: calc(100% - $grid-gutter-width);
   
    .widget h2:first-child {
        margin-top: 0;
    }
}

.inline-box {
    .content-inline {
        @media (min-width: $screen-md) {
            width: calc(100% - $sidebar-width-inline);
        }
    }

    .sidebar-inline {
        @media (min-width: $screen-sm) {
            width: 100%;
        }

        @media (min-width: $screen-md) {
            align-self: flex-start;
            width: $sidebar-width-inline;
            border-top: none;
            margin-top: 0;
            padding-top: 0;
        }

	    @media (min-width: $screen-lg) {
            width: $sidebar-width-inline-lg;
	    }
    }
}
.content-row .portalpage-sidebar {

    @media (min-width: $screen-sm) {
        align-self: flex-start;
        width: $sidebar-width-portal;
	    max-width: $sidebar-maxwidth-portal;
        margin-top: 0;
        padding-top: 0;
        padding-left: floor(math.div($grid-gutter-width, 2));
        border-top: none;
        border-left: 2px solid var(--color-primary-ci-hell2);
    }
}


/*-----------------------------------------------------------------------------------*/
/* Default container in content for plugin and custom types
/*-----------------------------------------------------------------------------------*/
#content {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}

/*-----------------------------------------------------------------------------------*/
/* Post layout
/*-----------------------------------------------------------------------------------*/

#content {
    .post-row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        @media (min-width: $screen-sm) {
            max-width: $container-sm - $grid-gutter-width;
        }
        @media (min-width: $screen-md) {
            max-width: $container-md - $grid-gutter-width;
        }
        @media (min-width: $screen-lg) {
            max-width: $container-lg - $grid-gutter-width;
        }
        @media (min-width: $screen-xl) {
            max-width: $container-xl - $grid-gutter-width;
        }

        .entry-content {
            order: 1;
            flex-grow: 1;
            min-width: $screen-xxs;
            width: 100%;
            padding-left: floor(math.div($grid-gutter-width, 2));
            padding-right: ceil(math.div($grid-gutter-width, 2));

            @media (min-width: $screen-sm) {
                padding-left: 0;
                padding-right: 0;
            }

            .with-sidebar & {
                @media (min-width: $screen-sm) {
                    max-width: $container-sm - $sidebar-width-posts - $grid-gutter-width;
                    padding-right: ceil(math.div($grid-gutter-width, 2));
                }
                @media (min-width: $screen-md) {
                    max-width: $container-md - $sidebar-width-posts - $grid-gutter-width;
                }
                @media (min-width: $screen-lg) {
                    max-width: $container-lg - $sidebar-width-posts - $grid-gutter-width;
                }
                @media (min-width: $screen-xl) {
                    max-width: $container-xl - $sidebar-width-posts - $grid-gutter-width;
                }

            }
        }

        .sidebar-single {
            order: 2;
            padding-left: floor(math.div($grid-gutter-width, 2));
            padding-right: ceil(math.div($grid-gutter-width, 2));
            width: 100%;
            @media (min-width: $screen-sm) {
                align-self: flex-start;
                padding-right: 0;
                max-width: $sidebar-width-posts;
            }
        }

    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }
}

/*-----------------------------------------------------------------------------------*/
/* Template: Templates Portalseite, Portalindex, Startseite, Startseite Sub
/*-----------------------------------------------------------------------------------*/

.portalpage-content {
    flex: 1 1;
    width: 100%;
    padding: 0 ceil(math.div($grid-gutter-width, 2));
    @media (min-width: $screen-sm) {
        padding: 0;
    }

    .with-sidebar & {
        @media (min-width: $screen-sm) {
            width: calc(67% - 30px);
            padding-right: ceil(math.div($grid-gutter-width, 2));
            margin-right: ceil(math.div($grid-gutter-width, 2));
        }
        @media (min-width: $screen-lg) {
            margin-right: $grid-gutter-width;
        }
    }
    
    main {
	    padding-top: ceil(math.div($grid-gutter-width, 2));
    }
}

.page-template-template-landing-page,
.page-template-page-start-sub ,
.page-template-page-start {
    .content-row .portalpage-sidebar {
	    border-color: transparent;
    }
    
}

/*-----------------------------------------------------------------------------------*/
/* Template: Errorpages
/*-----------------------------------------------------------------------------------*/
.errorpage-content {
    padding: 0 15px;
    flex: 1 1 $screen-xs;

    main {
	padding-top: ceil(math.div($grid-gutter-width, 2));
    }

    @media (min-width: $screen-sm) {
	padding-right: ceil(math.div($grid-gutter-width, 2));
    }
}

/*-----------------------------------------------------------------------------------*/
/* Template: Errorpages
/*-----------------------------------------------------------------------------------*/
.searchpage-content {
    padding: 0 15px;
    flex: 1 1 $screen-xs;

    main {
	padding-top: ceil(math.div($grid-gutter-width, 2));
    }

    @media (min-width: $screen-sm) {
	padding-right: ceil(math.div($grid-gutter-width, 2));
    }
}
