/*-----------------------------------------------------------------------------------*/
/* Imagelink slider and grid
/*  (since 1.10.56, replaces navigation/_logos-menu.scss)
/*-----------------------------------------------------------------------------------*/


.imagelink {    
    width: calc(100% - 100px);
    margin: 20px auto 0;

	.slick-item { 
	    border: 1px solid transparent;
	    height: auto;
	    &.shadow {
		img {
		    @include box-shadow(2px 2px 5px $colorShadows);
		}
	    }
	    &.border {
		border: 1px solid var(--color-ContentBorders);
	    }
	    
	    &.rounded {
		border: 1px solid var(--color-ContentBorders);
		@include box-shadow(0 0 1px var(--color-ContentBorders));
		overflow: hidden;
		border-radius: 50%;
		
		img {
		    aspect-ratio: 1 / 1;
		}
	    }
	    
	    &:active,
	    &:focus-within,
	    &:hover, 
	    &:focus {
		border: 1px solid var(--color-primary-dunkelste);
	    }
	    
	}
	.slick-slide {
	    width: 142px;
	    height: auto;
	    margin: 0 10px;
	    
	    a, .image {
		height: 110px;	
		display: flex;
		margin: auto;	
		 img {
		   max-height: 110px;
		   width: 140px;
		   padding: 0;
	       }
	    }
	    
	    
	    
	    img {
		box-shadow: none;
		display: flex; 
		flex-grow: 0;
		flex-shrink: 0;
		margin: auto;
		height: auto;
		width: auto;
		object-fit: contain;    
		    
	    }
	}
	
	.thumbnail {
	    .slick-item,
	    .slick-slide {
		width: 150px;
		height: 150px; 
	       a, .image {
		   height: 150px; 
		   width: 150px;
		     img {
			max-height: 150px; 
			width: 150px; 
		   }
	       }
	    }

	}
	
	.x120 .slick-item,
	.x120 .slick-slide {
	    width: 120px;
	   a, .image {
		height: 120px;
	         img {
		   max-height: 120px;
		    width: 120px;
	       }
	   }
	}
	
	.x240 .slick-item,
	.x240 .slick-slide {
	    width: 240px;
	    a, .image {
		height: 240px;
	        img {
		   max-height: 240px;
		    width: 240px;
	       }
	   }
	}
	
	.x360 .slick-item,
	.x360 .slick-slide {
	    width: 360px;
	     a, .image {
		 height: 360px;
	        img {
    		   max-height: 360px;
		    width: 360px;
	       }
	   }
	}

	.x480 .slick-item,
	.x480 .slick-slide {
	    width: 480px;
	    a, .image {
	        height: 480px;
	        img {
		   max-height: 480px;
		    width: 480px;
	       }
	   }
	}

	.logo-thumb .slick-item,
	.logo-thumb .slick-slide {
	    width: 142px;
	     a, .image {
	       height: 110px;
	       img {
		   max-height: 110px;
		    width: 140px;
	       }
	   }
	}
	.page-thumb .slick-item,
	.page-thumb .slick-slide {
	    width: 222px;
	    a, .image {
	       height: 110px;
	        img {
		   max-height: 110px;
		    width: 220px;
	       }
	   }
	}
	.post-thumbnails {
	    .slick-item,
	    .slick-slide {
		width: 302px;
		a, .image {
		   height: 150px;
		    img {
		       max-height: 150px;
		       width: 300px;
			
		   }
	       }
	    }

	    .slick-item {
		margin: 10px 2px;
	    }
	}

	
	.slick-item.rounded {
	    aspect-ratio: 1 / 1;
	    display: flex !important;
	    align-content: center !important;;
	    
	    .image,
	    a {
		height: auto;
		padding: 5px;
		aspect-ratio: 1 / 1;
		img {
		     aspect-ratio: 1 / 1;
		     max-height: inherit;
		}

	    }
	}

	
	.slick-prev,
	.slick-next {
		position: absolute;
		display: block;
		height: 40px;
		width: 40px;
		line-height: 0px;
		font-size: 0px;
		cursor: pointer;
		background: transparent;
		color: transparent;


		top: 75%;
		@include transform-translate(0, -75%);

		@media (min-width: $screen-xs) {
			top: 50%;
			@include transform-translate(0, -50%);
		}

		padding: 0;
		border: none;
		outline: none;


		&:hover,
		&:focus {
			outline: none;
			background: transparent;
			color: var(--color-button-bg);

			&:before {
				 color: var(--color-button-hover-bg);
			}
		}

		
		&:before {
			font-size: 40px;
			line-height: 1;
			color: var(--color-button-bg);
			text-shadow: 0 0 1px var(--color-button-text);

		}

	}

	.slick-prev {
		left: -40px;

		[dir="rtl"] & {
			left: auto;
			right: -40px;
		}

		@media (min-width: $break-1360) {
			left: -50px;
			[dir="rtl"] & {
				left: auto;
				right: -50px;
			}
		}


		&:before {
			@extend .fa;
			@extend .fa-chevron-left;

			[dir="rtl"] & {
				@extend .fa-chevron-right;
			}
		}

	}

	.slick-next {
		right: -40px;

		[dir="rtl"] & {
			left: -40px;
			right: auto;
		}

		@media (min-width: $break-1360) {
			right: -50px;
			[dir="rtl"] & {
				left: -50px;
				right: auto;
			}
		}


		&:before {
			@extend .fa;
			@extend .fa-chevron-right;

			[dir="rtl"] & {
				@extend .fa-chevron-left;
			}
		}

	}


	
	.slick-dots {
	    display: block;
		justify-content: center;
	    width: 100%;
	    padding: 0;
	    margin: 15px auto 20px auto;
	    list-style: none;
	    text-align: center;
	    li {

		position: relative;
		display: inline-block;
		width: 1.5rem;
		height: 1.5rem;
		margin: 0 0.5rem;
		padding: 0;
		cursor: pointer;
		
		button {
		    
		    display: block;
			width: 2rem;
			height: 1.8rem;
		    cursor: pointer;
			border-radius: var(--border-radius, 0px);
		    
		    color: var(--color-primary-ci-hell-kontrast);
		    background-color: var(--color-primary-ci-hell);
		    
		    border: 0;
		    padding: 0;
		    outline: none;

		    &:hover, 
		    &:focus {
			color: var(--color-button-hover-text);
			background-color: var(--color-button-hover-bg);
		    }
  
		}
		&.slick-active button {
		    color: var(--color-button-hover-text);
		    background-color: var(--color-button-hover-bg);
		}
	    }
	}   
	
	
    &.list {
	width: 100%;
	text-align: center;
	
	.imagelink-container {
	    display: flex;
	    align-items: center;
	    align-content: center;
	    flex-wrap: wrap;
	    justify-content: center;
	}
	.slick-item {
	    margin: 10px;
	    display: inline-block;
	    border: 1px solid transparent;
	    overflow: hidden;
	    padding: 2px;
	    
	    &:active,
	    &:focus-within,
	    &:hover, 
	    &:focus {
		border-color: var(--color-primary-dunkelste);
	    }
		
	    .image,
	    a {
		margin: auto;
		vertical-align: middle;
		text-align: center;
		display: inline-flex;
		
	    }
	    
	    img {
		box-shadow: none;
		max-width: 100%; 
		display: inline-block;
		margin: auto;
		object-fit: contain;
		
		height: auto;
		width: 100%;

	    }
	    &.rounded {
		border-width: 2px;
		border-color: var(--color-ContentBorders);
		display: flex;
		 
		.image,
		a {
		    padding: 5px;
		}

	    }
	    &.rounded:hover, 
	    &.rounded:focus, 
	    &.rounded:active  {
		border-color: var(--color-primary-dunkelste);
	    }
	}

    }
    
    &.dots {
	 margin: 20px auto 40px auto;
    }
    &.dots.adaptiveHeight {
	.slick-slide, .slick-item {
	    height: auto;
	    vertical-align: middle;
	}
    }
}
