/*-----------------------------------------------------------------------------------*/
/* Imagelink slider and grid
/*  (since 1.10.56, replaces navigation/_logos-menu.scss)
/*-----------------------------------------------------------------------------------*/


.imagelink {    
    --fau-arrow-icon-size: 1.5rem;
    --fau-arrow-icon-size-mask: calc(var(--fau-arrow-icon-size) * 2);
    --fau-arrow-icon-color: var(--color-links);
    --fau-arrow-icon-color-hover: var(--color-content-links-hover); 
    --fau-gutter-double: calc(var(--width-gutter) * 2);
    

    @media (min-width: $screen-xl) {
	--fau-arrow-icon-size: 2rem;
	--fau-arrow-icon-size-mask: calc(var(--fau-arrow-icon-size) * 2);
    }    
    margin: var(--width-gutter);
    padding: 0 var(--width-gutter);

	.slick-item { 
	    border: 1px solid transparent;
	    height: auto;
	    &.shadow {
		img {
		    box-shadow: 2px 2px 5px $colorShadows;
		}
	    }
	    &.border {
		border: 1px solid var(--color-ContentBorders);
	    }
	    
	    &.rounded {
		border: 1px solid var(--color-ContentBorders);
		box-shadow: 0 0 1px var(--color-ContentBorders);
		overflow: hidden;
		border-radius: 50%;
		
		img {
		    aspect-ratio: 1 / 1;
		}
	    }
	    
	    &:active,
	    &:focus-within,
	    &:hover, 
	    &:focus {
		border: 1px solid var(--color-primary-dunkelste);
	    }
	    
	}
	.slick-slide {
	    width: 142px;
	    height: auto;
	    margin: 0 10px;
	    
	    a, .image {
		height: 110px;	
		display: flex;
		margin: auto;	
		 img {
		   max-height: 110px;
		   width: 140px;
		   padding: 0;
	       }
	    }
	    
	    
	    
	    img {
		box-shadow: none;
		display: flex; 
		flex-grow: 0;
		flex-shrink: 0;
		margin: auto;
		height: auto;
		width: auto;
		object-fit: contain;    
		    
	    }
	}
	
	.thumbnail {
	    .slick-item,
	    .slick-slide {
		width: 150px;
		height: 150px; 
	       a, .image {
		   height: 150px; 
		   width: 150px;
		     img {
			max-height: 150px; 
			width: 150px; 
		   }
	       }
	    }

	}
	

	.rwd-480-2-1 .slick-item,
	.rwd-480-2-1 .slick-slide {
	    width: 480px;
	    a, .image {
	        height: 240px;
	        img {
		   max-height: 240px;
		   width: 480px;
		     aspect-ratio: 2 / 1;
	       }
	   }
	}
	.rwd-480-3-2 .slick-item,
	.rwd-480-3-2 .slick-slide {
	    width: 480px;
	    a, .image {
	        height: 320px;
	        img {
		   max-height: 320px;
		   width: 480px;
		   aspect-ratio: 3 / 2;
	       }
	   }
	}

	.logo-thumb .slick-item,
	.logo-thumb .slick-slide {
	    width: 142px;
	     a, .image {
	       height: 110px;
	       img {
		   max-height: 110px;
		    width: 140px;
	       }
	   }
	}
	.page-thumb .slick-item,
	.page-thumb .slick-slide {
	    width: 222px;
	    a, .image {
	       height: 110px;
	        img {
		   max-height: 110px;
		    width: 220px;
	       }
	   }
	}
	.post-thumbnails {
	    .slick-item,
	    .slick-slide {
		width: 302px;
		a, .image {
		   height: 150px;
		    img {
		       max-height: 150px;
		       width: 300px;
			
		   }
	       }
	    }

	    .slick-item {
		margin: 10px 2px;
	    }
	}

	
	.slick-item.rounded {
	    aspect-ratio: 1 / 1;
	    display: flex !important;
	    align-content: center !important;;
	    
	    .image,
	    a {
		height: auto;
		padding: 5px;
		aspect-ratio: 1 / 1;
		img {
		     aspect-ratio: 1 / 1;
		     max-height: inherit;
		}

	    }
	}

	
	.slick-prev,
	.slick-next {
		display: block;
		position: absolute;
		bottom: auto;
		top: calc(50% - (var(--fau-arrow-icon-size) / 2));
		
		padding: 0;
		line-height: 0px;
		font-size: 0px;
		cursor: pointer;
		background: transparent;
		color: transparent;

		border: none;
		outline: none;
		transition: all .2s linear;
		

	}

	.slick-prev {
		left: calc(var(--width-gutter) * -1);
		@media (min-width: $screen-xl) {
		    left: calc(var(--fau-gutter-double) * -1);
		}
		&:before {
		    @extend  .fau-angle-icon-left;
		}
	}

	.slick-next {
		right: calc(var(--width-gutter) * -1);
		@media (min-width:  $screen-xl) {
		    right: calc(var(--fau-gutter-double) * -1);
		}
		&:before {
		    @extend  .fau-angle-icon-right;   
		}
	}
	

	
	.slick-dots {
	    display: block;
	    justify-content: center;
	    width: 100%;
	    padding: 0;
	    margin: var(--width-gutter) auto;
	    list-style: none;
	    text-align: center;
	    
	    li {
		position: relative;
		display: inline-block;
		width: 1.5rem;
		height: 1.5rem;
		margin: 0 0.5rem;
		padding: 0;
		cursor: pointer;
		
		button {
		    
		    display: block;
		    width: 2rem;
		    height: 1.8rem;
		    cursor: pointer;
		    border-radius: var(--border-radius, 0px);
		    
		    color: var(--color-primary-ci-hell-kontrast);
		    background-color: var(--color-primary-ci-hell);
		    
		    border: 0;
		    padding: 0;
		    outline: none;

		    &:hover, 
		    &:focus {
			color: var(--color-button-hover-text);
			background-color: var(--color-button-hover-bg);
		    }
  
		}
		&.slick-active button {
		    color: var(--color-button-hover-text);
		    background-color: var(--color-button-hover-bg);
		}
	    }
	}   
	
	
    &.list {
	width: 100%;
	text-align: center;
	
	.imagelink-container {
	    display: flex;
	    align-items: center;
	    align-content: center;
	    flex-wrap: wrap;
	    justify-content: center;
	}
	.slick-item {
	    margin: 10px;
	    display: inline-block;
	    border: 1px solid transparent;
	    overflow: hidden;
	    padding: 2px;
	    
	    &:active,
	    &:focus-within,
	    &:hover, 
	    &:focus {
		border-color: var(--color-primary-dunkelste);
	    }
		
	    .image,
	    a {
		margin: auto;
		vertical-align: middle;
		text-align: center;
		display: inline-flex;
		
	    }
	    
	    img {
		box-shadow: none;
		max-width: 100%; 
		display: inline-block;
		margin: auto;
		object-fit: contain;
		
		height: auto;
		width: 100%;

	    }
	    &.rounded {
		border-width: 2px;
		border-color: var(--color-ContentBorders);
		display: flex;
		 
		.image,
		a {
		    padding: 5px;
		}

	    }
	    &.rounded:hover, 
	    &.rounded:focus, 
	    &.rounded:active  {
		border-color: var(--color-primary-dunkelste);
	    }
	}

    }
    

    &.dots.adaptiveHeight {
	.slick-slide, .slick-item {
	    height: auto;
	    vertical-align: middle;
	}
    }
}
