/*-----------------------------------------------------------------------------------*/
/* News items
/*-----------------------------------------------------------------------------------*/

.news-details {
	margin-top: 20px;
	margin-top: -20px;
	
        @media (min-width: $screen-xs) {
	    	margin-top: 20px;
        }
		.post-image {
			margin-top: 0px;

			@media (min-width: $screen-xs) {
				width: 50%;
			}
			@media (min-width: $screen-sm) {
				width: inherit;
				max-width: 420px;
			}
			
			img {
				@media (min-width: $screen-sm) {
					max-width: 420px;
					max-height: 280px;
					box-shadow: none;
			}
	    }
	     
	}
	.subtitle {
	    padding-top: 0;
	}
	.post-meta-categories:before {
		    @extend .fa;
		    @extend .fa-archive;
	}
	.post-meta-date:before {
		    @extend .fa;
		    @extend .fa-calendar;
	}
	.post-meta-tags:before {
		    @extend .fa;
		    @extend .fa-tags;
	}
	.post-meta-videopost-author:before {
		    @extend .fa;
		    @extend .fa-pencil;
	}
	.post-meta-tags {
	    @media (min-width: $screen-sm) {
			margin-left: 10px;
	    }
	    
	}
	.meta-footer {
	    clear: both;
	    a:hover {
			text-decoration: underline;
			text-decoration-thickness: 0.3rem;
	    }
	}
}

.news-image {
	display: block;
	text-align: center;
	float: none;
	margin: 10px auto;
	
	img, svg {
	    @include box-shadow(none);
             width: 100%;
             height: auto;
	}
	svg {
	   padding: 0 17px;	    
	}
	
	@media (min-width: $screen-xs) {
	    @include box-shadow(0 1px 2px rgba(0,0,0,0.3));
	    padding: 4px;
	    margin: 5px auto;
	}
	
	
	.blogroll-image-3-2 & {
	    img, svg {	
		max-width: 100%;
		max-height: 200px;
		object-fit: cover;
		
		@media (min-width: $screen-xs) {
			max-width: 300px;
			max-height: 200px;
			object-fit: contain;
		}
	    }
	}
}

.news-item {
	//margin-bottom: 11px;
	

	.news-meta {
		padding: 0.2rem 0;
		margin: 0.5rem 0;
		color: var(--color-Text);
		display: flex;
		align-items: center;
		font-family: $fontStack;

		@media (max-width: $screen-sm) {
			flex-wrap: wrap;
		}
		
		.news-meta-categories:before {
		    //@extend .fa;
		    //@extend .fa-tag;
			
			content: url('data:image/svg+xml,<svg version="1.1" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 81.41 81.31" style="enable-background:new 0 0 81.41 81.31;" xml:space="preserve"><g><path d="M79.76,15.97L65.35,1.56c-1.08-1.11-2.6-1.67-4.14-1.54L40.07,1.56c-1.25,0.1-2.43,0.64-3.32,1.51L1.56,38.18C0.55,39.16-0.01,40.51,0,41.92c0,1.4,0.55,2.75,1.54,3.75l34.14,34.11c2.07,2.03,5.38,2.03,7.44,0l35.13-35.11c0.91-0.92,1.45-2.14,1.51-3.42l1.64-21.24C81.48,18.49,80.88,17.01,79.76,15.97z M73.51,40.53L39.4,74.75L6.57,41.92L40.79,7.71l20.47-1.59L75.2,20.07L73.51,40.53z M58.92,22.4c2.07,2.02,5.37,2.02,7.44,0c2.09-2.06,2.12-5.42,0.07-7.51s-5.42-2.12-7.51-0.07s-2.12,5.42-0.07,7.51C58.88,22.35,58.9,22.38,58.92,22.4z"/></g></svg>');
			
		}
		.news-meta-date:before {
		    //@extend .fa;
		    //@extend .fa-calendar;

			content: url('data:image/svg+xml,<svg version="1.1" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 86.88 86.88" style="enable-background:new 0 0 86.88 86.88;" xml:space="preserve"><g><path d="M83.78,6.21H65.16V3.1c0-1.71-1.39-3.1-3.1-3.1s-3.1,1.39-3.1,3.1v3.1H46.55V3.1c0-1.71-1.39-3.1-3.1-3.1s-3.1,1.39-3.1,3.1v3.1H27.93V3.1c0-1.71-1.39-3.1-3.1-3.1s-3.1,1.39-3.1,3.1v3.1H3.1C1.39,6.21,0,7.6,0,9.31v74.47c0,1.71,1.39,3.1,3.1,3.1h80.68c1.71,0,3.1-1.39,3.1-3.1V9.31C86.88,7.6,85.49,6.21,83.78,6.21z M21.72,12.41v3.1c0,1.71,1.39,3.1,3.1,3.1s3.1-1.39,3.1-3.1v-3.1h12.41v3.1c0,1.71,1.39,3.1,3.1,3.1s3.1-1.39,3.1-3.1v-3.1h12.41v3.1c0,1.71,1.39,3.1,3.1,3.1s3.1-1.39,3.1-3.1v-3.1h15.52v12.41H6.21V12.41H21.72z M6.21,80.68V31.03h74.47v49.65H6.21z M52.75,43.44c0,1.71-1.39,3.1-3.1,3.1H37.24c-1.71,0-3.1-1.39-3.1-3.1s1.39-3.1,3.1-3.1h12.41C51.36,40.34,52.75,41.73,52.75,43.44z M74.47,43.44c0,1.71-1.39,3.1-3.1,3.1H58.96c-1.71,0-3.1-1.39-3.1-3.1s1.39-3.1,3.1-3.1h12.41C73.08,40.34,74.47,41.73,74.47,43.44z M31.03,43.44c0,1.71-1.39,3.1-3.1,3.1H15.52c-1.71,0-3.1-1.39-3.1-3.1s1.39-3.1,3.1-3.1h12.41C29.64,40.34,31.03,41.73,31.03,43.44z M52.75,55.85c0,1.71-1.39,3.1-3.1,3.1H37.24c-1.71,0-3.1-1.39-3.1-3.1c0-1.71,1.39-3.1,3.1-3.1h12.41C51.36,52.75,52.75,54.14,52.75,55.85z M74.47,55.85c0,1.71-1.39,3.1-3.1,3.1H58.96c-1.71,0-3.1-1.39-3.1-3.1c0-1.71,1.39-3.1,3.1-3.1h12.41C73.08,52.75,74.47,54.14,74.47,55.85z M31.03,55.85c0,1.71-1.39,3.1-3.1,3.1H15.52c-1.71,0-3.1-1.39-3.1-3.1c0-1.71,1.39-3.1,3.1-3.1h12.41C29.64,52.75,31.03,54.14,31.03,55.85z M52.75,68.27c0,1.71-1.39,3.1-3.1,3.1H37.24c-1.71,0-3.1-1.39-3.1-3.1c0-1.71,1.39-3.1,3.1-3.1h12.41C51.36,65.16,52.75,66.55,52.75,68.27z M74.47,68.27c0,1.71-1.39,3.1-3.1,3.1H58.96c-1.71,0-3.1-1.39-3.1-3.1c0-1.71,1.39-3.1,3.1-3.1h12.41C73.08,65.16,74.47,66.55,74.47,68.27z M31.03,68.27c0,1.71-1.39,3.1-3.1,3.1H15.52c-1.71,0-3.1-1.39-3.1-3.1c0-1.71,1.39-3.1,3.1-3.1h12.41C29.64,65.16,31.03,66.55,31.03,68.27z"/></g></svg>');
		}
		.news-meta-videopost-author:before {
		    //@extend .fa;
		    //@extend .fa-pencil;

			content: url('data:image/svg+xml,<svg version="1.1" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 81.41 81.63" style="enable-background:new 0 0 81.41 81.63;" xml:space="preserve"><g><path d="M69.99,2.4l8.64,8.13c3.49,3.28,3.72,8.72,0.58,12.29l-0.24,0.27l-51.3,52.26L0,81.63l6.28-27.65L57.68,2.59C61.06-0.79,66.51-0.87,69.99,2.4z M10.54,58.73L6.9,74.73l16.18-3.68c-1.18-3.79-2.48-6.37-3.79-7.68C17.93,62,14.98,60.42,10.54,58.73z M52.87,14.75l-39.5,39.5c4.56,1.8,7.74,3.58,9.61,5.44c1.78,1.78,3.28,4.54,4.59,8.32l38.92-39.65L52.87,14.75z M61.36,6.27l-4.8,4.8l13.58,13.58l5.03-5.13l0.2-0.22c1.23-1.47,1.11-3.66-0.3-4.99l-8.64-8.13C64.99,4.84,62.75,4.88,61.36,6.27z"/></g></svg>');
		}

		.news-meta-categories,
		.news-meta-date,
		.news-meta-videopost-author {
			&:before {
				width: 1rem;
				height: 1rem;
				line-height: 1rem;
				font-size: 0.6rem;
				background-repeat: no-repeat;
				display: inline-block;
				background-size: 100%;
				background-position: center center;
				margin-right: 0.2rem;
			}
		}


	}
	.news-meta-date,
	.news-meta-videopost-author,
	.news-meta-categories {
		margin-right: 15px;
	}
	h2 .ext-link {
		@include inline-block;
		padding-right: var(--width-gutter-half);
		
		&:hover, 
		&:focus {
			text-decoration: underline;
		}
		&::after {
		    @include px2rem(16);
		    @extend .fa;
		    content: "\f08e";
		    margin-left: 5px;
		    position: relative;
		    top: -5px;
		    
		    .wp-external-links & {
			display: none;
		    }
		}
	}
	
    .teaser-row {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;

	@media (min-width: $screen-sm) {
	    flex-wrap: nowrap;
	    column-gap: var(--width-gutter); 
	}
	.thumbnailregion {
	    width: 100vw;
	    text-align: center;
	    padding: 0;
	    margin-left: calc(var(--width-gutter-half) * -1); // calc(-#{$fau-gutter-width} / 2);
	    margin-right: calc(var(--width-gutter-half) * -1); // calc(-#{$fau-gutter-width} / 2);
	    // Auf kleinem Display setze die Bilder nahtlos an den Rand
	    
	    @media (min-width: $screen-sm) {
		width: 220px;
                max-width: 50%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0;		
	    }
	    @media (min-width: $screen-xl) {
                width: 320px;
	    }
	    .passpartout {
		width: 100%;
		text-align: center;
                /*
		@media (min-width: $screen-sm) {
		    width: 220px; 
		}
		@media (min-width: $screen-xl) {
		    width: 320px;
		}
                */
	    }
	}
	.thumbnailregion.vidpod-thumb {
		.rrze-video {
			margin: 0px !important;
		}
		.plyr__video-embed {
			margin: auto;
			@media (min-width: $screen-xs) {
				max-width: 300px;
				aspect-ratio: 3/2;
			}
			iframe {
				margin: 5px auto;
			}
		}
		@media (max-width: $screen-xs) {
			padding-bottom: var(--width-gutter-half);
		}
	}
	.thumbnailregion.fallback {
	    display: none;
	     @media (min-width: $screen-sm) {
		 display: block;
		 padding: var(--width-gutter);
		 background-color: var(--color-StandardHellgrau);
	     }
	}
	
	.teaserregion {
	    width: 100vw;
	    
	    @media (min-width: $screen-sm ) {
                width: calc(100% - 220px);
		p {
		    display: inline;
		}
	    }
	    
	}
	
	.fullwidthregion {
	    width: 100%;
	}
    }
}

.zigzag:nth-child(odd) {
	.teaser-row {
		flex-direction: row-reverse;
	}
	.continue{
		text-align: left;
	}
}

.content-inline, .entry-content, .portalpage-content, main {
    .news-more-links {
	    padding: 20px 0;
	    text-align: left;

	    a {
		    @include inline-block;
		    @include defaultlinkstyle();
		    margin-right: var(--width-gutter-half);
	    }

	    .news-rss {
		@include ghostbutton();
	    }
	    .news-rss:before {
		@include svg-icon-place();
		margin-right: 0.5rem;
		background-image: svg-icon-rss($color-content-links);
	    }
	    .news-rss:focus:before,
	    .news-rss:hover:before {
		background-image: svg-icon-rss($color-button-hover-text);
	    }

	    .news-more {
		@include buttonstyle();
	    } 
    }
}

.index-navigation {
    margin: 1rem 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
    
        .prev,
        .next {
            a {
                @include inline-block;
		@include defaultlinkstyle();
                @include buttonstyle();
            }	   
	} 
        .prev a {
            &:before {
                @include svg-icon-place();
                background-image: svg-angle-right($color-button-text);
                transform: rotate(180deg);
                transform-origin: 50% 50%;
            }
            &:focus:before,
            &:hover:before {
                background-image: svg-angle-right($color-button-hover-text);

            }
        }
        .next a {
            &:after {
                @include svg-icon-place();
                background-image: svg-angle-right($color-button-text);
            }
            &:focus:after,
            &:hover:after {
                background-image: svg-angle-right($color-button-hover-text);

            }
        }
        
        
        
}

.news-meta-categories {
	@include inline-block;
	
	ul {
		@include no-list;
		@include inline-block;
		
		li {
			@include no-list;
			@include inline-block;
			margin: 0 0 2px 0;

			a {
				@include inline-block;
				background: var(--color-primary-ci-hell2);
				color: var(--color-primary-ci-hell2-kontrast);
				text-decoration: none;
				padding: 3px 5px 2px 5px;
				@include border-radius(3px);
			}
			
			a:hover, a:focus {
				background: var(--color-primary-ci-hell);
				color: var(--color-primary-ci-hell-kontrast);
			}
		}
	}	
}





