/*-----------------------------------------------------------------------------------*/
/* News items
/*-----------------------------------------------------------------------------------*/

.news-details {
	margin-top: 20px;
	
        @media (max-width: $screen-xs - 1) {
	    margin-top: -20px;
        }
	.post-image {
	     margin-top: 0px;
	     @media (min-width: $screen-xs) {
	        max-width: 50%;
	     }
	     @media (min-width: $screen-md) {
	        max-width: 300px;
	     }
		
	
	}
	.subtitle {
	    padding-top: 0;
	}
	.post-meta-categories:before {
		    @extend .fa;
		    @extend .fa-archive;
	}
	.post-meta-date:before {
		    @extend .fa;
		    @extend .fa-calendar;
	}
	.post-meta-tags:before {
		    @extend .fa;
		    @extend .fa-tags;
	}
	.post-meta-tags {
	   margin-left: 10px;
	    
	    
	}
	.meta-footer {
	    clear: both;
	    a:hover {
		text-decoration: underline;
	    }
	}
}

.news-image {
	display: block;
	text-align: center;
	background: none;
	float: none;
	margin: 10px auto;
	
	img {
	    @include box-shadow(none);
             width: 100%;
             height: auto;
	     
             @media (min-width: $screen-xs) {
		 max-height: 147px;
		 width: auto;
	    }
	     
	}
	
	@media (min-width: $screen-xs) {
	    @include box-shadow(0 1px 2px rgba(0,0,0,0.3));
	    padding: 4px;
	    background: $colorStandardHellgrau;
	    margin: 5px auto;
	}

}

.news-item {
	margin-bottom: 11px;
	
	h2 {
	    padding-bottom: 10px;
	}
	.news-meta {
		padding: 5px 0;
		margin-top: 0px;
		margin-bottom: 10px;
		color: $colorText;
		display: block;
		font-family: $fontStack;
		
		.news-meta-categories:before {
		    @extend .fa;
		    @extend .fa-tag;
		}
		.news-meta-date:before {
		    @extend .fa;
		    @extend .fa-calendar;
		}
	}
	.news-meta-date {
	    margin-left: 10px;
	}
	h2 .ext-link {
		@include inline-block;
		padding-right: 15px;
		
		&:hover, 
		&:focus {
			text-decoration: underline;
		}
		&::after {
		    @include px2rem(16);
		    @extend .fa;
		    content: "\f08e";
		    margin-left: 5px;
		    position: relative;
		    top: -5px;
		    
		    .wp-external-links & {
			display: none;
		    }
		}
	}
	
}

.news-item {
    .teaser-row {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	
	
	.thumbnailregion {
	    width: 100vw;
	    text-align: center;
	    padding: 0;
	    margin-left: calc(-#{$fau-gutter-width} / 2);
	    margin-right: calc(-#{$fau-gutter-width} / 2);
	    
	    @media (min-width: $screen-xs) {
		width: 100%;
		max-width: 220px;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0;		
	    }
	    .passpartout {
		 width: 100%;
		 text-align: center;
		 @media (min-width: $screen-sm) {
		     width: 220px; 
		 }
	     }  
	}
	.teaserregion {
	    width: 100%;
	    @media (min-width: $screen-xs ) {
		max-width: calc(100% - 250px);
		padding-left: 20px;
		p {
		    display: inline;
		}
	    }
	}
	
	.fullwidthregion {
	    width: 100%;
	}
    }
}





.news-meta-categories {
	@include inline-block;
	
	ul {
		@include no-list;
		@include inline-block;
		
		li {
			@include no-list;
			@include inline-block;
			margin: 0 0 2px 0;

			a {
				@include inline-block;
				background: $colorLightest;
				text-decoration: none;
				padding: 3px 5px 2px 5px;
				@include border-radius(3px);
			}
			
			a:hover, a:focus {
				color: #fff;
				background: $colorPrimary;
			}
		}
	}	
}





