/*-----------------------------------------------------------------------------------*/
/* Organigramm shortcode content
/*-----------------------------------------------------------------------------------*/

.organigram {
    	--fau-icon-size: 1.2rem;
	--fau-icon-color: var(--color-Default);
	--fau-icon-color-hover: var(--color-Default);
	--fau-icon-size-mask: 2rem;
	--fau-icon-margin-right: 0.4rem;
	
	@include no-list;
	margin: var(--width-gutter-half) 0;
	
	ul, li {
		@include no-list;
	}
	
	ul {
		margin-bottom: var(--width-gutter-half);
		border-left: 2px solid var(--color-primary-ci-hell);
		margin-left: 0.5rem;
		
		
		> li:last-of-type {
		    border-bottom: 2px solid var(--color-primary-ci-hell);
		    padding-bottom: 0.7rem;
		}
		
		> li:first-of-type {
		    padding-top: 0.5rem;
		}
	}
	
	li {
		background: none;
		font-size: var(--font-size-xl, 1.25rem);
		margin-bottom: var(--width-gutter-half);
		margin-top: 5px;
		
		li {
			font-size: var(--font-size-normal, 1rem);
			padding-left: var(--width-gutter-half);
			margin-bottom: 0;
			
			li {
				font-size: var(--font-size-sm, 0.875rem);
			}
		}
	}
	
	a {
		@include defaultlinkstyle();
	}
	


	
	.toggle-icon {
		@extend .fau-icon;
		mask-image: svg-triangle-down();

		color: var(--color-Text);
		cursor: pointer;
		transition: all 0.3s ease-in-out;
	}
	
	.active > .toggle-icon {
		transform: rotate(270deg);
	}
	
}
