/*-----------------------------------------------------------------------------------*/
/* Organigramm shortcode content
/*-----------------------------------------------------------------------------------*/

.organigram {
	@include no-list;
	margin: var(--width-gutter-half) 0;
	
	ul, li {
		@include no-list;
	}
	
	ul {
		margin-bottom: var(--width-gutter-half);
		border-left: 2px solid var(--color-primary-ci-hell);
		margin-left: var(--width-gutter-half);
	}
	
	li {
		background: none;
		@include px2rem($font-size-large);
		margin-bottom: var(--width-gutter-half);
		margin-top: 5px;
		
		li {
			@include px2rem($font-size-base);
			padding-left: var(--width-gutter-half);
			margin-bottom: 0;
			
			li {
				@include px2rem($font-size-small);
			}
		}
	}
	
	a {
		@include defaultlinkstyle();
	}
	


	
	.toggle-icon {
		@extend .fa;
		@extend .fa-plus-square;
		color: var(--color-Text);
		margin-right: 5px;
		cursor: pointer;
	}
	
	.active > .toggle-icon {
		@extend .fa-minus-square;
	}
	
}
