/*-----------------------------------------------------------------------------------*/
/* Post Content
/*-----------------------------------------------------------------------------------*/
@use "sass:math";

// outside-the-box image
.my-custom-image {
    width: 100%;
}

.my-custom-image-div {
   margin-inline: -10%;
}

.fau-row-outisde {
    width: 100%;
}

.fau-row-outisde-div {
   margin-inline: -25%;

    @media (max-width: $screen-xl) {
        margin-inline: unset;
    }
    p {
        max-width: 60%;
        width: 60%;
        margin-left: 20% !important;
    }
    figure {
        padding: 0 !important;
        margin: 0 !important;
   }
}

.post-navigation {
    background-color: #f3f9ff;
    padding: 0px;
    margin-top: 90px;
    display: inline;
}

.nav-previous {
    float: left;

    a {
        text-align: left;
    }

    ::before {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        content: " ";
        width: 1.4rem;
        height: 1.4rem;
        line-height: 1.4rem;
        font-size: calc(1.4rem / 1.5);
        background-image: inherit;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
        transform: rotate(180deg);
        background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath fill="%23222222" d="M14.83,11.29,10.59,7.05a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41L12.71,12,9.17,15.54a1,1,0,0,0,0,1.41,1,1,0,0,0,.71.29,1,1,0,0,0,.71-.29l4.24-4.24A1,1,0,0,0,14.83,11.29Z"/%3E%3C/svg%3E%0A');
    }
}

.nav-next {
    float: right;

    a {
        text-align: right;
    }

    ::before {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        content: " ";
        float:right;
        width: 1.4rem;
        height: 1.4rem;
        line-height: 1.4rem;
        font-size: calc(1.4rem / 1.5);
        background-image: inherit;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
        background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath fill="%23222222" d="M14.83,11.29,10.59,7.05a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41L12.71,12,9.17,15.54a1,1,0,0,0,0,1.41,1,1,0,0,0,.71.29,1,1,0,0,0,.71-.29l4.24-4.24A1,1,0,0,0,14.83,11.29Z"/%3E%3C/svg%3E%0A');
    }
}


.nav-previous,
.nav-next {
    box-shadow: none;
    transition: initial;
    max-width: 40%;    
    
    @include px2rem($font-size-content-meta);
    
    padding: 0.5rem 0.7rem;
    border: 1px solid var(--color-ContentBorders);
    border-radius: var(--border-radius);
    background: transparent;
    color: var(--color-Text);
    font-weight: normal;
    text-decoration: none;

    a {
        box-shadow: none;
        text-decoration: none;
        transition: none;
        text-decoration-color: none;
    }
}

.nav-previous:hover,
.nav-next:hover {
    // background-color:#0170b9;
    background-color: var(--color-primary-ci-hell);
    color: var(--color-primary-ci-hell-kontrast);
    a {
        color: var(--color-primary-ci-hell-kontrast);
    }
}

.nav-previous:hover a:link,
.nav-next:hover a:link {
    background-color: var(--color-primary-ci-hell);
    color: var(--color-primary-ci-hell-kontrast);
}

.nav-previous:hover a:link {
    &::before {
        transform: rotate(180deg);

        background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath fill="%23FFFFFF" d="M14.83,11.29,10.59,7.05a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41L12.71,12,9.17,15.54a1,1,0,0,0,0,1.41,1,1,0,0,0,.71.29,1,1,0,0,0,.71-.29l4.24-4.24A1,1,0,0,0,14.83,11.29Z"/%3E%3C/svg%3E%0A');

    }
}

.nav-next:hover a:link {
    &::before {
        float: right;


        background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath fill="%23FFFFFF" d="M14.83,11.29,10.59,7.05a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41L12.71,12,9.17,15.54a1,1,0,0,0,0,1.41,1,1,0,0,0,.71.29,1,1,0,0,0,.71-.29l4.24-4.24A1,1,0,0,0,14.83,11.29Z"/%3E%3C/svg%3E%0A');

    }

}

.post-image {
    text-align: center;
    float: none;
    margin: 0 calc(var(--width-gutter-half) * -1);


    @media (min-width: $screen-xs) {
        float: right;
        margin: 20px 0 10px 20px;
    }

    figure {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;

    }

    .post-image-caption {
        @include px2rem($font-size-image-caption);
        padding: 5px 0 10px 0;
        text-align: right;
        margin: 0 var(--width-gutter-half);

        @media (min-width: $screen-sm) {
            text-align: left;
            margin: 0;
        }

        .copyright {
            display: block;
        }

    }


}

.post-meta {
    display: block;
    padding: 5px 0;
    margin: 0 0 var(--width-gutter-half) 0;
    font-family: $fontStack;
    @include px2rem($font-size-content-meta);

    .post-meta-date:before {
        content: url('data:image/svg+xml,<svg version="1.1" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 84.7 75.9" style="enable-background:new 0 0 84.7 75.9;" xml:space="preserve"><path d="M70.3,6.3h-11V2.9C59.3,1.3,58,0,56.4,0c-1.6,0-2.9,1.3-2.9,2.9v3.4H31.3V2.9C31.3,1.3,30,0,28.4,0s-2.9,1.3-2.9,2.9v3.4h-11C6.5,6.3,0,12.8,0,20.8v40.9c0,7.9,6.4,14.3,14.3,14.3h56.2c7.9,0,14.3-6.4,14.3-14.3V20.8C84.7,12.8,78.3,6.3,70.3,6.3z M14.5,12.1h11v1.7c0,1.6,1.3,2.9,2.9,2.9s2.9-1.3,2.9-2.9v-1.7h22.2v1.7c0,1.6,1.3,2.9,2.9,2.9c1.6,0,2.9-1.3,2.9-2.9v-1.7h11c4.8,0,8.6,3.9,8.6,8.6v2.8H5.8v-2.8C5.8,16,9.7,12.1,14.5,12.1z M70.5,70.1H14.3c-4.6,0-8.4-3.8-8.4-8.4V29.4h73.1v32.3C78.9,66.3,75.1,70.1,70.5,70.1z"/><path d="M22.9,38h-4.4c-1.6,0-2.9,1.3-2.9,2.9c0,1.6,1.3,2.9,2.9,2.9h4.4c1.6,0,2.9-1.3,2.9-2.9C25.8,39.3,24.5,38,22.9,38z"/><path d="M44.6,38h-4.4c-1.6,0-2.9,1.3-2.9,2.9c0,1.6,1.3,2.9,2.9,2.9h4.4c1.6,0,2.9-1.3,2.9-2.9C47.5,39.3,46.2,38,44.6,38z"/><path d="M66.2,38h-4.4c-1.6,0-2.9,1.3-2.9,2.9c0,1.6,1.3,2.9,2.9,2.9h4.4c1.6,0,2.9-1.3,2.9-2.9C69.1,39.3,67.8,38,66.2,38z"/><path d="M22.9,53h-4.4c-1.6,0-2.9,1.3-2.9,2.9c0,1.6,1.3,2.9,2.9,2.9h4.4c1.6,0,2.9-1.3,2.9-2.9C25.8,54.3,24.5,53,22.9,53z"/><path d="M44.6,53h-4.4c-1.6,0-2.9,1.3-2.9,2.9c0,1.6,1.3,2.9,2.9,2.9h4.4c1.6,0,2.9-1.3,2.9-2.9C47.5,54.3,46.2,53,44.6,53z"/><path d="M66.2,53h-4.4c-1.6,0-2.9,1.3-2.9,2.9c0,1.6,1.3,2.9,2.9,2.9h4.4c1.6,0,2.9-1.3,2.9-2.9C69.1,54.3,67.8,53,66.2,53z"/></svg>');
        width: 1rem;
        height: 1rem;
        line-height: 1rem;
        font-size: 0.6rem;
        background-repeat: no-repeat;
        display: inline-block;
        background-size: 100%;
        background-position: center center;
        margin-right: 0.2rem;
    }
}

.meta-footer {
    margin-top: var(--width-gutter-half);
    padding-bottom: 50px;
    @include px2rem($font-size-content-meta);

    .post-meta-categories:before {
        content: url('data:image/svg+xml,<svg version="1.1" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 85.5 70.9" style="enable-background:new 0 0 85.5 70.9;" xml:space="preserve"><path d="M85.5,19.2c0-5.3-4.3-9.7-9.7-9.7H41.4c-0.7,0-1.5-0.3-2-0.7L31,2.1C29.3,0.8,27.2,0,25,0h-15C4.6,0,0.2,4.3,0.2,9.7v51.6c0,5.3,4.3,9.7,9.7,9.7h65.9c5.3,0,9.7-4.3,9.7-9.7V19.2z M79,61.3c0,1.8-1.4,3.2-3.2,3.2H9.9c-1.8,0-3.2-1.4-3.2-3.2V33.6H79V61.3z M79,27.2H6.7V9.7c0-1.8,1.4-3.2,3.2-3.2h15c0.7,0,1.5,0.3,2,0.7l8.4,6.7c1.7,1.4,3.9,2.1,6.1,2.1h34.4c1.8,0,3.2,1.4,3.2,3.2L79,27.2z"/></svg>');
    }
    .post-meta-tags:before {
        content: url('data:image/svg+xml,<svg version="1.1" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 81.41 81.31" style="enable-background:new 0 0 81.41 81.31;" xml:space="preserve"><g><path d="M79.76,15.97L65.35,1.56c-1.08-1.11-2.6-1.67-4.14-1.54L40.07,1.56c-1.25,0.1-2.43,0.64-3.32,1.51L1.56,38.18C0.55,39.16-0.01,40.51,0,41.92c0,1.4,0.55,2.75,1.54,3.75l34.14,34.11c2.07,2.03,5.38,2.03,7.44,0l35.13-35.11c0.91-0.92,1.45-2.14,1.51-3.42l1.64-21.24C81.48,18.49,80.88,17.01,79.76,15.97z M73.51,40.53L39.4,74.75L6.57,41.92L40.79,7.71l20.47-1.59L75.2,20.07L73.51,40.53z M58.92,22.4c2.07,2.02,5.37,2.02,7.44,0c2.09-2.06,2.12-5.42,0.07-7.51s-5.42-2.12-7.51-0.07s-2.12,5.42-0.07,7.51C58.88,22.35,58.9,22.38,58.92,22.4z"/></g></svg>');
    }

    .post-meta-categories:before,
    .post-meta-tags:before {
        width: 1rem;
        height: 1rem;
        line-height: 1rem;
        font-size: 0.6rem;
        background-repeat: no-repeat;
        display: inline-block;
        background-size: 100%;
        background-position: center center;
        margin-right: 0.2rem;
    }

}

.post-meta-tags {
    @include inline-block;

    ul {
        @include no-list;
        @include inline-block;

        li {
            @include no-list;
            @include inline-block;
            margin: 0;


            a {
                @include inline-block;
                text-decoration: none;
            }
        }
    }
}



.single {
    #content {
        padding-top: 0;
      
    
    }
    .herotype-slider {
	margin-top: var(--width-gutter, 30px);
    }
    
    .herotype-default {
	h1.screen-reader-text {
	    
	}
    }
    .wp-caption {
        max-width: 100vw;
        padding: 0;
        margin-left: calc(var(--width-gutter-half) * -1);
        margin-right: calc(var(--width-gutter-half) * -1);

        @media (min-width: $screen-sm) {
            max-width: 100%;
            padding: 5px 3px 10px;
            margin: 0 auto;
        }

        img {
            max-width: 100vw;

            @media (min-width: $screen-sm) {
                max-width: 98.5%;
            }
        }

        .wp-caption-text {
            width: 98.5%;
            padding: 0 var(--width-gutter-half);
            text-align: left;

            @media (min-width: $screen-sm) {
                text-align: center;
                margin-left: 0;
                padding: 0;
            }
        }

        &.alignleft,
        &.alignright {
            @media (min-width: $screen-sm) {
                margin: 0 auto;
            }
        }
    }


}