/*-----------------------------------------------------------------------------------*/
/* Post Content
/*-----------------------------------------------------------------------------------*/
@use "sass:math";

// outside-the-box image
.my-custom-image {
    width: 100%;
}

.my-custom-image-div {
   margin-inline: -10%;
}

.fau-row-outisde {
    width: 100%;
}

.fau-row-outisde-div {
   margin-inline: -25%;

    @media (max-width: $screen-xl) {
        margin-inline: unset;
    }
    p {
        max-width: 60%;
        width: 60%;
        margin-left: 20% !important;
    }
    figure {
        padding: 0 !important;
        margin: 0 !important;
   }
}

.post-navigation {
    background-color: #f3f9ff;
    padding: 0px;
    margin-top: 90px;
    display: inline;
}

.nav-previous {
    float: left;

    a {
        text-align: left;
    }

    ::before {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        content: " ";
        width: 1.4rem;
        height: 1.4rem;
        line-height: 1.4rem;
        font-size: calc(1.4rem / 1.5);
        background-image: inherit;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
        transform: rotate(180deg);
        background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath fill="%23222222" d="M14.83,11.29,10.59,7.05a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41L12.71,12,9.17,15.54a1,1,0,0,0,0,1.41,1,1,0,0,0,.71.29,1,1,0,0,0,.71-.29l4.24-4.24A1,1,0,0,0,14.83,11.29Z"/%3E%3C/svg%3E%0A');
    }
}

.nav-next {
    float: right;

    a {
        text-align: right;
    }

    ::before {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        content: " ";
        float:right;
        width: 1.4rem;
        height: 1.4rem;
        line-height: 1.4rem;
        font-size: calc(1.4rem / 1.5);
        background-image: inherit;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
        background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath fill="%23222222" d="M14.83,11.29,10.59,7.05a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41L12.71,12,9.17,15.54a1,1,0,0,0,0,1.41,1,1,0,0,0,.71.29,1,1,0,0,0,.71-.29l4.24-4.24A1,1,0,0,0,14.83,11.29Z"/%3E%3C/svg%3E%0A');
    }
}


.nav-previous,
.nav-next {
    box-shadow: none;
    transition: initial;
    max-width: 40%;    
    
    @include px2rem($font-size-content-meta);
    
    padding: 0.5rem 0.7rem;
    border: 1px solid var(--color-ContentBorders);
    border-radius: var(--border-radius);
    background: transparent;
    color: var(--color-Text);
    font-weight: normal;
    text-decoration: none;

    a {
        box-shadow: none;
        text-decoration: none;
        transition: none;
        text-decoration-color: none;
    }
}

.nav-previous:hover,
.nav-next:hover {
    // background-color:#0170b9;
    background-color: var(--color-primary-ci-hell);
    color: var(--color-primary-ci-hell-kontrast);
    a {
        color: var(--color-primary-ci-hell-kontrast);
    }
}

.nav-previous:hover a:link,
.nav-next:hover a:link {
    background-color: var(--color-primary-ci-hell);
    color: var(--color-primary-ci-hell-kontrast);
}

.nav-previous:hover a:link {
    &::before {
        transform: rotate(180deg);

        background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath fill="%23FFFFFF" d="M14.83,11.29,10.59,7.05a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41L12.71,12,9.17,15.54a1,1,0,0,0,0,1.41,1,1,0,0,0,.71.29,1,1,0,0,0,.71-.29l4.24-4.24A1,1,0,0,0,14.83,11.29Z"/%3E%3C/svg%3E%0A');

    }
}

.nav-next:hover a:link {
    &::before {
        float: right;


        background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath fill="%23FFFFFF" d="M14.83,11.29,10.59,7.05a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41L12.71,12,9.17,15.54a1,1,0,0,0,0,1.41,1,1,0,0,0,.71.29,1,1,0,0,0,.71-.29l4.24-4.24A1,1,0,0,0,14.83,11.29Z"/%3E%3C/svg%3E%0A');

    }

}

.post-image {
    text-align: center;
    float: none;
    margin: 0 calc(var(--width-gutter-half) * -1);


    @media (min-width: $screen-xs) {
        float: right;
        margin: 20px 0 10px 20px;
    }

    figure {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;

    }

    .post-image-caption {
        @include px2rem($font-size-image-caption);
        padding: 5px 0 10px 0;
        text-align: right;
        margin: 0 var(--width-gutter-half);

        @media (min-width: $screen-sm) {
            text-align: left;
            margin: 0;
        }

        .copyright {
            display: block;
        }

    }


}

.post-meta {
    --fau-icon-color: var(--color-Text);
    --fau-icon-color-hover: var(--color-Text);
    --fau-icon-size-mask: 1rem;
    
    display: block;
    padding: 5px 0;
    margin: 0 0 var(--width-gutter-half) 0;
    @include px2rem($font-size-content-meta);

    
    .post-meta-date {
	 
	    margin-right: var(--width-gutter-half);
	    display: flex;
	    align-items: center;
	    
	     &:before {
		@extend .fau-icon;
		mask-image: svg-icon-date();
		margin-right: 0.3rem;
            }
    }
}

.meta-footer {
    --fau-icon-color: var(--color-Text);
    --fau-icon-color-hover: var(--color-Text);
    --fau-icon-size-mask: 1rem;
    margin-top: var(--width-gutter-half);
    padding-bottom: 50px;
    display: flex;
    align-items: center;

    @media (max-width: $screen-sm) {
	flex-wrap: wrap;
    }
    @include px2rem($font-size-content-meta);

    .post-meta-categories,
    .post-meta-tags {
	margin-right: var(--width-gutter-half);
//	display: flex;
//	align-items: center;
//	gap: 0.3rem;
    }
    .post-meta-categories {		  
	&:before {
	   @extend .fau-icon;
	   mask-image: svg-icon-category();
       }
    }
    .post-meta-tags {		  
	&:before {
	   @extend .fau-icon;
	   mask-image: svg-icon-tag();
       }
    }


}

.post-meta-tags {
    ul {
        @include no-list;
        @include inline-block;

        li {
            @include no-list;
            @include inline-block;
            margin: 0;


            a {
                @include inline-block;
                text-decoration: none;
            }
        }
    }
}



.single {
    #content {
        padding-top: 0;
      
    
    }
    .herotype-slider {
	margin-top: var(--width-gutter, 30px);
    }
    
   
    .wp-caption {
        max-width: 100vw;
        padding: 0;
        margin-left: calc(var(--width-gutter-half) * -1);
        margin-right: calc(var(--width-gutter-half) * -1);

        @media (min-width: $screen-sm) {
            max-width: 100%;
            padding: 5px 3px 10px;
            margin: 0 auto;
        }

        img {
            max-width: 100vw;

            @media (min-width: $screen-sm) {
                max-width: 98.5%;
            }
        }

        .wp-caption-text {
            width: 98.5%;
            padding: 0 var(--width-gutter-half);
            text-align: left;

            @media (min-width: $screen-sm) {
                text-align: center;
                margin-left: 0;
                padding: 0;
            }
        }

        &.alignleft,
        &.alignright {
            @media (min-width: $screen-sm) {
                margin: 0 auto;
            }
        }
    }


}