/*-----------------------------------------------------------------------------------*/
/* Post Content
/*-----------------------------------------------------------------------------------*/

.post-image {
    text-align: center;
    float: none;
    margin: 0 -15px;


    @media (min-width: $screen-xs) {
	float: right;
	margin: 20px 0 10px 20px;
    }
    
    figure {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	
    }
    .post-image-caption {
	    @include px2rem($font-size-image-caption);
	    padding: 5px 0 10px 0;
	    text-align: right;
	    margin: 0 15px;
	    
	    @media (min-width: $screen-sm) {
		text-align: left;
		margin: 0;
		padding: 10px 0;
	    }
	    
	    .copyright {
		display: block;
	    }
 
    }


    
}
.post-meta {
	    display: block;
	    padding: 5px 0;
	    margin: 0 0 14px 0;
    
	    color: $colorPrimary;
	    font-family: $fontStack;
	    @include px2rem($font-size-content-meta);
}

.meta-footer {
     @include px2rem($font-size-content-meta);
}

.post-meta-tags {
	@include inline-block;
	
	ul {
		@include no-list;
		@include inline-block;
		
		li {
			@include no-list;
			@include inline-block;
			margin: 0;
			
			
			a {
				@include inline-block;
				text-decoration: none;
			}
		}
	}	
}



.read-more {
	text-align: right;
}

.read-more-arrow {
	text-decoration: none;
	padding-right: 3px;
	padding-left: 5px;
	
	@extend .fa;
	@extend .fa-lg;
	@extend .fa-angle-right;
		
	&:hover, &:focus {
		text-decoration: none;
		@extend .fa-angle-double-right;
	}
}

.single {
    #content {
	padding-top: 0;
    }
    h1.mobiletitle {
	margin-top: 0;
	padding: 10px 0;
	hyphens: auto;
	 @media (min-width: $screen-sm) {
	      @include sr-only();
	 }
    }
    
    .wp-caption {
		max-width: 100vw;
		padding: 0;
		margin-left: -15px;
		margin-right: -15px;
		
		@media (min-width: $screen-sm) {
		    max-width: 100%;
		    padding: 5px 3px 10px;
		    margin: 0 auto;
		}
		
		img {
		     max-width: 100vw;
		     @media (min-width: $screen-sm) {
			 max-width: 98.5%;		 
		     }
		}
		 .wp-caption-text {
		    width: 98.5%;		 
		    padding: 0 15px;
		    text-align: left;
		    @media (min-width: $screen-sm) {
			text-align: center;
			 margin-left: 0;
			 padding: 0; 
		    }
		 }
		 
		 &.alignleft, 
		 &.alignright {
		    margin: 0 auto;
		 }
	    }
    
    
}