/*-----------------------------------------------------------------------------------*/
/* Search page
/*-----------------------------------------------------------------------------------*/

.search-result {
	margin-bottom: 11px;
	
	    .search-row {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;

		@media (min-width: $screen-xs) {
		    flex-wrap: nowrap;
		    column-gap: $fau-gutter-width;
		}
		.searchresult-image {
		    width: 100vw;
		    text-align: center;
		    padding: 0;
		    margin-left: calc(-#{$fau-gutter-width} / 2);
		    margin-right: calc(-#{$fau-gutter-width} / 2);
		    // Auf kleinem Display setze die Bilder nahtlos an den Rand

		    @media (min-width: $screen-xs) {
			width: auto;
			min-width: 220px;
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 0;		
		    }
		    @media (min-width: $screen-xl) {
			min-width: 320px;
		    }
		    img {
			width: 100%;
			text-align: center;
			max-height: 30vh;
			object-fit: contain;
			
			@media (min-width: $screen-sm) {
			    width: 220px;
			    max-height: inherit;
			}
			@media (min-width: $screen-xl) {
			    width: 320px;
			}
		     }  
		}
		.searchresult-imagetext {
		    width: 100%;
		    margin-bottom: 1.5rem;
		    @media (min-width: $screen-xs ) {
			p {
			    display: inline;
			}
		    }

		}

		.fullwidthregion {
		    width: 100%;
		}
	    }
	
	
	article {
	    @extend .col-sm-12;
	}


	.search-meta {
		--fau-icon-color: var(--color-Text);
		--fau-icon-color-hover: var(--color-Text);
		--fau-icon-size-mask: 1rem;	
		
		padding: 0.2rem 0.4rem;
		background: var(--color-MetaBackgroundLight);
		margin: 0.2rem 0 1rem 0;
		color: var(--color-Text);
		display: block;
		font-size: 1rem;
		line-height: 2;
		.post-meta-category,
		.post-meta-date,
		.post-meta-defaulttype,
		.post-meta-kontakt,
		.post-meta-event,
		.post-meta-news,
		.post-meta-news-external,
		.post-meta-attachment,
		.download{
		    text-wrap: nowrap;
		    margin-right: 1rem;
		    
			&:before {
			    @extend .fau-icon;
			}
		}

		.post-meta-category:before {
   		    mask-image: svg-icon-category();
		}
		.post-meta-date:before {
		    mask-image: svg-icon-date();
		}
		.post-meta-event:before {
		    mask-image: svg-icon-calendar();
		}
		.post-meta-kontakt:before {
		    mask-image: svg-icon-person();
		}
		.post-meta-defaulttype:before {
		    mask-image: svg-bookmark();  
		}
		.post-meta-news:before {
		    mask-image: svg-icon-info();
		}
		.post-meta-news-external:before {
		    mask-image: svg-icon-external-link();
		}
		.post-meta-attachment:before {
		    mask-image: svg-icon-draft();
		}	
		.download:before {
		     mask-image: svg-bookmark();  
		}
		.dateityp {
		    text-transform: uppercase;
		}
	}
	h3 .ext-link,  
	h2 .ext-link {
		@include inline-block;
		padding-right: 15px;
		
		&:hover, &:focus {
			text-decoration: underline;
		}
		
	}

	
	.content-person {
	    border: none;
	}

	.continue {
		margin-left: unset;
		text-align: right;
		margin-top: 0.5rem;
	}
	
}


.widget_search,
.searchform-content {	
  
	.search-text {
	    label {
			@extend .screen-reader-text;
	    }
	    input[type="text"] {
			border-radius: var(--border-radius);
			@include px2rem($font-size-herosearch);
			line-height: var(--base-line-height,1.5);
			max-width: min(25rem, 90%);
			padding: 0.5rem 2.5rem 0.5rem 1rem;
			height: inherit;
			margin: 0;
			width: 100%;
			font-weight: bold;
			
			@media (min-width: $screen-xs) {
				width: 25rem;
			}

			&:active,
			&:target,
			&:focus {
				background-color: var(--color-primary-ci-hell2);
				color: var(--color-primary-ci-hell2-kontrast);
				outline-style: none;      
			}

			&:focus::placeholder {
				color: var(--color-primary-ci-hell2-kontrast);
			}
	    }

            
	    input[type="submit"] {
		    border-radius: var(--border-radius);
		    @include px2rem($font-size-herosearch);
		    @include buttoncolor();
		    padding: 0.5rem 1rem;
		    height: inherit;
		    font-weight: bold;
		    margin-left: -5rem;
	    }

	}

	.search-radio-label {
		float: left;
		margin-right: 20px;

		input {
			margin-top: -4px;
			margin-right: 3px;
		}
	}

	.filter {
	    margin-top: 0.5rem;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content : flex-start;
	    align-items : center;
	    
	    div {
			@include inline-block();
			text-align: left;		
		
			label {
				@include inline-block();
				margin: 0 1rem 0 0.5rem;
				padding: 0;
				min-width: inherit;
			}
			input[type="checkbox"] {
				margin: 0;
				width: 1rem;
				height: 1rem;
				border: 1px solid #bbb;
				box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.1);
			}
	    }
	}

}
.search-contenttry,
.searchpage-content {
    form {
	    border: none;
	    
	    @include border-radius(4px);
	    margin: 1rem 0;
	    padding: 1rem;
	    .sidebar-single & {
		padding: 20px 0;
	    }
	    &:hover {
			box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
	    }
	}
	
}
.widget_search {

    .search-text {

        input[type="text"], 
        input[type="submit"] {
	    	@include px2rem($font-size-sidebar);
		}
        
		input[type="text"] {
			width: 15rem;
			padding-right: 5rem;
		}
		input[type="submit"] {
			margin:0 0 0 -4rem;
		}
    }
}

.search-results {
 .nav-links {
	    margin: 20px 0;
	    @include inline-block();

	    a {
			@include defaultlinkstyle();	
			text-decoration: none;
			@include buttonstyle();
			@include px2rem($font-size-pagination-links);
	    }
	    
	    .dots {
			@include buttonstyle();
	    }
	    .current {
			@include ghostbutton();
			@include px2rem($font-size-pagination-links);
	    }

	    .prev, 
	    .next {
		    padding-left: 1rem;
		    padding-right: 1rem;
	    }
 	}
}