/*-----------------------------------------------------------------------------------*/
/* CSS für die von Shortcodes erzeugten für Spalten im Content
/*-----------------------------------------------------------------------------------*/

.two-columns-one, 
.three-columns-one {
  width: 100%;
}

main {
    .two-columns-one, 
    .three-columns-one {
	position: relative;
	float: left;
	margin-bottom: 30px;
	  

	&.primary {
	    background: var(--color-primary-basis);
	    padding: 10px;
	    color: #fff;
	    &.lighten {
		  background: lighten( map-get($colormap-primary, "basis"), 10%);
	    }
	    
	}
	&.zuv, &.fau {
	    background: var(--color-ZUV);
	   padding: 10px;
	   color: #fff;
	    &.lighten {
		  background: lighten( map-get($colormap-misc, "ZUV"), 10%);
	    }
	}
	&.phil {
	    background: var(--color-phil-basis);
	  padding: 10px;
	  color: #fff;
	   &.lighten {
		  background: lighten( map-get($colormap-phil, "basis"), 10%);
	    }
	}
	&.nat {
	    background: var(--color-nat-basis);
	    padding: 10px;
	    color: #fff;
	     &.lighten {
		  background: lighten( map-get($colormap-nat, "basis"), 10%);
	    }
	}
	&.med {
	    background: var(--color-med-basis);
	    padding: 10px;
	    color: #fff;
	     &.lighten {
		  background: lighten( map-get($colormap-med, "basis"), 10%);
	    }
	}
	&.tf {
	    background: var(--color-tf-basis);
	    padding: 10px;
	    color: #fff;
	     &.lighten {
		  background: lighten( map-get($colormap-tf, "basis"), 10%);
	    }
	}
	&.rw {
	    background: var(--color-rw-basis);
	    padding: 10px;
	    color: #fff;
	     &.lighten {
		  background: lighten(  map-get($colormap-rw, "basis"), 10%);
		 
	    }
	}
	&.grau, &.gray  {
	    background: var(--color-StandardHellgrau);
	    padding: 10px;

	    &.lighten {
		  background: lighten( map-get($colormap-misc, "StandardHellgrau"), 10%);
	    }
	}

	  
    }

}

.last {
    clear: right;
    margin-right: 0 !important;
    
    &:after {
	margin-top: 10px;
	display: block;
	width: 100%;
	content: " ";
    }
}


@media screen and (min-width: $screen-sm) {
    .two-columns-one {
       width: 48.5%;
    }
    .three-columns-one {
       width: 30.3%;
    }

   
    .two-columns-one, 
    .three-columns-one  {
       position: relative;
       float: left;
       margin-bottom: 0;
    }
    .two-columns-one {
       margin: 0 1.5% 0 0;
       &.last {
	 margin: 0 1.5% 0;
       }
    }
    .three-columns-one {
       margin: 0 3% 0 0;
    }

}
