/*-----------------------------------------------------------------------------------*/
/* CSS für die von Shortcodes erzeugten für Spalten im Content
/*-----------------------------------------------------------------------------------*/

/*
*  Columns
*/
.two-columns-one, 
.three-columns-one {
  width: 100%;
}

main {
    .two-columns-one, 
    .three-columns-one {
	position: relative;
	float: left;
	margin-bottom: 30px;
	  

	&.primary {
	    background: $colorPrimary;
	    padding: 10px;
	    color: #fff;
	    &.lighten {
		  background: lighten( $colorPrimary, 10%);
	    }
	    
	}
	&.zuv, &.fau {
	    background: $colorZUV;
	   padding: 10px;
	   color: #fff;
	    &.lighten {
		  background: lighten( $colorZUV, 10%);
	    }
	}
	&.phil {
	    background: $colorPhilFak;
	  padding: 10px;
	  color: #fff;
	   &.lighten {
		  background: lighten( $colorPhilFak, 10%);
	    }
	}
	&.nat {
	    background: $colorNatFak;
	    padding: 10px;
	    color: #fff;
	     &.lighten {
		  background: lighten( $colorNatFak, 10%);
	    }
	}
	&.med {
	    background: $colorMedFak;
	    padding: 10px;
	    color: #fff;
	     &.lighten {
		  background: lighten( $colorMedFak, 10%);
	    }
	}
	&.tf {
	    background: $colorTechFak;
	    padding: 10px;
	    color: #fff;
	     &.lighten {
		  background: lighten( $colorTechFak, 10%);
	    }
	}
	&.rw {
	    background: $colorRwFak;
	    padding: 10px;
	    color: #fff;
	     &.lighten {
		  background: lighten( $colorRwFak, 10%);
	    }
	}
	&.grau, &.gray  {
	    background: $colorStandardHellgrau;
	    padding: 10px;

	    &.lighten {
		  background: lighten( $colorStandardHellgrau, 10%);
	    }
	}

	  
    }

}

.last {
    clear: right;
    margin-right: 0 !important;
    
    &:after {
	margin-top: 10px;
	display: block;
	width: 100%;
	content: " ";
    }
}


@media screen and (min-width: $screen-sm) {
    .two-columns-one {
       width: 48.5%;
    }
    .three-columns-one {
       width: 30.3%;
    }

   
    .two-columns-one, 
    .three-columns-one  {
       position: relative;
       float: left;
       margin-bottom: 0;
    }
    .two-columns-one {
       margin: 0 1.5% 0 0;
       &.last {
	 margin: 0 1.5% 0;
       }
    }
    .three-columns-one {
       margin: 0 3% 0 0;
    }

}
