/*-----------------------------------------------------------------------------------*/
/* Tagclouds, mostly from widgets
/*-----------------------------------------------------------------------------------*/

.tagcloud {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    a.tag-cloud-link {
	@include ghostbutton();
	display: inline;
	border: none;
	padding: 0 0.3rem;
	line-height: max(24px,1.5em);
    }
}