/*-----------------------------------------------------------------------------------*/
/* The Events Calendar plugin overwriten style for FAU theme
/*-----------------------------------------------------------------------------------*/

.tribe-events {

    .tribe-events-c-top-bar__nav-list-item {
        list-style: none;
    }
}

.tribe-events-c-top-bar__nav-list-item {
    list-style: none;
}

.tribe-events-c-view-selector__list-item{
    list-style: none ;
}