/*-----------------------------------------------------------------------------------*/
/* Customizer view
/*-----------------------------------------------------------------------------------*/


#customize-controls #sub-accordion-section-header_image img {
    height: 65px;
    max-height: 65px;
    max-width: 240px;
    width: auto;
}

#customize-theme-controls {
    #accordion-panel-website,
    #accordion-panel-socialmedia,
    #accordion-panel-allgemeines,
    #accordion-panel-templates,
    #accordion-panel-advanced {
	.accordion-section-title {
	     border-left-color: $colorDefault;
	}
    }
    #accordion-panel-superadmin {
	.accordion-section-title {	   
	    border-left-color: red;	    
	    color: red;
	    &:before {
		color: red;
		@extend .fa;
		@extend .fa-cogs;
		width: 18px;
	    }
	}
    }
    
    #accordion-panel-website {
	.accordion-section-title:before {
	    @extend .fa;
	    @extend .fa-wpexplorer;
	    width: 18px;
	}
    }
    
    #accordion-panel-allgemeines {
	.accordion-section-title:before {
	    @extend .fa;
	    @extend .fa-toggle-on;
	    width: 18px;
	}
    }
    #accordion-panel-templates {
	.accordion-section-title:before {
	    @extend .fa;
	    @extend .fa-files-o;
	    width: 18px;
	}
    }
     #accordion-panel-advanced {
	.accordion-section-title:before {
	    @extend .fa;
	    @extend .fa-cogs;
	    width: 18px;
	}
    }
    
    
    .customize-control-multiple-select {
	option:checked, 
	option[selected] {
	    background: $colorStandardHellgrau linear-gradient(0deg, $colorStandardHellgrau 0%, $colorStandardHellgrau 100%);
	}
	select[multiple]:focus option:checked {
	  background: red linear-gradient(0deg, red 0%, red 100%);
	}
    }
    
}    

