/*-----------------------------------------------------------------------------------*/
/* Metaboxes and Helpers
/*-----------------------------------------------------------------------------------*/



 #headimg {
            width: 350px;
	    height: 120px;
            background: no-repeat;
	    border: 0;
    }
#custom-background-image {
	height: 225px;
	background-position: bottom left !important; 
	background-repeat: repeat-x, no-repeat;
    }


p.submit {
    margin-top: 10px;
    padding-left: 20px;
}
.wrap div.updated {
    margin-right: 300px;                    
}
#einstellungen {
    margin-top: 20px;
    div {
	margin-left: 10px;
    }
    table {
	tr:hover,
	tr:focus {
	    background-color: #eeeeee;
	    -webkit-transition: all 0.1s ease-in-out;
	  -ms-transition: all 0.1s ease-in-out;
	  -o-transition: all 0.1s ease-in-out; 
	  transition: all 0.1s ease-in-out;
	}
	th {
	    text-align: left;   
	    min-width: 200px;
	}
	td {
	    padding-bottom: 5px;
	}
	tr.mark-option {
	    background-color: #f50;
	    color: white;
	}
	tr.mark-option:focus, 
	tr.mark-option:hover {
	    background-color: #a62911;
	}
	td table th {
	    min-width: 50px;
	}
    }
    
    

    input.regular-text {
	width: 40em;
    }
    select {
	min-width: 4em;
    }
}

h2.nav-tab-wrapper, 
h3.nav-tab-wrapper {
    margin-top: 30px;
}

label {
    &.tile {
	width: 320px;
	height: auto;
	float: left;    
	padding: 0 2px;
	margin: 5px;
	border: 3px solid transparent;
    }
    &.tile:hover {
	background-color: #eee;
    }
    &.tile img {
	margin: 0;
	padding: 0;
    }
    &.checked, 
    &.tile:hover, 
    &.tile:focus { 
	border-color: orange; 
	background: orange;} 

    &.plakattile {
	width: 160px;
	height: 250px;
	float: left;
	border: 1px solid #ccc;
	padding: 1px;
	margin: 5px;
    }
    &.plakattile:hover {
	background-color: #eee;
    }
    &.description {
	display: block;
    }

}


.wp-admin .fullsize {
    width: 100%;
}

img.imgurl {
    display: block;
}
.previewimage img {
    max-width: 900px;
    height: auto;
}
#adminmenu .menu-icon-person div.wp-menu-image:before {
    content: "\f337";
}
#adminmenu .menu-icon-linktipps div.wp-menu-image:before {
    content: "\f319";
}

#poststuff label {
     font-weight: bold;
}
#fau_metabox_page_sidebar {
    
    .linkeingabe {
	h2.label {
	    font-size: 13px;
	    line-height: 1.5;
	    margin-bottom: 5px;
	    font-weight: bold;
	}
    }
    .linkauswahl {
	padding-left: 2em;
	p {
	     margin: 0;
	     padding: 0;
	     width: 38%;
	     display: inline-block;
	     
	     label {
		 font-style: italic;
		  font-weight: normal;
	     }
	}
	p:last-child {
	    width: 20%;
	    min-width: 5em;	    
	}
	
    }    
}

textarea {
    max-width: 100%;
}

table.wp-list-table {
    .column-revealid_id {
	width: 4em;
	text-align: right;
    }
}

.postbox-container,
.edit-post-sidebar {
    .toggle-switch {
	float: left;
	margin-right: 10px;
	.toggle-switch-label {
	    box-sizing: border-box;

	}
    }
    .customize-control-title {
	 font-weight: bold;
    }
}

