/*-----------------------------------------------------------------------------------*/
/* Define font base
/*-----------------------------------------------------------------------------------*/


html {
//    -webkit-font-smoothing: antialiased;
//    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: $font-size-rembase;
} 