/*----------------------------------------------------------------------------*/
/*  for core/verse, core/code, core/preformated
/*----------------------------------------------------------------------------*/

pre.wp-block-verse,
pre.wp-block-code,
pre.wp-block-preformatted {
    padding-left: var(--wp--preset--spacing--40, 1rem);
    padding-right: var(--wp--preset--spacing--40, 1rem);
}