/*----------------------------------------------------------------------------*/
/*  for core/image
/*----------------------------------------------------------------------------*/
main figure.wp-block-image,
main figure.wp-block-image img {
    max-width: 100%;
    width: fit-content;
}