div.wp-block-cover {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        background-color: var(--color-branding-primary-kontrast, #fff);
        color: var(--color-branding-primary, #04316a);
        padding: 0.5rem 1rem;
        width: fit-content;
        max-width: 65ch;

        &:first-child {
            background-color: var(--color-branding-primary, #04316a);
            color: var(--color-branding-primary-kontrast, #fff);
        }

        &.has-text-align-center {
            margin: 0 auto;
        }

        &.has-text-align-left {
            margin-left: 0 !important;
        }

        &.has-text-align-right {
            margin-right: 0 !important;
            margin-left: auto;
        }
    }
}