/*----------------------------------------------------------------------------*/
/* _wp-block-table 
/* Created on : 16.05.2024, 09:23:37
/*----------------------------------------------------------------------------*/
figure.wp-block-table {
    &:has(.wp-element-caption) {
	table {
	    margin-bottom: 0.2rem;
	}
	.wp-element-caption {
	     margin-bottom: 1rem;
	}
    }
}

.wp-block-table.is-style-stripes tbody tr:nth-child(2n+1) {
    background-color: var(--color-StandardHellgrau);
}