/*-----------------------------------------------------------------------------------*/
/* Social Media and Portal Icons 
/*-----------------------------------------------------------------------------------*/

.socialmedia,
.svg-socialmedia {
    --_icon-size: var(--icon-size, 1.8rem);
    --_icon-color: var(--icon-color, var(--color-primary-ci-hell-kontrast));
    --_icon-color-hover: var(--icon-color-hover, var(--color-primary-ci-hell));
    --_icon-color-border: var(--icon-color-border, var(--color-primary-ci-hell-kontrast));
    --_icon-border-radius: var(--icon-border-radius, 50%);
    --_icon-size-mask: var(--icon-size-mask, 55%);
    
    margin: 0;
    li {
	display: inline-block;
	list-style: none;
	overflow: hidden;
	margin: 0.25rem;
	padding: 0px;
	width: var(--_icon-size); 
	height: var(--_icon-size); 

	&::before {
	    content: inherit;
	    display: none;
	}
    }

    span {
	a::before {
	     margin-top: 0.3rem;
	}
    }
    a {
	width: var(--_icon-size); 
	height: var(--_icon-size); 
	overflow: hidden;
	display: inline-block;


	&::before {   
	    width: var(--_icon-size); 
	    height: var(--_icon-size); 
	    display: inline-block;
	    content: ' ';
	    -webkit-mask-size: var(--_icon-size-mask); 
	    mask-size: var(--_icon-size-mask); 
	    -webkit-mask-repeat: no-repeat;
	    mask-repeat: no-repeat;
	    -webkit-mask-position: center;
	    mask-position: center;
	    background-color: var(--_icon-color);
	}
	&:focus::before,
	&:hover::before {
	     background-color: var(--_icon-color-hover);
	}


	&[href*="twitter.com"]:before {
	    mask-image: svg-twitter();
	}
	
	&[href*="facebook.com"]:before {
	   mask-image: svg-facebook();
	}
	

	&[href*="github.com"]:before {
	    mask-image: svg-github();
	}
	

	&[href*="instagram.com"]:before {
	    mask-image: svg-instagram();
	}
	

	&[href*="publons.com"]:before {
	    mask-image: svg-publons();
	}
	

	&[href*="linkedin.com"]:before {
	    mask-image: svg-linkedin();
	}
	

	&[href*="xing.com"]:before {
	    mask-image: svg-xing();
	}
	

	&[href*="tiktok.com"]:before {
	    mask-image: svg-tiktok();
	}
	
	&[href*="youtube.com"]:before {
	    mask-image: svg-youtube();
	}
	

	&[href*="scopus.com"]:before {
	    mask-image: svg-scopus();
	}
	

	&[href*="scholar.google.de"]:before {
	    mask-image: svg-googlescholar();
	}
	
	&[href*="orcid.org"]:before {
	    mask-image: svg-orcid();
	}
	

	&[href*="researchgate.net"]:before {
	    mask-image: svg-researchgate();
	}
	
	&[href*="pinterest."]:before {
	    mask-image: svg-pinterest();
	}
	
	
	&[href*="mastodon.social"]:before {
	    mask-image: svg-mastodon();
	}
	
	
	// Reddit
	&[href*="reddit.com"]:before {
	    mask-image: svg-reddit();
	}
	
	// Discord
	&[href*="discord.com"]:before {
	    mask-image: svg-discord();
	}
	
	// Indeed
	&[href*="indeed.com"]:before {
	    mask-image: svg-indeed();
	}
	
	
	// whatsapp
	&[href*="whatsapp.com"]:before {
	    mask-image: svg-whatsapp();
	}
	
	
	&[href*="bsky.app"]:before {
	    mask-image: svg-bluesky();
	}
	

	// community.fau.de
	// group of people
	// https://github.com/RRZE-Webteam/FAU-Einrichtungen/issues/1271
	&[href*="community.fau.de"]:before {
	    mask-image: svg-group();
	}
	
	&[href*="mailto:"]:before {
	    mask-image: svg-icon-mail();
	}
	
	
	&[href*="rss"]:before,
	&[href*="feed"]:before {
	    mask-image: svg-icon-rss();
	}
	
	
	&[href*=".ics"]:before,
	&[href*="ical"]:before {
	    mask-image: svg-icon-calendar();
	}
    }
    
    &.round {
	a {
	    border: 1px solid var(--_icon-color-border);
	    border-radius: var(--_icon-border-radius);
	}
    }
    &.hoverbg {
	a:focus,
	a:hover {
	    background-color: var(--_icon-color);
	}
	a:focus::before,
	a:hover::before {
	    color: var(--_icon-color-hover);
	    background-color: var(--_icon-color-hover);
	}
    }
}


